/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
@import '../../../style/common';

.bg {
  height: 100vh;
  width: 100vw;
  background-color: #21352e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  transition: background-color 1s;
}

.wrapper {
  position: relative;
  width: var(--wrapper);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  height: 100vh;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 800px;
  background-color: var(--white);
  .column-left {
    position: relative;
    width: 318px;
    height: 100%;
    flex: none;
    border: 1px solid var(--light);
    background-color: var(--white);
    .top-bar {
      position: relative;
      width: 100%;
      height: 48px;
      display: none;
      align-items: center;
      padding: 0 17px;
      background-color: var(--header-color);
      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 80%;
        height: 1px;
        content: '';
        background-color: var(--light);
        transform: translate(-50%, 0);
      }
      .new-message {
        color: #60BF70;
        cursor: pointer;
      }
      .actions {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 150px;
      }
    }
    .left-content {
      //border-right: 1px solid var(--light);
      width: 100%;
      height: calc(100% - 52px);
    }
    &.with-top-bar {
      .top-bar {
        display: flex;
      }
      .left-content {
        height: calc(100% - 100px);
      }
    }
    .left-overlay {
      position: absolute;
      top: 0;
      left: calc(-100% - 1px);
      bottom: 0;
      width: 100%;
      z-index: 100;
      background-color: var(--white);
      transition: left 0.2s ease-out;
    }
    &.left-overlay-enable {
      .left-overlay {
        left: 0;
      }
    }
  }
  .column-center {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    .top {
      position: relative;
      width: 100%;
      background-color: var(--header-color);
      .info-bar {
        height: 48px;
        padding: 5px 29px;
        text-align: left;
        .back-to-chats {
          position: absolute;
          top: 50%;
          left: 5px;
          height: 36px;
          width: 36px;
          transform: translateY(-50%);
          svg {
            height: 36px;
            width: 36px;
          }
        }
        .chat-title {
          padding: 5px 0;
          display: flex;
          flex-direction: column;
          color: var(--grey);
          font-size: 12px;
          .name {
            color: var(--dark);
            font-size: 15px;
            margin-bottom: 5px;
            @include font-bold;
            svg {
              font-size: 16px;
              margin-right: 6px;
              vertical-align: bottom;
            }
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .buttons {
          position: absolute;
          top: 0;
          right: 0;
          float: right;
          line-height: 0;
        }
      }
    }
    .conversation {
      width: 100%;
      //height: calc(100% - 100px);
      flex: 1;
      background-color: rgba(168, 144, 106, 0.3);
      background-repeat: repeat;
      background-size: 100px;
      transition: background 0.2s;
      &.no-result {
        background-image: none !important;
      }
    }
    .attachments {
      width: 100%;
      flex: 1;
      //height: calc(100% - 48px);
    }
    .start-messaging {
      width: 100%;
      height: 100%;
      background-color: rgba(168, 144, 106, 0.3);
      background-size: 100px;
      &.no-result {
        background-image: none !important;
        background-color: var(--light);
      }
      .start-messaging-header {
        height: 48px;
        background-color: rgba(255, 255, 255, 0.2);
        line-height: 48px;
        text-align: left;
        padding: 0 20px;
        color: #555;
      }
      .start-messaging-img {
        width: 100%;
        height: calc(100% - 150px);
        display: flex;
        align-items: center;
        justify-content: center;
        .image {
          width: 100%;
          height: 100%;
          max-width: 400px;
          max-height: 400px;
          background-image: url(../../../asset/image/chat-placeholder.svg);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .start-messaging-title {
        @include font-bold;
        font-size: 20px;
        height: 50px;
        color: #90908F;
      }
      .start-messaging-footer {
        height: 50px;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .column-right {
    width: 0;
    height: 100%;
    flex: none;
    overflow: hidden;
    transition: width 0.1s linear;
    &.active {
      width: 318px;
    }
  }
  &.mobile-view {
    width: 200vw;
    transition: margin-left 0.3s linear;
    &.chat-view {
      margin-left: -100vw;
    }
    .column-left,
    .column-center {
      width: 100vw;
      .top {
        padding-left: 40px;
      }
    }
    .column-right {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 120;
      &.active {
        width: 100vw;
      }
    }
  }
}

html[bg="1"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/4-point-stars.svg);
    background-size: 50px;
  }
}

html[bg="2"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/anchors-away.svg);
  }
}

html[bg="3"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/bank-note.svg);
    background-size: 200px;
  }
}

html[bg="4"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/bubbles.svg);
  }
}

html[bg="5"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/glamorous.svg);
  }
}

html[bg="6"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/hideout.svg);
  }
}

html[bg="7"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/i-like-food.svg);
  }
}

html[bg="8"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/jigsaw.svg);
  }
}

html[bg="9"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/plus.svg);
  }
}

html[bg="10"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/rounded-plus-connected.svg);
  }
}

html[bg="11"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/skulls.svg);
  }
}

html[bg="12"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/squares-in-squares.svg);
  }
}

html[bg="13"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/tic-tac-toe.svg);
  }
}

html[bg="14"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgd/topography.svg);
    background-size: 300px;
  }
}

html[theme="dark"][bg="1"],
html[theme="dark-blue"][bg="1"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/4-point-stars.svg);
    background-size: 50px;
  }
}

html[theme="dark"][bg="2"],
html[theme="dark-blue"][bg="2"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/anchors-away.svg);
  }
}

html[theme="dark"][bg="3"],
html[theme="dark-blue"][bg="3"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/bank-note.svg);
    background-size: 200px;
  }
}

html[theme="dark"][bg="4"],
html[theme="dark-blue"][bg="4"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/bubbles.svg);
  }
}

html[theme="dark"][bg="5"],
html[theme="dark-blue"][bg="5"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/glamorous.svg);
  }
}

html[theme="dark"][bg="6"],
html[theme="dark-blue"][bg="6"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/hideout.svg);
  }
}

html[theme="dark"][bg="7"],
html[theme="dark-blue"][bg="7"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/i-like-food.svg);
  }
}

html[theme="dark"][bg="8"],
html[theme="dark-blue"][bg="8"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/jigsaw.svg);
  }
}

html[theme="dark"][bg="9"],
html[theme="dark-blue"][bg="9"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/plus.svg);
  }
}

html[theme="dark"][bg="10"],
html[theme="dark-blue"][bg="10"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/rounded-plus-connected.svg);
  }
}

html[theme="dark"][bg="11"],
html[theme="dark-blue"][bg="11"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/skulls.svg);
  }
}

html[theme="dark"][bg="12"],
html[theme="dark-blue"][bg="12"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/squares-in-squares.svg);
  }
}

html[theme="dark"][bg="13"],
html[theme="dark-blue"][bg="13"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/tic-tac-toe.svg);
  }
}

html[theme="dark"][bg="14"],
html[theme="dark-blue"][bg="14"] {
  .container .column-center .conversation,
  .container .column-center .start-messaging {
    background-image: url(../../../asset/image/bgl/topography.svg);
    background-size: 300px;
  }
}

@media screen and (max-height: 800px) {
  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .container {
    height: 100vh;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .container {
    height: 100vh;
  }
}

.kk-context-menu {
  ul {
    padding: 6px 0 !important;
    min-width: 100px;
    .context-item {
      padding: 3px 12px;
      font-size: 13px;
    }
  }
}

.forward-recipient-dialog {
  .dialog-content {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    .dialog-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background-color: var(--river);
      color: var(--white);
      text-transform: uppercase;
      svg {
        margin: 0 5px;
      }
    }
    .actions-bar {
      height: 86px;
      padding: 18px 0 22px;
      text-align: center;
      background-color: var(--message-chat);
      .add-action {
        display: inline-flex;
        height: 46px;
        width: 46px;
        border-radius: 50%;
        background: var(--river);
        color: var(--white);
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all 0.2s;
        svg {
          font-size: 40px;
        }
        &:hover {
          background: var(--river-dark);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        }
        &.send {
          svg {
            font-size: 30px;
            margin-left: 2px;
            transition: transform 0.2s ease-out;
          }
          &:hover {
            svg {
              transform: rotate(-30deg);
            }
          }
        }
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-blue"] {
  .bg {
    background-color: #171717;
  }
  .container {
    background-color: var(--dark-medium);
    .column-left {
      border: 1px solid transparent;
      background-color: var(--dark-medium);
      .actions {
        svg {
          color: var(--light);
        }
      }
      .top-bar {
        background-color: var(--dark-medium);
        &:after {
          background-color: var(--dark-medium);
        }
      }
      .left-content {
        //border-right: 1px solid var(--dark-medium);
      }
      .left-overlay {
        background-color: var(--dark-medium);
      }
    }
    .column-center {
      .top {
        background-color: var(--dark-medium);
        .info-bar {
          .back-to-chats {
            svg {
              color: var(--light);
            }
          }
          span {
            color: var(--light);
            .name {
              color: var(--light);
            }
          }
        }
      }
      .conversation {
        background-color: var(--dark-low);
      }
      .start-messaging {
        background-color: var(--dark-low);
        .start-messaging-header {
          background-color: transparent;
          color: var(--light)
        }
        .start-messaging-img {
          width: 100%;
          height: calc(100% - 150px);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .start-messaging-title {
          visibility: hidden;
        }
        .start-messaging-footer {
          background-color: transparent;
        }
      }
    }
  }

  .kk-context-menu {
    > div[role="document"] {
      background-color: var(--dark-medium);
    }
    ul {
      background-color: var(--dark-medium);
      .context-item {
        color: var(--light);
      }
    }
    &.darker {
      > div[role="document"], ul {
        background-color: var(--dark-low);
      }
    }
  }
  .confirm-dialog {
    div[role="document"] {
      > div {
        background-color: var(--dark);
        h2, p, input {
          color: var(--white);
        }
        label {
          color: var(--river);
        }
      }
    }
  }
  .forward-recipient-dialog {
    .dialog-content {
      background-color: var(--dark);
      .actions-bar {
        background-color: var(--dark-medium);
      }
    }
  }
}

html[theme="dark-blue"] {
  .container {
    background-color: var(--dark-blue-medium);
    .column-left {
      background-color: var(--dark-blue-medium);
      .top-bar {
        background-color: var(--dark-blue-medium);
        &:after {
          background-color: var(--dark-blue-medium);
        }
      }
      .left-overlay {
        background-color: var(--dark-blue-medium);
      }
    }
    .column-center {
      .top {
        background-color: var(--dark-blue-medium);
        //.info-bar {
        //}
      }
      .conversation {
        background-color: var(--dark-blue-low);
      }
      .start-messaging {
        background-color: var(--dark-blue-low);
      }
    }
  }

  .kk-context-menu {
    > div[role="document"] {
      background-color: var(--dark-blue-medium);
    }
    ul {
      background-color: var(--dark-blue-medium);
    }
    &.darker {
      > div[role="document"], ul {
        background-color: var(--dark-blue-low);
      }
    }
  }
  .confirm-dialog {
    div[role="document"] {
      > div {
        background-color: var(--dark-blue-low);
      }
    }
  }
  .forward-recipient-dialog {
    .dialog-content {
      background-color: var(--dark-blue-low);
      .actions-bar {
        background-color: var(--dark-blue-medium);
      }
    }
  }
}

.App.is-electron {
  .wrapper {
    height: 100vh !important;
    width: 100vw !important;
    display: flex;
    align-items: center;
  }
  .container:not(.mobile-view) {
    height: 100vh !important;
    width: 100vw !important;
  }
  .container.mobile-view {
    height: 100vh !important;
    width: 200vw !important;
  }
}
