/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --grey-low: #555;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --light-alt: #f1f2f2;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --light-mention: #2678b6;
  --glass-dark-low: rgba(0, 0, 0, 0.05);
  --glass-dark-high: rgba(0, 0, 0, 0.20);
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --dark-mention: #2d9fee;
  --dark-blue-low: #1A212E;
  --dark-blue-medium: #232F40;
  --dark-blue-high: #14395f;
  --dark-blue-high-alt: #2EA2FE;
  --dark-blue-hover: rgba(46, 162, 254, 0.5);
  --dark-blue-hover-light: rgba(46, 162, 254, 0.3);
  --dark-blue-accent-low: #3E6A96;
  --dark-blue-accent-medium: #344359;
  --dark-blue-mention: #2eadff;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

.bg {
  height: 100vh;
  width: 100vw;
  background-color: #21352e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  transition: background-color 1s; }

.wrapper {
  position: relative;
  width: var(--wrapper);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  height: 100vh;
  align-items: center; }

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 800px;
  background-color: var(--white); }
  .container .column-left {
    position: relative;
    width: 318px;
    height: 100%;
    flex: none;
    border: 1px solid var(--light);
    background-color: var(--white); }
    .container .column-left .top-bar {
      position: relative;
      width: 100%;
      height: 48px;
      display: none;
      align-items: center;
      padding: 0 17px;
      background-color: var(--header-color); }
      .container .column-left .top-bar:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 80%;
        height: 1px;
        content: '';
        background-color: var(--light);
        transform: translate(-50%, 0); }
      .container .column-left .top-bar .new-message {
        color: #60BF70;
        cursor: pointer; }
      .container .column-left .top-bar .actions {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 150px; }
    .container .column-left .left-content {
      width: 100%;
      height: calc(100% - 52px); }
    .container .column-left.with-top-bar .top-bar {
      display: flex; }
    .container .column-left.with-top-bar .left-content {
      height: calc(100% - 100px); }
    .container .column-left .left-overlay {
      position: absolute;
      top: 0;
      left: calc(-100% - 1px);
      bottom: 0;
      width: 100%;
      z-index: 100;
      background-color: var(--white);
      transition: left 0.2s ease-out; }
    .container .column-left.left-overlay-enable .left-overlay {
      left: 0; }
  .container .column-center {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    display: flex; }
    .container .column-center .top {
      position: relative;
      width: 100%;
      background-color: var(--header-color); }
      .container .column-center .top .info-bar {
        height: 48px;
        padding: 5px 29px;
        text-align: left; }
        .container .column-center .top .info-bar .back-to-chats {
          position: absolute;
          top: 50%;
          left: 5px;
          height: 36px;
          width: 36px;
          transform: translateY(-50%); }
          .container .column-center .top .info-bar .back-to-chats svg {
            height: 36px;
            width: 36px; }
        .container .column-center .top .info-bar .chat-title {
          padding: 5px 0;
          display: flex;
          flex-direction: column;
          color: var(--grey);
          font-size: 12px; }
          .container .column-center .top .info-bar .chat-title .name {
            color: var(--dark);
            font-size: 15px;
            margin-bottom: 5px;
            font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
            .container .column-center .top .info-bar .chat-title .name svg {
              font-size: 16px;
              margin-right: 6px;
              vertical-align: bottom; }
        .container .column-center .top .info-bar .buttons {
          position: absolute;
          top: 0;
          right: 0;
          float: right;
          line-height: 0; }
    .container .column-center .conversation {
      width: 100%;
      flex: 1;
      background-color: rgba(168, 144, 106, 0.3);
      background-repeat: repeat;
      background-size: 100px;
      transition: background 0.2s; }
      .container .column-center .conversation.no-result {
        background-image: none !important; }
    .container .column-center .attachments {
      width: 100%;
      flex: 1; }
    .container .column-center .start-messaging {
      width: 100%;
      height: 100%;
      background-color: rgba(168, 144, 106, 0.3);
      background-size: 100px; }
      .container .column-center .start-messaging.no-result {
        background-image: none !important;
        background-color: var(--light); }
      .container .column-center .start-messaging .start-messaging-header {
        height: 48px;
        background-color: rgba(255, 255, 255, 0.2);
        line-height: 48px;
        text-align: left;
        padding: 0 20px;
        color: #555; }
      .container .column-center .start-messaging .start-messaging-img {
        width: 100%;
        height: calc(100% - 150px);
        display: flex;
        align-items: center;
        justify-content: center; }
        .container .column-center .start-messaging .start-messaging-img .image {
          width: 100%;
          height: 100%;
          max-width: 400px;
          max-height: 400px;
          background-image: url(../../../asset/image/chat-placeholder.svg);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat; }
      .container .column-center .start-messaging .start-messaging-title {
        font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
        font-weight: 600;
        font-size: 20px;
        height: 50px;
        color: #90908F; }
      .container .column-center .start-messaging .start-messaging-footer {
        height: 50px;
        background-color: rgba(255, 255, 255, 0.2); }
  .container .column-right {
    width: 0;
    height: 100%;
    flex: none;
    overflow: hidden;
    transition: width 0.1s linear; }
    .container .column-right.active {
      width: 318px; }
  .container.mobile-view {
    width: 200vw;
    transition: margin-left 0.3s linear; }
    .container.mobile-view.chat-view {
      margin-left: -100vw; }
    .container.mobile-view .column-left,
    .container.mobile-view .column-center {
      width: 100vw; }
      .container.mobile-view .column-left .top,
      .container.mobile-view .column-center .top {
        padding-left: 40px; }
    .container.mobile-view .column-right {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 120; }
      .container.mobile-view .column-right.active {
        width: 100vw; }

html[bg="1"] .container .column-center .conversation,
html[bg="1"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/4-point-stars.svg);
  background-size: 50px; }

html[bg="2"] .container .column-center .conversation,
html[bg="2"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/anchors-away.svg); }

html[bg="3"] .container .column-center .conversation,
html[bg="3"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/bank-note.svg);
  background-size: 200px; }

html[bg="4"] .container .column-center .conversation,
html[bg="4"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/bubbles.svg); }

html[bg="5"] .container .column-center .conversation,
html[bg="5"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/glamorous.svg); }

html[bg="6"] .container .column-center .conversation,
html[bg="6"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/hideout.svg); }

html[bg="7"] .container .column-center .conversation,
html[bg="7"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/i-like-food.svg); }

html[bg="8"] .container .column-center .conversation,
html[bg="8"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/jigsaw.svg); }

html[bg="9"] .container .column-center .conversation,
html[bg="9"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/plus.svg); }

html[bg="10"] .container .column-center .conversation,
html[bg="10"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/rounded-plus-connected.svg); }

html[bg="11"] .container .column-center .conversation,
html[bg="11"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/skulls.svg); }

html[bg="12"] .container .column-center .conversation,
html[bg="12"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/squares-in-squares.svg); }

html[bg="13"] .container .column-center .conversation,
html[bg="13"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/tic-tac-toe.svg); }

html[bg="14"] .container .column-center .conversation,
html[bg="14"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgd/topography.svg);
  background-size: 300px; }

html[theme="dark"][bg="1"] .container .column-center .conversation,
html[theme="dark"][bg="1"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="1"] .container .column-center .conversation,
html[theme="dark-blue"][bg="1"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/4-point-stars.svg);
  background-size: 50px; }

html[theme="dark"][bg="2"] .container .column-center .conversation,
html[theme="dark"][bg="2"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="2"] .container .column-center .conversation,
html[theme="dark-blue"][bg="2"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/anchors-away.svg); }

html[theme="dark"][bg="3"] .container .column-center .conversation,
html[theme="dark"][bg="3"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="3"] .container .column-center .conversation,
html[theme="dark-blue"][bg="3"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/bank-note.svg);
  background-size: 200px; }

html[theme="dark"][bg="4"] .container .column-center .conversation,
html[theme="dark"][bg="4"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="4"] .container .column-center .conversation,
html[theme="dark-blue"][bg="4"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/bubbles.svg); }

html[theme="dark"][bg="5"] .container .column-center .conversation,
html[theme="dark"][bg="5"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="5"] .container .column-center .conversation,
html[theme="dark-blue"][bg="5"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/glamorous.svg); }

html[theme="dark"][bg="6"] .container .column-center .conversation,
html[theme="dark"][bg="6"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="6"] .container .column-center .conversation,
html[theme="dark-blue"][bg="6"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/hideout.svg); }

html[theme="dark"][bg="7"] .container .column-center .conversation,
html[theme="dark"][bg="7"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="7"] .container .column-center .conversation,
html[theme="dark-blue"][bg="7"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/i-like-food.svg); }

html[theme="dark"][bg="8"] .container .column-center .conversation,
html[theme="dark"][bg="8"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="8"] .container .column-center .conversation,
html[theme="dark-blue"][bg="8"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/jigsaw.svg); }

html[theme="dark"][bg="9"] .container .column-center .conversation,
html[theme="dark"][bg="9"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="9"] .container .column-center .conversation,
html[theme="dark-blue"][bg="9"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/plus.svg); }

html[theme="dark"][bg="10"] .container .column-center .conversation,
html[theme="dark"][bg="10"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="10"] .container .column-center .conversation,
html[theme="dark-blue"][bg="10"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/rounded-plus-connected.svg); }

html[theme="dark"][bg="11"] .container .column-center .conversation,
html[theme="dark"][bg="11"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="11"] .container .column-center .conversation,
html[theme="dark-blue"][bg="11"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/skulls.svg); }

html[theme="dark"][bg="12"] .container .column-center .conversation,
html[theme="dark"][bg="12"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="12"] .container .column-center .conversation,
html[theme="dark-blue"][bg="12"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/squares-in-squares.svg); }

html[theme="dark"][bg="13"] .container .column-center .conversation,
html[theme="dark"][bg="13"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="13"] .container .column-center .conversation,
html[theme="dark-blue"][bg="13"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/tic-tac-toe.svg); }

html[theme="dark"][bg="14"] .container .column-center .conversation,
html[theme="dark"][bg="14"] .container .column-center .start-messaging,
html[theme="dark-blue"][bg="14"] .container .column-center .conversation,
html[theme="dark-blue"][bg="14"] .container .column-center .start-messaging {
  background-image: url(../../../asset/image/bgl/topography.svg);
  background-size: 300px; }

@media screen and (max-height: 800px) {
  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center; }
  .container {
    height: 100vh; } }

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%; } }

@media screen and (max-width: 600px) {
  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center; }
  .container {
    height: 100vh; } }

.kk-context-menu ul {
  padding: 6px 0 !important;
  min-width: 100px; }
  .kk-context-menu ul .context-item {
    padding: 3px 12px;
    font-size: 13px; }

.forward-recipient-dialog .dialog-content {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column; }
  .forward-recipient-dialog .dialog-content .dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--river);
    color: var(--white);
    text-transform: uppercase; }
    .forward-recipient-dialog .dialog-content .dialog-header svg {
      margin: 0 5px; }
  .forward-recipient-dialog .dialog-content .actions-bar {
    height: 86px;
    padding: 18px 0 22px;
    text-align: center;
    background-color: var(--message-chat); }
    .forward-recipient-dialog .dialog-content .actions-bar .add-action {
      display: inline-flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s; }
      .forward-recipient-dialog .dialog-content .actions-bar .add-action svg {
        font-size: 40px; }
      .forward-recipient-dialog .dialog-content .actions-bar .add-action:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
      .forward-recipient-dialog .dialog-content .actions-bar .add-action.send svg {
        font-size: 30px;
        margin-left: 2px;
        transition: transform 0.2s ease-out; }
      .forward-recipient-dialog .dialog-content .actions-bar .add-action.send:hover svg {
        transform: rotate(-30deg); }

html[theme="dark"] .bg,
html[theme="dark-blue"] .bg {
  background-color: #171717; }

html[theme="dark"] .container,
html[theme="dark-blue"] .container {
  background-color: var(--dark-medium); }
  html[theme="dark"] .container .column-left,
  html[theme="dark-blue"] .container .column-left {
    border: 1px solid transparent;
    background-color: var(--dark-medium); }
    html[theme="dark"] .container .column-left .actions svg,
    html[theme="dark-blue"] .container .column-left .actions svg {
      color: var(--light); }
    html[theme="dark"] .container .column-left .top-bar,
    html[theme="dark-blue"] .container .column-left .top-bar {
      background-color: var(--dark-medium); }
      html[theme="dark"] .container .column-left .top-bar:after,
      html[theme="dark-blue"] .container .column-left .top-bar:after {
        background-color: var(--dark-medium); }
    html[theme="dark"] .container .column-left .left-overlay,
    html[theme="dark-blue"] .container .column-left .left-overlay {
      background-color: var(--dark-medium); }
  html[theme="dark"] .container .column-center .top,
  html[theme="dark-blue"] .container .column-center .top {
    background-color: var(--dark-medium); }
    html[theme="dark"] .container .column-center .top .info-bar .back-to-chats svg,
    html[theme="dark-blue"] .container .column-center .top .info-bar .back-to-chats svg {
      color: var(--light); }
    html[theme="dark"] .container .column-center .top .info-bar span,
    html[theme="dark-blue"] .container .column-center .top .info-bar span {
      color: var(--light); }
      html[theme="dark"] .container .column-center .top .info-bar span .name,
      html[theme="dark-blue"] .container .column-center .top .info-bar span .name {
        color: var(--light); }
  html[theme="dark"] .container .column-center .conversation,
  html[theme="dark-blue"] .container .column-center .conversation {
    background-color: var(--dark-low); }
  html[theme="dark"] .container .column-center .start-messaging,
  html[theme="dark-blue"] .container .column-center .start-messaging {
    background-color: var(--dark-low); }
    html[theme="dark"] .container .column-center .start-messaging .start-messaging-header,
    html[theme="dark-blue"] .container .column-center .start-messaging .start-messaging-header {
      background-color: transparent;
      color: var(--light); }
    html[theme="dark"] .container .column-center .start-messaging .start-messaging-img,
    html[theme="dark-blue"] .container .column-center .start-messaging .start-messaging-img {
      width: 100%;
      height: calc(100% - 150px);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat; }
    html[theme="dark"] .container .column-center .start-messaging .start-messaging-title,
    html[theme="dark-blue"] .container .column-center .start-messaging .start-messaging-title {
      visibility: hidden; }
    html[theme="dark"] .container .column-center .start-messaging .start-messaging-footer,
    html[theme="dark-blue"] .container .column-center .start-messaging .start-messaging-footer {
      background-color: transparent; }

html[theme="dark"] .kk-context-menu > div[role="document"],
html[theme="dark-blue"] .kk-context-menu > div[role="document"] {
  background-color: var(--dark-medium); }

html[theme="dark"] .kk-context-menu ul,
html[theme="dark-blue"] .kk-context-menu ul {
  background-color: var(--dark-medium); }
  html[theme="dark"] .kk-context-menu ul .context-item,
  html[theme="dark-blue"] .kk-context-menu ul .context-item {
    color: var(--light); }

html[theme="dark"] .kk-context-menu.darker > div[role="document"], html[theme="dark"] .kk-context-menu.darker ul,
html[theme="dark-blue"] .kk-context-menu.darker > div[role="document"],
html[theme="dark-blue"] .kk-context-menu.darker ul {
  background-color: var(--dark-low); }

html[theme="dark"] .confirm-dialog div[role="document"] > div,
html[theme="dark-blue"] .confirm-dialog div[role="document"] > div {
  background-color: var(--dark); }
  html[theme="dark"] .confirm-dialog div[role="document"] > div h2, html[theme="dark"] .confirm-dialog div[role="document"] > div p, html[theme="dark"] .confirm-dialog div[role="document"] > div input,
  html[theme="dark-blue"] .confirm-dialog div[role="document"] > div h2,
  html[theme="dark-blue"] .confirm-dialog div[role="document"] > div p,
  html[theme="dark-blue"] .confirm-dialog div[role="document"] > div input {
    color: var(--white); }
  html[theme="dark"] .confirm-dialog div[role="document"] > div label,
  html[theme="dark-blue"] .confirm-dialog div[role="document"] > div label {
    color: var(--river); }

html[theme="dark"] .forward-recipient-dialog .dialog-content,
html[theme="dark-blue"] .forward-recipient-dialog .dialog-content {
  background-color: var(--dark); }
  html[theme="dark"] .forward-recipient-dialog .dialog-content .actions-bar,
  html[theme="dark-blue"] .forward-recipient-dialog .dialog-content .actions-bar {
    background-color: var(--dark-medium); }

html[theme="dark-blue"] .container {
  background-color: var(--dark-blue-medium); }
  html[theme="dark-blue"] .container .column-left {
    background-color: var(--dark-blue-medium); }
    html[theme="dark-blue"] .container .column-left .top-bar {
      background-color: var(--dark-blue-medium); }
      html[theme="dark-blue"] .container .column-left .top-bar:after {
        background-color: var(--dark-blue-medium); }
    html[theme="dark-blue"] .container .column-left .left-overlay {
      background-color: var(--dark-blue-medium); }
  html[theme="dark-blue"] .container .column-center .top {
    background-color: var(--dark-blue-medium); }
  html[theme="dark-blue"] .container .column-center .conversation {
    background-color: var(--dark-blue-low); }
  html[theme="dark-blue"] .container .column-center .start-messaging {
    background-color: var(--dark-blue-low); }

html[theme="dark-blue"] .kk-context-menu > div[role="document"] {
  background-color: var(--dark-blue-medium); }

html[theme="dark-blue"] .kk-context-menu ul {
  background-color: var(--dark-blue-medium); }

html[theme="dark-blue"] .kk-context-menu.darker > div[role="document"], html[theme="dark-blue"] .kk-context-menu.darker ul {
  background-color: var(--dark-blue-low); }

html[theme="dark-blue"] .confirm-dialog div[role="document"] > div {
  background-color: var(--dark-blue-low); }

html[theme="dark-blue"] .forward-recipient-dialog .dialog-content {
  background-color: var(--dark-blue-low); }
  html[theme="dark-blue"] .forward-recipient-dialog .dialog-content .actions-bar {
    background-color: var(--dark-blue-medium); }

.App.is-electron .wrapper {
  height: 100vh !important;
  width: 100vw !important;
  display: flex;
  align-items: center; }

.App.is-electron .container:not(.mobile-view) {
  height: 100vh !important;
  width: 100vw !important; }

.App.is-electron .container.mobile-view {
  height: 100vh !important;
  width: 200vw !important; }
