@import '../../../style/common';

.bg {
  height: 100vh;
  width: 100vw;
  background-color: #21352e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  transition: background-color 1s;
}

.wrapper {
  position: relative;
  width: var(--wrapper);
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  height: 100vh;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 800px;
  background-color: var(--white);
  .column-left {
    position: relative;
    width: 318px;
    height: 100%;
    flex: none;
    border: 1px solid var(--light);
    background-color: var(--white);
    .top-bar {
      position: relative;
      width: 100%;
      height: 48px;
      display: none;
      align-items: center;
      padding: 0 17px;
      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 80%;
        height: 1px;
        content: '';
        background-color: var(--light);
        transform: translate(-50%, 0);
      }
      .new-message {
        color: #60BF70;
        cursor: pointer;
      }
      .actions {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100px;
      }
    }
    .left-content {
      border-right: 1px solid var(--light);
      border-left: 1px solid var(--light);
      width: 100%;
      height: calc(100% - 52px);
    }
    &.with-top-bar {
      .top-bar {
        display: flex;
      }
      .left-content {
        height: calc(100% - 100px);
      }
    }
    .left-overlay {
      position: absolute;
      top: 0;
      left: calc(-100% - 1px);
      bottom: 0;
      width: 100%;
      z-index: 100;
      background-color: var(--white);
      transition: left 0.2s ease-out;
    }
    &.left-overlay-enable {
      .left-overlay {
        left: 0;
      }
    }
  }
  .column-center {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
    .top {
      position: relative;
      width: 100%;
      height: 48px;
      padding: 5px 29px;
      background-color: #eceff1;
      text-align: left;
      .back-to-chats {
        position: absolute;
        top: 50%;
        left: 5px;
        height: 36px;
        width: 36px;
        transform: translateY(-50%);
        svg {
          height: 36px;
          width: 36px;
        }
      }
      //span {
      //  font-size: 15px;
      //  color: var(--grey);
      //  .name {
      //    color: var(--dark);
      //    @include font-bold;
      //  }
      //}
      .chat-title {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        color: var(--grey);
        font-size: 12px;
        .name {
          color: var(--dark);
          font-size: 15px;
          @include font-bold;
          margin-bottom: 5px;
        }
      }
      .buttons {
        position: absolute;
        top: 0;
        right: 0;
        float: right;
        line-height: 0;
      }
    }
    .conversation {
      width: 100%;
      height: calc(100% - 100px);
      background-image: url(../../../asset/image/pattern.png);
      background-color: rgba(168, 144, 106, 0.3);
      background-size: 500px 500px;
    }
    .attachments {
      width: 100%;
      height: calc(100% - 48px);
    }
    .start-messaging {
      width: 100%;
      height: 100%;
      background-image: url(../../../asset/image/pattern.png);
      background-color: rgba(168, 144, 106, 0.3);
      background-size: 500px 500px;
      .start-messaging-header {
        height: 48px;
        background-color: rgba(255, 255, 255, 0.2);
        line-height: 48px;
        text-align: left;
        padding: 0 20px;
        color: #555;
      }
      .start-messaging-img {
        width: 100%;
        height: calc(100% - 150px);
        background-image: url(../../../asset/image/start-messaging.svg);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .start-messaging-title {
        @include font-bold;
        font-size: 20px;
        height: 50px;
        color: #90908F;
      }
      .start-messaging-footer {
        height: 50px;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  &.mobile-view {
    width: 200vw;
    transition: margin-left 0.3s;
    &.chat-view {
      margin-left: -100vw;
    }
    .column-left,
    .column-center {
      width: 100vw;
      .top {
        padding-left: 40px;
      }
    }
  }
  .column-right {
    width: 0;
    height: 100%;
    flex: none;
    overflow: hidden;
    transition: width 0.2s;
    &.active {
      width: 318px;
    }
  }
}

@media screen and (max-height: 800px) {
  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .container {
    height: 100vh;
  }
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .container {
    height: 100vh;
  }
}

.kk-context-menu {
  ul {
    padding: 6px 0 !important;
    min-width: 100px;
    .context-item {
      padding: 3px 12px;
      font-size: 13px;
    }
  }
}

html[theme="dark"] {
  .bg {
    background-color: #171717;
  }
  .container {
    background-color: var(--dark-medium);
    .column-left {
      border: 1px solid transparent;
      border-right: 1px solid var(--dark-low);
      background-color: var(--dark-medium);
      .actions {
        svg {
          color: var(--light);
        }
      }
      .top-bar {
        &:after {
          background-color: var(--dark-medium);
        }
      }
      .left-content {
        border-right: 1px solid var(--dark-medium);
        border-left: 1px solid transparent;
      }
      .left-overlay {
        background-color: var(--dark-medium);
      }
    }
    .column-center {
      .top {
        background-color: var(--dark-medium);
        .back-to-chats {
          svg {
            color: var(--light);
          }
        }
        span {
          color: var(--light);
          .name {
            color: var(--light);
          }
        }
      }
      .conversation {
        background-image: none;
        background-color: var(--dark-low);
      }
      .start-messaging {
        background-color: var(--dark-low);
        background-image: none;
        .start-messaging-header {
          background-color: transparent;
        }
        .start-messaging-img {
          width: 100%;
          height: calc(100% - 150px);
          background-image: url(../../../asset/image/start-messaging.svg);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .start-messaging-title {
          visibility: hidden;
        }
        .start-messaging-footer {
          background-color: transparent;
        }
      }
    }
  }

  .kk-context-menu {
    > div[role="document"] {
      background-color: var(--dark-medium);
    }
    ul {
      background-color: var(--dark-medium);
      .context-item {
        color: var(--light);
      }
    }
    &.darker {
      > div[role="document"], ul {
        background-color: var(--dark-low);
      }
    }
  }
}
