/*
    Creation Time: 2019 - April - 17
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

.bg-pic-container {
  padding: 6px;
  .item {
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    &.selected {
      border: 2px solid var(--grey-low);
      .customize {
        visibility: visible;
      }
    }
    &.upload-file {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;
      .add-icon {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
          font-size: 32px;
          color: var(--white);
        }
      }
    }
    &.uploaded-file {
      .add-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
          font-size: 32px;
          color: var(--white);
        }
      }
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
    .customize {
      position: absolute;
      top: 4px;
      right: 4px;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.9);
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      cursor: pointer;
      svg {
        font-size: 14px;
        color: var(--grey);
      }
    }
  }
  &.bg-pattern {
    .item {
      background-color: rgba(168, 144, 106, 0.3);
    }
  }
}

.customize-background-container {
  position: relative;
  overflow: hidden;
  .img {
    height: 325px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }
  .blur-action {
    position: absolute;
    height: 48px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    .blur-seeker {
      flex: 1;
      padding: 12px 24px 12px 12px;
    }
    .action {
      width: 32px;
      height: 32px;
      padding: 3px;
      border-radius: 50%;
      background-color: var(--white);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }
}

html[theme="dark"],
html[theme="dark-night"] {
  .bg-pic-container {
    .item {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.bg-pattern {
      .item {
        background-color: var(--dark-low);
      }
    }
  }
  .customize-background-container {
    .blur-action {
      .action {
        background-color: var(--dark-high);
        color: var(--light);
      }
    }
  }
}

html[theme="dark-blue"] {
  .bg-pic-container {
    .item {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.bg-pattern {
      .item {
        background-color: var(--dark-blue-low);
      }
    }
  }
  .customize-background-container {
    .blur-action {
      .action {
        background-color: var(--dark-blue-high);
        color: var(--dark-blue-high-alt);
      }
    }
  }
}
