/*
    Creation Time: 2019 - Feb - 23
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
.contact-picker .dialog-content {
  width: 300px;
  height: 500px; }
  .contact-picker .dialog-content .page-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .contact-picker .dialog-content .page-container .page {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: left 0.2s ease-out; }
      .contact-picker .dialog-content .page-container .page.page-1 {
        left: 0; }
      .contact-picker .dialog-content .page-container .page.page-2 {
        left: 100%; }
    .contact-picker .dialog-content .page-container.page-2 .page-1 {
      left: -100%; }
    .contact-picker .dialog-content .page-container.page-2 .page-2 {
      left: 0; }

.contact-picker .page-content {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column; }
  .contact-picker .page-content .dialog-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--river);
    color: var(--white);
    text-transform: uppercase; }
    .contact-picker .page-content .dialog-header .action {
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 40px;
      margin: 0 5px;
      padding: 8px; }
      .contact-picker .page-content .dialog-header .action svg {
        color: var(--white); }
  .contact-picker .page-content .contact-list {
    flex: 1;
    height: auto; }
  .contact-picker .page-content .actions-bar {
    height: 86px;
    padding: 18px 0 22px;
    text-align: center;
    background-color: var(--message-chat); }
    .contact-picker .page-content .actions-bar .add-action {
      display: inline-flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s; }
      .contact-picker .page-content .actions-bar .add-action svg {
        font-size: 40px; }
      .contact-picker .page-content .actions-bar .add-action:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
      .contact-picker .page-content .actions-bar .add-action.send svg {
        font-size: 30px;
        margin-left: 2px;
        transition: transform 0.2s ease-out; }
      .contact-picker .page-content .actions-bar .add-action.send:hover svg {
        transform: rotate(-30deg); }
    .contact-picker .page-content .actions-bar.no-bg {
      background-color: transparent; }

html[theme="dark"] .contact-picker .dialog-content,
html[theme="dark-blue"] .contact-picker .dialog-content {
  background-color: var(--dark); }
  html[theme="dark"] .contact-picker .dialog-content .actions-bar,
  html[theme="dark-blue"] .contact-picker .dialog-content .actions-bar {
    background-color: var(--dark-medium); }
    html[theme="dark"] .contact-picker .dialog-content .actions-bar.no-bg,
    html[theme="dark-blue"] .contact-picker .dialog-content .actions-bar.no-bg {
      background-color: transparent; }

html[theme="dark-blue"] .contact-picker .dialog-content {
  background-color: var(--dark-blue-low); }
  html[theme="dark-blue"] .contact-picker .dialog-content .actions-bar {
    background-color: var(--dark-blue-medium); }
