/*
    Creation Time: 2019 - Feb - 23
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/mixin';

.contact-picker {
  .dialog-content {
    width: 300px;
    height: 500px;

    .page-container {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;

      .page {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: left 0.2s ease-out;

        &.page-1 {
          left: 0;
        }

        &.page-2 {
          left: 100%;
        }
      }

      &.page-2 {
        .page-1 {
          left: -100%;
        }

        .page-2 {
          left: 0;
        }
      }
    }
  }

  .page-content {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;

    .dialog-header {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      border-bottom: 1px solid rgba(172, 176, 180, 0.2);
      color: rgba(0, 0, 0, 0.54);

      .action {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        width: 40px;
        margin: 0 5px;
        padding: 8px;

        svg {
          color: rgba(0, 0, 0, 0.54);
        }
      }
    }

    .contact-list {
      flex: 1;
      height: auto;
    }

    .actions-bar {
      height: 86px;
      padding: 18px 0 22px;
      text-align: center;
      background-color: var(--message-chat);

      .add-action {
        display: inline-flex;
        height: 46px;
        width: 46px;
        border-radius: 50%;
        background: var(--river);
        color: var(--white);
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all 0.2s;

        svg {
          font-size: 40px;
        }

        &:hover {
          background: var(--river-dark);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        }

        &.send {
          svg {
            font-size: 30px;
            margin-left: 2px;
            transition: transform 0.2s ease-out;
          }

          &:hover {
            svg {
              transform: rotate(-30deg);
            }
          }
        }
      }

      &.no-bg {
        background-color: transparent;
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .contact-picker {
    .contact-picker-paper {
      background-color: var(--dark);
    }

    .page-content {
      .dialog-header {
        border-color: var(--dark-medium);
        color: var(--light);

        svg {
          color: var(--light);
        }
      }
    }

    .dialog-content {
      background-color: var(--dark);

      .actions-bar {
        background-color: var(--dark-medium);

        &.no-bg {
          background-color: transparent;
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .contact-picker {
    .page-content {
      .dialog-header {
        border-color: var(--dark-blue-medium);
      }
    }

    .contact-picker-paper {
      background-color: var(--dark-blue-low);
    }

    .dialog-content {
      background-color: var(--dark-blue-low);

      .actions-bar {
        background-color: var(--dark-blue-medium);
      }
    }
  }
}
