.column-left {
  position: relative;
  width: 318px;
  height: 100%;
  flex: none;
  border: 1px solid var(--light);
  background-color: var(--white);

  .top-bar {
    position: relative;
    width: 100%;
    height: 48px;
    display: none;
    align-items: center;
    padding: 0 17px;
    background-color: var(--header-color);

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 80%;
      height: 1px;
      content: '';
      background-color: var(--light);
      transform: translate(-50%, 0);
    }

    .close-btn {
      margin-left: -12px;
      margin-right: 6px;

      button {
        padding: 6px;

        svg {
          font-size: 28px;
        }
      }
    }

    .new-message {
      color: #60BF70;
      cursor: pointer;

      .river-logo {
        margin: 0 6px 0 0;
      }
    }

    .actions {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 150px;
    }
  }

  .left-content {
    //border-right: 1px solid var(--light);
    width: 100%;
    height: calc(100% - 51px);
  }

  &.with-top-bar {
    .top-bar {
      display: flex;
    }

    .left-content {
      height: calc(100% - 99px);
    }
  }

  .left-overlay {
    position: absolute;
    top: 0;
    left: calc(-100% - 1px);
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--white);
    transition: left 0.2s ease-out;
  }

  &.left-overlay-enable {
    .left-overlay {
      left: 0;
    }
  }
}

.container.mobile-view {
  .column-left {
    width: 100vw;

    &.shrink {
      margin: 0;
    }

    &.blur {
      .main-messages {
        filter: none;
      }
    }

    .top {
      padding-left: 40px;

      .info-bar {
        padding-left: 8px;
      }
    }
  }
}

html[direction="rtl"] {
  .column-left {
    .left-overlay {
      left: auto;
      right: calc(-100% - 1px);
      transition: right 0.2s ease-out;
    }

    .top-bar {
      .actions {
        right: auto;
        left: 0;
      }

      .close-btn {
        margin-left: 6px;
        margin-right: -12px;
      }

      .new-message {
        .river-logo {
          margin: 0 0 0 6px;
        }
      }
    }

    &.left-overlay-enable {
      .left-overlay {
        right: 0;
      }
    }
  }

  .container.mobile-view .column-left .top .info-bar {
    padding-right: 42px;
    padding-left: 8px;
  }
}

html[theme="dark"],
html[theme="dark-blue"] {
  .column-left {
    border: 1px solid transparent;
    background-color: var(--dark-medium);

    .top-bar {
      border-bottom: 1px solid var(--dark-low-op50);

      .close-btn {
        button {
          svg {
            color: var(--white);
          }
        }
      }
    }

    .actions {
      svg {
        color: var(--light);
      }
    }

    .top-bar {
      background-color: var(--dark-medium);

      &:after {
        background-color: var(--dark-medium);
      }
    }

    .left-content {
      //border-right: 1px solid var(--dark-medium);
    }

    .left-overlay {
      background-color: var(--dark-medium);
    }
  }
}

html[theme="dark-blue"] {
  .column-left {
    background-color: var(--dark-blue-medium);

    .top-bar {
      background-color: var(--dark-blue-medium);
      border-color: var(--dark-blue-low-op50);

      &:after {
        background-color: var(--dark-blue-medium);
      }
    }

    .left-overlay {
      background-color: var(--dark-blue-medium);
    }
  }
}