.column-left {
  position: relative;
  width: 318px;
  height: 100%;
  flex: none;
  border-top: 1px solid var(--light);
  border-bottom: 1px solid var(--light);
  background-color: var(--white);

  .top-bar {
    position: relative;
    width: 100%;
    height: 48px;
    display: none;
    align-items: center;
    padding: 0 0 0 8px;
    background-color: var(--header-color);

    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 100%;
      height: 1px;
      content: '';
      background-color: var(--light);
      transform: translate(-50%, 0);
    }

    .close-btn, .menu-btn {
      button {
        padding: 6px;

        svg {
          font-size: 28px;
        }
      }
    }

    .close-btn, .menu-btn, .actions {
      button {
        svg {
          opacity: 0.3;
        }

        &:hover {
          svg {
            opacity: 1;
          }
        }
      }
    }

    .close-btn {
      margin-left: -4px;
      margin-right: 6px;
    }

    .new-message {
      position: relative;
      color: #60BF70;
      cursor: pointer;
      flex: 1;

      .text-logo {
        transform: translateX(24px);
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .team-name {
          font-size: 10px;
          padding: 0 0 0 6px;
          color: var(--gale);
          max-width: 68px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          user-select: none;
        }

        .team-select-icon {
          position: relative;
          height: 24px;
          margin: 0 8px 0 0;
          padding-top: 4px;

          .team-badge {
            position: absolute;
            top: 4px;
            right: 0;
            height: 6px;
            width: 6px;
            border-radius: 4px;
            background-color: var(--notif-yellow);
          }

          svg {
            font-size: 24px;
            color: var(--gale);
          }
        }
      }
    }

    .actions {
      width: 86px;

      button {
        padding: 8px;
      }
    }
  }

  .left-content {
    position: relative;
    width: 100%;
    height: calc(100% - 51px);

    .status-alert {
      position: absolute;
      top: 56px;
      left: 8px;
      right: 8px;
      background-color: #ffe142;
      border: 1px solid #e2c01e;
      color: #8a6d3b;
      padding: .25rem 1.25rem;
      font-size: 14px;
      border-radius: .25rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      z-index: 200;
      transition: 0.2s opacity;

      &.hide {
        opacity: 0;
      }
    }

    .left-content-inner {
      position: relative;
      height: 100%;

      .left-content-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        background-color: var(--white);
        z-index: 10;
      }

      &.settings, &.contacts {
        .left-content-overlay {
          display: block;
        }
      }
    }
  }

  &.with-top-bar {
    .top-bar {
      display: flex;
    }

    .left-content {
      height: calc(100% - 99px);

      .status-alert {
        top: 8px;
      }
    }
  }

  &.shrunk-menu {
    &:not(.label-mode) {
      .top-bar {
        padding: 0 !important;
        justify-content: center;
      }
    }

    .left-content {
      height: 100%;

      .dialogs {
        height: calc(100% - 47px);
      }
    }
  }

  &.shrunk-menu:not(.dialog-hover) {
    .left-content {
      .dialog-top-bar, .preview, .pin {
        display: none !important;
      }

      .dialog-wrapper .unread {
        bottom: auto;
        top: 0;
        right: auto;
        left: 0;
        box-shadow: 0 0 0 1.5px var(--white);
      }

      .dialog-wrapper:not(.muted) .unread {
        background-color: var(--river);
      }

      .dialog-wrapper .mention {
        top: auto;
        bottom: 0;
        right: auto;
        left: 0;
        box-shadow: 0 0 0 1.5px var(--white);
      }

      .more {
        top: -6px;
        right: -6px;
      }
    }
  }

  &.shrunk-menu:not(.label-mode) {
    width: 68px;

    .dialogs {
      .dialog-search.open, .top-peer {
        display: none;
      }
    }
  }

  .left-overlay {
    position: absolute;
    top: 0;
    left: calc(-100% - 1px);
    bottom: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--white);
    transition: left 0.1s ease-out;
  }

  &.left-overlay-enable {
    .left-overlay {
      left: 0;
    }
  }

  &.shrunk-menu.label-mode {
    width: 382px;
    overflow: hidden;
    position: relative;

    .left-content {
      .dialog-top-bar {
        display: inline-flex !important;
      }

      .preview, .pin {
        display: block !important;
      }
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      right: 0;
      width: 0;
      z-index: 10000;
      box-shadow: -12px 0 15px -9px rgba(96, 96, 96, 0.3) inset;
      overflow: hidden;
      transition: all 0.1s;
      opacity: 0;
    }

    &.left-overlay-enable {
      .left-overlay {
        left: 64px;
        width: calc(100% - 64px);
        box-shadow: 0 9px 0 0 var(--white),
        0 -9px 0px 0px var(--header-color),
          //12px 0 15px -4px rgba(31, 73, 125, 0.8),
        -12px 0 15px -9px rgba(96, 96, 96, 0.3);
        transition: left 0.1s ease-in-out;
      }

      .left-content .dialogs {
        margin-right: 64px;

        .dialog-search.open, .top-peer {
          display: none;
        }
      }

      &.dialog-hover {
        &:after {
          width: 20px;
          opacity: 1;
        }

        .top-bar .actions {
          right: 42px;
        }

        .left-content .dialogs {
          .dialog-search.open {
            display: flex;
          }
        }

        .left-overlay {
          left: 318px;
          width: 64px;

          .label-menu {
            width: 318px;

            .menu-header {
              button {
                display: none;
              }

              label, .header-label-info {
                visibility: hidden;
              }

              .header-label-icon {
                margin: 0 0 0 16px;
              }
            }

            .label-search {
              display: none;
            }

            .label-container {
              .label-item {
                &.create-label {
                  &:before {
                    left: 0;
                  }
                }

                .label-info, .label-action {
                  visibility: hidden;
                }
              }
            }
          }
        }
      }
    }
  }
}

.left-menu {
  position: relative;

  &.with-panel {
    padding-left: 40px;
  }
}

.container.mobile-view {
  .column-left {
    width: 100vw;

    &.shrink {
      margin: 0;
    }

    .top {
      .info-bar {
        padding-left: 40px;
      }
    }
  }
}

.kk-context-menu.top-bar-team {
  .context-item {
    display: flex;
    padding: 4px 6px;

    .team-name {
      flex: 1 1;
    }

    .team-unread-counter {
      margin: 0 0 0 8px;
      background-color: var(--notif-yellow);
      min-width: 16px;
      line-height: 1em;
      padding: 3px 2px;
      border-radius: 10px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--dark);
    }
  }
}

html[direction="rtl"] {
  .column-left {
    .left-overlay {
      left: auto;
      right: calc(-100% - 1px);
      transition: right 0.1s ease-out;
    }

    .top-bar {
      padding: 0 8px 0 0;

      .close-btn {
        margin-left: 6px;
        margin-right: -4px;
      }

      .menu-btn button svg {
        transform: rotateY(-180deg);
      }

      .new-message {
        .text-logo {
          transform: translateX(-24px);

          .team-name {
            padding: 0 6px 0 0;
          }

          .team-select-icon {
            margin: 0 0 0 8px;
          }
        }
      }
    }

    &.shrunk-menu {
      .dialog-wrapper .unread {
        right: 0;
        left: auto;
      }

      .dialog-wrapper .mention {
        right: 0;
        left: auto;
      }

      .more {
        left: -6px;
        right: auto;
      }
    }

    &.left-overlay-enable {
      .left-overlay {
        right: 0;
      }
    }

    &.shrunk-menu.label-mode {
      &:after {
        right: auto;
        left: 0;
        box-shadow: 12px 0 15px -9px rgba(96, 96, 96, 0.3) inset;
      }

      &.left-overlay-enable {
        .left-overlay {
          box-shadow: 0 9px 0 0 var(--white),
          0 -9px 0px 0px var(--header-color),
          12px 0 15px -9px rgba(96, 96, 96, 0.3);
          transition: right 0.1s ease-in-out;
        }

        .left-overlay {
          right: 64px;
        }

        .left-content .dialogs {
          margin-right: 0;
          margin-left: 64px;
        }

        &.dialog-hover {
          .top-bar .actions {
            left: 42px;
          }

          .left-overlay {
            right: 318px;
          }
        }
      }
    }
  }

  .container.mobile-view .column-left .top .info-bar {
    padding-right: 42px;
    padding-left: 8px;
  }

  .kk-context-menu.top-bar-team {
    .context-item {
      .team-unread-counter {
        margin: 0 8px 0 0;
      }
    }
  }

  .left-menu {
    &.with-panel {
      padding-right: 40px;
      padding-left: 0;
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .column-left {
    border: 1px solid transparent;
    background-color: var(--dark-medium);

    &.shrunk-menu.label-mode {
      &:after {
        box-shadow: -12px 0 20px -9px rgba(0, 0, 0, 0.4) inset;
      }

      &.left-overlay-enable {
        .left-overlay {
          box-shadow: 0 9px 0 0 var(--dark-medium),
          0 -9px 0px 0px var(--dark-medium),
          -12px 0 20px -9px rgba(0, 0, 0, 0.4);
        }
      }
    }

    .top-bar {
      border-bottom: 1px solid var(--dark-low-op50);

      .close-btn, .menu-btn {
        button {
          svg {
            color: var(--white);
          }
        }
      }
    }

    .actions {
      svg {
        color: var(--light);
      }
    }

    .top-bar {
      background-color: var(--dark-medium);

      &:after {
        background-color: var(--dark-medium);
      }
    }

    .left-content {
      //border-right: 1px solid var(--dark-medium);
    }

    .left-overlay {
      background-color: var(--dark-medium);
    }
  }
}

html[theme="dark"] {
  .column-left {
    &.shrunk-menu .left-content .dialog-wrapper {
      .unread, .mention {
        box-shadow: 0 0 0 1.5px var(--dark-low-op50);
      }
    }

    .left-content {
      .left-content-inner {
        .left-content-overlay {
          background-color: var(--dark-medium);
        }
      }
    }
  }

  .left-menu {
    .left-panel {
      background-color: var(--dark-low);
    }
  }
}

html[theme="dark-night"] {
  .column-left {
    &.shrunk-menu .left-content .dialog-wrapper {
      .unread, .mention {
        box-shadow: 0 0 0 1.5px var(--dark-night-low-op50);
      }
    }

    .left-content {
      .left-content-inner {
        .left-content-overlay {
          background-color: var(--dark-medium);
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .column-left {
    background-color: var(--dark-blue-medium);

    .top-bar {
      background-color: var(--dark-blue-medium);
      border-color: var(--dark-blue-low-op50);

      &:after {
        background-color: var(--dark-blue-medium);
      }
    }

    .left-overlay {
      background-color: var(--dark-blue-medium);
    }
  }

  .column-left {
    &.shrunk-menu .left-content .dialog-wrapper {
      .unread, .mention {
        box-shadow: 0 0 0 1.5px var(--dark-blue-low-op50);
      }
    }

    .left-content {
      .left-content-inner {
        .left-content-overlay {
          background-color: var(--dark-blue-medium);
        }
      }
    }
  }
}

html[theme="dark"][direction="rtl"],
html[theme="dark-night"][direction="rtl"],
html[theme="dark-blue"][direction="rtl"] {
  .column-left {
    &.shrunk-menu.label-mode {
      &:after {
        box-shadow: 12px 0 20px -9px rgba(0, 0, 0, 0.4) inset;
      }

      &.left-overlay-enable {
        .left-overlay {
          box-shadow: 0 9px 0 0 var(--white),
          0 -9px 0px 0px var(--header-color),
          12px 0 20px -9px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}