/*
    Creation Time: 2019 - March - 05
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

.message-location {
  padding: 0;
  .location-content {
    position: relative;
    min-height: 120px;
    min-width: 250px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    img {
      height: 120px;
      width: 250px;
      object-position: center 40%;
      object-fit: cover;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 48px;
      color: #EB5757;
      transform: translate(-50%, -50%);
    }
  }
}

html[theme="dark"],
html[theme="dark-blue"] {
  .message-location {
  }
}

html[theme="dark-blue"] {
  .message-location {
  }
}
