/*
    Creation Time: 2018 - Oct - 05
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
@import '../../../style/mixin';

.message-status {
  position: absolute;
  bottom: 3px;
  right: 3px;
  left: 3px;
  display: inline-block;
  height: 10px;
  min-width: 70px;
  line-height: 0;
  text-align: right;
  color: var(--grey-low);
  font-size: 10px;
  white-space: nowrap;
  .icon {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: -2px 0 -2px 3px;
    vertical-align: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .time {
    line-height: 10px;
  }
  .edited {
    padding: 0 3px 0 5px;
  }
}

.me .bubble .message-status {
  color: var(--grey-low);
}

.voice .bubble .message-status {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  height: 32px;
}

.media .bubble .message-status {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: flex-end;
  left: 3px;
  right: 3px;
  bottom: 3px;
  color: var(--white) !important;
  padding: 0 3px;
  &:before {
    content: '';
    position: absolute;
    height: 200%;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(177deg, transparent 0%, transparent 30%, rgba(0, 0, 0, 0.28) 75%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 0 0 8px 8px;
    z-index: 10;
  }
  > span,
  > svg {
    position: relative;
    z-index: 20;
  }
}

html[theme="dark"] {
  .message-status {
    color: var(--grey);
  }
  .me .bubble .message-status {
    color: var(--grey);
  }
}

html[theme="dark-blue"] {
  .message-status {
    color: rgba(255, 255, 255, 0.5);
  }
  .me .bubble .message-status {
    color: rgba(255, 255, 255, 0.5);
  }
}

html[bubble="2"] {
  .message-status {
    left: 11px;
    right: 11px;
    bottom: 6px;
  }
  .media {
    .bubble {
      .message-status {
        padding: 0 10px 4px 3px;
        &:before {
          border-radius: 0 0 18px 18px !important;
        }
      }
    }
  }
}

html[bubble="4"] {
  .message-status {
    left: 6px;
    right: 6px;
    bottom: 4px;
  }
}
