/*
    Creation Time: 2018 - Oct - 05
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

.message-status {
  position: absolute;
  bottom: 3px;
  right: 3px;
  left: 3px;
  display: inline-flex;
  height: 10px;
  min-width: 70px;
  line-height: 0;
  text-align: right;
  color: var(--grey-low);
  font-size: 10px;
  white-space: nowrap;
  align-items: center;
  justify-content: flex-end;

  .icon {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: -2px 0 -2px 3px;
    vertical-align: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .time {
    line-height: 10px;
    user-select: none;
  }

  .edited {
    padding: 0 2px 0 0;
  }

  .message-label {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 2px 0 0;
    align-items: center;
    justify-content: center;

    .circle-label {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 1px solid transparent;

      &:first-child {
        z-index: 1003;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);

        svg {
          font-size: 12px;
          color: var(--white);
        }
      }

      &:nth-child(2) {
        transform: translateX(60%);
        z-index: 1002;
      }

      &:nth-child(3) {
        transform: translateX(120%);
        z-index: 1001;
      }
    }
  }
}

.me .bubble .message-status {
  color: var(--grey-low);
}

.me .bubble .message-status {
  .message-label {
    .circle-label {
      border-color: var(--green);
    }
  }
}

.you .bubble .message-status {
  .message-label {
    .circle-label {
      border-color: var(--message-chat);
    }
  }
}

.voice .bubble .message-status {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  height: 32px;
}

.media .bubble .message-status {
  display: flex;
  height: 16px;
  align-items: center;
  justify-content: flex-end;
  left: 3px;
  right: 3px;
  bottom: 3px;
  color: var(--white) !important;
  padding: 0 3px;

  &:before {
    content: '';
    position: absolute;
    height: 200%;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(178deg, transparent 0%, transparent 30%, rgba(0, 0, 0, 0.28) 75%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 0 0 8px 8px;
    z-index: 100;
  }

  > span,
  > svg {
    position: relative;
    z-index: 120;
  }
}

html[theme="dark"],
html[theme="dark-night"] {
  .message-status {
    color: var(--grey);
  }

  .me .bubble .message-status {
    color: var(--grey);
  }
}

html[theme="dark"] {
  .me .bubble .message-status {
    .message-label {
      .circle-label {
        border-color: var(--dark-accent-low);
      }
    }
  }

  .you .bubble .message-status {
    .message-label {
      .circle-label {
        border-color: var(--dark-accent-medium);
      }
    }
  }
}

html[theme="dark-night"] {
  .me .bubble .message-status {
    .message-label {
      .circle-label {
        border-color: var(--dark-night-accent-low);
      }
    }
  }

  .you .bubble .message-status {
    .message-label {
      .circle-label {
        border-color: var(--dark-night-accent-medium);
      }
    }
  }
}

html[theme="dark-blue"] {
  .message-status {
    color: rgba(255, 255, 255, 0.5);
  }

  .me .bubble .message-status {
    color: rgba(255, 255, 255, 0.5);
  }

  .me .bubble .message-status {
    .message-label {
      .circle-label {
        border-color: var(--dark-blue-accent-low);
      }
    }
  }

  .you .bubble .message-status {
    .message-label {
      .circle-label {
        border-color: var(--dark-blue-accent-medium);
      }
    }
  }
}

html[bubble="2"] {
  .message-status {
    left: 11px;
    right: 11px;
    bottom: 6px;
  }

  .media {
    .bubble {
      .message-status {
        padding: 0 10px 4px 3px;

        &:before {
          border-radius: 0 0 18px 18px !important;
        }
      }
    }
  }
}

html[bubble="4"] {
  .message-status {
    left: 6px;
    right: 6px;
    bottom: 4px;
  }
}

html[gradient="1"], html[gradient="2"], html[gradient="3"], html[gradient="4"], html[gradient="5"] {
  .me {
    .message-label {
      .circle-label {
        position: relative;
        border-color: transparent !important;
        background-attachment: fixed;

        &:after {
          position: absolute;
          border-radius: 50%;
          content: '';
          top: 0;
          left: 0;
          height: 8px;
          width: 8px;
          background-color: inherit;
        }
      }
    }
  }
}

html[gradient="1"] {
  .me {
    .message-label {
      .circle-label {
        background-image: var(--gradient-morning);
      }
    }
  }
}

html[gradient="2"] {
  .me {
    .message-label {
      .circle-label {
        background-image: var(--gradient-venice);
      }
    }
  }
}

html[gradient="3"] {
  .me {
    .message-label {
      .circle-label {
        background-image: var(--gradient-paradise);
      }
    }
  }
}

html[gradient="4"] {
  .me {
    .message-label {
      .circle-label {
        background-image: var(--gradient-ocean);
      }
    }
  }
}

html[gradient="5"] {
  .me {
    .message-label {
      .circle-label {
        background-image: var(--gradient-rainbow);
      }
    }
  }
}
