/*
    Creation Time: 2019 - Jan - 13
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/mixin';

.message-voice {
  position: relative;
  background-color: var(--glass-dark-low);
  border-radius: 5px;
  .voice-player .play-timer {
    width: 46px;
    padding-top: 2px;
    color: var(--grey-low);
  }
  .unread-bullet {
    position: absolute;
    top: 50%;
    right: 6px;
    height: 5px;
    width: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .message-voice {
    background-color: var(--glass-dark-high);
    .voice-player .play-timer {
      color: var(--light);
    }
    .unread-bullet {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

html[bubble="2"] {
  .message-voice {
    border-radius: 16px;
    .voice-player .play-timer {
      padding-right: 6px;
      width: 46px;
    }
    .unread-bullet {
      right: 8px;
    }
  }
}
