/*
    Creation Time: 2018 - Oct - 14
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --grey-low: #555;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --light-alt: #f1f2f2;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --light-mention: #2678b6;
  --glass-dark-low: rgba(0, 0, 0, 0.05);
  --glass-dark-high: rgba(0, 0, 0, 0.20);
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --dark-mention: #2d9fee;
  --dark-blue-low: #1A212E;
  --dark-blue-medium: #232F40;
  --dark-blue-high: #14395f;
  --dark-blue-high-alt: #2EA2FE;
  --dark-blue-hover: rgba(46, 162, 254, 0.5);
  --dark-blue-hover-light: rgba(46, 162, 254, 0.3);
  --dark-blue-accent-low: #3E6A96;
  --dark-blue-accent-medium: #344359;
  --dark-blue-mention: #2eadff;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

.setting-menu {
  height: 100%; }
  .setting-menu .page-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .setting-menu .page-container .page {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: left 0.2s ease-out; }
      .setting-menu .page-container .page.page-1 {
        left: 0; }
      .setting-menu .page-container .page.page-2 {
        left: 100%; }
    .setting-menu .page-container.page-2 .page-1 {
      left: -100%; }
    .setting-menu .page-container.page-2 .page-2 {
      left: 0; }
  .setting-menu .menu-header {
    background-color: var(--bg);
    text-align: left;
    height: 47px;
    color: var(--dark-medium); }
  .setting-menu .menu-content {
    text-align: left;
    height: calc(100% - 50px); }
    .setting-menu .menu-content.padding-side,
    .setting-menu .menu-content .padding-side {
      padding: 0 10px; }
  .setting-menu .version {
    padding: 12px 16px;
    font-size: 12px;
    color: var(--grey);
    text-align: right;
    opacity: 0.5; }
    .setting-menu .version:hover {
      opacity: 1; }
  .setting-menu .page-anchor {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    border-top: 1px solid var(--light); }
    .setting-menu .page-anchor svg, .setting-menu .page-anchor a > svg {
      margin-right: 6px; }
    .setting-menu .page-anchor a {
      display: flex;
      align-items: center;
      justify-content: left;
      text-transform: none;
      text-decoration: none;
      color: inherit; }
    .setting-menu .page-anchor .icon {
      position: relative;
      width: 24px;
      height: 24px;
      margin-right: 6px; }
      .setting-menu .page-anchor .icon .icon-primary, .setting-menu .page-anchor .icon .icon-secondary {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: opacity 0.2s; }
      .setting-menu .page-anchor .icon .icon-primary {
        opacity: 1; }
      .setting-menu .page-anchor .icon .icon-secondary {
        opacity: 0; }
        .setting-menu .page-anchor .icon .icon-secondary .avatar {
          height: 100%;
          width: 100%;
          font-size: 11px;
          font-weight: bold; }
    .setting-menu .page-anchor:hover .icon .icon-primary {
      opacity: 0; }
    .setting-menu .page-anchor:hover .icon .icon-secondary {
      opacity: 1; }
  .setting-menu .label {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
    font-weight: 400;
    line-height: 1.46429em;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px; }
    .setting-menu .label.font-size-label {
      margin-bottom: -15px; }
    .setting-menu .label.padding-top {
      margin-top: 12px; }
  .setting-menu .font-size-container {
    padding: 8px 0;
    background-color: transparent; }
    .setting-menu .font-size-container button {
      min-width: 30px; }
    .setting-menu .font-size-container div[role="progressbar"] {
      width: calc(100% - 88px);
      background-color: var(--light); }
      .setting-menu .font-size-container div[role="progressbar"] > div {
        background-color: var(--grey); }
  .setting-menu .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px; }
    .setting-menu .info .avatar {
      position: relative;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: inline-block;
      font-size: 75px; }
      .setting-menu .info .avatar .avatar-image {
        height: 200px;
        width: 200px;
        border-radius: 50%; }
      .setting-menu .info .avatar .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(140, 140, 140, 0.85);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .setting-menu .info .avatar .overlay.show {
          opacity: 1; }
        .setting-menu .info .avatar .overlay svg {
          color: var(--light-alt); }
        .setting-menu .info .avatar .overlay .text {
          font-size: 13px;
          color: var(--light-alt); }
        .setting-menu .info .avatar .overlay .progress-action {
          position: relative;
          height: 32px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center; }
          .setting-menu .info .avatar .overlay .progress-action .progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 32px;
            width: 32px;
            transform-origin: center center;
            animation-name: rotateDonut;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear; }
            .setting-menu .info .avatar .overlay .progress-action .progress svg {
              position: absolute;
              top: 0;
              left: 0;
              height: 32px;
              width: 32px; }
              .setting-menu .info .avatar .overlay .progress-action .progress svg circle {
                fill: transparent;
                stroke: var(--white);
                stroke-width: 2px;
                stroke-dasharray: 3 88;
                transition: stroke-dasharray 0.1s ease; }
          .setting-menu .info .avatar .overlay .progress-action > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 24px;
            transform: translate(-50%, -50%); }
      .setting-menu .info .avatar:hover .overlay {
        opacity: 1; }
    .setting-menu .info .line {
      padding: 16px 10px 0;
      text-align: left;
      width: 100%; }
      .setting-menu .info .line .input-edit {
        margin-bottom: 10px; }
    .setting-menu .info .created-on {
      padding: 0 10px;
      text-align: left;
      width: 100%;
      color: var(--grey); }
  .setting-menu .actions-bar {
    height: 86px;
    padding: 18px 0 22px;
    text-align: center; }
    .setting-menu .actions-bar.cancel {
      padding: 12px 0;
      color: var(--grey);
      height: auto;
      font-size: 12px;
      cursor: pointer; }
      .setting-menu .actions-bar.cancel.no-padding {
        margin-top: -12px;
        padding: 0; }
    .setting-menu .actions-bar .add-action {
      display: inline-flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s; }
      .setting-menu .actions-bar .add-action svg {
        font-size: 40px; }
      .setting-menu .actions-bar .add-action:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
  .setting-menu .form-control {
    position: relative;
    display: flex; }
    .setting-menu .form-control.pad {
      padding-top: 16px; }
    .setting-menu .form-control label {
      position: absolute;
      top: 0;
      left: 0;
      color: var(--river);
      font-size: 12px; }
    .setting-menu .form-control .inner {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .setting-menu .form-control .action {
      height: 48px;
      width: 48px; }
  .setting-menu .theme-container li {
    cursor: pointer; }
  .setting-menu .theme-container .item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    background-color: rgba(168, 144, 106, 0.3);
    background-repeat: repeat;
    background-size: 50px;
    background-position: center center; }
    .setting-menu .theme-container .item:after, .setting-menu .theme-container .item:before {
      position: absolute;
      content: '';
      top: 10%;
      left: 10%;
      height: 25%;
      width: 50%;
      border-radius: 3px;
      background: var(--white); }
    .setting-menu .theme-container .item:before {
      top: 45%;
      left: auto;
      right: 10%;
      background: var(--green); }
    .setting-menu .theme-container .item.bg-1 {
      background-image: url(../../../asset/image/bgd/4-point-stars.svg);
      background-size: 20px; }
    .setting-menu .theme-container .item.bg-2 {
      background-image: url(../../../asset/image/bgd/anchors-away.svg); }
    .setting-menu .theme-container .item.bg-3 {
      background-image: url(../../../asset/image/bgd/bank-note.svg); }
    .setting-menu .theme-container .item.bg-4 {
      background-image: url(../../../asset/image/bgd/bubbles.svg); }
    .setting-menu .theme-container .item.bg-5 {
      background-image: url(../../../asset/image/bgd/glamorous.svg); }
    .setting-menu .theme-container .item.bg-6 {
      background-image: url(../../../asset/image/bgd/hideout.svg); }
    .setting-menu .theme-container .item.bg-7 {
      background-image: url(../../../asset/image/bgd/i-like-food.svg); }
    .setting-menu .theme-container .item.bg-8 {
      background-image: url(../../../asset/image/bgd/jigsaw.svg); }
    .setting-menu .theme-container .item.bg-9 {
      background-image: url(../../../asset/image/bgd/plus.svg); }
    .setting-menu .theme-container .item.bg-10 {
      background-image: url(../../../asset/image/bgd/rounded-plus-connected.svg); }
    .setting-menu .theme-container .item.bg-11 {
      background-image: url(../../../asset/image/bgd/skulls.svg); }
    .setting-menu .theme-container .item.bg-12 {
      background-image: url(../../../asset/image/bgd/squares-in-squares.svg); }
    .setting-menu .theme-container .item.bg-13 {
      background-image: url(../../../asset/image/bgd/tic-tac-toe.svg); }
    .setting-menu .theme-container .item.bg-14 {
      background-image: url(../../../asset/image/bgd/topography.svg);
      background-size: 200px; }
    .setting-menu .theme-container .item.bubble-2:after, .setting-menu .theme-container .item.bubble-2:before {
      border-radius: 20px; }
    .setting-menu .theme-container .item.bubble-3:after, .setting-menu .theme-container .item.bubble-3:before {
      border-radius: 3px 20px 20px 20px; }
    .setting-menu .theme-container .item.bubble-3:before {
      border-radius: 20px 3px 20px 20px; }
    .setting-menu .theme-container .item.bubble-4:after, .setting-menu .theme-container .item.bubble-4:before {
      border-radius: 5px; }
    .setting-menu .theme-container .item.bubble-4:before {
      border-radius: 5px; }
    .setting-menu .theme-container .item.theme-light {
      background-color: rgba(168, 144, 106, 0.3) !important; }
      .setting-menu .theme-container .item.theme-light:after {
        background: var(--white) !important; }
      .setting-menu .theme-container .item.theme-light:before {
        background: var(--green) !important; }
    .setting-menu .theme-container .item.theme-dark {
      background-color: var(--dark) !important; }
      .setting-menu .theme-container .item.theme-dark:after {
        background: var(--dark-accent-medium) !important; }
      .setting-menu .theme-container .item.theme-dark:before {
        background: var(--dark-accent-low) !important; }
    .setting-menu .theme-container .item.theme-dark-blue {
      background-color: var(--dark-blue-low) !important; }
      .setting-menu .theme-container .item.theme-dark-blue:after {
        background: var(--dark-blue-accent-medium) !important; }
      .setting-menu .theme-container .item.theme-dark-blue:before {
        background: var(--dark-blue-accent-low) !important; }
  .setting-menu .theme-container .title-bar {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0) 100%);
    height: 38px;
    border-radius: 0 0 6px 6px; }
    .setting-menu .theme-container .title-bar.selected {
      background: linear-gradient(to top, #2E8F57AA 0%, #2E8F5777 70%, rgba(0, 0, 0, 0) 100%); }
    .setting-menu .theme-container .title-bar div {
      font-size: 13px; }
  .setting-menu .kk-card {
    margin-bottom: 10px;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); }

.picture-crop-dialog .picture-crop-header {
  background-color: var(--river);
  color: var(--white);
  padding: 12px 16px; }

.picture-crop-dialog .picture-crop-footer {
  position: relative;
  background-color: var(--header-color);
  height: 36px; }
  .picture-crop-dialog .picture-crop-footer .picture-action {
    position: absolute;
    height: 48px;
    width: 48px;
    top: -24px;
    right: 24px;
    border-radius: 50%;
    background-color: var(--river);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .picture-crop-dialog .picture-crop-footer .picture-action svg {
      color: var(--light);
      font-size: 30px; }

html[theme="dark"] .setting-menu .menu-header,
html[theme="dark-blue"] .setting-menu .menu-header {
  background-color: var(--dark-high);
  color: var(--white); }
  html[theme="dark"] .setting-menu .menu-header svg,
  html[theme="dark-blue"] .setting-menu .menu-header svg {
    color: var(--white); }

html[theme="dark"] .setting-menu .page-anchor,
html[theme="dark-blue"] .setting-menu .page-anchor {
  color: var(--white);
  border-color: var(--dark); }
  html[theme="dark"] .setting-menu .page-anchor svg,
  html[theme="dark-blue"] .setting-menu .page-anchor svg {
    color: var(--white); }

html[theme="dark"] .setting-menu .font-size-container button,
html[theme="dark-blue"] .setting-menu .font-size-container button {
  color: var(--light); }

html[theme="dark"] .setting-menu .font-size-container div[role="progressbar"],
html[theme="dark-blue"] .setting-menu .font-size-container div[role="progressbar"] {
  background-color: var(--dark-low); }
  html[theme="dark"] .setting-menu .font-size-container div[role="progressbar"] > div,
  html[theme="dark-blue"] .setting-menu .font-size-container div[role="progressbar"] > div {
    background-color: var(--river); }

html[theme="dark"] .setting-menu .setting-switch span,
html[theme="dark-blue"] .setting-menu .setting-switch span {
  color: var(--river) !important; }

html[theme="dark"] .setting-menu .setting-switch-label > span,
html[theme="dark-blue"] .setting-menu .setting-switch-label > span {
  color: var(--light); }

html[theme="dark"] .setting-menu .setting-switch.blue span,
html[theme="dark-blue"] .setting-menu .setting-switch.blue span {
  color: var(--dark-accent-medium) !important; }

html[theme="dark"] .setting-menu .label,
html[theme="dark-blue"] .setting-menu .label {
  color: var(--light); }

html[theme="dark"] .setting-menu .info .line, html[theme="dark"] .setting-menu .info .input-edit input, html[theme="dark"] .setting-menu .info .input-edit textarea, html[theme="dark"] .setting-menu .info .input-edit label, html[theme="dark"] .setting-menu .info .input-edit svg,
html[theme="dark-blue"] .setting-menu .info .line,
html[theme="dark-blue"] .setting-menu .info .input-edit input,
html[theme="dark-blue"] .setting-menu .info .input-edit textarea,
html[theme="dark-blue"] .setting-menu .info .input-edit label,
html[theme="dark-blue"] .setting-menu .info .input-edit svg {
  color: var(--white); }

html[theme="dark"] .setting-menu .form-control .action svg,
html[theme="dark-blue"] .setting-menu .form-control .action svg {
  color: var(--white); }

html[theme="dark"] .setting-menu .theme-container .item,
html[theme="dark-blue"] .setting-menu .theme-container .item {
  background-color: var(--dark); }
  html[theme="dark"] .setting-menu .theme-container .item:after,
  html[theme="dark-blue"] .setting-menu .theme-container .item:after {
    background: var(--dark-accent-medium); }
  html[theme="dark"] .setting-menu .theme-container .item:before,
  html[theme="dark-blue"] .setting-menu .theme-container .item:before {
    background: var(--dark-accent-low); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-1,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-1 {
    background-image: url(../../../asset/image/bgl/4-point-stars.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-2,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-2 {
    background-image: url(../../../asset/image/bgl/anchors-away.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-3,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-3 {
    background-image: url(../../../asset/image/bgl/bank-note.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-4,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-4 {
    background-image: url(../../../asset/image/bgl/bubbles.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-5,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-5 {
    background-image: url(../../../asset/image/bgl/glamorous.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-6,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-6 {
    background-image: url(../../../asset/image/bgl/hideout.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-7,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-7 {
    background-image: url(../../../asset/image/bgl/i-like-food.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-8,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-8 {
    background-image: url(../../../asset/image/bgl/jigsaw.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-9,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-9 {
    background-image: url(../../../asset/image/bgl/plus.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-10,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-10 {
    background-image: url(../../../asset/image/bgl/rounded-plus-connected.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-11,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-11 {
    background-image: url(../../../asset/image/bgl/skulls.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-12,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-12 {
    background-image: url(../../../asset/image/bgl/squares-in-squares.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-13,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-13 {
    background-image: url(../../../asset/image/bgl/tic-tac-toe.svg); }
  html[theme="dark"] .setting-menu .theme-container .item.bg-14,
  html[theme="dark-blue"] .setting-menu .theme-container .item.bg-14 {
    background-image: url(../../../asset/image/bgl/topography.svg); }

html[theme="dark"] .setting-menu .theme-container .title-bar.selected,
html[theme="dark-blue"] .setting-menu .theme-container .title-bar.selected {
  background: linear-gradient(to top, #00478399 0%, #00478344 70%, rgba(0, 0, 0, 0) 100%); }

html[theme="dark"] .setting-menu .kk-card,
html[theme="dark-blue"] .setting-menu .kk-card {
  background-color: var(--dark-medium); }

html[theme="dark"] .picture-crop-dialog .picture-crop-footer,
html[theme="dark-blue"] .picture-crop-dialog .picture-crop-footer {
  background-color: var(--dark-medium); }

html[theme="dark-blue"] .setting-menu .menu-header {
  background-color: var(--dark-blue-high); }

html[theme="dark-blue"] .setting-menu .font-size-container div[role="progressbar"] {
  background-color: var(--dark-blue-low); }

html[theme="dark-blue"] .setting-menu .theme-container .item {
  background-color: var(--dark-blue-low); }
  html[theme="dark-blue"] .setting-menu .theme-container .item:after {
    background: var(--dark-blue-accent-medium); }
  html[theme="dark-blue"] .setting-menu .theme-container .item:before {
    background: var(--dark-blue-accent-low); }

html[theme="dark-blue"] .setting-menu .kk-card {
  background-color: var(--dark-blue-medium); }

html[theme="dark-blue"] .picture-crop-dialog .picture-crop-footer {
  background-color: var(--dark-blue-medium); }
