.reaction-picker-popover {
  background-color: transparent !important;
  transform: translate(-50%, -100%) !important;
  transform-origin: center bottom !important;
  border-radius: 12px !important;

  .reaction-picker {
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    min-height: 36px;
    width: 176px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    flex-wrap: wrap;
    padding: 4px;
    overflow: hidden;
    transition: all 0.2s;

    &:not(.full) {
      height: 36px !important;
    }

    .reaction-item {
      position: relative;
      height: 28px;
      width: 28px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .reaction-emoji {
        transform: translateY(2px);
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.selected, &:hover {
        background-color: var(--color-hover-dark);
      }

      &.selected {
        &:after {
          position: absolute;
          content: '';
          top: 2px;
          left: 50%;
          height: 2px;
          width: 2px;
          border-radius: 2px;
          background-color: var(--grey-low);
          transform: translateX(-50%);
        }
      }
    }

    &.full {
      .reaction-item {
        margin: 0 2px 2px 0;
      }
    }

    .reaction-more {
      height: 28px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        color: var(--dark-color-hover);
        font-size: 18px;
      }

      &:hover {
        svg {
          color: var(--dark-color-hover-alt);
        }
      }

      &.full {
        position: relative;
        width: auto;
        height: 16px;
        flex-basis: 100%;

        svg {
          display: none;
        }

        &:after, &:before {
          content: '';
          position: absolute;
          bottom: 20%;
          left: 37%;
          width: 20px;
          height: 4px;
          border-radius: 4px;
          background-color: var(--grey);
          transform-origin: 50% 100%;
          transition: transform 0.2s, background-color 0.2s;
        }

        &:before {
          left: 47%;
          transform-origin: 50% 0;
        }

        &:hover {
          &:after, &:before {
            background-color: var(--grey-low);
          }

          &:after {
            transform: rotate(7deg);
          }

          &:before {
            transform: rotate(-7deg);
          }
        }
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"] {
  .reaction-picker-popover {

    .reaction-picker {
      background-color: var(--dark-medium);

      .reaction-item {
        &.selected, &:hover {
          background-color: var(--dark-hover-light);
        }

        &.selected {
          &:after {
            background-color: var(--light);
          }
        }
      }

      .reaction-more {
        svg {
          color: var(--light);
        }

        &:hover {
          svg {
            color: var(--light-alt);
          }
        }

        &.full {
          &:after, &:before {
            background-color: var(--light);
          }
        }

        &:hover {
          &:after, &:before {
            background-color: var(--light-alt);
          }
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .reaction-picker-popover {

    .reaction-picker {
      background-color: var(--dark-blue-medium);

      .reaction-item {
        &.selected, &:hover {
          background-color: var(--dark-blue-hover-light);
        }

        &.selected {
          &:after {
            background-color: var(--light);
          }
        }
      }

      .reaction-more {
        svg {
          color: var(--light);
        }

        &:hover {
          svg {
            color: var(--light-alt);
          }
        }

        &.full {
          &:after, &:before {
            background-color: var(--light);
          }
        }

        &:hover {
          &:after, &:before {
            background-color: var(--light-alt);
          }
        }
      }
    }
  }
}