@import '../../../style/common';

.wrapper {
    position: relative;
    left: 50%;
    width: var(--wrapper);
    height: 800px;
    transform: translate(-50%, 0);
}
.container {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 75%;
    background-color: var(--white);
    transform: translate(-50%, -50%);
    .column-left {
        width: 318px;
        height: 100%;
        flex: none;
        border: 1px solid var(--light);
        background-color: var(--white);
        .top {
            position: relative;
            width: 100%;
            height: 48px;
            display: flex;
            align-items: center;
            padding: 0 17px;
            &:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                display: block;
                width: 80%;
                height: 1px;
                content: '';
                background-color: var(--light);
                transform: translate(-50%, 0);
            }
            .new-message {
                color: var(--green);
            }
        }
        input {
            float: left;
            width: 188px;
            height: 42px;
            padding: 0 15px;
            border: 1px solid var(--light);
            background-color: #eceff1;
            border-radius: 21px;
            @include font();
            &:focus {
                outline: none;
            }
        }
        a.search {
            display: block;
            float: left;
            width: 42px;
            height: 42px;
            margin-left: 10px;
            border: 1px solid var(--light);
            background-color: var(--blue);
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png');
            background-repeat: no-repeat;
            background-position: top 12px left 14px;
            border-radius: 50%;
        }
    }
    .column-center {
        position: relative;
        flex: 1;
        height: 100%;
        .top {
            width: 100%;
            height: 47px;
            padding: 15px 29px;
            background-color: #eceff1;
            text-align: left;
            span {
                font-size: 15px;
                color: var(--grey);
                .name {
                    color: var(--dark);
                    @include font-bold;
                }
            }
        }
        .conversation {
            width: 100%;
            height: calc(100% - 97px);
        }
        .write {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border: 1px solid var(--light);
            border-width: 1px 1px 1px 0;
            background-color: #F4F4F5;
            .user {
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                .user-avatar {
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    background-color: #00b0ff;
                }
            }
            .input {
                flex: 1;
                margin: 8px 0;
                position: relative;
                textarea {
                    font-size: 12px;
                    line-height: 15px;
                    float: left;
                    width: calc(100% - 8px);
                    height: 30px;
                    padding: 7px 10px 8px;
                    color: var(--dark);
                    border: 1px solid rgba(50, 61, 71, 0.16);
                    border-radius: 3px;
                    outline: none;
                    background-color: #fff;
                    resize: none;
                    @include font;
                }
                .write-link {
                    position: absolute;
                    right: 16px;
                    bottom: 0;
                    a {
                        height: 32px;
                        &:before {
                            display: inline-block;
                            float: left;
                            width: 20px;
                            height: 32px;
                            padding: 0 0 0 4px;
                            content: '';
                            background-repeat: no-repeat;
                            background-position: center;
                            opacity: 0.5;
                            transition: opacity 0.2s;
                        }
                        &:hover:before {
                            opacity: 1;
                        }
                    }
                    .attach {
                        &:before {
                            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png');
                        }
                    }
                    .smiley {
                        &:before {
                            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png');
                        }
                    }
                    .send {
                        &:before {
                            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png');
                        }
                    }
                }
            }
        }
    }
    .column-right {
        width: 318px;
        height: 100%;
        flex: none;
    }
}