@mixin font-bold {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
@mixin font {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #000;
    --black-text: #323D47;
    --bg: #f8f8f8;
    --grey: #999;
    --dark: #1a1a1a;
    --light: #e6e6e6;
    --wrapper: 1360px;
    --blue: #00b0ff;
    --green: #60BF70;
    --message-chat: #EFEFF0;
    --color-hover: rgba(50, 61, 71, 0.08);
    --color-text-hover: rgba(50, 61, 71, 0.64);
}

body {
    background-color: var(--bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @include font;
    background-size: cover;
    background-repeat: none;
}
.wrapper {
    position: relative;
    left: 50%;
    width: var(--wrapper);
    height: 800px;
    transform: translate(-50%, 0);
}
.container {
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 75%;
    background-color: var(--white);
    transform: translate(-50%, -50%);
    .column-left {
        width: 318px;
        height: 100%;
        flex: none;
        border: 1px solid var(--light);
        background-color: var(--white);
        .top {
            position: relative;
            width: 100%;
            height: 48px;
            display: flex;
            align-items: center;
            padding: 0 17px;
            &:after {
                position: absolute;
                bottom: 0;
                left: 50%;
                display: block;
                width: 80%;
                height: 1px;
                content: '';
                background-color: var(--light);
                transform: translate(-50%, 0);
            }
            .new-message {
                color: var(--green);
            }
        }
        input {
            float: left;
            width: 188px;
            height: 42px;
            padding: 0 15px;
            border: 1px solid var(--light);
            background-color: #eceff1;
            border-radius: 21px;
            @include font();
            &:focus {
                outline: none;
            }
        }
        a.search {
            display: block;
            float: left;
            width: 42px;
            height: 42px;
            margin-left: 10px;
            border: 1px solid var(--light);
            background-color: var(--blue);
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png');
            background-repeat: no-repeat;
            background-position: top 12px left 14px;
            border-radius: 50%;
        }
        .people {
            margin-left: -1px;
            border-right: 1px solid var(--light);
            border-left: 1px solid var(--light);
            width: calc(100% + 2px);
            .person {
                position: relative;
                width: 100%;
                height: 64px;
                padding: 8px;
                cursor: pointer;
                background-color: var(--white);
                text-align: left;
                &:after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    display: block;
                    width: 100%;
                    height: 1px;
                    content: '';
                    background-color: var(--light);
                    transform: translate(-50%, 0);
                }
                img {
                    float: left;
                    width: 48px;
                    height: 48px;
                    margin-right: 12px;
                    border-radius: 50%;
                }
                .name {
                    font-size: 12px;
                    line-height: 23px;
                    margin: 0 0 4px;
                    color: var(--dark);
                    @include font-bold;
                }
                .time {
                    font-size: 11px;
                    position: absolute;
                    top: 14px;
                    right: 8px;
                    padding: 0 0 5px 5px;
                    color: var(--grey);
                    background-color: var(--white);
                }
                .preview {
                    font-size: 14px;
                    line-height: 17px;
                    display: inline-block;
                    overflow: hidden !important;
                    width: 70%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: var(--grey);
                }
                &.active,&:hover {
                    border: 0;
                    background-color: var(--color-hover);
                    span {
                        color: var(--color-text-hover);
                        background: transparent;
                    }
                }
            }
        }
    }
    .column-center {
        position: relative;
        flex: 1;
        height: 100%;
        .top {
            width: 100%;
            height: 47px;
            padding: 15px 29px;
            background-color: #eceff1;
            text-align: left;
            span {
                font-size: 15px;
                color: var(--grey);
                .name {
                    color: var(--dark);
                    @include font-bold;
                }
            }
        }
        .chat {
            position: relative;
            display: none;
            overflow: hidden;
            padding: 0 35px 92px;
            border-width: 1px 1px 1px 0;
            border-style: solid;
            border-color: var(--light);
            height: calc(100% - 48px);
            justify-content: flex-end;
            flex-direction: column;
            &.active-chat {
                display: flex;
                .bubble {
                    transition-timing-function: cubic-bezier(.4,-.04, 1, 1);
                    @for $i from 1 through 10 {
                        &:nth-of-type(#{$i}) {
                            animation-duration: .15s * $i;
                        }
                    }
                }
            }
        }
        .write {
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border: 1px solid var(--light);
            background-color: #F4F4F5;
            .user {
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                .user-avatar {
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    background-color: #00b0ff;
                }
            }
            .input {
                flex: 1;
                margin: 8px 0;
                position: relative;
                textarea {
                    font-size: 12px;
                    line-height: 15px;
                    float: left;
                    width: calc(100% - 8px);
                    height: 30px;
                    padding: 7px 10px 8px;
                    color: var(--dark);
                    border: 1px solid rgba(50, 61, 71, 0.16);
                    border-radius: 3px;
                    outline: none;
                    background-color: #fff;
                    resize: none;
                    @include font;
                }
                .write-link {
                    position: absolute;
                    right: 16px;
                    bottom: 0;
                    a {
                        height: 32px;
                        &:before {
                            display: inline-block;
                            float: left;
                            width: 20px;
                            height: 32px;
                            padding: 0 0 0 4px;
                            content: '';
                            background-repeat: no-repeat;
                            background-position: center;
                            opacity: 0.5;
                            transition: opacity 0.2s;
                        }
                        &:hover:before {
                            opacity: 1;
                        }
                    }
                    .attach {
                        &:before {
                            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png');
                        }
                    }
                    .smiley {
                        &:before {
                            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png');
                        }
                    }
                    .send {
                        &:before {
                            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png');
                        }
                    }
                }
            }
        }
        .bubble {
            font-size: 12px;
            line-height: 17px;
            position: relative;
            display: inline-block;
            clear: both;
            margin-bottom: 8px;
            padding: 6px;
            vertical-align: top;
            border-radius: 5px;
            //&:before {
            //    position: absolute;
            //    top: 19px;
            //    display: block;
            //    width: 8px;
            //    height: 6px;
            //    content: '\00a0';
            //    transform: rotate(29deg) skew(-35deg);
            //}
            &.you {
                float: left;
                color: var(--black-text);
                background-color: var(--message-chat);
                align-self: flex-start;
                animation-name: slideFromLeft;
                //&:before {
                //    left: -3px;
                //    background-color: var(--blue);
                //}
            }
            &.me {
                float: right;
                color: var(--white);
                background-color: var(--green);
                align-self: flex-end;
                animation-name: slideFromRight;
                //&:before {
                //    right: -3px;
                //    background-color: #eceff1;
                //}
            }
        }
        .conversation-start {
            position: relative;
            width: 100%;
            margin-bottom: 27px;
            text-align: center;
            span {
                font-size: 14px;
                display: inline-block;
                color: var(--grey);
                &:before,&:after {
                    position: absolute;
                    top: 10px;
                    display: inline-block;
                    width: 30%;
                    height: 1px;
                    content: '';
                    background-color: var(--light);
                }
                &:before {
                    left: 0;
                }
                &:after {
                    right: 0;
                }
            }
        }
    }
    .column-right {
        width: 318px;
        height: 100%;
        flex: none;
    }
}
@keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}