*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --white: #fff;
  --black: #000;
  --black-text: #323D47;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1360px;
  --blue: #00b0ff;
  --green: #60BF70;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.08);
  --color-text-hover: rgba(50, 61, 71, 0.64); }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

.wrapper {
  position: relative;
  left: 50%;
  width: var(--wrapper);
  height: 800px;
  transform: translate(-50%, 0); }

.container {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 75%;
  background-color: var(--white);
  transform: translate(-50%, -50%); }
  .container .column-left {
    width: 318px;
    height: 100%;
    flex: none;
    border: 1px solid var(--light);
    background-color: var(--white); }
    .container .column-left .top {
      position: relative;
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      padding: 0 17px; }
      .container .column-left .top:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 80%;
        height: 1px;
        content: '';
        background-color: var(--light);
        transform: translate(-50%, 0); }
      .container .column-left .top .new-message {
        color: var(--green); }
    .container .column-left input {
      float: left;
      width: 188px;
      height: 42px;
      padding: 0 15px;
      border: 1px solid var(--light);
      background-color: #eceff1;
      border-radius: 21px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400; }
      .container .column-left input:focus {
        outline: none; }
    .container .column-left a.search {
      display: block;
      float: left;
      width: 42px;
      height: 42px;
      margin-left: 10px;
      border: 1px solid var(--light);
      background-color: var(--blue);
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png");
      background-repeat: no-repeat;
      background-position: top 12px left 14px;
      border-radius: 50%; }
  .container .column-center {
    position: relative;
    flex: 1;
    height: 100%; }
    .container .column-center .top {
      width: 100%;
      height: 47px;
      padding: 15px 29px;
      background-color: #eceff1;
      text-align: left; }
      .container .column-center .top span {
        font-size: 15px;
        color: var(--grey); }
        .container .column-center .top span .name {
          color: var(--dark);
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 600; }
    .container .column-center .chat {
      position: relative;
      display: none;
      overflow: hidden;
      padding: 0 35px 92px;
      border-width: 1px 1px 1px 0;
      border-style: solid;
      border-color: var(--light);
      height: calc(100% - 48px);
      justify-content: flex-end;
      flex-direction: column; }
      .container .column-center .chat.active-chat {
        display: flex; }
        .container .column-center .chat.active-chat .bubble {
          transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1); }
          .container .column-center .chat.active-chat .bubble:nth-of-type(1) {
            animation-duration: 0.15s; }
          .container .column-center .chat.active-chat .bubble:nth-of-type(2) {
            animation-duration: 0.3s; }
          .container .column-center .chat.active-chat .bubble:nth-of-type(3) {
            animation-duration: 0.45s; }
          .container .column-center .chat.active-chat .bubble:nth-of-type(4) {
            animation-duration: 0.6s; }
          .container .column-center .chat.active-chat .bubble:nth-of-type(5) {
            animation-duration: 0.75s; }
          .container .column-center .chat.active-chat .bubble:nth-of-type(6) {
            animation-duration: 0.9s; }
          .container .column-center .chat.active-chat .bubble:nth-of-type(7) {
            animation-duration: 1.05s; }
          .container .column-center .chat.active-chat .bubble:nth-of-type(8) {
            animation-duration: 1.2s; }
          .container .column-center .chat.active-chat .bubble:nth-of-type(9) {
            animation-duration: 1.35s; }
          .container .column-center .chat.active-chat .bubble:nth-of-type(10) {
            animation-duration: 1.5s; }
    .container .column-center .write {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px solid var(--light);
      background-color: #F4F4F5; }
      .container .column-center .write .user {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .container .column-center .write .user .user-avatar {
          height: 24px;
          width: 24px;
          border-radius: 50%;
          background-color: #00b0ff; }
      .container .column-center .write .input {
        flex: 1;
        margin: 8px 0;
        position: relative; }
        .container .column-center .write .input textarea {
          font-size: 12px;
          line-height: 15px;
          float: left;
          width: calc(100% - 8px);
          height: 30px;
          padding: 7px 10px 8px;
          color: var(--dark);
          border: 1px solid rgba(50, 61, 71, 0.16);
          border-radius: 3px;
          outline: none;
          background-color: #fff;
          resize: none;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 400; }
        .container .column-center .write .input .write-link {
          position: absolute;
          right: 16px;
          bottom: 0; }
          .container .column-center .write .input .write-link a {
            height: 32px; }
            .container .column-center .write .input .write-link a:before {
              display: inline-block;
              float: left;
              width: 20px;
              height: 32px;
              padding: 0 0 0 4px;
              content: '';
              background-repeat: no-repeat;
              background-position: center;
              opacity: 0.5;
              transition: opacity 0.2s; }
            .container .column-center .write .input .write-link a:hover:before {
              opacity: 1; }
          .container .column-center .write .input .write-link .attach:before {
            background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png"); }
          .container .column-center .write .input .write-link .smiley:before {
            background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png"); }
          .container .column-center .write .input .write-link .send:before {
            background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png"); }
    .container .column-center .bubble {
      font-size: 12px;
      line-height: 17px;
      position: relative;
      display: inline-block;
      clear: both;
      margin-bottom: 8px;
      padding: 6px;
      vertical-align: top;
      border-radius: 5px; }
      .container .column-center .bubble.you {
        float: left;
        color: var(--black-text);
        background-color: var(--message-chat);
        align-self: flex-start;
        animation-name: slideFromLeft; }
      .container .column-center .bubble.me {
        float: right;
        color: var(--white);
        background-color: var(--green);
        align-self: flex-end;
        animation-name: slideFromRight; }
    .container .column-center .conversation-start {
      position: relative;
      width: 100%;
      margin-bottom: 27px;
      text-align: center; }
      .container .column-center .conversation-start span {
        font-size: 14px;
        display: inline-block;
        color: var(--grey); }
        .container .column-center .conversation-start span:before, .container .column-center .conversation-start span:after {
          position: absolute;
          top: 10px;
          display: inline-block;
          width: 30%;
          height: 1px;
          content: '';
          background-color: var(--light); }
        .container .column-center .conversation-start span:before {
          left: 0; }
        .container .column-center .conversation-start span:after {
          right: 0; }
  .container .column-right {
    width: 318px;
    height: 100%;
    flex: none; }

@keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0; }
  100% {
    margin-left: 0;
    opacity: 1; } }

@-webkit-keyframes slideFromLeft {
  0% {
    margin-left: -200px;
    opacity: 0; }
  100% {
    margin-left: 0;
    opacity: 1; } }

@keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0; }
  100% {
    margin-right: 0;
    opacity: 1; } }

@-webkit-keyframes slideFromRight {
  0% {
    margin-right: -200px;
    opacity: 0; }
  100% {
    margin-right: 0;
    opacity: 1; } }
