/*
    Creation Time: 2019 - Jan - 13
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@keyframes mediaTransition {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.message-media {
  padding: 0; }
  .message-media .media-content {
    position: relative;
    min-height: 64px;
    min-width: 64px;
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto; }
    .message-media .media-content .media-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 11; }
      .message-media .media-content .media-container.downloaded-media {
        z-index: 15; }
      .message-media .media-content .media-container.media-transition {
        opacity: 1;
        animation-name: mediaTransition;
        animation-duration: 0.75s;
        animation-iteration-count: 1; }
    .message-media .media-content .media-thumb,
    .message-media .media-content .media-big {
      position: relative;
      height: 100%;
      width: 100%; }
      .message-media .media-content .media-thumb .picture,
      .message-media .media-content .media-big .picture {
        position: relative;
        height: 100%;
        width: 100%;
        line-height: 0; }
        .message-media .media-content .media-thumb .picture img,
        .message-media .media-content .media-big .picture img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center center; }
      .message-media .media-content .media-thumb .media-action,
      .message-media .media-content .media-big .media-action {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 36px;
        width: 36px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.32);
        cursor: pointer; }
        .message-media .media-content .media-thumb .media-action .progress,
        .message-media .media-content .media-big .media-action .progress {
          position: absolute;
          top: 2px;
          left: 2px;
          height: 32px;
          width: 32px;
          transform-origin: center center;
          animation-name: rotateDonut;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: linear; }
          .message-media .media-content .media-thumb .media-action .progress svg,
          .message-media .media-content .media-big .media-action .progress svg {
            position: absolute;
            top: 0;
            left: 0;
            height: 32px;
            width: 32px; }
            .message-media .media-content .media-thumb .media-action .progress svg circle,
            .message-media .media-content .media-big .media-action .progress svg circle {
              fill: transparent;
              stroke: var(--white);
              stroke-width: 2px;
              stroke-dasharray: 3 88;
              transition: stroke-dasharray 0.1s ease; }
        .message-media .media-content .media-thumb .media-action > svg,
        .message-media .media-content .media-big .media-action > svg {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 24px;
          height: 24px;
          color: var(--white);
          transform: translate(-50%, -50%); }
    .message-media .media-content .media-thumb {
      width: 100% !important; }
    .message-media .media-content .media-big {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
      .message-media .media-content .media-big .blurred-picture {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
        .message-media .media-content .media-big .blurred-picture img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center center; }
    .message-media .media-content .media-duration {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 4px;
      left: 4px;
      height: 16px;
      font-size: 12px;
      line-height: 12px;
      background-color: rgba(0, 0, 0, 0.32);
      padding: 0 4px 0 2px;
      border-radius: 4px;
      color: var(--white);
      white-space: nowrap;
      z-index: 110;
      user-select: none; }
      .message-media .media-content .media-duration svg {
        font-size: 14px;
        color: inherit;
        display: inline-block;
        margin: 0 2px 0 0; }
      .message-media .media-content .media-duration span {
        padding-top: 2px;
        line-height: 12px; }
      .message-media .media-content .media-duration .unread-bullet {
        position: absolute;
        top: 50%;
        left: 2px;
        height: 3px;
        width: 3px;
        background-color: var(--white);
        border-radius: 50%;
        transform: translateY(-50%); }
    .message-media .media-content .media-size {
      position: absolute;
      top: calc(50% + 30px);
      left: 50%;
      height: 16px;
      line-height: 16px;
      font-size: 12px;
      background-color: rgba(0, 0, 0, 0.32);
      padding: 1px 4px 0;
      border-radius: 4px;
      white-space: nowrap;
      color: var(--white);
      transform: translate(-50%, -50%);
      z-index: 20;
      user-select: none; }
    .message-media .media-content.video .media-big {
      cursor: default; }
  .message-media.tiny-message .media-content .media-thumb .media-action {
    top: 30px;
    transform: translate(-50%, 0); }
  .message-media.tiny-message .media-content .media-size {
    top: 10px;
    transform: translate(-50%, 0); }
  .message-media .media-caption {
    padding: 4px 6px 0;
    white-space: pre-wrap;
    word-break: break-word; }
    .message-media .media-caption.rtl {
      direction: rtl;
      text-align: right; }
    .message-media .media-caption.ltr {
      direction: ltr;
      text-align: left; }

html[bubble="2"] .message-media .media-duration {
  top: 8px;
  left: 8px;
  height: 18px;
  border-radius: 8px;
  line-height: 18px; }
  html[bubble="2"] .message-media .media-duration span {
    padding-top: 2px; }

html[bubble="2"] .message-media .media-size {
  height: 18px;
  padding: 1px 6px 0;
  border-radius: 8px;
  line-height: 18px; }
