/*
    Creation Time: 2019 - Jan - 13
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/common';

.message-media {
  padding: 0;
  .media-content {
    position: relative;
    min-height: 64px;
    min-width: 64px;
    border-radius: 6px;
    overflow: hidden;
    .media-thumb,
    .media-big {
      position: relative;
      height: 100%;
      width: 100%;
      .picture {
        position: relative;
        height: 100%;
        width: 100%;
        line-height: 0;
        z-index: 9;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
      .media-action {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 36px;
        width: 36px;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.32);
        cursor: pointer;
        .progress {
          position: absolute;
          top: 2px;
          left: 2px;
          height: 32px;
          width: 32px;
          transform-origin: center center;
          animation-name: rotateDonut;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          svg {
            position: absolute;
            top: 0;
            left: 0;
            height: 32px;
            width: 32px;
            circle {
              fill: transparent;
              stroke: var(--white);
              stroke-width: 2px;
              stroke-dasharray: 3 88;
              transition: stroke-dasharray 0.1s ease;
            }
          }
        }
        > svg {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 24px;
          height: 24px;
          color: var(--white);
          transform: translate(-50%, -50%);
        }
      }
    }
    .media-thumb {
      width: 100% !important;
    }
    .media-big {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      .blurred-picture {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 8;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }

    }
    .media-duration {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 4px;
      left: 4px;
      height: 16px;
      font-size: 12px;
      line-height: 12px;
      background-color: rgba(0, 0, 0, 0.32);
      padding: 0 4px 0 2px;
      border-radius: 4px;
      color: var(--white);
      white-space: nowrap;
      z-index: 20;
      svg {
        font-size: 14px;
        color: inherit;
        display: inline-block;
        margin: 0 2px 0 0;
      }
      span {
        padding-top: 2px;
        line-height: 12px;
      }
    }
    .media-size {
      position: absolute;
      top: calc(50% + 30px);
      left: 50%;
      height: 16px;
      line-height: 16px;
      font-size: 12px;
      background-color: rgba(0, 0, 0, 0.32);
      padding: 1px 4px 0;
      border-radius: 4px;
      white-space: nowrap;
      color: var(--white);
      transform: translate(-50%, -50%);
      z-index: 20;
    }
    &.video {
      .media-big {
        cursor: default;
      }
    }
  }
  &.tiny-message {
    .media-content {
      .media-thumb {
        .media-action {
          top: 10px;
          transform: translate(-50%, 0);
        }
      }
      .media-size {
        top: 50px;
        transform: translate(-50%, 0);
      }
    }
  }
  .media-caption {
    padding: 4px 6px 0;
    white-space: pre-wrap;
    word-break: break-word;
  }
}

html[theme="dark"],
html[theme="dark-blue"] {
  .message-media {
  }
}

html[theme="dark-blue"] {
  .message-media {
  }
}

html[bubble="2"] {
  .message-media {
    .media-duration {
      top: 8px;
      left: 8px;
      height: 18px;
      border-radius: 8px;
      line-height: 18px;
      span {
        padding-top: 2px;
      }
    }
    .media-size {
      height: 18px;
      padding: 1px 6px 0;
      border-radius: 8px;
      line-height: 18px;
    }
  }
}
