/*
    Creation Time: 2019 - Jan - 22
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

.select-media {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  transition: bottom 0.3s;

  .media-input-frame {
    height: 0;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(.57, -0.13, .53, 1.27);
    padding: 0;
  }

  .media-input-container {
    height: 250px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .media-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 42px;
      width: 42px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 1.0);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      opacity: 0;
      border: 1px solid transparent;
      transform: scale(0.1);
      cursor: pointer;
      @for $i from 1 through 5 {
        &:nth-of-type(#{6-$i}) {
          transition: opacity 0.3s, background-color 0.3s, transform #{0.05 * $i + 0.15}s cubic-bezier(.57, -0.13, .53, 1.27);
        }
      }

      svg {
        font-size: 24px;
        color: var(--grey);
      }

      &.media {
        //border-color: #4CAF50;
        svg {
          color: #4CAF50;
        }
      }

      &.video {
        //border-color: #F2C94C;
        svg {
          color: #F2C94C;
        }
      }

      &.audio {
        //border-color: #9B51E0;
        svg {
          color: #9B51E0;
        }
      }

      &.file {
        //border-color: #2D9CDB;
        svg {
          color: #2D9CDB;
        }
      }

      &.contact {
        //border-color: #2D9CDB;
        svg {
          color: #009688;
        }
      }

      &.location {
        //border-color: #2D9CDB;
        svg {
          color: #EB5757;
        }
      }

      &.selected {
        opacity: 1 !important;
      }
    }

    &.none {
      .media-item {
        opacity: 1 !important;
      }
    }
  }

  &.open {
    bottom: 50px;

    .media-input-frame {
      padding: 12px;
      height: 274px;
    }

    .media-input-container {
      .media-item {
        opacity: 0.48;
        transform: scale(1.0);
      }
    }
  }
}

.select-media-tooltip-popper {
  border-radius: 50%;
  font-size: 14px;
}

.select-media-tooltip {
  border-radius: 50%;
  font-size: 14px;
}

html[theme="dark"],
html[theme="dark-night"] {
  .select-media .media-input-frame .media-input-container .media-item {
    background-color: var(--dark-high);
  }
}

html[theme="dark-blue"] {
  .select-media .media-input-frame .media-input-container .media-item {
    background-color: var(--dark-blue-high);
  }
}

