/*
    Creation Time: 2018 - Oct - 21
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
.chat-bottom-bar {
  position: relative;
  width: calc(100% - 12px);
  height: 50px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .chat-bottom-bar:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% + 12px);
    height: 1px;
    content: '';
    background-color: var(--light); }
  .chat-bottom-bar a {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(2px); }
    .chat-bottom-bar a .title {
      font-size: 12px;
      color: var(--grey); }
    .chat-bottom-bar a svg {
      cursor: pointer;
      fill: var(--grey);
      font-size: 24px; }
    .chat-bottom-bar a.active .title, .chat-bottom-bar a:hover .title {
      color: var(--dark); }
    .chat-bottom-bar a.active svg, .chat-bottom-bar a:hover svg {
      fill: var(--dark); }

html[theme="dark"] .chat-bottom-bar:before {
  background-color: var(--dark-low-op50); }

html[theme="dark"] .chat-bottom-bar a.active .title, html[theme="dark"] .chat-bottom-bar a:hover .title {
  color: var(--light); }

html[theme="dark"] .chat-bottom-bar a.active svg, html[theme="dark"] .chat-bottom-bar a:hover svg {
  fill: var(--light); }

html[theme="dark-blue"] .chat-bottom-bar:before {
  background-color: var(--dark-blue-low-op50); }

html[theme="dark-blue"] .chat-bottom-bar a:hover .title {
  color: var(--dark-blue-hover); }

html[theme="dark-blue"] .chat-bottom-bar a:hover svg {
  fill: var(--dark-blue-hover); }

html[theme="dark-blue"] .chat-bottom-bar a.active .title {
  color: var(--dark-blue-high-alt); }

html[theme="dark-blue"] .chat-bottom-bar a.active svg {
  fill: var(--dark-blue-high-alt); }
