/*
    Creation Time: 2018 - Oct - 21
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
@import '../../../style/common';

.bottom-bar {
  position: relative;
  width: calc(100% - 12px);
  height: 50px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% + 12px);
    height: 1px;
    content: '';
    background-color: var(--light);
  }
  a {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(3px);
    .title {
      font-size: 12px;
      color: var(--grey);
    }
    svg {
      cursor: pointer;
      fill: var(--grey);
      font-size: 24px;
    }
    &.active, &:hover {
      .title {
        color: var(--dark);
      }
      svg {
        fill: var(--dark);
      }
    }
  }
}

html[theme="dark"] {
  .bottom-bar {
    &:after {
      background-color: var(--dark-low);
    }
    a {
      &.active, &:hover {
        .title {
          color: var(--light);
        }
        svg {
          fill: var(--light);
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .bottom-bar {
    &:after {
      background-color: var(--dark-blue-low);
    }
    a {
      &:hover {
        .title {
          color: var(--dark-blue-hover);
        }
        svg {
          fill: var(--dark-blue-hover);
        }
      }
      &.active {
        .title {
          color: var(--dark-blue-high-alt);
        }
        svg {
          fill: var(--dark-blue-high-alt);
        }
      }
    }
  }
}
