/*
    Creation Time: 2020 - Nov - 17
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2020
*/

.video-placeholder {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .audio-muted {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 6px;
    background-color: var(--glass-dark-ultra);
    border-radius: 24px;

    svg {
      font-size: 24px;
    }
  }

  .video-ice-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--glass-dark-ultra);
    padding: 12px 0 24px;
    height: 96px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 96px;
    z-index: 1000;

    svg {
      font-size: 24px;
    }

    .status-label {
      background-color: var(--white);
      font-size: 11px;
    }
  }

  &.video-muted {
    .audio-muted {
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      background-color: var(--white);
      color: var(--dark);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

      svg {
        font-size: 18px;
      }
    }
  }

  .video-placeholder-user {
    position: absolute;
    top: calc(50% + 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    line-height: 1.1em;
    z-index: 20;
    font-size: 13px;
    color: var(--white);
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    text-align: center;

    .device-type {
      padding-right: 6px;
      font-size: 18px;

      svg {
        font-size: inherit;
      }
    }

    .user {
      font-weight: bold;
    }
  }

  &:not(.video-muted) {
    .video-placeholder-user {
      top: 24px;
      transform: translate(-50%, -200px);
      background-color: rgba(255, 255, 255, 0.7);
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
      transition: 0.2s transform;
      color: var(--dark);

      .device-type {
        padding-right: 6px;
        font-size: 24px;
      }
    }

    &:hover {
      .video-placeholder-user {
        transform: translate(-50%, 0);
      }
    }
  }

  .video-img {
    position: relative;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    object-fit: cover;
    object-position: center center;
    transform: rotateY(180deg);

    &.upper {
      z-index: 10;
    }
  }

  video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .video-user-placeholder, .vod-wave {
    position: absolute;
    height: 96px;
    width: 96px;
    top: calc(50% - 12px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    transition: all 0.2s;
  }

  .video-user-placeholder {
    overflow: hidden;
    border-radius: 100px;

    .video-user-audio-muted {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 6px 0 12px;
      line-height: 1.3em;
      background-color: var(--glass-dark-ultra);
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      z-index: 20;

      svg {
        font-size: 16px;
        margin: 0 2px;
      }
    }
  }

  .vod-wave {
    z-index: 14;
    transition: none;

    .inner, .inner-smooth {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      background-color: #ffffff1f;
      will-change: transform;
    }

    .inner-smooth {
      transition: transform 0.5s;
      background-color: #ffffff1f;
    }
  }

  .video-audio-muted {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 0;
    line-height: 1.3em;
    background-color: var(--glass-dark-ultra);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    z-index: 20;

    svg {
      font-size: 16px;
      margin: 0 6px;
    }
  }
}

.video-swap {
  .video-placeholder {
    background-color: var(--dark);

    .video-placeholder-user {
      font-size: 11px;
      border-radius: 3px;
      padding: 2px 5px 2px 5px;

      .device-type {
        padding-right: 3px;
        font-size: 16px;
      }
    }

    &.no-image {
      height: 96px;
    }

    .video-img {
      &.upper {
        z-index: 17;
      }
    }

    .video-user-placeholder, .vod-wave {
      top: 50%;
      height: 48px;
      width: 48px;
      z-index: 18;
    }

    .vod-wave {
      z-index: 17;
    }

    .video-audio-muted {
      padding: 4px 0;
      font-size: 12px;

      svg {
        font-size: 12px;
        margin: 0 3px;
      }
    }
  }
}

.call-modal.call_init.minimize,
.call-modal.call.minimize {
  .video-placeholder {
    .video-placeholder-user {
      display: none;
    }
  }

  .call-modal-content.video-swap {
    .video-placeholder.no-image, .call-video.cp-1 {
      height: 56px;
      Width: 56px;
    }
  }

  .video-placeholder {
    .video-audio-muted {
      display: none;
    }

    .video-ice-status {
      height: 48px;
      width: 48px;
      padding: 4px;

      .status-label {
        display: none;
      }
    }
  }
}