/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
@import '../../../style/common';

@keyframes bubbleHighlight {
  from {
    background-color: rgba(255, 255, 255, 0.7);
  }
  to {
    background-color: rgba(255, 255, 255, 0.0);
  }
}

.chat {
  padding: 460px 8px 8px 8px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--light);
  height: calc(100% - 48px);
  //transition: padding-top 1s;
  &.no-transition {
    transition: none;
  }
}

.conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
  span {
    font-size: 14px;
    display: inline-block;
    color: var(--grey);
    &:before, &:after {
      position: absolute;
      top: 10px;
      display: inline-block;
      width: 30%;
      height: 1px;
      content: '';
      background-color: var(--light);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}

.ReactVirtualized__Grid__innerScrollContainer {
  width: 100% !important;
}

.bubble-gap, .bubble-wrapper {
  .gap {
    height: 1000px;
    text-align: center;
  }
  .loading {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.31);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    display: inline-block;
    padding: 4.5px 4px 3.5px;
    .loader {
      height: 16px;
      width: 16px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url(../../../asset/image/loading/w.svg);
      display: inline-block;
    }
  }
}

.bubble-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 2px;
  &.date-padding {
    padding-bottom: 6px;
    padding-top: 8px;
    height: 40px;
  }
  &.voice {
    height: 44px;
    .bubble {
      padding: 3px !important;
      .bubble-body {
        padding: 3px !important;
        display: flex;
        flex-direction: row;
        .message-status {
          min-width: auto !important;
          padding: 0 0 0 6px;
        }
      }
    }
  }
  &.media, &.media_caption {
    .bubble {
      .bubble-body {
        border-radius: 8px;
        overflow: hidden;
      }
    }
  }
  &.media {
    .bubble {
      padding: 3px !important;
    }
  }
  .arrow {
    position: absolute;
    top: 6px;
    right: 0;
    height: 10px;
    width: 16px;
    overflow: hidden;
    &:after {
      position: absolute;
      content: '';
      height: 15px;
      width: 15px;
      top: -9px;
      left: -3px;
      background-color: var(--green);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      transform: rotate(-45deg);
    }
  }
  &.you .arrow {
    position: absolute;
    top: 6px;
    right: auto;
    left: 34px;
    overflow: hidden;
    &:after {
      background-color: var(--message-chat);
      box-shadow: -1px 2px 0px rgba(0, 0, 0, 0.1);
      transform: rotate(-45deg);
      left: 5px
    }
  }
  .avatar {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 12px;
    .text-avatar {
      height: 32px;
      width: 32px;
    }
    img {
      height: 32px;
      width: 32px;
      object-fit: cover;
    }
  }
  .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
  }
  .error {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-12px);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      font-size: 16px;
      color: var(--red);
    }
  }
  .bubble {
    position: relative;
    font-size: 14px;
    line-height: 1.22em;
    display: inline-block;
    clear: both;
    padding: 3px 3px 15px 3px;
    vertical-align: top;
    border-radius: 5px;
    max-width: 558px;
    min-width: 75px;
    min-height: 35px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    > .name {
      display: block;
      height: 20px;
      padding: 2px 3px 2px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      color: var(--dark-medium);
      font-weight: 300;
    }
    .inner {
      direction: ltr;
      padding: 4px 4px 0 4px;
      white-space: pre-wrap;
      word-break: break-word;
      &.rtl {
        direction: rtl;
        text-align: right;
      }
      &.ltr {
        direction: ltr;
        text-align: left;
      }
      ._mention {
        color: var(--light-mention);
        display: inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
      ._bold {
        font-weight: bold;
      }
      ._italic {
        font-style: italic;
      }
      ._mail {
      }
      ._url {
        color: var(--light-mention);
        display: inline-block;
      }
      ._hashtag {
        color: var(--light-mention);
        display: inline-block;
      }
    }
    .more {
      position: absolute;
      top: 3px;
      right: 3px;
      height: 20px;
      width: 16px;
      display: block;
      background-color: inherit;
      visibility: hidden;
      z-index: 10;
      svg {
        cursor: pointer;
        height: 20px;
        font-size: 20px;
      }
    }
    &:hover .more {
      visibility: visible;
    }
    &.highlight {
      &:before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        animation-name: bubbleHighlight;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
      }
    }
  }
  &.you {
    &.avatar {
      padding-top: 6px;
    }
    .bubble {
      float: left;
      color: var(--black-text);
      background-color: var(--message-chat);
      align-self: flex-start;
      animation-name: slideFromLeft;
      text-align: left;
      margin-left: 44px;
      &.edited {
        min-width: 80px;
      }
    }
  }
  &.me {
    &.avatar {
      padding-top: 6px;
    }
    .bubble {
      float: right;
      color: var(--black-text);
      background-color: var(--green);
      align-self: flex-end;
      animation-name: slideFromRight;
      text-align: right;
      margin-right: 10px;
      &.edited {
        min-width: 106px;
      }
    }
    &.has-error {
      .arrow {
        right: 14px;
      }
      .bubble {
        margin-right: 24px;
      }
    }
  }
  > .date {
    background-color: rgba(225, 245, 254, 0.92);
    border-radius: 7.5px;
    padding: 0 10px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    font-weight: 100;
    box-sizing: border-box;
    color: rgba(69, 90, 100, 0.95);
    display: inline-block;
    flex: none;
    font-size: 12.5px;
    line-height: 32px;
    text-transform: uppercase;
    height: 32px;
  }
  .system-message-with-picture {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    .picture {
      margin: 4px 0 0 12px;
      height: 32px;
      width: 32px;
      img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
      }
    }
  }
  .system-message {
    background-color: rgba(0, 0, 0, 0.31);
    border-radius: 7.5px;
    padding: 1px 10px 2px 10px;
    text-align: center;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    font-weight: 400;
    box-sizing: border-box;
    color: var(--white);
    display: inline-block;
    flex: none;
    font-size: 12.5px;
    line-height: 21px;
    margin-top: 6px;
    > .user {
      text-transform: uppercase;
      font-style: italic;
    }
    &.divider {
      &:before, &:after {
        content: '';
        position: absolute;
        left: 10px;
        right: calc(50% + 60px);
        top: 50%;
        height: 1px;
        background: var(--grey);
        box-shadow: 0 1px 1px var(--grey);
      }
      &:after {
        right: 10px;
        left: calc(50% + 60px);
      }
    }
  }
}

.user .bubble-wrapper:not(.related), .group .bubble-wrapper.me:not(.related), .group .bubble-wrapper.you:not(.avatar):not(.related) {
  &.media,
  &.media_caption {
    .bubble {
      .more {
        background-color: transparent;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        height: 36px;
        width: auto;
        left: 0;
        padding: 6px 2px 0 0;
        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 200px;
          top: 0;
          right: 0;
          background: linear-gradient(10deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.38) 75%, rgba(0, 0, 0, 0.7) 100%);
          border-radius: 10px 10px 0 0;
          z-index: 10;
          transition: opacity 0.2s;
          opacity: 0;
        }
        svg {
          position: relative;
          color: var(--white);
          z-index: 12;
        }
      }
      &:hover .more {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}

.group {
  .bubble-wrapper.you.avatar {
    &.media,
    &.media_caption {
      .bubble {
        .bubble-body {
          margin-top: 4px;
        }
      }
    }
  }
}

.selectable .bubble-wrapper {
  cursor: pointer;
  &:hover {
    background-color: var(--color-hover-dark);
  }
  &.selected {
    background-color: #27AE6030;
  }
}

.mobile-view {
  .chat {
    padding-left: 7px;
  }
  .bubble-wrapper.you {
    .avatar {
      display: none;
    }
    .arrow {
      left: 0;
    }
    .bubble {
      margin-left: 10px;
    }
  }
}

html[theme="dark"],
html[theme="dark-blue"] {
  .chat {
    border-color: var(--dark-low);
  }
  .bubble-wrapper {
    .bubble {
      .inner {
        ._mention, ._hashtag, ._url {
          color: var(--dark-mention);
        }
      }
    }
    &.me {
      .bubble {
        background-color: var(--dark-accent-low);
        color: #eee;
        > .name {
          color: #eee;
        }
      }
      .arrow {
        &:after {
          background-color: var(--dark-accent-low);
          color: #eee;
        }
      }
    }
    &.you {
      .bubble {
        background-color: var(--dark-accent-medium);
        color: #eee;
        > .name {
          color: #eee;
        }
      }
      .arrow {
        &:after {
          background-color: var(--dark-accent-medium);
          color: #eee;
        }
      }
    }
    > .date {
      background-color: var(--dark-high);
      text-shadow: none;
      color: var(--grey);
    }
    .system-message {
      background-color: rgba(255, 255, 255, 0.5);
      color: var(--dark);
    }
    .checkbox {
      &:not(.checked) {
        color: var(--white);
      }
    }
  }
  .bubble-gap,
  .bubble-wrapper {
    .loading {
      background-color: rgba(255, 255, 255, 0.5);
      .loader {
        background-image: url(../../../asset/image/loading/b.svg);
      }
    }
  }
  .selectable .bubble-wrapper {
    &:hover {
      background-color: var(--dark-hover-light);
    }
    &.selected {
      background-color: #27AE6020;
    }
  }
}

html[theme="dark-blue"] {
  .chat {
    border-color: var(--dark-blue-low);
  }
  .bubble-wrapper {
    .bubble {
      .inner {
        ._mention, ._hashtag, _url {
          color: var(--dark-blue-mention);
        }
      }
    }
    &.me {
      .bubble {
        background-color: var(--dark-blue-accent-low);
      }
      .arrow {
        &:after {
          background-color: var(--dark-blue-accent-low);
        }
      }
    }
    &.you {
      .bubble {
        background-color: var(--dark-blue-accent-medium);
      }
      .arrow {
        &:after {
          background-color: var(--dark-blue-accent-medium);
        }
      }
    }
    > .date {
      background-color: var(--dark-blue-hover);
      color: var(--white);
    }
  }
}

html[font="0"] {
  .bubble-wrapper {
    .bubble {
      font-size: 10px;
    }
    .message-status {
      height: 8px;
      .time {
        font-size: 8px;
      }
    }
  }
}

html[font="1"] {
  .bubble-wrapper {
    .bubble {
      font-size: 12px;
    }
  }
}

html[font="2"] {
  .bubble-wrapper {
    .bubble {
      font-size: 14px;
    }
  }
}

html[font="3"] {
  .bubble-wrapper {
    .bubble {
      font-size: 16px;
      padding-bottom: 16px;
      .inner {
        padding-bottom: 2px !important;
      }
    }
    .message-status {
      height: 11px;
      .time {
        font-size: 11px;
      }
    }
  }
}

html[font="4"] {
  .bubble-wrapper {
    .bubble {
      font-size: 18px;
      padding-bottom: 16px;
      .inner {
        padding-bottom: 4px !important;
      }
    }
    .message-status {
      height: 11px;
      .time {
        font-size: 11px;
      }
    }
  }
}

html[font="5"] {
  .bubble-wrapper {
    .bubble {
      font-size: 20px;
      padding-bottom: 17px;
      .inner {
        padding-bottom: 6px !important;
      }
    }
    .message-status {
      height: 12px;
      .time {
        font-size: 12px;
      }
    }
  }
}

html[bubble="2"] {
  .bubble-wrapper {
    padding-bottom: 4px;
    .avatar {
      top: 6px;
    }
    .arrow {
      display: none;
    }
    .bubble {
      border-radius: 20px;
      min-width: 91px;
      padding-bottom: 16px;
      .inner {
        padding: 8px 12px 0 8px;
      }
      .name {
        padding: 4px 12px 0 8px;
      }
      .more {
        top: 4px;
        right: 8px;
      }
      &.highlight {
        &:before {
          border-radius: 20px;
        }
      }
    }
    &.me {
      .bubble.edited {
        min-width: 115px;
      }
    }
    &.you {
      .bubble.edited {
        min-width: 95px;
      }
    }
    &.media {
      .bubble {
        .bubble-body {
          border-bottom-left-radius: 18px;
          border-bottom-right-radius: 18px;
        }
      }
    }
  }
  .user {
    .bubble-wrapper {
      &.media:not(.related), &.media_caption:not(.related) {
        .bubble {
          .bubble-body {
            border-radius: 18px;
          }
        }
      }
    }
  }
  .group {
    .bubble-wrapper {
      &.avatar.you {
        .bubble {
          > .inner {
            padding: 2px 12px 0 8px;
          }
        }
      }
      &.media.me:not(.related), &.media.you:not(.related):not(.avatar), &.media_caption.you:not(.related):not(.avatar) {
        .bubble {
          .bubble-body {
            border-radius: 18px;
          }
        }
      }
    }
  }
}

html[bubble="4"] {
  .bubble-wrapper {
    padding-bottom: 4px;
    .arrow {
      width: 20px;
    }
    .bubble {
      border-radius: 10px;
      min-width: 91px;
      padding-bottom: 16px;
      .inner {
        padding: 8px 12px 4px 8px;
      }
      .name {
        padding: 4px 12px 0 8px;
      }
      &.highlight {
        &:before {
          border-radius: 10px;
        }
      }
    }
    &.me {
      .bubble.edited {
        min-width: 115px;
      }
      &.has-error .arrow {
        right: 10px;
      }
    }
    &.you {
      .bubble.edited {
        min-width: 95px;
      }
    }
  }
  .group {
    .bubble-wrapper {
      &.avatar.you {
        .bubble {
          > .inner {
            padding: 2px 12px 4px 8px;
          }
        }
      }
    }
  }
}

//html[bubble="3"] {
//  .bubble-wrapper {
//    padding-bottom: 4px;
//    .avatar {
//      top: 6px;
//    }
//    .arrow {
//      display: none;
//    }
//    .bubble {
//      min-width: 91px;
//      padding-bottom: 16px;
//      > .inner {
//        padding: 8px 12px 0 8px;
//      }
//      .name {
//        padding: 4px 12px 0 8px;
//      }
//    }
//    &.me {
//      .bubble {
//        border-radius: 20px 3px 3px 20px;
//      }
//    }
//    &.you {
//      .bubble {
//        border-radius: 3px 20px 20px 3px;
//      }
//    }
//    &.avatar.you {
//      .bubble {
//        .inner {
//          padding: 2px 12px 0 8px;
//        }
//      }
//    }
//  }
//  .bubble-wrapper._bubble.me._last {
//    .bubble {
//      border-bottom-right-radius: 20px;
//    }
//  }
//  .bubble-wrapper._bubble.you._last {
//    .bubble {
//      border-bottom-left-radius: 20px;
//    }
//  }
//}
