@import '../../../style/common';

.chat {
  padding: 460px 7px 0 17px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--light);
  height: calc(100% - 48px);
  transition: padding-top 1s;
  &.no-transition {
    transition: none;
  }
}

.conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
  span {
    font-size: 14px;
    display: inline-block;
    color: var(--grey);
    &:before, &:after {
      position: absolute;
      top: 10px;
      display: inline-block;
      width: 30%;
      height: 1px;
      content: '';
      background-color: var(--light);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}

.ReactVirtualized__Grid__innerScrollContainer {
  width: 100% !important;
}