/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --grey-low: #555;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --light-mention: #2678b6;
  --glass-dark-low: rgba(0, 0, 0, 0.05);
  --glass-dark-high: rgba(0, 0, 0, 0.20);
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --dark-mention: #2d9fee;
  --dark-blue-low: #1A212E;
  --dark-blue-medium: #232F40;
  --dark-blue-high: #14395f;
  --dark-blue-high-alt: #2EA2FE;
  --dark-blue-hover: rgba(46, 162, 254, 0.5);
  --dark-blue-hover-light: rgba(46, 162, 254, 0.3);
  --dark-blue-accent-low: #3E6A96;
  --dark-blue-accent-medium: #344359;
  --dark-blue-mention: #2eadff;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

@keyframes bubbleHighlight {
  from {
    background-color: rgba(255, 255, 255, 0.7); }
  to {
    background-color: rgba(255, 255, 255, 0); } }

.chat {
  padding: 460px 8px 8px 8px;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--light);
  height: calc(100% - 48px); }
  .chat.no-transition {
    transition: none; }

.conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center; }
  .conversation-start span {
    font-size: 14px;
    display: inline-block;
    color: var(--grey); }
    .conversation-start span:before, .conversation-start span:after {
      position: absolute;
      top: 10px;
      display: inline-block;
      width: 30%;
      height: 1px;
      content: '';
      background-color: var(--light); }
    .conversation-start span:before {
      left: 0; }
    .conversation-start span:after {
      right: 0; }

.ReactVirtualized__Grid__innerScrollContainer {
  width: 100% !important; }

.bubble-gap .gap, .bubble-wrapper .gap {
  height: 1000px;
  text-align: center; }

.bubble-gap .loading, .bubble-wrapper .loading {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.31);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  display: inline-block;
  padding: 4.5px 4px 3.5px; }
  .bubble-gap .loading .loader, .bubble-wrapper .loading .loader {
    height: 16px;
    width: 16px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(../../../asset/image/loading/w.svg);
    display: inline-block; }

.bubble-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 2px; }
  .bubble-wrapper.date-padding {
    padding-bottom: 6px;
    padding-top: 8px; }
  .bubble-wrapper.voice {
    height: 44px; }
    .bubble-wrapper.voice .bubble {
      padding: 3px !important; }
      .bubble-wrapper.voice .bubble .bubble-body {
        padding: 3px !important;
        display: flex;
        flex-direction: row; }
        .bubble-wrapper.voice .bubble .bubble-body .message-status {
          min-width: auto !important;
          padding: 0 0 0 6px; }
  .bubble-wrapper .arrow {
    position: absolute;
    top: 6px;
    right: 0;
    height: 10px;
    width: 16px;
    overflow: hidden; }
    .bubble-wrapper .arrow:after {
      position: absolute;
      content: '';
      height: 15px;
      width: 15px;
      top: -9px;
      left: -3px;
      background-color: var(--green);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      transform: rotate(-45deg); }
  .bubble-wrapper.you .arrow {
    position: absolute;
    top: 6px;
    right: auto;
    left: 34px;
    overflow: hidden; }
    .bubble-wrapper.you .arrow:after {
      background-color: var(--message-chat);
      box-shadow: -1px 2px 0px rgba(0, 0, 0, 0.1);
      transform: rotate(-45deg);
      left: 5px; }
  .bubble-wrapper .avatar {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    font-size: 12px; }
    .bubble-wrapper .avatar .text-avatar {
      height: 32px;
      width: 32px; }
    .bubble-wrapper .avatar img {
      height: 32px;
      width: 32px;
      object-fit: cover; }
  .bubble-wrapper .checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px; }
  .bubble-wrapper .error {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-12px);
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bubble-wrapper .error svg {
      font-size: 16px;
      color: var(--red); }
  .bubble-wrapper .bubble {
    position: relative;
    font-size: 14px;
    line-height: 1.22em;
    display: inline-block;
    clear: both;
    padding: 3px 3px 15px 3px;
    vertical-align: top;
    border-radius: 5px;
    max-width: 558px;
    min-width: 75px;
    min-height: 35px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1); }
    .bubble-wrapper .bubble > .name {
      display: block;
      height: 20px;
      padding: 2px 3px 2px;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      color: var(--dark-medium);
      font-weight: 300; }
    .bubble-wrapper .bubble .inner {
      direction: ltr;
      padding: 4px 4px 0 4px;
      white-space: pre-wrap;
      word-break: break-word; }
      .bubble-wrapper .bubble .inner.rtl {
        direction: rtl;
        text-align: right; }
      .bubble-wrapper .bubble .inner.ltr {
        direction: ltr;
        text-align: left; }
      .bubble-wrapper .bubble .inner ._mention {
        color: var(--light-mention);
        display: inline-block; }
        .bubble-wrapper .bubble .inner ._mention:hover {
          text-decoration: underline; }
      .bubble-wrapper .bubble .inner ._bold {
        font-weight: bold; }
      .bubble-wrapper .bubble .inner ._italic {
        font-style: italic; }
    .bubble-wrapper .bubble .more {
      position: absolute;
      top: 3px;
      right: 3px;
      height: 20px;
      width: 16px;
      display: none;
      cursor: pointer;
      background-color: inherit;
      z-index: 10; }
      .bubble-wrapper .bubble .more svg {
        height: 20px;
        font-size: 20px; }
    .bubble-wrapper .bubble:hover .more {
      display: block; }
    .bubble-wrapper .bubble.highlight:before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 5px;
      animation-name: bubbleHighlight;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in; }
  .bubble-wrapper.you.avatar {
    padding-top: 6px; }
  .bubble-wrapper.you .bubble {
    float: left;
    color: var(--black-text);
    background-color: var(--message-chat);
    align-self: flex-start;
    animation-name: slideFromLeft;
    text-align: left;
    margin-left: 44px; }
    .bubble-wrapper.you .bubble.edited {
      min-width: 80px; }
  .bubble-wrapper.me.avatar {
    padding-top: 6px; }
  .bubble-wrapper.me .bubble {
    float: right;
    color: var(--black-text);
    background-color: var(--green);
    align-self: flex-end;
    animation-name: slideFromRight;
    text-align: right;
    margin-right: 10px; }
    .bubble-wrapper.me .bubble.edited {
      min-width: 106px; }
  .bubble-wrapper.me.has-error .arrow {
    right: 14px; }
  .bubble-wrapper.me.has-error .bubble {
    margin-right: 24px; }
  .bubble-wrapper > .date {
    background-color: rgba(225, 245, 254, 0.92);
    border-radius: 7.5px;
    padding: 5px 10px 6px 10px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    font-weight: 100;
    box-sizing: border-box;
    color: rgba(69, 90, 100, 0.95);
    display: inline-block;
    flex: none;
    font-size: 12.5px;
    line-height: 21px;
    text-transform: uppercase; }
  .bubble-wrapper > .system-message {
    background-color: rgba(0, 0, 0, 0.31);
    border-radius: 7.5px;
    padding: 1px 10px 2px 10px;
    text-align: center;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    font-weight: 400;
    box-sizing: border-box;
    color: var(--white);
    display: inline-block;
    flex: none;
    font-size: 12.5px;
    line-height: 21px;
    margin-top: 6px; }
    .bubble-wrapper > .system-message > .user {
      text-transform: uppercase;
      font-style: italic; }
    .bubble-wrapper > .system-message.divider:before, .bubble-wrapper > .system-message.divider:after {
      content: '';
      position: absolute;
      left: 10px;
      right: calc(50% + 60px);
      top: 50%;
      height: 1px;
      background: var(--grey);
      box-shadow: 0 1px 1px var(--grey); }
    .bubble-wrapper > .system-message.divider:after {
      right: 10px;
      left: calc(50% + 60px); }

.selectable .bubble-wrapper {
  cursor: pointer; }
  .selectable .bubble-wrapper:hover {
    background-color: var(--color-hover-dark); }
  .selectable .bubble-wrapper.selected {
    background-color: #27AE6030; }

.mobile-view .chat {
  padding-left: 7px; }

.mobile-view .bubble-wrapper.you .avatar {
  display: none; }

.mobile-view .bubble-wrapper.you .arrow {
  left: 0; }

.mobile-view .bubble-wrapper.you .bubble {
  margin-left: 10px; }

html[theme="dark"] .chat,
html[theme="dark-blue"] .chat {
  border-color: var(--dark-low); }

html[theme="dark"] .bubble-wrapper .bubble .inner ._mention,
html[theme="dark-blue"] .bubble-wrapper .bubble .inner ._mention {
  color: var(--dark-mention); }

html[theme="dark"] .bubble-wrapper.me .bubble,
html[theme="dark-blue"] .bubble-wrapper.me .bubble {
  background-color: var(--dark-accent-low);
  color: #eee; }
  html[theme="dark"] .bubble-wrapper.me .bubble > .name,
  html[theme="dark-blue"] .bubble-wrapper.me .bubble > .name {
    color: #eee; }

html[theme="dark"] .bubble-wrapper.me .arrow:after,
html[theme="dark-blue"] .bubble-wrapper.me .arrow:after {
  background-color: var(--dark-accent-low);
  color: #eee; }

html[theme="dark"] .bubble-wrapper.you .bubble,
html[theme="dark-blue"] .bubble-wrapper.you .bubble {
  background-color: var(--dark-accent-medium);
  color: #eee; }
  html[theme="dark"] .bubble-wrapper.you .bubble > .name,
  html[theme="dark-blue"] .bubble-wrapper.you .bubble > .name {
    color: #eee; }

html[theme="dark"] .bubble-wrapper.you .arrow:after,
html[theme="dark-blue"] .bubble-wrapper.you .arrow:after {
  background-color: var(--dark-accent-medium);
  color: #eee; }

html[theme="dark"] .bubble-wrapper > .date,
html[theme="dark-blue"] .bubble-wrapper > .date {
  background-color: var(--dark-high);
  text-shadow: none;
  color: var(--grey); }

html[theme="dark"] .bubble-wrapper .system-message,
html[theme="dark-blue"] .bubble-wrapper .system-message {
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--dark); }

html[theme="dark"] .bubble-wrapper .checkbox:not(.checked),
html[theme="dark-blue"] .bubble-wrapper .checkbox:not(.checked) {
  color: var(--white); }

html[theme="dark"] .bubble-gap .loading,
html[theme="dark"] .bubble-wrapper .loading,
html[theme="dark-blue"] .bubble-gap .loading,
html[theme="dark-blue"] .bubble-wrapper .loading {
  background-color: rgba(255, 255, 255, 0.5); }
  html[theme="dark"] .bubble-gap .loading .loader,
  html[theme="dark"] .bubble-wrapper .loading .loader,
  html[theme="dark-blue"] .bubble-gap .loading .loader,
  html[theme="dark-blue"] .bubble-wrapper .loading .loader {
    background-image: url(../../../asset/image/loading/b.svg); }

html[theme="dark"] .selectable .bubble-wrapper:hover,
html[theme="dark-blue"] .selectable .bubble-wrapper:hover {
  background-color: var(--dark-hover-light); }

html[theme="dark"] .selectable .bubble-wrapper.selected,
html[theme="dark-blue"] .selectable .bubble-wrapper.selected {
  background-color: #27AE6020; }

html[theme="dark-blue"] .chat {
  border-color: var(--dark-blue-low); }

html[theme="dark-blue"] .bubble-wrapper .bubble .inner ._mention {
  color: var(--dark-blue-mention); }

html[theme="dark-blue"] .bubble-wrapper.me .bubble {
  background-color: var(--dark-blue-accent-low); }

html[theme="dark-blue"] .bubble-wrapper.me .arrow:after {
  background-color: var(--dark-blue-accent-low); }

html[theme="dark-blue"] .bubble-wrapper.you .bubble {
  background-color: var(--dark-blue-accent-medium); }

html[theme="dark-blue"] .bubble-wrapper.you .arrow:after {
  background-color: var(--dark-blue-accent-medium); }

html[theme="dark-blue"] .bubble-wrapper > .date {
  background-color: var(--dark-blue-hover);
  color: var(--white); }

html[font="0"] .bubble-wrapper .bubble {
  font-size: 10px; }

html[font="0"] .bubble-wrapper .message-status {
  height: 8px; }
  html[font="0"] .bubble-wrapper .message-status .time {
    font-size: 8px; }

html[font="1"] .bubble-wrapper .bubble {
  font-size: 12px; }

html[font="2"] .bubble-wrapper .bubble {
  font-size: 14px; }

html[font="3"] .bubble-wrapper .bubble {
  font-size: 16px;
  padding-bottom: 16px; }
  html[font="3"] .bubble-wrapper .bubble .inner {
    padding-bottom: 2px !important; }

html[font="3"] .bubble-wrapper .message-status {
  height: 11px; }
  html[font="3"] .bubble-wrapper .message-status .time {
    font-size: 11px; }

html[font="4"] .bubble-wrapper .bubble {
  font-size: 18px;
  padding-bottom: 16px; }
  html[font="4"] .bubble-wrapper .bubble .inner {
    padding-bottom: 4px !important; }

html[font="4"] .bubble-wrapper .message-status {
  height: 11px; }
  html[font="4"] .bubble-wrapper .message-status .time {
    font-size: 11px; }

html[font="5"] .bubble-wrapper .bubble {
  font-size: 20px;
  padding-bottom: 17px; }
  html[font="5"] .bubble-wrapper .bubble .inner {
    padding-bottom: 6px !important; }

html[font="5"] .bubble-wrapper .message-status {
  height: 12px; }
  html[font="5"] .bubble-wrapper .message-status .time {
    font-size: 12px; }

html[bubble="2"] .bubble-wrapper {
  padding-bottom: 4px; }
  html[bubble="2"] .bubble-wrapper .avatar {
    top: 6px; }
  html[bubble="2"] .bubble-wrapper .arrow {
    display: none; }
  html[bubble="2"] .bubble-wrapper .bubble {
    border-radius: 20px;
    min-width: 91px;
    padding-bottom: 16px; }
    html[bubble="2"] .bubble-wrapper .bubble .inner {
      padding: 8px 12px 0 8px; }
    html[bubble="2"] .bubble-wrapper .bubble .name {
      padding: 4px 12px 0 8px; }
    html[bubble="2"] .bubble-wrapper .bubble .more {
      top: 4px;
      right: 8px; }
    html[bubble="2"] .bubble-wrapper .bubble.highlight:before {
      border-radius: 20px; }
  html[bubble="2"] .bubble-wrapper.me .bubble.edited {
    min-width: 115px; }
  html[bubble="2"] .bubble-wrapper.you .bubble.edited {
    min-width: 95px; }

html[bubble="2"] .group .bubble-wrapper.avatar.you .bubble > .inner {
  padding: 2px 12px 0 8px; }

html[bubble="4"] .bubble-wrapper {
  padding-bottom: 4px; }
  html[bubble="4"] .bubble-wrapper .arrow {
    width: 20px; }
  html[bubble="4"] .bubble-wrapper .bubble {
    border-radius: 10px;
    min-width: 91px;
    padding-bottom: 16px; }
    html[bubble="4"] .bubble-wrapper .bubble .inner {
      padding: 8px 12px 0 8px; }
    html[bubble="4"] .bubble-wrapper .bubble .name {
      padding: 4px 12px 0 8px; }
    html[bubble="4"] .bubble-wrapper .bubble.highlight:before {
      border-radius: 10px; }
  html[bubble="4"] .bubble-wrapper.me .bubble.edited {
    min-width: 115px; }
  html[bubble="4"] .bubble-wrapper.me.has-error .arrow {
    right: 10px; }
  html[bubble="4"] .bubble-wrapper.you .bubble.edited {
    min-width: 95px; }

html[bubble="4"] .group .bubble-wrapper.avatar.you .bubble > .inner {
  padding: 2px 12px 0 8px; }
