@import '../../../style/common';

.chat {
  padding: 460px 17px 0;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--light);
  height: calc(100% - 48px);
  transition: padding-top 1s;
  &.no-transition {
    transition: none;
  }
  &.active-chat {
    display: flex;
    .bubble {
      transition-timing-function: cubic-bezier(.4, -.04, 1, 1);
      //@for $i from 1 through 10 {
      //  &:nth-of-type(#{$i}) {
      //    animation-duration: .15s * $i;
      //  }
      //}
    }
  }
}

.conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
  span {
    font-size: 14px;
    display: inline-block;
    color: var(--grey);
    &:before, &:after {
      position: absolute;
      top: 10px;
      display: inline-block;
      width: 30%;
      height: 1px;
      content: '';
      background-color: var(--light);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}

.ReactVirtualized__Grid__innerScrollContainer {
  width: 100% !important;
}

.bubble-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 8px;
  .avatar {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #ccc;
    background-position: center center;
    background-size: cover;
    background-image: url(../../../asset/image/user.png);
    overflow: hidden;
    img {
      height: 32px;
      width: 32px;
      object-fit: cover;
    }
  }
}

.bubble {
  font-size: 12px;
  line-height: 17px;
  position: relative;
  display: inline-block;
  clear: both;
  padding: 3px 6px 15px 6px;
  vertical-align: top;
  border-radius: 5px;
  max-width: 558px;
  min-width: 75px;
  &.you {
    float: left;
    color: var(--black-text);
    background-color: var(--message-chat);
    align-self: flex-start;
    animation-name: slideFromLeft;
    text-align: left;
    margin-left: 44px;
  }
  &.me {
    float: right;
    color: var(--white);
    background-color: var(--green);
    align-self: flex-end;
    animation-name: slideFromRight;
    text-align: right;
  }
}

@keyframes slideFromLeft {
  0% {
    //transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    //transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    //transform: translateX(200px);
    opacity: 0;
  }
  100% {
    //transform: translateX(0);
    opacity: 1;
  }
}