/*
    Creation Time: 2019 - March - 16
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
.message-audio {
  min-width: 208px; }
  .message-audio .audio-main {
    width: 100%;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .message-audio .audio-main .audio-action-wrapper {
      width: 48px; }
      .message-audio .audio-main .audio-action-wrapper .audio-item-action {
        position: relative;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .message-audio .audio-main .audio-action-wrapper .audio-item-action .media-size {
          top: 32px;
          left: 52px;
          transform: translateY(-50%);
          background: transparent;
          color: var(--dark); }
        .message-audio .audio-main .audio-action-wrapper .audio-item-action .audio-action {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          height: 36px;
          width: 36px;
          border-radius: 50%;
          background-color: var(--river);
          z-index: 910; }
          .message-audio .audio-main .audio-action-wrapper .audio-item-action .audio-action svg {
            color: var(--white); }
    .message-audio .audio-main .audio-info {
      flex: 1;
      padding: 6px;
      display: flex;
      flex-direction: column; }
      .message-audio .audio-main .audio-info .audio-title,
      .message-audio .audio-main .audio-info .audio-performer {
        width: 100%;
        text-align: left;
        max-width: 256px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .message-audio .audio-main .audio-info .audio-performer {
        color: var(--grey); }
  .message-audio .audio-caption {
    padding: 6px 6px 0;
    white-space: pre-wrap;
    word-break: break-word; }

html[theme="dark"] .message-audio .audio-main .audio-action-wrapper .audio-item-action .audio-action {
  background-color: var(--dark-mention); }

html[theme="dark"] .message-audio .audio-main .audio-action-wrapper .audio-item-action .media-size {
  color: var(--white); }

html[theme="dark"] .message-audio .audio-main .audio-info .audio-performer,
html[theme="dark"] .message-audio .audio-main .audio-info .audio-title {
  color: var(--light); }

html[theme="dark-blue"] .message-audio .audio-main .audio-action-wrapper .audio-item-action .audio-action {
  background-color: var(--dark-mention); }

html[theme="dark-blue"] .message-audio .audio-main .audio-action-wrapper .audio-item-action .media-size {
  color: var(--light); }

html[theme="dark-blue"] .message-audio .audio-main .audio-info .audio-performer,
html[theme="dark-blue"] .message-audio .audio-main .audio-info .audio-title {
  color: var(--light); }
