/*
    Creation Time: 2019 - March - 16
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

.message-audio {
  min-width: 208px;
  .audio-main {
    width: 100%;
    margin-bottom: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .audio-action-wrapper {
      width: 48px;
      .audio-item-action {
        position: relative;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        .media-size {
          top: 32px;
          left: 52px;
          transform: translateY(-50%);
          background: transparent;
          color: var(--dark);
        }
        .audio-action {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          height: 36px;
          width: 36px;
          border-radius: 50%;
          background-color: var(--river);
          z-index: 910;
          svg {
            color: var(--white);
          }
        }
      }
    }
    .audio-info {
      flex: 1;
      padding: 6px;
      display: flex;
      flex-direction: column;
      .audio-title,
      .audio-performer {
        width: 100%;
        text-align: left;
        max-width: 256px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .audio-performer {
        color: var(--grey);
      }
    }
  }
}

html[theme="dark"] {
  .message-audio {
    .audio-main {
      .audio-action-wrapper .audio-item-action {
        .audio-action {
          background-color: var(--dark-mention);
        }
        .media-size {
          color: var(--white);
        }
      }
      .audio-info .audio-performer,
      .audio-info .audio-title {
        color: var(--light);
      }
    }
  }
}

html[theme="dark-blue"] {
  .message-audio {
    .audio-main {
      .audio-action-wrapper .audio-item-action {
        .audio-action {
          background-color: var(--dark-mention);
        }
        .media-size {
          color: var(--light);
        }
      }
      .audio-info .audio-performer,
      .audio-info .audio-title {
        color: var(--light);
      }
    }
  }
}
