/*
    Creation Time: 2018 - Sep - 26
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --grey-low: #555;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --light-alt: #f1f2f2;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --dark-color-hover: rgba(50, 61, 71, 0.64);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --light-mention: #2678b6;
  --glass-dark-low: rgba(0, 0, 0, 0.05);
  --glass-dark-high: rgba(0, 0, 0, 0.20);
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --dark-mention: #2d9fee;
  --dark-blue-low: #1A212E;
  --dark-blue-medium: #232F40;
  --dark-blue-high: #14395f;
  --dark-blue-high-alt: #2EA2FE;
  --dark-blue-hover: rgba(46, 162, 254, 0.5);
  --dark-blue-hover-light: rgba(46, 162, 254, 0.3);
  --dark-blue-accent-low: #3E6A96;
  --dark-blue-accent-medium: #344359;
  --dark-blue-mention: #2eadff;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

.compose-new-message .dialog-content {
  width: 300px;
  height: 500px; }
  .compose-new-message .dialog-content .page-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .compose-new-message .dialog-content .page-container .page {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transition: left 0.2s ease-out; }
      .compose-new-message .dialog-content .page-container .page.page-1 {
        left: 0; }
      .compose-new-message .dialog-content .page-container .page.page-2 {
        left: 100%; }
    .compose-new-message .dialog-content .page-container.page-2 .page-1 {
      left: -100%; }
    .compose-new-message .dialog-content .page-container.page-2 .page-2 {
      left: 0; }

.compose-new-message .page-content {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column; }
  .compose-new-message .page-content .dialog-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--river);
    color: var(--white);
    text-transform: uppercase; }
    .compose-new-message .page-content .dialog-header .action {
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 40px;
      margin: 0 5px;
      padding: 8px; }
      .compose-new-message .page-content .dialog-header .action svg {
        color: var(--white); }
  .compose-new-message .page-content .contact-list {
    flex: 1;
    height: auto; }
  .compose-new-message .page-content .compose-area {
    padding: 0 10px; }
  .compose-new-message .page-content .actions-bar {
    height: 86px;
    padding: 18px 0 22px;
    text-align: center;
    background-color: var(--message-chat); }
    .compose-new-message .page-content .actions-bar .add-action {
      display: inline-flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s; }
      .compose-new-message .page-content .actions-bar .add-action svg {
        font-size: 40px; }
      .compose-new-message .page-content .actions-bar .add-action:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
      .compose-new-message .page-content .actions-bar .add-action.send svg {
        font-size: 30px;
        margin-left: 2px;
        transition: transform 0.2s ease-out; }
      .compose-new-message .page-content .actions-bar .add-action.send:hover svg {
        transform: rotate(-30deg); }
    .compose-new-message .page-content .actions-bar.no-bg {
      background-color: transparent; }

html[theme="dark"] .compose-new-message .dialog-content,
html[theme="dark-blue"] .compose-new-message .dialog-content {
  background-color: var(--dark); }
  html[theme="dark"] .compose-new-message .dialog-content .compose-area textarea, html[theme="dark"] .compose-new-message .dialog-content .compose-area label,
  html[theme="dark-blue"] .compose-new-message .dialog-content .compose-area textarea,
  html[theme="dark-blue"] .compose-new-message .dialog-content .compose-area label {
    color: var(--white); }
  html[theme="dark"] .compose-new-message .dialog-content .actions-bar,
  html[theme="dark-blue"] .compose-new-message .dialog-content .actions-bar {
    background-color: var(--dark-medium); }
    html[theme="dark"] .compose-new-message .dialog-content .actions-bar.no-bg,
    html[theme="dark-blue"] .compose-new-message .dialog-content .actions-bar.no-bg {
      background-color: transparent; }

html[theme="dark-blue"] .compose-new-message .dialog-content {
  background-color: var(--dark-blue-low); }
  html[theme="dark-blue"] .compose-new-message .dialog-content .actions-bar {
    background-color: var(--dark-blue-medium); }
