@import '../../../style/common';

.write {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--light);
  border-width: 1px 1px 1px 0;
  background-color: #F4F4F5;
  flex-direction: column;
  .inputs {
    display: flex;
    min-height: 50px;
    .user {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      .user-avatar {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3) inset;
        font-size: 12px;
        .text-avatar {
          height: 32px;
          width: 32px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .input {
      position: relative;
      flex: 1;
      margin: 8px 0;
      z-index: 2;
      display: flex;
      textarea {
        font-size: 12px;
        line-height: 15px;
        float: left;
        width: calc(100% - 8px);
        height: 32px;
        min-height: 32px;
        padding: 7px 10px 8px;
        color: var(--dark);
        border: 1px solid rgba(50, 61, 71, 0.16);
        border-radius: 3px;
        outline: none;
        background-color: #fff;
        resize: none;
        margin: 0;
        @include font;
      }
      .write-link {
        position: absolute;
        right: 12px;
        top: 50%;
        height: 32px;
        transform: translateY(-50%);
        a {
          position: relative;
          height: 32px;
          margin: 0 2px;
          display: inline-block;
          svg {
            fill: var(--light);
            font-size: 20px;
            height: 32px;
          }
          &:hover {
            svg {
              fill: var(--grey);
            }
          }
        }
      }
      &.rtl .write-link {
        right: auto;
        left: 6px;
        bottom: 0;
      }
    }
  }
  .previews {
    display: flex;
    transition: height 0.1s;
    overflow: hidden;
    height: 0;
    .preview-container {
      margin: 8px 0 0 48px;
      overflow: hidden;
      flex: 1;
      .preview-message-wrapper {
        display: flex;
        position: relative;
        z-index: 1;
        overflow: hidden;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        .preview-bar {
          flex: none;
          width: 4px;
          border-top-left-radius: 7.5px;
          border-bottom-left-radius: 7.5px;
          background-color: #35cd96;
        }
        .preview-message {
          padding: 8px 12px 9px 11px;
          min-height: 32px;
          max-height: 82px;
          display: flex;
          align-items: center;
          overflow: hidden;
          flex-grow: 1;
          flex-direction: column;
          .preview-message-user {
            color: #35cd96;
            font-size: 13px;
            @include font-bold;
            text-align: left;
            justify-content: left;
            width: 100%;
          }
          .preview-message-body {
            text-align: left;
            width: 100%;
            padding: 3px 0 0;
            font-size: 12px;
            font-weight: 100;
            .inner {
              line-height: 1.2em;
              max-height: 2.4em;
              white-space: normal;
              overflow: hidden;
              text-overflow: ellipsis;
              &.rtl {
                direction: rtl;
              }
              &.ltr {
                direction: ltr;
              }
            }
          }
        }
        &.edit {
          .preview-bar {
            background-color: #b30000
          }
          .preview-message .preview-message-user {
            color: #b30000
          }
        }
        &.reply-you {
          .preview-bar {
            background-color: #6bcbef
          }
          .preview-message .preview-message-user {
            color: #6bcbef
          }
        }
      }
    }
    .preview-clear {
      margin: 8px 0 0;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-clear {
        height: 32px;
        width: 32px;
        color: inherit;
        svg {
          font-size: 20px;
        }
      }
    }
  }
}

html[theme="dark"] {
  .write {
    border: 1px solid var(--dark-medium);
    background-color: var(--dark-medium);
    .inputs {
      .input {
        textarea {
          background-color: var(--dark-low);
          color: var(--light);
        }
      }
    }
    .previews {
      color: var(--light);
      fill: var(--light);
      .preview-container {
        .preview-message-wrapper {
          background-color: rgba(255, 255, 255, 0.07);
        }
      }
    }
  }
  .emoji-mart {
    background-color: var(--dark-medium);
    border-color: var(--dark-high);
    .emoji-mart-bar {
      border-color: var(--dark-low);
    }
    .emoji-mart-search input {
      background-color: var(--dark-low);
      border-color: var(--dark-high);
      color: var(--light);
    }
    .emoji-mart-category-label span {
      background-color: transparent;
      color: var(--light);
    }
    .emoji-mart-search-icon {
      fill: var(--light);
    }
  }
}