*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --white: #fff;
  --black: #000;
  --black-text: #323D47;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1200px;
  --blue: #00b0ff;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #60BF70;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.08);
  --color-text-hover: rgba(50, 61, 71, 0.64); }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

.write {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--light);
  border-width: 1px 1px 1px 0;
  background-color: #F4F4F5; }
  .write .user {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .write .user .user-avatar {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background-color: #ccc;
      background-position: center center;
      background-size: cover;
      background-image: url(../../../asset/image/user.png);
      overflow: hidden;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3) inset; }
      .write .user .user-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .write .input {
    position: relative;
    flex: 1;
    margin: 8px 0;
    z-index: 2;
    display: flex; }
    .write .input textarea {
      font-size: 12px;
      line-height: 15px;
      float: left;
      width: calc(100% - 8px);
      height: 30px;
      padding: 7px 10px 8px;
      color: var(--dark);
      border: 1px solid rgba(50, 61, 71, 0.16);
      border-radius: 3px;
      outline: none;
      background-color: #fff;
      resize: none;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400; }
    .write .input .write-link {
      position: absolute;
      right: 16px;
      bottom: 0; }
      .write .input .write-link a {
        position: relative;
        height: 32px; }
        .write .input .write-link a:before {
          display: inline-block;
          float: left;
          width: 20px;
          height: 32px;
          padding: 0 0 0 4px;
          content: '';
          background-repeat: no-repeat;
          background-position: center;
          opacity: 0.5;
          transition: opacity 0.2s; }
        .write .input .write-link a:hover:before {
          opacity: 1; }
      .write .input .write-link .attach:before {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png"); }
      .write .input .write-link .smiley:before {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png"); }
      .write .input .write-link .send:before {
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png"); }
