@import '../../../style/common';

.write {
  //display: flex;
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //right: 0;
  border: 1px solid var(--light);
  border-width: 1px 1px 1px 0;
  background-color: #F4F4F5;
  .suggestion-list-container {
    transition: height 0.1s;
    .mention__suggestions {
      position: static !important;
      background-color: transparent !important;
      top: auto !important;
      left: auto !important;
      overflow: hidden;
      margin-top: 8px !important;
      .mention__suggestions__list {
        white-space: nowrap;
        text-align: left;
        .mention__suggestions__item {
          font-size: 12px;
          .inner {
            display: flex;
            flex-direction: row;
            padding: 3px 8px;
            &.focused {
              background-color: var(--white);
            }
            .avatar {
              height: 32px;
              width: 32px;
              margin-right: 8px;
            }
            .info {
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: end;
              flex-direction: column;
              .name {
                margin-top: 3px;
              }
              .username {
                color: var(--grey);
                margin-top: 3px;
              }
            }
          }
        }
      }
    }
  }
  .inputs {
    display: flex;
    min-height: 50px;
    .user {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      .user-avatar {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3) inset;
        font-size: 12px;
        .text-avatar {
          height: 32px;
          width: 32px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .input {
      position: relative;
      flex: 1;
      margin: 8px 0;
      z-index: 2;
      display: flex;
      .textarea-container {
        direction: ltr;
        font-size: 12px !important;
        line-height: 1.25em;
        border: 1px solid rgba(50, 61, 71, 0.16);
        border-radius: 3px;
        background-color: #fff !important;
        min-height: 32px;
        width: calc(100% - 8px);
        max-height: 120px;
        z-index: 10;
        padding: 6px;
        .mention {
          position: static !important;
          .mention__control {
            .mention__highlighter {
              position: absolute !important;
              left: 9px;
              top: 9px !important;
              .mention-item {
                border-bottom: 1px solid var(--grey);
              }
            }
            textarea {
              height: 1.1em !important;
              padding-right: 60px;
              overflow: hidden !important;
              line-height: 1.1em;
              &._2-line {
                height: 2.4em !important;
              }
              &._3-line {
                height: 3.5em !important;
              }
              &._4-line {
                height: 4.7em !important;
              }
              &._5-line {
                height: 5.9em !important;
                overflow: auto !important;
              }
            }
          }
        }
      }
      .write-link {
        position: absolute;
        right: 12px;
        top: 50%;
        height: 32px;
        transform: translateY(-50%);
        z-index: 11;
        a {
          position: relative;
          height: 32px;
          margin: 0 2px;
          display: inline-block;
          svg {
            fill: var(--light);
            font-size: 20px;
            height: 32px;
          }
          &:hover {
            svg {
              fill: var(--grey);
            }
          }
        }
      }
      &.rtl textarea {
        direction: rtl;
      }
    }
  }
  .actions {
    display: flex;
    min-height: 50px;
    .left-action {
      width: 50px;
      text-align: left;
    }
    .right-action {
      flex: 1;
      text-align: right;
    }
  }
  .previews {
    display: flex;
    transition: height 0.1s;
    overflow: hidden;
    height: 0;
    .preview-container {
      margin: 8px 0 0 48px;
      overflow: hidden;
      flex: 1;
      .preview-message-wrapper {
        display: flex;
        position: relative;
        z-index: 1;
        overflow: hidden;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        .preview-bar {
          flex: none;
          width: 4px;
          border-top-left-radius: 7.5px;
          border-bottom-left-radius: 7.5px;
          background-color: #35cd96;
        }
        .preview-message {
          padding: 8px 12px 9px 11px;
          min-height: 32px;
          max-height: 82px;
          display: flex;
          align-items: center;
          overflow: hidden;
          flex-grow: 1;
          flex-direction: column;
          .preview-message-user {
            color: #35cd96;
            font-size: 13px;
            @include font-bold;
            text-align: left;
            justify-content: left;
            width: 100%;
          }
          .preview-message-body {
            text-align: left;
            width: 100%;
            padding: 3px 0 0;
            font-size: 12px;
            font-weight: 100;
            .inner {
              line-height: 1.2em;
              max-height: 2.4em;
              white-space: normal;
              overflow: hidden;
              text-overflow: ellipsis;
              &.rtl {
                direction: rtl;
              }
              &.ltr {
                direction: ltr;
              }
            }
          }
        }
        &.edit {
          .preview-bar {
            background-color: #b30000
          }
          .preview-message .preview-message-user {
            color: #b30000
          }
        }
        &.reply-you {
          .preview-bar {
            background-color: #6bcbef
          }
          .preview-message .preview-message-user {
            color: #6bcbef
          }
        }
      }
    }
    .preview-clear {
      margin: 8px 0 0;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn-clear {
        height: 32px;
        width: 32px;
        color: inherit;
        padding: 5px;
        svg {
          font-size: 20px;
        }
      }
    }
  }
}

.input-placeholder {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: var(--red);
  text-transform: uppercase;
  .btn {
    cursor: pointer;
    font-weight: bold;
    margin: 0 6px;
    &:hover {
      text-decoration: underline;
    }
  }
}

html[theme="dark"] {
  .write {
    border: 1px solid var(--dark-medium);
    background-color: var(--dark-medium);
    .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item {
      color: var(--light);
      .inner.focused {
        background-color: var(--dark-high);
      }
    }
    .inputs {
      .input {
        .textarea-container {
          background-color: var(--dark-low) !important;
          color: var(--light) !important;
          textarea {
            color: var(--light) !important;
          }
        }
      }
    }
    .actions {
      svg {
        color: var(--white);
      }
      [disabled] svg {
        color: var(--grey);
      }
    }
    .previews {
      color: var(--light);
      fill: var(--light);
      .preview-container {
        .preview-message-wrapper {
          background-color: rgba(255, 255, 255, 0.07);
        }
      }
    }
  }
  .emoji-mart {
    background-color: var(--dark-medium);
    border-color: var(--dark-high);
    .emoji-mart-bar {
      border-color: var(--dark-low);
    }
    .emoji-mart-search input {
      background-color: var(--dark-low);
      border-color: var(--dark-high);
      color: var(--light);
    }
    .emoji-mart-category-label span {
      background-color: transparent;
      color: var(--light);
    }
    .emoji-mart-search-icon {
      fill: var(--light);
    }
  }
}

html[font="1"] {
  .write .inputs .input .textarea-container,
  .write .inputs .input .textarea-container textarea {
    font-size: 12px !important;
  }
}

html[font="2"] {
  .write .inputs .input .textarea-container,
  .write .inputs .input .textarea-container textarea {
    font-size: 14px !important;
  }
}

html[font="3"] {
  .write .inputs .input .textarea-container,
  .write .inputs .input .textarea-container textarea {
    font-size: 16px !important;
  }
}

html[font="4"] {
  .write .inputs .input .textarea-container,
  .write .inputs .input .textarea-container textarea {
    font-size: 18px !important;
  }
}

html[font="5"] {
  .write .inputs .input .textarea-container,
  .write .inputs .input .textarea-container textarea {
    font-size: 20px !important;
  }
}

.mobile-view {
  .write {
    .inputs {
      .input {
        .textarea-container {
          font-size: 16px !important;
          line-height: 20px;
          textarea {
            padding: 5px 10px;
            font-size: 16px !important;
          }
        }
      }
    }
  }
}
