@import '../../../style/common';

.write {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid var(--light);
  border-width: 1px 1px 1px 0;
  background-color: #F4F4F5;
  .user {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    .user-avatar {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background-color: #ccc;
      background-position: center center;
      background-size: cover;
      background-image: url(../../../asset/image/user.png);
      overflow: hidden;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3) inset;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .input {
    position: relative;
    flex: 1;
    margin: 8px 0;
    z-index: 2;
    display: flex;
    textarea {
      font-size: 12px;
      line-height: 15px;
      float: left;
      width: calc(100% - 8px);
      height: 30px;
      padding: 7px 10px 8px;
      color: var(--dark);
      border: 1px solid rgba(50, 61, 71, 0.16);
      border-radius: 3px;
      outline: none;
      background-color: #fff;
      resize: none;
      @include font;
    }
    .write-link {
      position: absolute;
      right: 12px;
      bottom: 0;
      height: 32px;
      a {
        position: relative;
        height: 32px;
        margin: 0 2px;
        display: inline-block;
        svg {
          fill: var(--light);
          font-size: 20px;
          height: 32px;
        }
        &:hover {
          svg {
            fill: var(--grey);
          }
        }
      }
    }
    &.rtl .write-link {
      right: auto;
      left: 6px;
      bottom: 0;
    }
  }
}