/*
    Creation Time: 2019 - June - 02
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/mixin';

.status-bar {
  display: flex;
  flex-direction: column;
  color: var(--grey);
  font-size: 12px;
  justify-content: space-evenly;
  height: 100%;
  user-select: none;

  .name {
    color: var(--dark);
    line-height: 1.3em;
    font-size: 15px;
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    @include font-bold;

    svg {
      font-size: 16px;
      margin-right: 6px;
      vertical-align: bottom;
    }
  }

  .online {
    color: var(--river) !important;
  }

  .try-again-container {
    display: block;

    .try-again {
      display: none;
      color: var(--dark);
      margin: 0 6px;
    }
  }

  &:hover {
    .try-again-container {
      .try-again {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
}

html[direction="rtl"] {
  .status-bar {
    align-items: flex-start;

    .name {
      svg {
        margin-right: 0;
        margin-left: 6px;
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .status-bar {
    .online {
      color: var(--dark-mention) !important;
    }
  }
}
