/*
    Creation Time: 2019 - June - 02
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
.status-bar {
  padding: 3px 0 5px;
  display: flex;
  flex-direction: column;
  color: var(--grey);
  font-size: 12px; }
  .status-bar .name {
    color: var(--dark);
    line-height: 1.3em;
    font-size: 15px;
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
    font-weight: 600; }
    .status-bar .name svg {
      font-size: 16px;
      margin-right: 6px;
      vertical-align: bottom; }
  .status-bar .online {
    color: var(--river) !important; }

html[direction="rtl"] .status-bar {
  align-items: flex-start; }
  html[direction="rtl"] .status-bar .name svg {
    margin-right: 0;
    margin-left: 6px; }

html[theme="dark"] .status-bar .online,
html[theme="dark-blue"] .status-bar .online {
  color: var(--dark-mention) !important; }
