/*
    Creation Time: 2020 - Nov - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2020
*/

.call-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:not(.cp-1) {
    display: grid;
    grid-auto-flow: row;
  }

  .call-user-container {
    position: relative;

    .call-user {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      .avatar-image, .text-avatar {
        border-radius: 0;
        font-size: 40px;
        object-fit: cover;
        object-position: center center;
      }
    }

    .call-user-status {
      position: absolute;
      top: 75%;
      left: 50%;
      text-align: center;
      white-space: nowrap;
      color: var(--white);
      background-color: var(--glass-dark-ultra);
      padding: 4px 12px 5px;
      border-radius: 5px;
      text-transform: lowercase;
      transform: translate(-50%, -50%);
      line-height: 1em;
      z-index: 2;
    }
  }

  &.cp-1 {
    .call-user-container {
      height: 100%;
    }
  }

  .screen-share-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 16;
    overflow: hidden;

    .screen-share-user {
      display: flex;
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translate(-50%, -200px);
      white-space: nowrap;
      line-height: 1.1em;
      z-index: 1;
      font-size: 13px;
      background-color: rgba(255, 255, 255, 0.7);
      color: var(--dark);
      border-radius: 5px;
      padding: 4px 10px 4px 10px;
      text-align: center;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
      transition: 0.2s transform;

      .screen-share-label {
        padding-right: 6px;
      }

      .user {
        font-weight: bold;
      }
    }

    &:hover {
      .screen-share-user {
        transform: translate(-50%, 0);
      }
    }

    video {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: none !important;
    }
  }
}

.call-modal:not(.mobile-vew) {
  .call-video {
    &.cp-2, &.cp-3, &.cp-4 {
      grid-template-columns: repeat(2, 1fr);
    }

    &.cp-3, &.cp-4, &.cp-5, &.cp-6 {
      grid-template-rows: repeat(2, 1fr);
      height: 100%;
    }

    &.cp-7, &.cp-8, &.cp-9, &.cp-10, &.cp-11, &.cp-12 {
      grid-template-rows: repeat(3, 1fr);
    }

    &.cp-3 {
      .call-user-container:nth-child(3) {
        grid-column: auto / span 2;
      }
    }

    &.cp-6, &.cp-7, &.cp-8, &.cp-9 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.cp-7, &.cp-8, &.cp-9 {
      grid-template-rows: repeat(3, 1fr);
    }

    &.cp-5 {
      grid-template-columns: repeat(6, 1fr);

      .call-user-container {
        grid-column: auto / span 2;
      }

      .call-user-container:nth-child(4), .call-user-container:nth-child(5) {
        grid-column: auto / span 3;
      }
    }

    &.cp-7 {
      .call-user-container:nth-child(7) {
        grid-column: auto / span 3;
      }
    }

    &.cp-8 {
      grid-template-columns: repeat(6, 1fr);

      .call-user-container {
        grid-column: auto / span 2;
      }

      .call-user-container:nth-child(7), .call-user-container:nth-child(8) {
        grid-column: auto / span 3;
      }
    }

    &.cp-10 {
      grid-template-columns: repeat(4, 1fr);

      .call-user-container:nth-child(9), .call-user-container:nth-child(10) {
        grid-column: auto / span 2;
      }
    }

    &.cp-11 {
      grid-template-columns: repeat(12, 1fr);

      .call-user-container {
        grid-column: auto / span 3;
      }

      .call-user-container:nth-child(9), .call-user-container:nth-child(10), .call-user-container:nth-child(11) {
        grid-column: auto / span 4;
      }
    }

    &.cp-12 {
      grid-template-columns: repeat(12, 1fr);

      .call-user-container {
        grid-column: auto / span 3;
      }
    }
  }
}

.call-modal.mobile-vew {
  .call-video {
    &.cp-2, &.cp-3, &.cp-4 {
      grid-template-rows: repeat(2, 1fr);
    }

    &.cp-3, &.cp-4, &.cp-5, &.cp-6 {
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }

    &.cp-7, &.cp-8, &.cp-9, &.cp-10, &.cp-11, &.cp-12 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.cp-3 {
      .call-user-container:nth-child(3) {
        grid-row: auto / span 2;
      }
    }

    &.cp-6, &.cp-7, &.cp-8, &.cp-9 {
      grid-template-rows: repeat(3, 1fr);
    }

    &.cp-7, &.cp-8, &.cp-9 {
      grid-template-columns: repeat(3, 1fr);
    }

    &.cp-5 {
      grid-template-rows: repeat(6, 1fr);

      .call-user-container {
        grid-row: auto / span 2;
      }

      .call-user-container:nth-child(4), .call-user-container:nth-child(5) {
        grid-row: auto / span 3;
      }
    }

    &.cp-7 {
      .call-user-container:nth-child(7) {
        grid-row: auto / span 3;
      }
    }

    &.cp-8 {
      grid-template-rows: repeat(6, 1fr);

      .call-user-container {
        grid-row: auto / span 2;
      }

      .call-user-container:nth-child(7), .call-user-container:nth-child(8) {
        grid-row: auto / span 3;
      }
    }

    &.cp-10 {
      grid-template-rows: repeat(4, 1fr);

      .call-user-container:nth-child(9), .call-user-container:nth-child(10) {
        grid-row: auto / span 2;
      }
    }

    &.cp-11 {
      grid-template-rows: repeat(12, 1fr);

      .call-user-container {
        grid-row: auto / span 3;
      }

      .call-user-container:nth-child(9), .call-user-container:nth-child(10), .call-user-container:nth-child(11) {
        grid-row: auto / span 4;
      }
    }

    &.cp-12 {
      grid-template-rows: repeat(12, 1fr);

      .call-user-container {
        grid-row: auto / span 3;
      }
    }
  }
}

.call-modal.minimize {
  .call-modal-content {
    .call-video .call-user-container .video-placeholder {
      .video-user-placeholder, .vod-wave {
        top: 50%;
      }

      .video-user-placeholder .video-user-audio-muted {
        padding: 4px 0 6px;
        font-size: 0;
      }
    }

    &.group-call {
      .call-video {
        display: flex;
        align-items: center;
        justify-content: center;

        .call-user-container {
          height: 72px !important;
          width: 72px !important;
          margin: 0 -12px;

          .video-placeholder-user {
            display: none;
          }

          .video-placeholder {
            .video-user-placeholder, .vod-wave {
              height: 56px;
              width: 56px;
            }

            &.video-muted {
              .audio-muted {
                top: calc(50% - 18px);
                left: calc(50% - 18px);

                svg {
                  font-size: 12px;
                }
              }
            }
          }
        }

        &.cp-7, &.cp-8, &.cp-9, &.cp-10, &.cp-11, &.cp-12 {
          .call-user-container {
            margin: 0 -28px;
          }
        }
      }
    }
  }
}