.seen-by-list-dialog {
  min-height: 100%;
  padding: 6px;

  .river-loading {
    transform: scale(0.5);
  }

  .user-chip {
    background-color: var(--light);
    margin: 0 4px 4px 0;
    line-height: 1em;
    color: inherit;
  }
}

html[direction="rtl"] {
}

html[theme="dark"],
html[theme="dark-night"] {
  .seen-by-list-dialog {
    .user-chip {
      background-color: var(--dark-high);
    }
  }
}

html[theme="dark-blue"] {
  .seen-by-list-dialog {
    .user-chip {
      background-color: var(--dark-blue-accent-medium);
    }
  }
}