.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 100;
  background-color: #ff9e30;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  .chat-inner {
    width: 1000px;
    height: 800px;

    .scroll-view {
      overflow: scroll;
    }
  }
}