/*
    Creation Time: 2019 - May - 20
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
.storage-usage .storage-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  border-bottom: 1px solid #E0E0E0;
  padding: 0 4px 0 8px; }
  .storage-usage .storage-item:last-of-type {
    border-bottom: none; }
  .storage-usage .storage-item .icon-container .avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    float: left;
    margin-right: 12px; }
    .storage-usage .storage-item .icon-container .avatar img {
      float: left;
      width: 42px;
      height: 42px;
      object-fit: cover;
      border-radius: 50%; }
    .storage-usage .storage-item .icon-container .avatar .inner {
      line-height: 1em; }
  .storage-usage .storage-item .info-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
    .storage-usage .storage-item .info-container .name-row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      line-height: 1.2em;
      margin: 0 0 6px; }
      .storage-usage .storage-item .info-container .name-row svg {
        font-size: 16px;
        vertical-align: sub;
        margin: 0 4px 0 0; }
    .storage-usage .storage-item .info-container .size-row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 12px;
      color: var(--river);
      line-height: 1.2em; }
  .storage-usage .storage-item .action-container {
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; }
    .storage-usage .storage-item .action-container svg {
      color: var(--red); }
  .storage-usage .storage-item:hover .action-container {
    visibility: visible; }
