/*
    Creation Time: 2018 - Oct - 03
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
.text-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .text-avatar .inner {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 100;
    letter-spacing: 3px;
    padding-left: 3px; }

.avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.saved-messages-avatar {
  background-color: var(--river);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; }
  .saved-messages-avatar svg {
    color: var(--light);
    font-size: 30px; }

.avatar-official {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden; }
  .avatar-official .river-logo {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
