/*
    Creation Time: 2018 - 11 - 24
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

.new-group-menu {
  height: 100%;

  .page-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .page {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: left 0.2s ease-out;

      &.page-1 {
        left: 0;
      }

      &.page-2 {
        left: 100%;
      }
    }

    &.page-2 {
      .page-1 {
        left: -100%;
      }

      .page-2 {
        left: 0;
      }
    }
  }

  .menu-header {
    text-align: left;
    height: 47px;
    background-color: var(--header-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

    label {
      padding: 10px 10px 10px 0;
    }
  }

  .avatar-container {
    padding: 24px 0 12px;

    .avatar {
      position: relative;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: inline-block;
      font-size: 75px;
      line-height: 0;
      overflow: hidden;

      .text-avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .inner {
          box-sizing: border-box;
          white-space: nowrap;
          overflow: hidden;
          font-weight: 100;
          letter-spacing: 3px;
          padding-left: 3px;
        }
      }

      .avatar-image {
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(140, 140, 140, 0.85);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &:hover,
        &.show {
          opacity: 1;
        }

        svg {
          color: var(--light-alt);
        }

        .text {
          font-size: 13px;
          line-height: 1.1em;
          color: var(--light-alt);
        }

        .progress-action {
          position: relative;
          height: 32px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;

          .progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 32px;
            width: 32px;
            transform-origin: center center;
            animation-name: rotateDonut;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            svg {
              position: absolute;
              top: 0;
              left: 0;
              height: 32px;
              width: 32px;

              circle {
                fill: transparent;
                stroke: var(--white);
                stroke-width: 2px;
                stroke-dasharray: 3 88;
                transition: stroke-dasharray 0.1s ease;
              }
            }
          }

          > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 24px;
            transform: translate(-50%, -50%);
          }
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }
  }

  .input-container {
    min-height: 48px;
    padding: 10px;

    .chip {
      margin: 0 3px 3px 0;
    }
  }

  .contact-box {
    flex: 1;

    .contact-container {
      height: 100%;

      .contact-item {
        position: relative;
        width: 100%;
        height: 64px;
        padding: 8px;
        cursor: pointer;
        text-align: left;

        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 100%;
          height: 1px;
          content: '';
          background-color: var(--light);
          transform: translate(-50%, 0);
        }

        &:hover {
          border: 0;
          background-color: var(--color-hover);
        }

        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          float: left;
          margin-right: 12px;

          img {
            float: left;
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .name {
          display: inline-block;
          min-width: 200px;
          font-size: 12px;
          line-height: 23px;
          margin: 0 0 4px;
          color: var(--dark);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 230px;
          font-weight: bold;
        }

        .phone {
          font-size: 14px;
          line-height: 17px;
          display: inline-block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--grey);
        }
      }
    }
  }

  .actions-bar {
    height: 86px;
    padding: 18px 0 22px;
    text-align: center;
    background-color: var(--message-chat);

    &.no-bg {
      background-color: transparent;
    }

    .add-action {
      display: inline-flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s;

      svg {
        font-size: 40px;
      }

      &:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

html[direction="rtl"] {
  .new-group-menu {
    .menu-header {
      direction: ltr;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;

      > button {
        transform: rotateY(180deg);
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .new-group-menu {
    .menu-header {
      background-color: var(--dark-medium);
      color: var(--white);
      border-color: var(--dark-low-op50);

      svg {
        color: var(--white);
      }
    }

    .input-container {
      color: var(--white);

      .chip {
        background-color: var(--dark-high);
        color: var(--white);
      }

      label, input {
        color: var(--white);
      }
    }

    .contact-box {
      .contact-container {
        .contact-item {
          &:after {
            background-color: var(--dark-low-op50);
          }

          .name {
            color: var(--light);
          }
        }
      }
    }

    .actions-bar {
      background-color: var(--dark-medium);
      border-top: 1px solid var(--dark-low-op50);

      &.no-bg {
        background-color: transparent;
      }
    }
  }
}

html[theme="dark-blue"] {
  .new-group-menu {
    .menu-header {
      background-color: var(--dark-blue-medium);
      border-color: var(--dark-blue-low-op50);
    }

    .input-container {
      .chip {
        background-color: var(--dark-blue-high);
      }
    }

    .contact-box {
      .contact-container {
        .contact-item {
          &:after {
            background-color: var(--dark-blue-low-op50);
          }
        }
      }
    }

    .actions-bar {
      border-top: 1px solid var(--dark-blue-low-op50);
      background-color: var(--dark-blue-medium);
    }
  }
}
