*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

.new-group-menu {
  height: 100%; }
  .new-group-menu .page-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .new-group-menu .page-container .page {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: left 0.2s ease-out; }
      .new-group-menu .page-container .page.page-1 {
        left: 0; }
      .new-group-menu .page-container .page.page-2 {
        left: 100%; }
    .new-group-menu .page-container.page-2 .page-1 {
      left: -100%; }
    .new-group-menu .page-container.page-2 .page-2 {
      left: 0; }
  .new-group-menu .menu-header {
    background-color: var(--bg);
    text-align: left;
    height: 47px;
    color: var(--dark-medium); }
    .new-group-menu .menu-header label {
      padding: 10px 10px 10px 0; }
  .new-group-menu .input-container {
    min-height: 48px;
    padding: 10px; }
    .new-group-menu .input-container .chip {
      margin: 0 3px 3px 0; }
  .new-group-menu .contact-box {
    flex: 1; }
    .new-group-menu .contact-box .contact-container {
      height: 100%; }
      .new-group-menu .contact-box .contact-container .contact-item {
        position: relative;
        width: 100%;
        height: 64px;
        padding: 8px;
        cursor: pointer;
        text-align: left; }
        .new-group-menu .contact-box .contact-container .contact-item:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 100%;
          height: 1px;
          content: '';
          background-color: var(--light);
          transform: translate(-50%, 0); }
        .new-group-menu .contact-box .contact-container .contact-item:hover {
          border: 0;
          background-color: var(--color-hover); }
        .new-group-menu .contact-box .contact-container .contact-item .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          float: left;
          margin-right: 12px; }
          .new-group-menu .contact-box .contact-container .contact-item .avatar img {
            float: left;
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%; }
        .new-group-menu .contact-box .contact-container .contact-item .name {
          display: inline-block;
          min-width: 200px;
          font-size: 12px;
          line-height: 23px;
          margin: 0 0 4px;
          color: var(--dark);
          font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 230px; }
        .new-group-menu .contact-box .contact-container .contact-item .phone {
          font-size: 14px;
          line-height: 17px;
          display: inline-block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--grey); }
  .new-group-menu .actions-bar {
    height: 86px;
    padding: 18px 0 22px;
    text-align: center;
    background-color: var(--message-chat); }
    .new-group-menu .actions-bar.no-bg {
      background-color: transparent; }
    .new-group-menu .actions-bar .add-action {
      display: inline-flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s; }
      .new-group-menu .actions-bar .add-action svg {
        font-size: 40px; }
      .new-group-menu .actions-bar .add-action:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

html[theme="dark"] .new-group-menu .menu-header {
  background-color: var(--dark-high);
  color: var(--white); }
  html[theme="dark"] .new-group-menu .menu-header svg {
    color: var(--white); }

html[theme="dark"] .new-group-menu .input-container {
  color: var(--white); }
  html[theme="dark"] .new-group-menu .input-container .chip {
    background-color: var(--dark-high);
    color: var(--white); }
  html[theme="dark"] .new-group-menu .input-container label, html[theme="dark"] .new-group-menu .input-container input {
    color: var(--white); }

html[theme="dark"] .new-group-menu .contact-box .contact-container .contact-item:after {
  background-color: var(--dark-low); }

html[theme="dark"] .new-group-menu .contact-box .contact-container .contact-item .name {
  color: var(--light); }

html[theme="dark"] .new-group-menu .actions-bar {
  background-color: var(--dark-high); }
  html[theme="dark"] .new-group-menu .actions-bar.no-bg {
    background-color: transparent; }
