/*
    Creation Time: 2018 - Oct - 20
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --light-mention: #2678b6;
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --dark-mention: #2d9fee;
  --dark-blue-low: #1A212E;
  --dark-blue-medium: #232F40;
  --dark-blue-high: #14395f;
  --dark-blue-high-alt: #2EA2FE;
  --dark-blue-hover: rgba(46,162,254, 0.5);
  --dark-blue-hover-light: rgba(46,162,254, 0.3);
  --dark-blue-accent-low: #3E6A96;
  --dark-blue-accent-medium: #232F40;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

.pop-up-date-container {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100px;
  height: 40px;
  transform: translateX(calc(-50% + 4px));
  overflow: hidden;
  z-index: 10; }
  .pop-up-date-container .pop-up-date {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(225, 245, 254, 0.92);
    border-radius: 7.5px;
    padding: 5px 10px 6px 10px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    font-weight: 100;
    box-sizing: border-box;
    color: rgba(69, 90, 100, 0.95);
    display: inline-block;
    white-space: nowrap;
    font-size: 12.5px;
    line-height: 21px;
    text-transform: uppercase;
    opacity: 0.4;
    transition: all 0.5s; }
    .pop-up-date-container .pop-up-date.down {
      top: 5px;
      opacity: 1; }

html[theme="dark"] .pop-up-date-container .pop-up-date {
  background-color: var(--dark-high);
  text-shadow: none;
  color: var(--grey); }

html[theme="dark-blue"] .pop-up-date-container .pop-up-date {
  background-color: var(--dark-blue-hover);
  text-shadow: none;
  color: var(--white); }
