/*
    Creation Time: 2018 - Oct - 05
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
@import '../../../style/mixin';
@import '../../../style/common';

.loading-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21352e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  overflow: hidden;
  z-index: 1;

  .close-btn {
    position: fixed;
    top: 8px;
    left: 8px;

    button {
      padding: 6px;

      svg {
        font-size: 28px;
        color: var(--white);
      }
    }
  }

  .loading-area {
    position: relative;
    display: flex;
    height: 400px;
    width: 400px;
    background: #fff;
    border-radius: 50%;

    .rc-progress-circle {
      height: 400px;
      width: 400px;
    }

    .loading-text {
      @include font;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      line-height: 40px;
      font-weight: 100;

      .info {
        color: #00a24d;
        font-size: 15px;
        white-space: nowrap;
      }
    }

    .logo {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 600px) {
  .loading-page {
    .loading-area {
      height: 300px;
      width: 300px;

      .rc-progress-circle {
        height: 300px;
        width: 300px;
      }

      .loading-text {
        font-size: 15px;
        line-height: 30px;

        .info {
          font-size: 13px;
        }
      }

      .logo {
        transform: translateX(-50%) scale(0.7);
      }
    }
  }
}
