/*
    Creation Time: 2018 - Oct - 05
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --grey-low: #555;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --light-alt: #f1f2f2;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --dark-color-hover: rgba(50, 61, 71, 0.64);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --light-mention: #2678b6;
  --glass-dark-low: rgba(0, 0, 0, 0.05);
  --glass-dark-high: rgba(0, 0, 0, 0.20);
  --dark-low: #191919;
  --dark-low-op50: #19191999;
  --dark-medium: #232323;
  --dark-medium-op50: #23232399;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --dark-mention: #2d9fee;
  --dark-blue-low: #1A212E;
  --dark-blue-low-op50: #1A212E99;
  --dark-blue-medium: #232F40;
  --dark-blue-medium-op50: #232F4099;
  --dark-blue-high: #14395f;
  --dark-blue-high-alt: #2EA2FE;
  --dark-blue-hover: rgba(46, 162, 254, 0.5);
  --dark-blue-hover-light: rgba(46, 162, 254, 0.3);
  --dark-blue-accent-low: #3E6A96;
  --dark-blue-accent-medium: #344359;
  --dark-blue-mention: #2eadff;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

.loading-page {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21352e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  overflow: hidden;
  z-index: 1; }
  .loading-page .close-btn {
    position: fixed;
    top: 8px;
    left: 8px; }
    .loading-page .close-btn button {
      padding: 6px; }
      .loading-page .close-btn button svg {
        font-size: 28px;
        color: var(--white); }
  .loading-page .loading-area {
    position: relative;
    display: flex;
    height: 400px;
    width: 400px;
    background: #fff;
    border-radius: 50%; }
    .loading-page .loading-area .rc-progress-circle {
      height: 400px;
      width: 400px; }
    .loading-page .loading-area .loading-text {
      font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
      font-weight: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      line-height: 40px;
      font-weight: 100; }
      .loading-page .loading-area .loading-text .info {
        color: #00a24d;
        font-size: 15px;
        white-space: nowrap; }
    .loading-page .loading-area .logo {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(-50%); }

@media screen and (max-width: 600px) {
  .loading-page .loading-area {
    height: 300px;
    width: 300px; }
    .loading-page .loading-area .rc-progress-circle {
      height: 300px;
      width: 300px; }
    .loading-page .loading-area .loading-text {
      font-size: 15px;
      line-height: 30px; }
      .loading-page .loading-area .loading-text .info {
        font-size: 13px; }
    .loading-page .loading-area .logo {
      transform: translateX(-50%) scale(0.7); } }
