*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --white: #fff;
  --black: #000;
  --black-text: #323D47;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1200px;
  --blue: #00b0ff;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #dcf8c6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --color-text-hover: rgba(50, 61, 71, 0.64); }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

.loading-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21352e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E"); }
  .loading-page .loading-area {
    position: relative;
    display: flex;
    height: 400px;
    width: 400px;
    background: #fff;
    border-radius: 50%; }
    .loading-page .loading-area .rc-progress-circle {
      height: 400px;
      width: 400px; }
    .loading-page .loading-area .loading-text {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      line-height: 40px;
      font-weight: 100; }
      .loading-page .loading-area .loading-text .info {
        color: #00a24d;
        font-size: 15px;
        white-space: nowrap; }
    .loading-page .loading-area .logo {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(-50%); }
