/*
    Creation Time: 2019 - Jan - 22
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
.audio-player-shell {
  background-color: var(--header-color);
  transition: height 0.2s;
  height: 0;
  overflow: hidden; }
  .audio-player-shell.open {
    border-top: 1px solid var(--light);
    height: auto; }
  .audio-player-shell .shell {
    padding: 4px 6px;
    display: flex; }
    .audio-player-shell .shell svg {
      font-size: 20px;
      color: var(--grey);
      cursor: pointer; }
      .audio-player-shell .shell svg:hover {
        color: var(--dark); }
    .audio-player-shell .shell .audio-player-play-action {
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .audio-player-shell .shell .audio-player-content {
      flex: 1;
      align-items: center;
      justify-content: flex-start;
      display: flex; }
      .audio-player-shell .shell .audio-player-content a {
        text-decoration: none;
        text-transform: none;
        color: var(--grey); }
      .audio-player-shell .shell .audio-player-content .audio-player-anchor {
        font-size: 12px;
        cursor: pointer;
        text-align: left;
        padding: 2px 6px 0; }
        .audio-player-shell .shell .audio-player-content .audio-player-anchor .user {
          font-weight: bold; }
    .audio-player-shell .shell .audio-player-action {
      display: flex;
      width: 48px;
      margin-right: 6px;
      justify-content: space-between; }
      .audio-player-shell .shell .audio-player-action svg.enable {
        color: var(--dark); }

html[theme="dark"] .audio-player-shell {
  background-color: var(--dark-medium); }
  html[theme="dark"] .audio-player-shell.open {
    border-color: var(--dark-low); }
  html[theme="dark"] .audio-player-shell .shell svg {
    color: var(--light); }
  html[theme="dark"] .audio-player-shell .shell a {
    color: var(--light); }
  html[theme="dark"] .audio-player-shell .shell .audio-player-action svg.enable {
    color: var(--dark-accent-high); }

html[theme="dark-blue"] .audio-player-shell {
  background-color: var(--dark-blue-medium); }
  html[theme="dark-blue"] .audio-player-shell.open {
    border-color: var(--dark-blue-low); }
  html[theme="dark-blue"] .audio-player-shell .shell svg {
    color: var(--light); }
  html[theme="dark-blue"] .audio-player-shell .shell a {
    color: var(--light); }
  html[theme="dark-blue"] .audio-player-shell .shell .audio-player-action svg.enable {
    color: var(--dark-blue-high-alt); }
