/*
    Creation Time: 2019 - Jan - 22
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

.audio-player-shell {
  background-color: var(--header-color);
  transition: height 0.2s;
  height: 0;
  overflow: hidden;
  &.open {
    border-top: 1px solid var(--light);
    height: auto;
  }
  .shell {
    padding: 4px 6px;
    display: flex;
    svg {
      font-size: 20px;
      color: var(--grey);
      cursor: pointer;
      &:hover {
        color: var(--dark);
      }
    }
    .audio-player-play-action {
      width: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .audio-player-content {
      flex: 1;
      align-items: center;
      justify-content: flex-start;
      display: flex;
      a {
        text-decoration: none;
        text-transform: none;
        color: var(--grey);
      }
      .audio-player-anchor {
        font-size: 12px;
        cursor: pointer;
        text-align: left;
        padding: 2px 6px 0;
        .user {
          font-weight: bold;
        }
      }
    }
    .audio-player-action {
      display: flex;
      width: 48px;
      margin-right: 6px;
      justify-content: space-between;
      svg {
        &.enable {
          color: var(--dark);
        }
      }
    }
  }
}

html[theme="dark"] {
  .audio-player-shell {
    background-color: var(--dark-medium);
    &.open {
      border-color: var(--dark-low);
    }
    .shell {
      svg {
        color: var(--light);
      }
      a {
        color: var(--light);
      }
      .audio-player-action {
        svg {
          &.enable {
            color: var(--dark-accent-high);
          }
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .audio-player-shell {
    background-color: var(--dark-blue-medium);
    &.open {
      border-color: var(--dark-blue-low);
    }
    .shell {
      svg {
        color: var(--light);
      }
      a {
        color: var(--light);
      }
      .audio-player-action {
        svg {
          &.enable {
            color: var(--dark-blue-high-alt);
          }
        }
      }
    }
  }
}

