*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

.m-b-16 {
  margin-bottom: 16px; }

.p-b-51 {
  padding-bottom: 51px; }

input {
  outline: none;
  border: none; }

.limiter {
  width: 100%;
  margin: 0 auto; }

@keyframes bg-move {
  from {
    background-position: 0% 0%; }
  to {
    background-position: 100% 200%; } }

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #21352e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  flex-direction: column; }

/*animation-name: bg-move;
animation-duration: 50s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-play-state: paused;*/
.wrap-login100 {
  width: 400px;
  border-radius: 10px;
  position: relative; }

/*==================================================================
[ Form ]*/
.login100-form {
  width: 100%;
  background: #8d8d8d26;
  padding: 10px;
  border-radius: 5px; }

.login100-form-title {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 600;
  font-size: 30px;
  color: #14c261;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block; }

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px; }

/*---------------------------------------------*/
.input100 {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  color: #0f954b;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 62px;
  padding: 0 20px 0 38px; }
  .input100.code {
    text-align: center;
    letter-spacing: 30px; }

/*------------------------------------------------------------------
[ Focus Input ]*/
.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #14d769;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  transform: scaleX(1.1) scaleY(1.3); }

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  transform: scale(1); }

.eff-focus-selection {
  visibility: visible;
  opacity: 1;
  transform: scale(1); }

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

.login100-form-btn {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 62px;
  background-color: #14d769;
  border: 0;
  border-radius: 3px;
  transition: all 0.4s;
  -webkit-appearance: none; }

.login100-form-btn:hover {
  background-color: #0f954b; }

@keyframes button-disabled {
  from {
    background-color: #0fee8e; }
  to {
    background-color: #11c96a; } }

.login100-form-btn[disabled] {
  animation-name: button-disabled;
  animation-iteration-count: infinite;
  animation-duration: 0.5s; }

.try-another-phone {
  color: #c7ccca;
  text-align: left;
  line-height: 24px;
  display: block;
  margin-top: -8px;
  cursor: pointer; }
  .try-another-phone label {
    vertical-align: top; }

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1; } }

.river-form .react-tel-input {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row-reverse; }
  .river-form .react-tel-input input[type=tel] {
    font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
    font-weight: 400;
    position: relative;
    font-size: 16px;
    letter-spacing: .01rem;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 15px;
    margin-left: 0;
    background-color: #fff;
    border: 1px solid #cacaca;
    line-height: 25px;
    height: 62px;
    width: 320px;
    outline: none;
    border-left: none;
    border-radius: 0 5px 5px 0; }
  .river-form .react-tel-input .flag-dropdown {
    position: static;
    background-color: #fff;
    border: 1px solid #cacaca;
    flex: 1;
    border-right: 1px solid #ddd;
    border-radius: 5px 0 0 5px; }
    .river-form .react-tel-input .flag-dropdown:hover {
      background-color: #fff; }
      .river-form .react-tel-input .flag-dropdown:hover .selected-flag {
        background-color: transparent; }
    .river-form .react-tel-input .flag-dropdown .selected-flag {
      z-index: 13;
      position: relative;
      width: auto;
      height: 100%;
      padding: 0;
      border-radius: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
      .river-form .react-tel-input .flag-dropdown .selected-flag .arrow {
        border-top: 4px solid #ababab; }
        .river-form .react-tel-input .flag-dropdown .selected-flag .arrow.up {
          border-top: none;
          border-bottom: 4px solid #ababab; }
  .river-form .react-tel-input .flag {
    transform: scale(1.5); }
  .river-form .react-tel-input .country-list .country {
    padding: 7px 10px;
    text-align: left; }
  .river-form .react-tel-input .country-list .country-name {
    margin-right: 6px;
    margin-left: 6px; }

.top-logo {
  height: 156px;
  width: 156px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.12);
  display: flex;
  justify-content: center;
  align-items: center; }

.top-title {
  margin: 10px 0;
  color: #fff;
  font-size: 32px;
  font-weight: 100;
  padding: 10px; }

.top-desc {
  width: 435px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.32); }

@media screen and (max-width: 600px) {
  .wrap-login100 {
    width: 300px; }
  .river-form .react-tel-input input[type=tel] {
    width: 250px; }
  .top-logo {
    transform: scale(0.7); }
  .top-desc {
    width: 300px;
    font-size: 15px; } }
