/*
    Creation Time: 2018 - Sep - 25
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

input {
  outline: none;
  border: none;
}

.login-page {
  width: 100%;
  margin: 0 auto;

  .login-bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 48px;
    background-color: #2E2E2E;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    z-index: 10;

    .workspace-label {
      position: absolute;
      color: var(--grey);
      top: -24px;
      right: 0;
      left: 0;
    }

    .version-container {
      width: 72px;
      color: #ACB0B4;
      user-select: none;
    }

    .link-container {
      flex: 1 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .bullet {
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.32);
        margin: 0 6px;
      }

      a {
        color: var(--white);
        text-transform: none;
        text-decoration: none;
      }
    }

    .language-container {
      width: 64px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.login-page-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--white);
  flex-direction: column;
  z-index: 1;

  .close-btn {
    position: fixed;
    top: 8px;
    left: 8px;

    button {
      padding: 6px;

      svg {
        font-size: 28px;
      }
    }
  }

  .login-wrapper {
    position: relative;
    width: 440px;
    min-height: 380px;
    border-radius: 10px;
    margin-bottom: 48px;

    .login-form {
      width: 100%;
      padding: 10px;
    }

    .login-form-title {
      font-size: 30px;
      color: #14c261;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      display: block;
      font-weight: bold;
    }

    .input-wrapper {
      width: 100%;
      position: relative;
      border: 1px solid transparent;
      border-radius: 3px;
      margin-bottom: 16px;

      .text-wrapper {
        border: 1px solid #c4c4c4;
        border-radius: 7px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #8C8C8C;
        font-size: 22px;
        font-weight: bold;
        padding: 4px 12px;
      }

      &.qr-wrapper {
        text-align: right;
      }

      .qr-link {
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        color: #479FF6;
        cursor: pointer;
      }
    }

    .input {
      color: #0f954b;
      line-height: 1.2;
      font-size: 18px;
      width: 100%;
      height: 54px;
      display: block;
      background: transparent;
    }

    .code {
      input {
        text-align: center;
        letter-spacing: 30px;
      }
    }

    .focus-input {
      position: absolute;
      display: block;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      top: -1px;
      left: -1px;
      pointer-events: none;
      border: 1px solid #14d769;
      border-radius: 3px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.4s;
      transform: scaleX(1.1) scaleY(1.3);
    }

    .input:focus + .focus-input {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }

    .eff-focus-selection {
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }

    .container-login-form-btn {
      position: absolute;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 24px 0 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .login-form-btn {
      height: 56px;
      width: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--river);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      border: 0;
      cursor: pointer;
      transition: all 0.4s;

      &.disabled {
        animation-name: button-disabled;
        animation-iteration-count: infinite;
        animation-duration: 0.5s;
      }

      &:hover {
        background-color: var(--river-dark);
      }

      svg {
        font-size: 40px;
        color: var(--white);
      }
    }

    .grey-link {
      color: #8C8C8C;
      font-size: 16px;
      font-weight: bold;
      line-height: 18px;
      text-align: right;
      cursor: pointer;

      &.disabled {
        opacity: 0.3;
        cursor: default;
      }
    }

    .try-another-phone {
      color: #999;
      text-align: left;
      line-height: 24px;
      display: block;
      margin-top: -8px;
      cursor: pointer;

      label {
        vertical-align: top;
      }
    }
  }

  .top-logo {
    position: relative;
    height: 156px;
    width: 156px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;

    .river-logo {
      transition: opacity 0.3s;
    }
  }

  .top-title {
    color: var(--dark);
    font-size: 32px;
    font-weight: bold;
    padding: 32px 10px 0;
  }

  .top-desc {
    color: var(--grey);
    width: 435px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 44px;
  }

  .sign-up-note {
    color: var(--grey);
    line-height: 24px;
    text-align: justify;
    padding: 12px 6px 12px;
    font-size: 16px;
  }

  .river-form {
    .intl-tel-input {
      margin-bottom: 16px;
      display: flex;
      flex-direction: row-reverse;
      border-radius: 7px;
      border: 1px solid #c4c4c4;

      &:hover {
        border-color: #212121;
      }

      input[type=tel] {
        position: relative;
        font-size: 16px;
        letter-spacing: .01rem;
        z-index: 0;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-left: 15px;
        margin-left: 0;
        background-color: #fff;
        line-height: 25px;
        height: 54px;
        width: 360px;
        outline: none;
        border-left: none;
        border-radius: 0 5px 5px 0;
      }

      .flag-dropdown {
        position: static;
        background-color: #fff;
        border: 1px solid #cacaca;
        flex: 1 1;
        border-right: 1px solid #ddd;
        border-radius: 5px 0 0 5px;

        &:hover {
          background-color: #fff;

          .selected-flag {
            background-color: transparent;
          }
        }

        .selected-flag {
          z-index: 13;
          position: relative;
          width: auto;
          height: 100%;
          padding: 0;
          border-radius: 0;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;

          .arrow {
            border-top: 4px solid #ababab;

            &.up {
              border-top: none;
              border-bottom: 4px solid #ababab;
            }
          }
        }
      }

      .flag {
        transform: scale(1.5);
      }

      .country-list {
        .country {
          padding: 7px 10px;
          text-align: left;
        }

        .country-name {
          margin-right: 6px;
          margin-left: 6px;
        }
      }
    }

    .countdown {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 5px;

      .inner {
        color: var(--river);
        font-weight: bold;
        font-size: 17px;
      }

      svg {
        color: var(--river);
        font-size: 17px;
      }
    }
  }
}

@keyframes button-disabled {
  from {
    background-color: #0fee8e;
  }
  to {
    background-color: #11c96a;
  }
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (max-width: 600px) {
  .login-page {
    .login-wrapper {
      width: 300px;
      min-height: 300px;

      .login-form {
        padding: 0;
      }
    }

    .river-form {
      .intl-tel-input {
        input[type=tel] {
          width: 230px;
        }
      }
    }

    .top-logo {
      transform: scale(0.7);
    }

    .top-title {
      padding-top: 6px;
    }

    .top-desc {
      width: 300px;
      font-size: 15px;
      margin-bottom: 0;
    }
  }
}

.qr-code-container {
  min-height: 320px;
  min-width: 320px;
  background-color: var(--white);
}

.language-list-container {
  width: 100%;
  padding: 0;

  .language-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--light);
    height: 48px;
    cursor: pointer;

    .language-label {
      flex: 1 1;
      text-align: left;
      padding: 0 12px;
    }

    .check {
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        color: var(--river);
      }
    }
  }
}

html[direction="rtl"] {
  .login-page-container .login-wrapper .input-wrapper .qr-link, .login-page-container .login-wrapper .f-password.text-input {
    direction: rtl;
  }

}

html[theme="dark"],
html[theme="dark-night"] {
  .login-page-container {
    background-color: var(--dark-low);

    .close-btn {
      button {
        svg {
          color: var(--white);
        }
      }
    }

    .top-logo {
      background-color: transparent;
    }

    .top-title {
      color: var(--white);
    }

    .text-input {
      label, p {
        color: var(--white);
      }

      input {
        color: var(--white);
        background-color: var(--dark-medium);
      }

      fieldset {
        border: 1px solid var(--white) !important;
      }
    }

    .river-form {
      .intl-tel-input {
        border-color: var(--white);
        background-color: var(--dark-medium);

        &:hover {
          border-color: var(--light);
        }

        .flag-container {
          background-color: var(--dark-medium);
        }

        input[type=tel] {
          background-color: var(--dark-medium);
          color: var(--white);
        }

        .flag-dropdown {
          background-color: var(--dark-medium);
        }
      }
    }
  }

  .qr-code-container {
    background-color: var(--dark-low);
  }

  .language-list-container {
    .language-item {
      color: var(--white);
      border-color: var(--dark-low-op50);
    }
  }
}

html[theme="dark-blue"] {
  .login-page-container {
    background-color: var(--dark-blue-low);

    .close-btn {
      button {
        svg {
          color: var(--white);
        }
      }
    }

    .top-logo {
      background-color: transparent;
    }

    .top-title {
      color: var(--white);
    }

    .text-input {
      label, p {
        color: var(--white);
      }

      input {
        color: var(--white);
        background-color: var(--dark-blue-medium);
      }

      fieldset {
        border: 1px solid var(--white) !important;
      }
    }

    .river-form {
      .intl-tel-input {
        border-color: var(--white);
        background-color: var(--dark-blue-medium);

        &:hover {
          border-color: var(--light);
        }

        .flag-container {
          background-color: var(--dark-blue-medium);
        }

        input[type=tel] {
          background-color: var(--dark-blue-medium);
          color: var(--white);
        }

        .flag-dropdown {
          background-color: var(--dark-blue-medium);
        }
      }
    }
  }

  .qr-code-container {
    background-color: var(--dark-blue-low);
  }

  .language-list-container {
    .language-item {
      color: var(--white);
      border-color: var(--dark-low-op50);
    }
  }
}
