*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --white: #fff;
  --black: #000;
  --black-text: #323D47;
  --bg: #f8f8f8;
  --grey: #999;
  --dark: #1a1a1a;
  --light: #e6e6e6;
  --wrapper: 1360px;
  --blue: #00b0ff;
  --green: #60BF70;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.08);
  --color-text-hover: rgba(50, 61, 71, 0.64); }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

.people {
  margin-left: -1px;
  border-right: 1px solid var(--light);
  border-left: 1px solid var(--light);
  width: calc(100% + 2px); }
  .people .person {
    position: relative;
    width: 100%;
    height: 64px;
    padding: 8px;
    cursor: pointer;
    background-color: var(--white);
    text-align: left; }
    .people .person:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: 100%;
      height: 1px;
      content: '';
      background-color: var(--light);
      transform: translate(-50%, 0); }
    .people .person img {
      float: left;
      width: 48px;
      height: 48px;
      object-fit: cover;
      margin-right: 12px;
      border-radius: 50%; }
    .people .person .name {
      display: inline-block;
      min-width: 200px;
      font-size: 12px;
      line-height: 23px;
      margin: 0 0 4px;
      color: var(--dark);
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600; }
    .people .person .time {
      font-size: 11px;
      position: absolute;
      top: 14px;
      right: 8px;
      padding: 0 0 5px 5px;
      color: var(--grey);
      background-color: var(--white); }
    .people .person .preview {
      font-size: 14px;
      line-height: 17px;
      display: inline-block;
      overflow: hidden !important;
      width: 70%;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--grey); }
    .people .person.active, .people .person:hover {
      border: 0;
      background-color: var(--color-hover); }
      .people .person.active span, .people .person:hover span {
        color: var(--color-text-hover);
        background: transparent; }
