@import '../../../style/common';

.dialog-wrapper {
  height: 48px;
  width: 100%;
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
    img {
      float: left;
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .name {
    display: inline-block;
    min-width: 200px;
    width: calc(100% - 90px);
    font-size: 12px;
    line-height: 23px;
    margin: 0 0 4px;
    color: var(--dark);
    @include font-bold;
  }
  .time {
    font-size: 11px;
    position: absolute;
    top: 14px;
    right: 8px;
    padding: 0 0 5px 5px;
    color: var(--grey);
  }
  .preview {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grey);
    .status {
      height: 17px;
      width: 17px;
      padding: 0 3px 0 0;
      svg {
        height: 17px;
        width: 17px;
        vertical-align: bottom;
      }
    }
  }
  .unread {
    font-size: 11px;
    position: absolute;
    top: 30px;
    right: 14px;
    height: 16px;
    min-width: 16px;
    max-width: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 16px;
    padding: 0 3px;
    background-color: #60BF70;
    color: #fff;
    border-radius: 8px;
  }
}

html[theme="dark"] {
  .dialog-wrapper {
    .name {
      color: var(--light);
    }
  }
}
