@import '../../../style/common';

.dialog-wrapper {
  height: 48px;
  width: 100%;
  .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
    background-color: #ccc;
    background-position: center center;
    background-size: cover;
    background-image: url(../../../asset/image/user.png);
    img {
      float: left;
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .name {
    display: inline-block;
    min-width: 200px;
    font-size: 12px;
    line-height: 23px;
    margin: 0 0 4px;
    color: var(--dark);
    @include font-bold;
  }
  .time {
    font-size: 11px;
    position: absolute;
    top: 14px;
    right: 8px;
    padding: 0 0 5px 5px;
    color: var(--grey);
  }
  .preview {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grey);
  }
}