/*
    Creation Time: 2018 - Sep - 29
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
.dialog-wrapper {
  height: 48px;
  width: 100%;
  user-select: none; }
  .dialog-wrapper .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    margin-right: 12px; }
    .dialog-wrapper .avatar img {
      float: left;
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 50%; }
  .dialog-wrapper .dialog-top-bar {
    display: inline-flex;
    min-width: 200px;
    width: calc(100% - 60px);
    margin: 0 0 4px;
    align-items: center; }
    .dialog-wrapper .dialog-top-bar .muted-wrapper {
      height: 16px;
      width: 16px; }
      .dialog-wrapper .dialog-top-bar .muted-wrapper svg {
        font-size: 16px;
        color: var(--dark); }
    .dialog-wrapper .dialog-top-bar .name {
      flex: 1;
      font-size: 12px;
      line-height: 23px;
      color: var(--dark);
      font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .dialog-wrapper .dialog-top-bar .name svg {
        font-size: 15px;
        margin-right: 6px;
        vertical-align: sub; }
    .dialog-wrapper .dialog-top-bar .status {
      height: 18px;
      width: 20px; }
      .dialog-wrapper .dialog-top-bar .status svg {
        height: 18px;
        width: 18px;
        padding: 0 2px 0 0;
        color: var(--grey); }
    .dialog-wrapper .dialog-top-bar .time {
      font-size: 11px;
      color: var(--grey);
      transition: right 0.2s; }
  .dialog-wrapper.muted .dialog-top-bar .name {
    padding-left: 4px; }
  .dialog-wrapper .preview {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grey); }
    .dialog-wrapper .preview.rtl {
      direction: rtl; }
      .dialog-wrapper .preview.rtl .preview-inner {
        direction: rtl; }
    .dialog-wrapper .preview .preview-icon {
      display: inline-block;
      font-size: 14px;
      margin: 0 4px 3px 0;
      vertical-align: bottom; }
    .dialog-wrapper .preview .sender {
      font-weight: bold; }
    .dialog-wrapper .preview .preview-message {
      display: block;
      width: 100%;
      overflow: hidden; }
  .dialog-wrapper.has-mention .preview {
    width: 68%; }
  .dialog-wrapper .unread {
    font-size: 11px;
    position: absolute;
    top: 30px;
    right: 8px;
    height: 16px;
    min-width: 16px;
    max-width: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 16px;
    padding: 0 3px;
    background-color: var(--river);
    color: #fff;
    border-radius: 8px; }
  .dialog-wrapper .pin {
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 6px;
    color: #C6C6C6; }
  .dialog-wrapper.muted .unread {
    background-color: #C6C6C6; }
  .dialog-wrapper .mention {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: var(--river);
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .dialog-wrapper .mention svg {
      font-size: 12px;
      color: var(--white); }
  .dialog-wrapper .more {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 26px;
    width: 20px;
    display: none;
    cursor: pointer;
    background-color: inherit;
    z-index: 10; }
    .dialog-wrapper .more svg {
      height: 26px;
      font-size: 26px;
      color: var(--grey); }
  .dialog-wrapper:hover .more {
    display: block; }
  .dialog-wrapper:hover .dialog-top-bar {
    width: calc(100% - 76px); }

html[direction="rtl"] .dialog-wrapper {
  direction: rtl;
  text-align: right; }
  html[direction="rtl"] .dialog-wrapper .avatar {
    float: right;
    margin-right: 0;
    margin-left: 12px; }
  html[direction="rtl"] .dialog-wrapper .dialog-top-bar .name svg {
    margin-right: 0;
    margin-left: 6px; }
  html[direction="rtl"] .dialog-wrapper.muted .dialog-top-bar .name {
    padding-left: 0;
    padding-right: 4px; }
  html[direction="rtl"] .dialog-wrapper .preview .preview-icon {
    margin: 0 0 3px 4px; }
  html[direction="rtl"] .dialog-wrapper .unread {
    right: auto;
    left: 8px; }
  html[direction="rtl"] .dialog-wrapper .pin {
    right: auto;
    left: 6px; }
  html[direction="rtl"] .dialog-wrapper .more {
    right: auto;
    left: 6px; }

html[theme="dark"] .dialog-wrapper .name {
  color: var(--light); }

html[theme="dark"] .dialog-wrapper .muted-wrapper svg {
  color: var(--white); }

html[theme="dark"] .dialog-wrapper.muted .unread {
  color: var(--dark); }

html[theme="dark-blue"] .dialog-wrapper .name {
  color: var(--white); }

html[theme="dark-blue"] .dialog-wrapper .muted-wrapper svg {
  color: var(--white); }

html[theme="dark-blue"] .dialog-wrapper .preview, html[theme="dark-blue"] .dialog-wrapper .time {
  color: var(--light); }

html[theme="dark-blue"] .dialog-wrapper .more svg {
  color: var(--white); }

html[theme="dark-blue"] .dialog-wrapper.muted .unread {
  color: var(--dark); }
