*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

.dialog-wrapper {
  height: 48px;
  width: 100%; }
  .dialog-wrapper .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    float: left;
    margin-right: 12px; }
    .dialog-wrapper .avatar img {
      float: left;
      width: 48px;
      height: 48px;
      object-fit: cover;
      border-radius: 50%; }
  .dialog-wrapper .name {
    display: inline-block;
    min-width: 200px;
    width: calc(100% - 90px);
    font-size: 12px;
    line-height: 23px;
    margin: 0 0 4px;
    color: var(--dark);
    font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
    font-weight: 600; }
  .dialog-wrapper .time {
    font-size: 11px;
    position: absolute;
    top: 14px;
    right: 8px;
    padding: 0 0 5px 5px;
    color: var(--grey); }
  .dialog-wrapper .preview {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grey); }
    .dialog-wrapper .preview .status {
      height: 17px;
      width: 17px;
      padding: 0 3px 0 0; }
      .dialog-wrapper .preview .status svg {
        height: 17px;
        width: 17px;
        vertical-align: bottom; }
  .dialog-wrapper .unread {
    font-size: 11px;
    position: absolute;
    top: 30px;
    right: 14px;
    height: 16px;
    min-width: 16px;
    max-width: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    line-height: 16px;
    padding: 0 3px;
    background-color: #60BF70;
    color: #fff;
    border-radius: 8px; }

html[theme="dark"] .dialog-wrapper .name {
  color: var(--light); }
