/*
    Creation Time: 2018 - Sep - 29
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

a.dialog-a {
  text-decoration: none;
  text-transform: none;
  direction: ltr;
}

.dialog {
  position: relative;
  width: 100%;
  height: 64px;
  padding: 8px;
  cursor: pointer;
  text-align: left;

  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: var(--light);
    transform: translate(-50%, 0);
  }

  .active-call {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--dark-color-hover);

    svg {
      color: var(--white);
      font-size: 32px;
    }
  }

  &.pinned {
    background-color: var(--header-color);

    .dialog-wrapper {
      .preview {
        width: calc(100% - 80px);
        max-width: calc(100% - 80px);
      }
    }
  }

  &:hover {
    border: 0;
    background-color: var(--color-hover);

    > span {
      color: var(--color-text-hover);
      background: transparent;
    }
  }

  &.active {
    border: 0;
    background-color: var(--color-hover-dark);

    > span {
      color: var(--color-text-hover);
      background: transparent;
    }
  }

  &.has-unread {
    .dialog-wrapper {
      .preview {
        width: calc(100% - 80px);
        max-width: calc(100% - 80px);
      }
    }
  }

  &.has-mention {
    .dialog-wrapper {
      .preview {
        width: calc(100% - 100px);
        max-width: calc(100% - 100px);
      }
    }

    &.has-many-unread {
      .dialog-wrapper {
        .preview {
          width: calc(100% - 106px);
          max-width: calc(100% - 106px);
        }
      }
    }
  }

  &.muted {
    .dialog-wrapper {
      .unread {
        background-color: #C6C6C6;
      }
    }
  }

  .dialog-wrapper {
    position: relative;
    height: 48px;
    width: 100%;
    user-select: none;

    .online-indicator {
      position: absolute;
      bottom: 1px;
      left: 36px;
      height: 12px;
      width: 12px;
      border-radius: 12px;
      background: #fff;
      z-index: 10;

      &:after {
        position: absolute;
        content: '';
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        border-radius: 12px;
        background-color: var(--river-light);
        box-shadow: 0 0 2px var(--river-light);
      }
    }

    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      float: left;
      margin-right: 12px;

      img {
        float: left;
        width: 48px;
        height: 48px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .dialog-top-bar {
      display: inline-flex;
      min-width: 200px;
      width: calc(100% - 60px);
      margin: 0 0 2px;
      align-items: center;

      .muted-wrapper {
        height: 16px;
        width: 16px;
        margin: 0 4px 0 0;

        svg {
          font-size: 15px;
          color: var(--dark);
        }
      }

      .name {
        flex: 1;
        font-size: 12px;
        line-height: 23px;
        color: var(--dark);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;

        svg {
          font-size: 15px;
          margin-right: 6px;
          vertical-align: sub;
        }
      }

      .status {
        height: 18px;
        width: 20px;

        svg {
          height: 18px;
          width: 18px;
          padding: 0 2px 0 0;
          color: var(--grey);
        }
      }

      .time {
        font-size: 11px;
        color: var(--grey);
        transition: right 0.2s;
      }
    }

    .preview {
      font-size: 14px;
      line-height: 17px;
      display: inline-block;
      overflow: hidden !important;
      width: calc(100% - 60px);
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--grey);

      .red-font {
        color: var(--red);
      }

      .sender {
        font-weight: bold;
        white-space: nowrap;
      }

      &.ltr {
        direction: ltr;

        .sender {
          direction: ltr;
          padding-right: 3px;

          &.postfix {
            padding-right: 0;
            padding-left: 3px;
          }
        }

        .preview-inner {
          direction: ltr;
        }
      }

      &.rtl {
        direction: rtl;

        .sender {
          direction: rtl;
          padding-left: 3px;

          &.postfix {
            padding-left: 0;
            padding-right: 3px;
          }
        }

        .preview-inner {
          direction: rtl;
        }

        .preview-message {
          .tiny-thumb {
            margin: 0 0 0 4px;
          }
        }
      }

      .preview-icon {
        display: inline-block;
        font-size: 14px;
        margin: 0 4px 0 0;
        vertical-align: bottom;
        transform: translateY(-1px);

        &.gif {
          margin-left: 4px;
          transform: scale(2.6);
        }
      }

      .tiny-thumb {
        display: inline-block;
        margin: 0 4px 0 0;
        height: 14px;
        width: 14px;
        min-width: 14px;
        line-height: 0;
        border-radius: 2px;
        overflow: hidden;
        transform: translateY(-1px);
        position: relative;

        img {
          height: 14px;
          width: 14px;
          object-fit: cover;
          object-position: center center;
        }

        .inner-cover {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: var(--dark);
          opacity: 0.5;

          .inner-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 13px;
            color: var(--white);
            transform: translate(-50%, -50%);
          }
        }
      }

      .preview-message {
        display: inline-flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5em;

        &.system-message {
          .target-user {
            padding: 0 3px;
          }
        }

        &.bold {
          font-weight: bold;
        }
      }
    }

    .unread {
      font-size: 11px;
      position: absolute;
      top: 26px;
      right: -1px;
      height: 16px;
      min-width: 16px;
      max-width: 32px;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      line-height: 16px;
      padding: 0 3px;
      background-color: var(--river);
      color: #fff;
      border-radius: 8px;
    }

    .pin {
      font-size: 20px;
      position: absolute;
      top: 26px;
      right: -2px;
      color: #C6C6C6;
    }

    .mention {
      position: absolute;
      top: 26px;
      right: 21px;
      background-color: var(--river);
      height: 16px;
      width: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 12px;
        color: var(--white);
      }
    }

    .more {
      position: absolute;
      top: 0;
      right: -3px;
      height: 26px;
      width: 20px;
      display: none;
      cursor: pointer;
      background-color: inherit;
      z-index: 10;

      svg {
        height: 26px;
        font-size: 26px;
        color: var(--grey);
      }
    }

    &:hover {
      .more {
        display: block;
      }

      .dialog-top-bar {
        width: calc(100% - 76px);
        max-width: calc(100% - 76px);
      }
    }
  }

  &.has-many-unread.has-mention {
    .dialog-wrapper {
      .mention {
        right: 26px;
      }
    }
  }
}

html[direction="rtl"] {
  a.dialog-a {
    direction: rtl;
  }

  .dialog {
    .dialog-wrapper {
      direction: rtl;
      text-align: right;

      .active-call {
        left: auto;
        right: 0;
      }

      .message-label {
        right: auto;
        left: -2px;
        direction: ltr;
      }

      .online-indicator {
        left: auto;
        right: 36px;
      }

      .avatar {
        float: right;
        margin-right: 0;
        margin-left: 12px;
      }

      .dialog-top-bar {
        .muted-wrapper {
          margin: 0 0 0 4px;
        }

        .name {
          svg {
            margin-right: 0;
            margin-left: 6px;
          }
        }
      }

      .preview {
        .preview-icon {
          margin: 0 0 0 4px;

          &.gif {
            margin-right: 4px;
          }
        }

        .tiny-thumb {
          margin: 0 0 0 4px;
        }

        .system-message {
          direction: rtl;
        }

        .preview-message.draft-message {
          direction: rtl;
        }
      }

      .unread {
        right: auto;
        left: -1px;
      }

      .mention {
        right: auto;
        left: 21px;
      }

      .pin {
        right: auto;
        left: -2px;
      }

      .more {
        right: auto;
        left: -3px;
      }
    }

    &.has-many-unread.has-mention {
      .dialog-wrapper {
        .mention {
          right: auto;
          left: 26px;
        }
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"] {
  .dialog {
    &:after {
      background-color: var(--dark-low-op50);
    }

    &.pinned {
      background-color: var(--dark-low);
    }

    &:hover {
      background-color: var(--dark-hover);

      > span {
        color: var(--color-text-hover);
      }
    }

    &.active {
      background-color: var(--dark-hover-light);

      > span {
        color: var(--color-text-hover);
      }
    }

    .dialog-wrapper {
      .message-label {
        .circle-label {
          border-color: var(--dark-medium);
        }
      }

      .online-indicator {
        background-color: var(--dark-low-op50);
      }

      .name {
        color: var(--light);
      }

      .muted-wrapper {
        svg {
          color: var(--white);
        }
      }
    }

    &.muted {
      .dialog-wrapper {
        .unread {
          color: var(--dark);
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .dialog {
    &:after {
      background-color: var(--dark-blue-low-op50);
    }

    &.pinned {
      background-color: var(--dark-blue-low);
    }

    &:hover {
      background-color: var(--dark-blue-hover-light);

      > span {
        color: var(--color-text-hover);
      }
    }

    &.active {
      background-color: var(--dark-blue-hover);

      > span {
        color: var(--color-text-hover);
      }
    }

    .dialog-wrapper {

      .message-label {
        .circle-label {
          border-color: var(--dark-blue-medium);
        }
      }

      .online-indicator {
        background-color: var(--dark-blue-low-op50);
      }

      .name {
        color: var(--white);
      }

      .muted-wrapper {
        svg {
          color: var(--white);
        }
      }

      .preview, .time {
        color: var(--light);
      }

      .more {
        svg {
          color: var(--white);
        }
      }
    }

    &.muted {
      .dialog-wrapper {
        .unread {
          color: var(--dark);
        }
      }
    }
  }
}
