/*
    Creation Time: 2019 - Jan - 13
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/mixin';

.message-file {
  padding: 0 0 0 6px;

  .file-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    .file-action {
      position: relative;
      width: 32px;
      height: 32px;
      padding: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--glass-dark-low);

      .tooltip {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .extension {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-48%, -40%);
        z-index: 100;
        font-size: 6px;
        font-weight: bold;
        color: var(--white);
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
      }

      svg {
        font-size: 20px;
        color: var(--grey);
      }

      &:hover {
        svg {
          color: var(--dark);
        }
      }

      .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        animation-name: rotateDonut;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        svg {
          height: 32px;
          width: 32px;

          circle {
            fill: transparent;
            stroke: var(--grey);
            stroke-width: 2px;
            stroke-dasharray: 3 88;
            transition: stroke-dasharray 0.1s ease;
          }
        }
      }

      .action {
        position: relative;
        z-index: 10;
      }
    }

    .file-info {
      padding: 6px 6px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .file-name {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 400px;
      }

      .file-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        .file-download {
          padding: 0 0 0 6px;
          font-size: 12px;
          color: var(--light-mention);
          cursor: pointer;
        }

        .file-size {
          font-size: 12px;
        }
      }
    }
  }

  .file-caption {
    padding: 0 6px;
    white-space: pre-wrap;
    word-break: break-word;

    &.rtl {
      direction: rtl;
      text-align: right;
    }

    &.ltr {
      direction: ltr;
      text-align: left;
    }
  }

  &.has-thumbnail {
    position: relative;

    .file-content {
      min-height: 64px;

      .file-info {
        padding-top: 0;
        padding-left: 14px;
      }

      .file-action {
        margin: 0 9px;
        background-color: rgba(0, 0, 0, 0.30);
        transform: scale(1.2);

        .extension {
          color: var(--dark-accent-low);
          text-shadow: 0 0 1px rgba(255, 255, 255, 0.4);
        }

        svg {
          color: var(--light);
        }

        &:hover {
          svg {
            color: var(--light);
          }
        }

        .progress {
          svg {
            circle {
              stroke: var(--light);
            }
          }
        }
      }

      .file-thumbnail {
        position: absolute;
        top: -1px;
        left: -1px;
        height: 64px;
        width: 64px;
        overflow: hidden;
        border-radius: 9px;

        &:after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .file-caption {
      padding-top: 6px;
    }

    &.no-caption {
      margin-bottom: -15px;
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .message-file {
    .file-content {
      .file-action {
        background-color: var(--glass-dark-high);

        .extension {
          color: var(--dark-accent-low);
          text-shadow: 0 0 1px rgba(255, 255, 255, 0.4);
        }

        svg {
          color: var(--light);
        }

        &:hover {
          svg {
            color: var(--light);
          }
        }

        .progress {
          svg {
            circle {
              stroke: var(--light);
            }
          }
        }
      }

      .file-info {
        .file-download {
          color: var(--dark-mention);
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .message-file {
    .file-content {
      .file-info {
        .extension {
          color: var(--dark-blue-medium);
        }

        .file-download {
          color: var(--dark-blue-mention);
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .message-file {
    padding: 0 0 0 6px;

    .file-content .file-info .file-name {
      max-width: 270px;
    }
  }
}

html[gradient="1"]:not([bubble="5"]) {
  .me {
    .message-file .file-download {
      color: #e0a453 !important;
    }
  }
}

html[gradient="2"]:not([bubble="5"]) {
  .me {
    .message-file .file-download {
      color: #0d4c2c !important;
    }
  }
}

html[gradient="3"]:not([bubble="5"]) {
  .me {
    .message-file .file-download {
      color: #570f77 !important;
    }
  }
}

html[gradient="4"]:not([bubble="5"]) {
  .me {
    .message-file .file-download {
      color: #ffed00 !important;
    }
  }
}

html[gradient="5"]:not([bubble="5"]) {
  .me {
    .message-file .file-download {
      color: #1f133e !important;
    }
  }
}

html[bubble="1"] {
  .message-file {
    &.has-thumbnail {
      .file-thumbnail {
        border-radius: 3px;
      }
    }
  }
}

html[bubble="2"] {
  .message-file {
    &.has-thumbnail {
      .file-thumbnail {
        border-radius: 18px;
      }
    }
  }
}