/*
    Creation Time: 2019 - Jan - 13
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
.message-file {
  padding: 0 0 0 6px; }
  .message-file .file-content {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .message-file .file-content .file-action {
      position: relative;
      width: 32px;
      height: 32px;
      padding: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--glass-dark-low); }
      .message-file .file-content .file-action .tooltip {
        display: flex;
        justify-content: center;
        align-items: center; }
      .message-file .file-content .file-action .extension {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-48%, -40%);
        z-index: 100;
        font-size: 6px;
        font-weight: bold;
        color: var(--white);
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        text-transform: uppercase; }
      .message-file .file-content .file-action svg {
        font-size: 20px;
        color: var(--grey); }
      .message-file .file-content .file-action:hover svg {
        color: var(--dark); }
      .message-file .file-content .file-action .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        animation-name: rotateDonut;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }
        .message-file .file-content .file-action .progress svg {
          height: 32px;
          width: 32px; }
          .message-file .file-content .file-action .progress svg circle {
            fill: transparent;
            stroke: var(--grey);
            stroke-width: 2px;
            stroke-dasharray: 3 88;
            transition: stroke-dasharray 0.1s ease; }
      .message-file .file-content .file-action .action {
        position: relative;
        z-index: 10; }
    .message-file .file-content .file-info {
      padding: 6px 6px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; }
      .message-file .file-content .file-info .file-name {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 400px; }
      .message-file .file-content .file-info .file-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center; }
        .message-file .file-content .file-info .file-row .file-download {
          padding: 0 0 0 6px;
          font-size: 12px;
          color: var(--light-mention);
          cursor: pointer; }
        .message-file .file-content .file-info .file-row .file-size {
          font-size: 12px; }
  .message-file .file-caption {
    padding: 0 6px;
    white-space: pre-wrap;
    word-break: break-word; }
    .message-file .file-caption.rtl {
      direction: rtl;
      text-align: right; }
    .message-file .file-caption.ltr {
      direction: ltr;
      text-align: left; }

html[theme="dark"] .message-file .file-content .file-action,
html[theme="dark-blue"] .message-file .file-content .file-action {
  background-color: var(--glass-dark-high); }
  html[theme="dark"] .message-file .file-content .file-action .extension,
  html[theme="dark-blue"] .message-file .file-content .file-action .extension {
    color: var(--dark-accent-low);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.4); }
  html[theme="dark"] .message-file .file-content .file-action svg,
  html[theme="dark-blue"] .message-file .file-content .file-action svg {
    color: var(--light); }
  html[theme="dark"] .message-file .file-content .file-action:hover svg,
  html[theme="dark-blue"] .message-file .file-content .file-action:hover svg {
    color: var(--light); }
  html[theme="dark"] .message-file .file-content .file-action .progress svg circle,
  html[theme="dark-blue"] .message-file .file-content .file-action .progress svg circle {
    stroke: var(--light); }

html[theme="dark"] .message-file .file-content .file-info .file-download,
html[theme="dark-blue"] .message-file .file-content .file-info .file-download {
  color: var(--dark-mention); }

html[theme="dark-blue"] .message-file .file-content .file-info .extension {
  color: var(--dark-blue-medium); }

html[theme="dark-blue"] .message-file .file-content .file-info .file-download {
  color: var(--dark-blue-mention); }

@media screen and (max-width: 600px) {
  .message-file {
    padding: 0 0 0 6px; }
    .message-file .file-content .file-info .file-name {
      max-width: 270px; } }
