/*
    Creation Time: 2019 - Jan - 13
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/mixin';

.message-file {
  padding: 0 0 0 6px;
  .file-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    .file-action {
      position: relative;
      width: 32px;
      height: 32px;
      padding: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: var(--glass-dark-low);
      .tooltip {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .extension {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-48%, -40%);
        z-index: 100;
        font-size: 6px;
        font-weight: bold;
        color: var(--white);
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
      }
      svg {
        font-size: 20px;
        color: var(--grey);
      }
      &:hover {
        svg {
          color: var(--dark);
        }
      }
      .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        animation-name: rotateDonut;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        svg {
          height: 32px;
          width: 32px;
          circle {
            fill: transparent;
            stroke: var(--grey);
            stroke-width: 2px;
            stroke-dasharray: 3 88;
            transition: stroke-dasharray 0.1s ease;
          }
        }
      }
      .action {
        position: relative;
        z-index: 10;
      }
    }
    .file-info {
      padding: 6px 6px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .file-name {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .file-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        .file-download {
          padding: 0 0 0 6px;
          font-size: 12px;
          color: var(--light-mention);
          cursor: pointer;
        }
        .file-size {
          font-size: 12px;
        }
      }
    }
  }
  .file-caption {
    padding: 0 6px;
    white-space: pre-wrap;
    word-break: break-word;
  }
}

html[theme="dark"],
html[theme="dark-blue"] {
  .message-file {
    .file-content {
      .file-action {
        background-color: var(--glass-dark-high);
        .extension {
          color: var(--dark-accent-low);
          text-shadow: 0 0 1px rgba(255, 255, 255, 0.4);
        }
        svg {
          color: var(--light);
        }
        &:hover {
          svg {
            color: var(--light);
          }
        }
        .progress {
          svg {
            circle {
              stroke: var(--light);
            }
          }
        }
      }
      .file-info {
        .file-download {
          color: var(--dark-mention);
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .message-file {
    .file-content {
      .file-info {
        .extension {
          color: var(--dark-blue-medium);
        }
        .file-download {
          color: var(--dark-blue-mention);
        }
      }
    }
  }
}
