/*
    Creation Time: 2019 - Jan - 13
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/common';

.message-file {
  .file-action {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      font-size: 20px;
      color: var(--grey);
    }
    &:hover {
      svg {
        color: var(--dark);
      }
    }
    .progress {
      position: absolute;
      top: 0;
      left: 0;
      height: 32px;
      width: 32px;
      animation-name: rotateDonut;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      svg {
        height: 32px;
        width: 32px;
        circle {
          fill: transparent;
          stroke: var(--grey);
          stroke-width: 2px;
          stroke-dasharray: 3 75;
          transition: stroke-dasharray 0.1s ease;
        }
      }
    }
    .action {
      position: relative;
      z-index: 10;
    }
  }
}

html[theme="dark"],
html[theme="dark-blue"] {
  .message-file {
  }
}
