.top-peer {
  height: 112px;
  user-select: none;
  overflow: hidden;
  line-height: 1em;
  transition: height 0.05s;

  &.no-title {
    height: 86px;
  }

  &.hidden {
    height: 0;
  }

  .top-peer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 8px 16px;
    border-bottom: 1px solid var(--light);

    .text {
      flex: 1;
      text-align: left;
    }

    .clear {
      font-size: 11px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .scroll-bar {
    display: flex;
    align-items: center;
    justify-items: flex-start;

    a {
      color: inherit;
      text-decoration: unset;
    }

    .top-peer-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 64px;
      height: 80px;
      padding: 0 4px;
      cursor: pointer;

      .remove {
        position: absolute;
        top: 6px;
        right: 6px;
        height: 16px;
        width: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--red);
        border-radius: 50%;
        color: var(--white);
        visibility: hidden;

        svg {
          font-size: 16px;
        }
      }

      .avatar-image, .text-avatar, img, .uac {
        height: 48px;
        width: 48px;
      }

      .top-peer-avatar {
        line-height: 0;
        margin: 0 0 4px;
      }

      .top-peer-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 56px;
        font-size: 13px;
        color: var(--dark);
      }
    }
  }

  &.clear-mode {
    .scroll-bar {
      .top-peer-item {
        .remove {
          visibility: visible;
        }
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .top-peer {
    .top-peer-title {
      color: var(--grey-low);
      border-color: var(--dark-low-op50);
    }

    .scroll-bar {
      .top-peer-item {
        .top-peer-name {
          color: var(--light);
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .top-peer {
    .top-peer-title {
      border-color: var(--dark-blue-low-op50);
    }
  }
}

html[direction="rtl"] {
  .top-peer {
    .top-peer-title {
      .text {
        text-align: right;
      }
    }
  }
}