/*
    Creation Time: 2018 - Oct - 21
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

.contacts {
  display: flex;
  flex-direction: column;
  height: 100%;

  .menu-header {
    display: flex;
    text-align: left;
    height: 47px;
    background-color: var(--header-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    align-items: center;
    justify-content: center;

    label {
      flex: 1 1;
      padding: 10px 10px 10px 0;
    }

    > button {
      padding: 6px;
      margin: 6px;
    }
  }

  .search-container {
    min-height: 48px;
    padding: 10px;
    text-align: left;
  }

  .contact-box {
    flex: 1 1;

    .contact-container {
      height: 100%;

      .contact-item {
        position: relative;
        width: 100%;
        height: 64px;
        padding: 8px;
        cursor: pointer;
        text-align: left;

        &:hover {
          border: 0;
          background-color: var(--color-hover);
        }

        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          float: left;
          margin-right: 12px;

          img {
            float: left;
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .name {
          min-width: auto;
          max-width: calc(100% - 62px);
          width: 100%;
          font-size: 12px;
          line-height: 23px;
          margin: 0 0 4px;
          color: var(--dark);
          text-decoration: none;
          font-weight: bold;
        }

        .phone {
          font-size: 14px;
          line-height: 17px;
          display: inline-block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--grey);
        }
      }

      .no-result {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 100;
        color: var(--grey);

        svg {
          margin: 0 0 32px;
          color: inherit;
          font-size: 75px;
        }
      }
    }
  }
}

html[direction="rtl"] {
  .contacts {
    .menu-header {
      direction: ltr;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;

      label {
        text-align: right;
      }

      > button {
        transform: rotateY(180deg);
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .contacts {
    .menu-header {
      background-color: var(--dark-medium);
      color: var(--white);
      border-color: var(--dark-low-op50);

      svg {
        color: var(--white);
      }
    }

    .search-container {
      label, input {
        color: var(--white);
      }
    }

    .contact-box {
      .contact-container {
        .contact-item {
          .name {
            color: var(--light);
          }
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .contacts {
    .menu-header {
      background-color: var(--dark-blue-medium);
      border-color: var(--dark-blue-low-op50);
    }

    .contact-box {
      .contact-container {
        .contact-item {

        }
      }
    }
  }
}
