/*
    Creation Time: 2019 - Feb - 19
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/common';

.peer-media {
  padding: 6px 0 12px;
  &.full {
    height: 100%;
    display: flex;
    flex-direction: column;
    .peer-media-container {
      flex: 1;
    }
  }
  .peer-media-title {
    padding: 6px 12px 0;
    display: flex;
    align-items: center;
    .peer-label {
      flex: 1;
      text-align: left;
    }
    .more {
      width: 64px;
      color: var(--river);
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .peer-media-tab {
    margin: -8px 0 8px;
    button {
      min-width: 75px;
      > span > span {
        padding: 6px;
      }
    }
  }
  .peer-media-container {
    padding: 0 0 0 12px;
    .media-loading {
      text-align: center;
      color: var(--grey);
      font-size: 12px;
      min-height: 74px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .media-placeholder {
      text-align: center;
      color: var(--grey);
      font-size: 12px;
      min-height: 74px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .media-grid-view {
      min-height: 74px;
      .media-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 6px 0 6px;
        &:last-of-type {
          padding-bottom: 0;
        }
        .media-item {
          position: relative;
          width: 25%;
          height: 68px;
          padding: 0 12px 0 0;
          cursor: pointer;
          .picture {
            height: 100%;
            width: 100%;
            border-radius: 3px;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: center center;
            }
          }
          .video-icon {
            position: absolute;
            top: 50%;
            left: calc(50% - 6px);
            height: 32px;
            width: 32px;
            transform: translate(-50%, -50%);
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.32);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              font-size: 30px;
              color: var(--white);
            }
          }
          .media-duration {
            position: absolute;
            top: 4px;
            left: 4px;
            height: 13px;
            font-size: 10px;
            line-height: 10px;
            background-color: rgba(0, 0, 0, 0.32);
            padding: 2px 2px 1px;
            border-radius: 2px;
            color: var(--white);
            white-space: nowrap;
            z-index: 20;
          }
        }
      }
    }
    .media-grid-view {
      .media-item {
        position: relative;
        width: 25%;
        height: 68px;
        padding: 0 12px 0 0;
        cursor: pointer;
        .picture {
          height: 100%;
          width: 100%;
          border-radius: 3px;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
      }
    }
  }
}

html[theme="dark"] {
}

html[theme="dark-blue"] {

}
