/*
    Creation Time: 2019 - Feb - 19
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --grey-low: #555;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --light-alt: #f1f2f2;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.64);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --light-mention: #2678b6;
  --glass-dark-low: rgba(0, 0, 0, 0.05);
  --glass-dark-high: rgba(0, 0, 0, 0.20);
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --dark-mention: #2d9fee;
  --dark-blue-low: #1A212E;
  --dark-blue-medium: #232F40;
  --dark-blue-high: #14395f;
  --dark-blue-high-alt: #2EA2FE;
  --dark-blue-hover: rgba(46, 162, 254, 0.5);
  --dark-blue-hover-light: rgba(46, 162, 254, 0.3);
  --dark-blue-accent-low: #3E6A96;
  --dark-blue-accent-medium: #344359;
  --dark-blue-mention: #2eadff;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

.peer-media {
  padding: 6px 0 12px; }
  .peer-media.full {
    height: 100%;
    display: flex;
    flex-direction: column; }
    .peer-media.full .peer-media-container {
      flex: 1; }
  .peer-media .peer-media-title {
    padding: 6px 12px 0;
    display: flex;
    align-items: center; }
    .peer-media .peer-media-title .peer-label {
      flex: 1;
      text-align: left; }
    .peer-media .peer-media-title .more {
      width: 64px;
      color: var(--river);
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer; }
  .peer-media .peer-media-tab {
    margin: -8px 0 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .peer-media .peer-media-tab button {
      min-width: 75px; }
      .peer-media .peer-media-tab button > span > span {
        padding: 6px; }
  .peer-media .peer-media-container {
    padding: 0 0 0 12px; }
    .peer-media .peer-media-container .media-loading {
      text-align: center;
      color: var(--grey);
      font-size: 12px;
      min-height: 74px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .peer-media .peer-media-container .media-placeholder {
      text-align: center;
      color: var(--grey);
      font-size: 12px;
      min-height: 74px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 32px; }
      .peer-media .peer-media-container .media-placeholder .img {
        height: 170px;
        width: 170px;
        background-position: center center;
        background-size: 100% 100%;
        border-radius: 50%;
        border: 3px solid #fff; }
        .peer-media .peer-media-container .media-placeholder .img.media {
          background-image: url("../../../asset/image/media-placeholder.svg"); }
        .peer-media .peer-media-container .media-placeholder .img.audio {
          background-image: url("../../../asset/image/audio-placeholder.svg"); }
        .peer-media .peer-media-container .media-placeholder .img.file {
          background-image: url("../../../asset/image/file-placeholder.svg"); }
    .peer-media .peer-media-container .media-grid-view .file-icon,
    .peer-media .peer-media-container .media-list-view .file-icon {
      position: relative;
      border: 1px solid #2D9CDB;
      border-radius: 3px;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .peer-media .peer-media-container .media-grid-view .file-icon .file-extension,
      .peer-media .peer-media-container .media-list-view .file-icon .file-extension {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        font-size: 6px;
        text-transform: uppercase;
        color: #2D9CDB; }
      .peer-media .peer-media-container .media-grid-view .file-icon svg,
      .peer-media .peer-media-container .media-list-view .file-icon svg {
        color: #2D9CDB;
        font-size: 24px; }
      .peer-media .peer-media-container .media-grid-view .file-icon.music,
      .peer-media .peer-media-container .media-list-view .file-icon.music {
        border-color: #9B51E0; }
        .peer-media .peer-media-container .media-grid-view .file-icon.music .file-extension, .peer-media .peer-media-container .media-grid-view .file-icon.music svg,
        .peer-media .peer-media-container .media-list-view .file-icon.music .file-extension,
        .peer-media .peer-media-container .media-list-view .file-icon.music svg {
          color: #9B51E0; }
      .peer-media .peer-media-container .media-grid-view .file-icon.voice,
      .peer-media .peer-media-container .media-list-view .file-icon.voice {
        border-color: #FFCC00; }
        .peer-media .peer-media-container .media-grid-view .file-icon.voice .file-extension, .peer-media .peer-media-container .media-grid-view .file-icon.voice svg,
        .peer-media .peer-media-container .media-list-view .file-icon.voice .file-extension,
        .peer-media .peer-media-container .media-list-view .file-icon.voice svg {
          color: #FFCC00; }
    .peer-media .peer-media-container .media-grid-view {
      min-height: 74px;
      display: inline-block;
      width: 100%; }
      .peer-media .peer-media-container .media-grid-view .media-item {
        position: relative;
        width: calc(25% - 12px);
        height: 68px;
        margin: 12px 12px 0 0;
        cursor: pointer;
        float: left; }
        .peer-media .peer-media-container .media-grid-view .media-item .picture {
          height: 100%;
          width: 100%;
          border-radius: 3px;
          overflow: hidden; }
          .peer-media .peer-media-container .media-grid-view .media-item .picture img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center; }
        .peer-media .peer-media-container .media-grid-view .media-item .file-icon {
          height: 100%;
          width: 100%; }
          .peer-media .peer-media-container .media-grid-view .media-item .file-icon .file-extension {
            font-size: 10px; }
          .peer-media .peer-media-container .media-grid-view .media-item .file-icon svg {
            font-size: 48px; }
        .peer-media .peer-media-container .media-grid-view .media-item .video-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 32px;
          width: 32px;
          transform: translate(-50%, -50%);
          z-index: 10;
          background-color: rgba(0, 0, 0, 0.32);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center; }
          .peer-media .peer-media-container .media-grid-view .media-item .video-icon svg {
            font-size: 30px;
            color: var(--white); }
        .peer-media .peer-media-container .media-grid-view .media-item .media-duration {
          position: absolute;
          top: 4px;
          left: 4px;
          height: 13px;
          font-size: 10px;
          line-height: 10px;
          background-color: rgba(0, 0, 0, 0.32);
          padding: 2px 2px 1px;
          border-radius: 2px;
          color: var(--white);
          white-space: nowrap;
          z-index: 20; }
    .peer-media .peer-media-container .media-list-view .media-item {
      position: relative;
      height: 48px;
      padding: 0 12px 0 0;
      margin: 0 0 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .peer-media .peer-media-container .media-list-view .media-item:first-of-type {
        margin-top: 6px; }
      .peer-media .peer-media-container .media-list-view .media-item .picture {
        height: 48px;
        width: 48px;
        border-radius: 3px;
        overflow: hidden; }
        .peer-media .peer-media-container .media-list-view .media-item .picture img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center center; }
      .peer-media .peer-media-container .media-list-view .media-item .media-item-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 8px;
        height: 48px;
        width: calc(100% - 108px); }
        .peer-media .peer-media-container .media-list-view .media-item .media-item-info .media-name {
          font-size: 14px;
          color: var(--black);
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .peer-media .peer-media-container .media-list-view .media-item .media-item-info .media-size {
          font-size: 10px;
          color: var(--grey);
          text-align: left; }
      .peer-media .peer-media-container .media-list-view .media-item .media-item-action {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .peer-media .peer-media-container .media-list-view .media-item .media-item-action .media-action {
          position: relative;
          top: auto;
          left: auto;
          transform: none; }
        .peer-media .peer-media-container .media-list-view .media-item .media-item-action .audio-action {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          height: 36px;
          width: 36px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.32);
          z-index: 910; }
          .peer-media .peer-media-container .media-list-view .media-item .media-item-action .audio-action svg {
            color: var(--white); }
      .peer-media .peer-media-container .media-list-view .media-item .media-file-action {
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .peer-media .peer-media-container .media-list-view .media-item .media-file-action span {
          color: var(--river);
          font-size: 11px;
          font-weight: bold;
          cursor: pointer; }

html[theme="dark"] .peer-media .peer-media-title,
html[theme="dark-blue"] .peer-media .peer-media-title {
  color: var(--white); }

html[theme="dark"] .peer-media .peer-media-tab,
html[theme="dark-blue"] .peer-media .peer-media-tab {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  html[theme="dark"] .peer-media .peer-media-tab button[aria-selected="false"],
  html[theme="dark-blue"] .peer-media .peer-media-tab button[aria-selected="false"] {
    color: var(--white); }

html[theme="dark"] .peer-media .media-list-view .media-item .file-icon .file-extension,
html[theme="dark-blue"] .peer-media .media-list-view .media-item .file-icon .file-extension {
  color: var(--white); }

html[theme="dark"] .peer-media .media-list-view .media-item .media-item-info .media-name,
html[theme="dark-blue"] .peer-media .media-list-view .media-item .media-item-info .media-name {
  color: var(--white); }
