/*
    Creation Time: 2019 - April - 28
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/mixin';

.search-message {
  position: absolute;
  background-color: var(--header-color);
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 100;

  &.visible {
    display: block;
  }

  .search-box {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    border-top: 1px solid rgba(0, 0, 0, 0.06);

    .search-action {
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        padding: 3px;
      }
    }

    .search-filter {
      position: absolute;
      top: 50%;
      right: 4px;
      transform: translateY(-50%);

      button {
        padding: 3px;
      }
    }

    .search-input {
      position: relative;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0 0 6px;

      .chip-root {
        .chip-container {
          margin: 0;
          padding: 6px 0;
        }
      }

      .search-chip-input {
        .chip-input-root {
          padding: 0;
          border: 1px solid rgba(0, 0, 0, 0.23);
          background-color: rgba(250, 250, 250, 0.1);
          border-radius: 4px;

          fieldset {
            display: none;
          }

          .chip {
            height: 20px;
            border-radius: 3px;
            padding: 0 3px;
            margin: 0 0 0 3px;
            display: flex;
            align-items: center;
            justify-content: center;

            .chip-avatar {
              margin: 0;
              padding: 0;
              height: 16px;
              width: 16px;

              .text-avatar {
                height: 16px;
                width: 16px;
                overflow: hidden;
                display: flex;
                text-overflow: ellipsis;
                white-space: nowrap;
                align-items: center;
                justify-content: center;

                .inner {
                  font-size: 10px;
                  padding: 0;
                }
              }
            }

            svg {
              height: 15px;
              width: 15px;
              font-size: 15px;
              margin: 0;
            }

            span {
              display: inline;
              font-size: 10px;
              padding: 2px 2px 0;
              max-width: 45px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          input {
            margin: 0;
            padding: 4px 10px;
            border-radius: 3px;

            &::placeholder {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

html[direction="rtl"] {
  .search-message {
    .search-box {
      flex-direction: row-reverse;

      .search-input {
        flex-direction: row-reverse;
        padding: 0 6px 0 0;
        direction: rtl;

        .search-filter {
          right: auto;
          left: 4px;
        }

        .search-chip-input {
          .chip-input-root {
            .chip {
              margin: 0 3px 0 0;
            }
          }
        }
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"] {
  .search-message {
    background-color: var(--dark-medium);

    .search-box {
      border-color: var(--dark-low-op50);

      .search-action, .search-filter {
        button svg {
          color: var(--light);
        }

        button[disabled] svg {
          color: var(--grey);
        }
      }

      .search-chip-input {
        input {
          color: var(--white);
        }

        .chip {
          background-color: var(--dark-high);
          color: var(--white);

          svg {
            color: var(--dark-night-accent-high);
          }
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .search-message {
    background-color: var(--dark-blue-medium);

    .search-box {
      border-color: var(--dark-blue-low-op50);

      .search-action, .search-filter {
        button svg {
          color: var(--dark-blue-mention);
        }

        button[disabled] svg {
          color: var(--dark);
        }
      }

      .search-chip-input {
        input {
          color: var(--white);
        }

        .chip {
          background-color: var(--dark-blue-high);
          color: var(--white);

          svg {
            color: var(--dark-blue-accent-low);
          }
        }
      }
    }
  }
}
