/*
    Creation Time: 2019 - April - 28
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
.search-message {
  position: absolute;
  background-color: var(--header-color);
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 100; }
  .search-message.visible {
    display: block; }
  .search-message .search-box {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    border-top: 1px solid rgba(0, 0, 0, 0.06); }
    .search-message .search-box .search-action {
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .search-message .search-box .search-action button {
        padding: 3px; }
    .search-message .search-box .search-input {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 6px; }
      .search-message .search-box .search-input .input label {
        font-size: 14px;
        line-height: 14px;
        transform: translate(0, 12px) scale(1); }
      .search-message .search-box .search-input .input.focus label {
        transform: translate(0, 0) scale(0.8); }
      .search-message .search-box .search-input .input > div {
        margin-top: 10px; }
        .search-message .search-box .search-input .input > div input {
          padding: 1px 0; }

html[theme="dark"] .search-message {
  background-color: var(--dark-medium); }
  html[theme="dark"] .search-message .search-box {
    border-color: var(--dark-low-op50); }
    html[theme="dark"] .search-message .search-box .search-action button svg {
      color: var(--light); }
    html[theme="dark"] .search-message .search-box .search-action button[disabled] svg {
      color: var(--grey); }
    html[theme="dark"] .search-message .search-box .search-input label {
      color: var(--white); }
    html[theme="dark"] .search-message .search-box .search-input .input input {
      color: var(--white); }

html[theme="dark-blue"] .search-message {
  background-color: var(--dark-blue-medium); }
  html[theme="dark-blue"] .search-message .search-box {
    border-color: var(--dark-blue-low-op50); }
    html[theme="dark-blue"] .search-message .search-box .search-action button svg {
      color: var(--dark-blue-mention); }
    html[theme="dark-blue"] .search-message .search-box .search-action button[disabled] svg {
      color: var(--dark); }
    html[theme="dark-blue"] .search-message .search-box .search-input label {
      color: var(--white); }
    html[theme="dark-blue"] .search-message .search-box .search-input .input input {
      color: var(--white); }
