/*
    Creation Time: 2020 - Sep - 09
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2020
*/

.team-settings-section {
  display: flex;
  width: 100%;
  flex-direction: column;

  .team-info {
    border-top: 1px solid #E0E0E080;
    padding: 16px 8px;
  }

  .member-wrapper {
    flex: 1 1;
  }

  .member-container {
    height: 100%;

    .category-item {
      color: var(--river);
      font-size: 14px;
      line-height: 16px;
      font-weight: bold;
      height: 26px;
      text-align: left;
      padding: 6px 16px 1px;
      user-select: none;
      background-color: var(--bg);
      text-transform: uppercase;
    }

    .member-item {
      position: relative;
      height: 64px;
      padding: 8px;
      border-bottom: 1px solid var(--light);
      display: flex;
      flex-direction: row-reverse;

      &:last-of-type {
        border-color: transparent !important;
      }

      &:hover {
        background-color: var(--color-hover);
      }

      .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 12px;

        img {
          float: left;
          width: 48px;
          height: 48px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .admin-wrapper {
        position: absolute;
        top: 11px;
        left: 64px;
        width: 16px;
        height: 16px;

        svg {
          font-size: 16px;
          color: var(--dark);
        }
      }

      .member-info {
        flex: 1 1;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        flex-direction: column;

        .name {
          display: inline-block;
          min-width: 200px;
          font-size: 12px;
          line-height: 23px;
          margin: 0 0 4px;
          color: var(--dark);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 230px;
          font-weight: bold;
          text-align: left;
        }

        .last-seen {
          font-size: 12px;
          line-height: 23px;
          direction: ltr;

          .online {
            color: var(--river);
          }
        }
      }

      &.admin {
        .name {
          padding-left: 16px;
        }
      }

      .more {
        position: absolute;
        top: 5px;
        right: 3px;
        height: 25px;
        width: 20px;
        display: none;
        cursor: pointer;
        z-index: 10;

        svg {
          height: 25px;
          font-size: 25px;
        }
      }

      &:hover .more {
        display: block;
      }
    }

    .no-result {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--gale);
    }
  }
}

html[direction="rtl"] {
  .team-settings-section {
    .member-container {
      .category-item {
        text-align: right;
      }

      .member-item {

        .avatar {
          margin-right: 0;
          margin-left: 12px;
        }

        .admin-wrapper {
          left: auto;
          right: 64px;
        }

        .member-info {

          .name {
            text-align: right;
          }
        }

        &.admin {
          .name {
            padding-left: 0;
            padding-right: 16px;
          }
        }

        .more {
          right: auto;
          left: 6px;
        }
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"] {
  .team-settings-section {
    .team-info {
      border-color: var(--dark-low-op50);

      label, input {
        color: var(--white);
      }
    }

    .member-container {
      .category-item {
        background-color: var(--dark-high);
      }

      .member-item {
        background-color: var(--dark-medium);
        border-color: var(--dark-high);

        &:hover {
          background-color: var(--dark-hover);
        }

        .admin-wrapper {
          svg {
            font-size: 16px;
            color: var(--light);
          }
        }

        .member-info {
          .name {
            color: var(--white);
          }

          .last-seen {
            color: var(--light);
          }
        }

        .more {
          svg {
            color: var(--white);
          }
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .team-settings-section {
    .team-info {
      border-color: var(--dark-blue-low-op50);

      label, input {
        color: var(--white);
      }
    }

    .member-container {
      .category-item {
        background-color: var(--dark-blue-low-op50);
      }

      .member-item {
        background-color: var(--dark-blue-medium);
        border-color: var(--dark-blue-low);

        &:hover {
          background-color: var(--dark-blue-hover);
        }

        .admin-wrapper {
          svg {
            font-size: 16px;
            color: var(--light);
          }
        }

        .member-info {
          .name {
            color: var(--white);
          }

          .last-seen {
            color: var(--light);
          }
        }

        .more {
          svg {
            color: var(--white);
          }
        }
      }
    }
  }
}