@keyframes splash {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }
  to {
    transform: scale(1, 1);
  }
}

.uploader-container {
  height: 100%;
  width: 100%;
  .uploader-dropzone {
    height: 100%;
    width: 100%;
  }
  .slider-attachment {
    width: 100%;
    height: 100%;
    padding: 25px;
    .slide {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        animation: splash 1s normal forwards ease-in-out;
        animation-iteration-count: 1;
      }
    }
  }
  .attachment-preview-container {
    height: calc(100% - 120px);
  }
  .attachments-slide-container {
    height: 120px;
    padding: 10px 0;
    background-color: #ededee;
    .item {
      width: 100px;
      height: 100px;
      margin: 0 10px;
      display: inline-block;
      cursor: pointer;
      background-color: #fff;
      .preview {
        position: relative;
        background-size: cover;
        width: 100px;
        height: 100px;
        transition: transform .1s ease-out;
        &:before {
          content: '';
          position: absolute;
          height: 40px;
          width: 100%;
          top: 0;
          right: 0;
          opacity: 0;
          background: linear-gradient(10deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.18) 75%, rgba(0, 0, 0, 0.4) 100%);
          transition: opacity .1s ease-out;
        }
      }
      &:hover {
        .preview:before {
          opacity: 1;
        }
      }
      &.selected {
        .preview {
          transform: scale(0.93);
          filter: blur(1px);
        }
      }
    }
  }
}