/*
    Creation Time: 2018 - Aug - 27
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
@keyframes splash {
  from {
    opacity: 0.7;
    transform: scale(0.7, 0.7); }
  50% {
    opacity: 1;
    transform: scale(1.01, 1.01); }
  to {
    transform: scale(1, 1); } }

@keyframes swipe-left {
  from {
    transform: translate(-50%, -50%); }
  50% {
    opacity: 0; }
  to {
    opacity: 0;
    transform: translate(-200%, -50%); } }

@keyframes swipe-right {
  from {
    transform: translate(-50%, -50%); }
  50% {
    opacity: 0; }
  to {
    opacity: 0;
    transform: translate(100%, -50%); } }

.uploader-dialog div[role="document"] > div {
  line-height: 0;
  max-width: 640px;
  background: transparent;
  overflow: hidden; }

.uploader-dialog .uploader-container {
  position: relative;
  height: 640px;
  width: 640px;
  background: #ddd; }
  .uploader-dialog .uploader-container .uploader-loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--light); }
  .uploader-dialog .uploader-container .uploader-header {
    background-color: var(--river);
    color: var(--white);
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .uploader-dialog .uploader-container .attachment-preview-container {
    height: calc(100% - 160px);
    display: flex;
    flex-direction: column; }
    .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone {
      width: 100%;
      height: 400px; }
      .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone .slider-attachment {
        width: 100%;
        height: 100%;
        padding: 16px;
        text-align: center; }
        .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone .slider-attachment .slide {
          position: relative;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          color: var(--grey);
          text-transform: uppercase;
          display: inline-flex; }
          .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone .slider-attachment .slide .image-actions {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            opacity: 0;
            transition: opacity .1s ease-out; }
            .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone .slider-attachment .slide .image-actions:before {
              content: '';
              position: absolute;
              height: 100px;
              width: 100%;
              top: 0;
              right: 0;
              background: linear-gradient(10deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.18) 75%, rgba(0, 0, 0, 0.4) 100%);
              z-index: 10; }
            .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone .slider-attachment .slide .image-actions:hover {
              opacity: 1; }
            .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone .slider-attachment .slide .image-actions svg {
              position: absolute;
              top: 6px;
              right: 6px;
              color: var(--white);
              font-size: 24px;
              z-index: 15;
              cursor: pointer; }
          .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone .slider-attachment .slide img {
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25); }
          .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone .slider-attachment .slide img.front {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 100%;
            max-height: 100%;
            z-index: 2;
            animation: splash 0.7s normal forwards ease-in-out;
            animation-iteration-count: 1; }
          .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone .slider-attachment .slide img.back {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 100%;
            max-height: 100%;
            transform: translate(-50%, -50%);
            z-index: 1;
            animation: swipe-left 0.3s normal forwards ease-in-out;
            animation-iteration-count: 1; }
          .uploader-dialog .uploader-container .attachment-preview-container .uploader-dropzone .slider-attachment .slide.right img.back {
            animation: swipe-right 0.3s normal forwards ease-in-out; }
    .uploader-dialog .uploader-container .attachment-preview-container .attachment-details-container {
      position: relative;
      padding: 4px 96px 4px 32px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .uploader-dialog .uploader-container .attachment-preview-container .attachment-details-container .attachment-action {
        position: absolute;
        height: 48px;
        width: 48px;
        bottom: -24px;
        right: 24px;
        border-radius: 50%;
        background-color: var(--river);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 220; }
        .uploader-dialog .uploader-container .attachment-preview-container .attachment-details-container .attachment-action svg {
          color: var(--light);
          font-size: 30px; }
  .uploader-dialog .uploader-container .attachments-slide-container {
    height: 120px;
    background-color: #ededee; }
    .uploader-dialog .uploader-container .attachments-slide-container .attachment-items {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .uploader-dialog .uploader-container .attachments-slide-container .attachment-items .item {
        position: relative;
        width: 100px;
        min-width: 100px;
        height: 100px;
        margin: 0 10px;
        display: inline-block;
        cursor: pointer;
        background-color: #fff; }
        .uploader-dialog .uploader-container .attachments-slide-container .attachment-items .item .preview {
          position: relative;
          background-size: cover;
          width: 100px;
          height: 100px;
          transition: transform .1s ease-out; }
          .uploader-dialog .uploader-container .attachments-slide-container .attachment-items .item .preview:before {
            content: '';
            position: absolute;
            height: 40px;
            width: 100%;
            top: 0;
            right: 0;
            opacity: 0;
            background: linear-gradient(10deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.18) 75%, rgba(0, 0, 0, 0.4) 100%);
            transition: opacity .1s ease-out; }
        .uploader-dialog .uploader-container .attachments-slide-container .attachment-items .item .remove {
          position: absolute;
          background-color: var(--white);
          height: 20px;
          width: 20px;
          top: 4px;
          right: 4px;
          transform: translate(50%, -50%);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
          opacity: 0;
          transition: opacity 0.1s; }
          .uploader-dialog .uploader-container .attachments-slide-container .attachment-items .item .remove svg {
            color: var(--red);
            font-size: 16px; }
        .uploader-dialog .uploader-container .attachments-slide-container .attachment-items .item:hover .preview:before {
          opacity: 1; }
        .uploader-dialog .uploader-container .attachments-slide-container .attachment-items .item:hover .remove {
          opacity: 1; }
        .uploader-dialog .uploader-container .attachments-slide-container .attachment-items .item.selected .preview {
          transform: scale(0.93);
          filter: blur(1px); }
        .uploader-dialog .uploader-container .attachments-slide-container .attachment-items .item.add-file {
          background: #fff;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: column; }
          .uploader-dialog .uploader-container .attachments-slide-container .attachment-items .item.add-file svg {
            font-size: 36px; }

html[theme="dark"] .uploader-container {
  background-color: var(--dark-medium); }
  html[theme="dark"] .uploader-container .attachment-details-container .caption-input label, html[theme="dark"] .uploader-container .attachment-details-container .caption-input textarea, html[theme="dark"] .uploader-container .attachment-details-container .caption-input svg {
    color: var(--white); }
  html[theme="dark"] .uploader-container .attachments-slide-container {
    background-color: var(--dark-low); }
    html[theme="dark"] .uploader-container .attachments-slide-container .attachment-items {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      html[theme="dark"] .uploader-container .attachments-slide-container .attachment-items .item {
        background-color: var(--dark-high); }
        html[theme="dark"] .uploader-container .attachments-slide-container .attachment-items .item.add-file {
          background: var(--dark-high);
          color: var(--white); }
          html[theme="dark"] .uploader-container .attachments-slide-container .attachment-items .item.add-file svg {
            color: var(--white); }

html[theme="dark-blue"] .uploader-container {
  background-color: var(--dark-blue-medium); }
  html[theme="dark-blue"] .uploader-container .attachment-details-container .caption-input label, html[theme="dark-blue"] .uploader-container .attachment-details-container .caption-input textarea, html[theme="dark-blue"] .uploader-container .attachment-details-container .caption-input svg {
    color: var(--white); }
  html[theme="dark-blue"] .uploader-container .attachments-slide-container {
    background-color: var(--dark-blue-low); }
    html[theme="dark-blue"] .uploader-container .attachments-slide-container .attachment-items {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      html[theme="dark-blue"] .uploader-container .attachments-slide-container .attachment-items .item {
        background-color: var(--dark-blue-medium); }
        html[theme="dark-blue"] .uploader-container .attachments-slide-container .attachment-items .item.add-file {
          background: var(--dark-blue-medium);
          color: var(--white); }
          html[theme="dark-blue"] .uploader-container .attachments-slide-container .attachment-items .item.add-file svg {
            color: var(--white); }
