/*
    Creation Time: 2018 - Aug - 27
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
@import '../../../style/mixin';

@keyframes uploader-splash {
  from {
    opacity: 0.7;
    transform: scale(0.7, 0.7);
  }
  50% {
    opacity: 1;
    transform: scale(1.01, 1.01);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes uploader-swipe-left {
  from {
    transform: translate(-50%, -50%);
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: translate(-200%, -50%);
  }
}

@keyframes uploader-swipe-right {
  from {
    transform: translate(-50%, -50%);
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: translate(100%, -50%);
  }
}

.uploader-dialog {
  div[role="document"] {
    > div {
      line-height: 0;
      max-width: 640px;
      background: transparent;
      overflow: hidden;
    }
  }

  .uploader-container {
    position: relative;
    height: 640px;
    width: 640px;
    background: #ddd;

    .uploader-loader {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 300;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      color: var(--light);
    }

    .uploader-header {
      background-color: var(--river);
      color: var(--white);
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .header-title {
        padding: 0 12px;
        flex: 1;
      }

      .header-icon {
        width: 40px;
        height: 40px;
        padding: 3px;

        svg {
          color: var(--white);
        }
      }
    }

    .attachment-preview-container {
      height: calc(100% - 160px);
      display: flex;
      flex-direction: column;

      .uploader-dropzone {
        width: 100%;
        height: 400px;

        .slider-attachment {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 16px;
          text-align: center;

          .slide {
            position: relative;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            color: var(--grey);
            text-transform: uppercase;
            display: inline-flex;
            //&:hover {
            //  &:before {
            //    opacity: 1;
            //  }
            //}
            .image-actions {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 10;
              opacity: 0;
              transition: opacity .1s ease-out;

              &:before {
                content: '';
                position: absolute;
                height: 100px;
                width: 100%;
                top: 0;
                right: 0;
                background: linear-gradient(10deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.18) 75%, rgba(0, 0, 0, 0.4) 100%);
                z-index: 10;
              }

              &:hover {
                opacity: 1;
              }

              svg {
                position: absolute;
                top: 6px;
                right: 6px;
                color: var(--white);
                font-size: 24px;
                z-index: 15;
                cursor: pointer;
              }
            }

            img, video {
              box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
            }

            img.front, video.front,
            .audio-preview.front {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              max-width: 100%;
              max-height: 100%;
              z-index: 2;
              animation: uploader-splash 0.7s normal forwards ease-in-out;
              animation-iteration-count: 1;
            }

            img.back,
            .audio-preview.back {
              position: absolute;
              top: 50%;
              left: 50%;
              max-width: 256px;
              max-height: 256px;
              transform: translate(-50%, -50%);
              z-index: 1;
              animation: uploader-swipe-left 0.3s normal forwards ease-in-out;
              animation-iteration-count: 1;
            }

            .audio-preview {
              background-color: var(--grey);
              height: 256px;
              width: 256px;
              border-radius: 3px;
              box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);

              svg {
                font-size: 64px;
                color: var(--grey-low);
              }
            }

            &.right img.back,
            &.right .audio-preview.back {
              animation: uploader-swipe-right 0.3s normal forwards ease-in-out;
            }

            .file-slide {
              position: relative;
              height: 256px;
              width: 256px;
              display: flex;
              align-items: center;
              justify-content: center;

              .icon {
                height: 100%;
                width: 100%;
                background-color: var(--white);
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;

                .extension {
                  font-size: 14px;
                  line-height: 1.2em;
                  padding: 12px;

                  .size {
                    font-size: 12px;
                    line-height: 2.2em;
                  }
                }
              }
            }
          }
        }
      }

      .attachment-details-container {
        position: relative;
        padding: 4px 96px 4px 32px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        .caption-input {

        }

        .attachment-action {
          position: absolute;
          height: 48px;
          width: 48px;
          bottom: -24px;
          right: 24px;
          border-radius: 50%;
          background-color: var(--river);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          z-index: 220;

          svg {
            color: var(--light);
            font-size: 30px;
          }
        }
      }
    }

    .attachments-slide-container {
      height: 120px;
      background-color: #ededee;

      .attachment-items {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .item {
          position: relative;
          width: 100px;
          min-width: 100px;
          height: 100px;
          margin: 0 0 0 10px;
          display: inline-block;
          cursor: pointer;
          background-color: #fff;

          .preview {
            position: relative;
            background-size: cover;
            width: 100px;
            height: 100px;
            background-position: center center;
            transition: transform .1s ease-out;

            &:before {
              content: '';
              position: absolute;
              height: 40px;
              width: 100%;
              top: 0;
              right: 0;
              opacity: 0;
              background: linear-gradient(10deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.18) 75%, rgba(0, 0, 0, 0.4) 100%);
              transition: opacity .1s ease-out;
            }
          }

          .preview-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 32px;
            width: 32px;
            transform: translate(-50%, -50%);
            z-index: 10;
            background-color: rgba(0, 0, 0, 0.32);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              font-size: 30px;
              color: var(--white);
            }
          }

          .file-preview {
            position: relative;
            display: flex;
            width: 100px;
            height: 100px;
            align-items: center;
            justify-content: center;

            svg {
              color: var(--grey-low);
              font-size: 80px;
            }

            .extension {
              position: absolute;
              top: 55%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-transform: uppercase;
              font-weight: bold;
              color: var(--white);
            }
          }

          .remove {
            position: absolute;
            background-color: var(--white);
            height: 20px;
            width: 20px;
            top: 4px;
            right: 4px;
            transform: translate(50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.32);
            opacity: 0;
            transition: opacity 0.1s;

            svg {
              color: var(--red);
              font-size: 16px;
            }
          }

          .item-busy {
            position: absolute;
            bottom: 6px;
            left: 6px;
            height: 14px;
            width: 16px;
            background-color: rgba(0, 0, 0, 0.32);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;
            animation-name: splash;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;

            svg {
              font-size: 14px;
              color: #ffde03;
            }
          }

          &:hover {
            .preview:before {
              opacity: 1;
            }

            .remove {
              opacity: 1;
            }
          }

          &.selected {
            .preview {
              transform: scale(0.93);
              filter: blur(1px);
            }

            .file-preview {
              border: 2px solid var(--grey-low);
            }
          }

          &.add-file {
            background: #fff;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;

            svg {
              font-size: 36px;
            }
          }
        }
      }
    }
  }
}

html[direction="rtl"] {
  .uploader-container {
    .caption-input {
      textarea {
        text-align: right;
      }
    }
  }
}

html[theme="dark"] {
  .uploader-container {
    background-color: var(--dark-medium);

    .attachment-details-container {
      .caption-input {
        label, textarea, svg {
          color: var(--white);
        }
      }
    }

    .attachments-slide-container {
      background-color: var(--dark-low);

      .attachment-items {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .item {
          background-color: var(--dark-high);

          .file-preview {
            svg {
              color: var(--white);
            }
          }

          &.selected {
            .file-preview {
              border: 2px solid var(--white);
            }
          }

          &.add-file {
            background: var(--dark-high);
            color: var(--white);

            svg {
              color: var(--white);
            }
          }
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .uploader-container {
    background-color: var(--dark-blue-medium);

    .attachment-details-container {
      .caption-input {
        label, textarea, svg {
          color: var(--white);
        }
      }
    }

    .attachments-slide-container {
      background-color: var(--dark-blue-low);

      .attachment-items {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .item {
          background-color: var(--dark-blue-medium);

          .file-preview {
            svg {
              color: var(--white);
            }
          }

          &.selected {
            .file-preview {
              border: 2px solid var(--white);
            }
          }

          &.add-file {
            background: var(--dark-blue-medium);
            color: var(--white);

            svg {
              color: var(--white);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .uploader-dialog {
    div[role="document"] {
      > div {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        margin: 0;
      }
    }

    .uploader-container {
      height: 100%;
      width: 100%;

      .attachment-preview-container .attachment-details-container .attachment-action {
        bottom: 0;
      }
    }
  }
}
