/*
    Creation Time: 2018 - Aug - 27
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

.kk-pop-up-menu-container {
  position: absolute;
  height: 0;
  width: 0;
  .kk-pop-up-menu-wrapper {
    display: inline-block;
    transform: translate(-100%, -100%);
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
}

//.rtl .kk-pop-up-menu-container .kk-pop-up-menu-wrapper {
//  transform: translate(0, -100%);
//}
