.call-settings {
  display: flex;
  align-items: center;
  justify-content: center;

  .call-settings-item {
    color: var(--white);

    &[disabled] {
      color: var(--grey);
    }
  }
}

.call-modal-action {
  .call-settings-participants {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    color: var(--white);
  }
}

.call-settings-notice {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 24px;
  text-align: center;
  background-color: var(--glass-dark-ultra);
  color: var(--white);
  z-index: 10;
}

.call-settings-drawer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  z-index: 2000;
  overflow: hidden;
  transition: width 0.17s;

  &.drawer-open {
    width: 168px;
  }

  .drawer-content {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    width: 168px;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0.9) 100%);
    padding: 36px 0 48px 12px;

    .call-participant-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-items: start;
      line-height: 1em;
      margin: 8px 8px 0 4px;
      padding: 4px 0 4px 4px;
      border-radius: 6px;
      user-select: none;

      &.add-participant {
        position: relative;
        background-color: var(--dark-hover);
        margin-bottom: 16px;
        cursor: pointer;
      }

      &:hover {
        background-color: var(--dark-hover-light);
      }

      .user-avatar, .action-icon {
        height: 28px;
        width: 28px;
        margin: 0 8px 0 0;
      }

      .user-avatar {
        .text-avatar {
          font-size: 14px;
          line-height: 1em;
        }
      }

      .action-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          font-size: 20px;
          color: var(--white);
        }
      }

      .user-badge {
        position: absolute;
        top: -2px;
        left: -2px;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        background-color: var(--dark);

        svg {
          font-size: 14px;
        }
      }

      .user-name {
        font-size: 14px;
        flex: 1 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .more {
        width: 28px;
        opacity: 0;
        cursor: pointer;

        svg {
          font-size: 18px;
        }
      }

      &:hover {
        .more {
          opacity: 1;
        }
      }
    }
  }
}