/*
    Creation Time: 2019 - Dec - 15
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

.label-menu {
  height: 100%;

  .page-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .page {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: left 0.2s ease-out;

      &.page-1 {
        left: 0;
      }

      &.page-2 {
        left: 100%;
        background-color: var(--smoke);
      }
    }

    &.page-2 {
      .page-1 {
        left: -100%;
      }

      .page-2 {
        left: 0;
      }
    }
  }

  .menu-header {
    display: flex;
    text-align: left;
    height: 47px;
    background-color: var(--header-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    align-items: center;
    justify-content: center;

    label {
      flex: 1;
      padding: 10px 10px 10px 0;
    }

    .add-remove-icon {
      transition: transform 0.2s;

      &.remove-mode {
        transform: rotate(45deg);
      }
    }

    .header-label-icon {
      position: relative;
      padding: 6px 6px 6px 0;

      .label-circle {
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        transition: opacity 0.1s;

        svg {
          font-size: 24px;
          color: var(--white);
        }
      }
    }

    .header-label-info {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      flex-direction: column;
      flex: 1;
      height: 100%;
      padding: 2px 0;

      .label-name {
        font-size: 14px;
        color: var(--dark);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .label-counter {
        font-size: 14px;
        color: #A1A1A1;
      }
    }
  }

  .label-list-container {

    &.no-result {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 100;
      color: var(--grey);

      svg {
        margin: 0 0 32px;
        color: inherit;
        font-size: 75px;
      }
    }

    .label-item-loading {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .label-search {
    padding: 12px 12px 8px;

    > div {
      margin: 0;
    }
  }

  .label-container {
    flex: 1;

    &.fill-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    .label-placeholder {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-size: 30px;
      font-weight: 100;
      color: var(--grey);
      cursor: pointer;
      opacity: 0.8;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }

      svg {
        margin: 0 0 32px;
        color: inherit;
        font-size: 75px;
      }
    }

    .label-item {
      display: flex;
      height: 56px;
      align-items: center;
      justify-content: center;
      padding: 8px 6px;

      .label-icon,
      .label-action {
        width: 52px;
        align-items: center;
        justify-content: center;
      }

      .label-icon {
        position: relative;
        padding: 6px 0;

        .label-circle {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          transition: opacity 0.2s;

          &.label-mode {
            opacity: 1;
          }

          &.edit-mode {
            opacity: 0;
            background-color: var(--light);
            cursor: pointer;

            svg {
              color: var(--grey);
            }
          }

          .svg-icon {
            font-size: 24px;
            margin: 0;
            color: var(--white);
          }
        }
      }

      .label-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        flex: 1;
        height: 100%;
        cursor: pointer;

        .label-name {
          font-size: 14px;
          color: var(--dark);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .label-counter {
          font-size: 14px;
          color: #A1A1A1;
        }
      }

      .label-action {
        opacity: 0;

        .checkbox {
          color: var(--grey);

          &.checkbox-checked {
            color: var(--river);
          }
        }
      }

      &:hover {
        .label-icon {
          .label-circle {
            &.label-mode {
              opacity: 0;
            }

            &.edit-mode {
              opacity: 1;
            }
          }
        }
      }

      &.create-label {
        position: relative;
        cursor: pointer;
        margin: 8px 0 0;
        padding-top: 12px;
        height: 64px;

        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 32px;
          right: 32px;
          height: 1px;
          background-color: var(--color-hover-dark);
        }

        .label-icon {
          .label-circle {
            background-color: var(--river);
          }
        }

        .label-info .label-name {
          color: var(--river);
          font-size: 16px;
        }
      }
    }

    &.selectable-mode .label-item, .label-item:hover, {
      .label-action {
        opacity: 1;
      }
    }

    &.selectable-mode .label-item .label-icon .label-circle {
      &.edit-mode {
        opacity: 0;
      }

      &.label-mode {
        opacity: 1;
      }
    }
  }

  .actions-bar {
    height: 86px;
    padding: 18px 0 22px;
    text-align: center;
    background-color: var(--message-chat);

    &.no-bg {
      background-color: transparent;
      border: none !important;
    }

    &.cancel {
      padding: 12px 0;
      color: var(--grey);
      height: auto;
      font-size: 12px;
      cursor: pointer;
    }

    .add-action {
      display: inline-flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s;

      &.disabled {
        color: var(--grey);
      }

      svg {
        font-size: 40px;
      }

      &:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

html[direction="rtl"] {
  .label-menu {
    .menu-header {
      direction: ltr;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;

      label {
        text-align: right;
      }

      > button {
        transform: rotateY(180deg);
      }

      .header-label-icon {
        padding: 6px 0 6px 6px;
      }

      .header-label-info {
        align-items: flex-end;
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .label-menu {
    .page-container {
      .page.page-2 {
        background-color: var(--dark-medium);
      }
    }

    .menu-header {
      background-color: var(--dark-medium);
      color: var(--white);
      border-color: var(--dark-low-op50);

      svg {
        color: var(--white);
      }

      .header-label-info {
        .label-name {
          color: var(--white);
        }
      }
    }

    .label-search, .label-title-input {
      label, input, svg {
        color: var(--white);
      }
    }

    .label-container {
      .label-item {
        .label-info {
          .label-name {
            color: var(--white);
          }
        }

        .label-action {
          svg {
            color: var(--white);
          }
        }

        &.create-label {
          &::before {
            background-color: var(--dark-hover-light);
          }
        }
      }
    }

    .actions-bar {
      background-color: var(--dark-medium);
      border-top: 1px solid var(--dark-low-op50);

      &.no-bg {
        background-color: transparent;
      }
    }
  }
}

html[theme="dark-blue"] {
  .label-menu {
    .page-container {
      .page.page-2 {
        background-color: var(--dark-blue-medium);
      }
    }

    .menu-header {
      background-color: var(--dark-blue-medium);
      border-color: var(--dark-blue-low-op50);
    }

    .actions-bar {
      border-top: 1px solid var(--dark-blue-low-op50);
      background-color: var(--dark-blue-medium);
    }
  }
}
