/*
    Creation Time: 2019 - April - 17
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

.settings-modal {
  .settings-modal-paper {
    line-height: 0;
    max-width: 720px;
    overflow: hidden;
    margin: 8px;
  }

  .settings-modal-header {
    min-width: 300px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 4px 0 0;
    //border-bottom: 1px solid #E0E0E0;

    .modal-icon,
    .modal-close {
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        font-size: 20px;
      }
    }

    .modal-close {
      cursor: pointer;
    }

    .modal-title {
      flex: 1;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      padding-left: 16px;

      &.width-icon {
        padding: 0;
        text-align: center;
      }

      svg {
        font-size: 16px;
        vertical-align: sub;
        margin: 0 4px 0 0;
      }
    }
  }

  .setting-content {
    height: 325px;
  }

  &.fit {
    .settings-modal-header {
      min-width: 300px;
      width: auto;
    }

    .setting-content {
      min-height: 325px;
      height: auto;
    }
  }
}

html[theme="dark"],
html[theme="dark-night"] {
  .settings-modal {
    .settings-modal-paper {
      background-color: var(--dark-medium);
    }

    .settings-modal-header {
      color: var(--white);
      //border-bottom: 1px solid var(--dark-low);
    }
  }
}

html[theme="dark-blue"] {
  .settings-modal {
    .settings-modal-paper {
      background-color: var(--dark-blue-medium);
    }

    .settings-modal-header {
      color: var(--white);
      //border-bottom: 1px solid var(--dark-blue-low);
    }
  }
}
