/*
    Creation Time: 2019 - April - 17
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/mixin';

.settings-modal {
  div[role="document"] {
    > div {
      line-height: 0;
      max-width: 720px;
      overflow: hidden;
      margin: 8px;
    }
  }

  .settings-modal-header {
    width: 300px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E0E0E0;

    .modal-icon,
    .modal-close {
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 20px;
      }
    }

    .modal-close {
      cursor: pointer;
    }

    .modal-title {
      flex: 1;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-align: center;

      svg {
        font-size: 16px;
        vertical-align: sub;
        margin: 0 4px 0 0;
      }
    }
  }

  .setting-content {
    height: 325px;
  }

  &.fit {
    .settings-modal-header {
      min-width: 300px;
      width: auto;
    }

    .setting-content {
      min-height: 325px;
      height: auto;
    }
  }
}

html[theme="dark"] {
  .settings-modal {
    div[role="document"] {
      > div {
        background-color: var(--dark-medium);
      }
    }

    .settings-modal-header {
      color: var(--white);
      border-bottom: 1px solid var(--dark-low);
    }
  }
}

html[theme="dark-blue"] {
  .settings-modal {
    div[role="document"] {
      > div {
        background-color: var(--dark-blue-medium);
      }
    }

    .settings-modal-header {
      color: var(--white);
      border-bottom: 1px solid var(--dark-blue-low);
    }
  }
}
