.info-bar {
  position: relative;
  height: 48px;
  padding: 5px 95px 5px 50px;
  text-align: left;

  &.with-call {
    padding-right: 143px;
  }

  .back-to-chats {
    position: absolute;
    top: 50%;
    left: 3px;
    height: 36px;
    width: 36px;
    transform: translateY(-50%);

    svg {
      height: 36px;
      width: 36px;
    }

    &.close-button {
      height: 36px;
      width: 42px;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        height: 36px;
        width: 36px;
        padding: 4px;
      }

      svg {
        height: 24px;
        width: 24px;
        opacity: 0.3;
      }

      button:hover {
        svg {
          opacity: 1;
        }
      }
    }
  }

  .buttons {
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    width: 92px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      padding: 8px;

      svg {
        opacity: 0.3;
      }

      &:hover {
        svg {
          opacity: 1;
        }
      }
    }
  }

  &.with-call {
    .buttons {
      width: 140px;
    }
  }
}

.container.mobile-view {
  .info-bar {
    padding-left: 8px;
  }
}

html[direction="rtl"] {
  .info-bar {
    text-align: left;
    padding: 5px 50px 5px 95px;

    &.with-call {
      padding-left: 143px;
    }

    .buttons {
      right: auto;
      left: 0;
    }

    .back-to-chats {
      right: 5px;
      left: auto;
      transform: translateY(-50%) rotateY(180deg);
    }
  }

  .container.mobile-view .column-center .top .info-bar {
    padding-right: 42px;
    padding-left: 8px;
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .info-bar {
    .back-to-chats {
      svg {
        color: var(--light);
      }
    }

    span {
      color: var(--light);

      .name {
        color: var(--light);
      }
    }
  }
}