/*
    Creation Time: 2019 - Feb - 20
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

@import '../../../style/common';

.download-progress-container {
  .media-action {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 36px;
    width: 36px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 910;
    background-color: rgba(0, 0, 0, 0.32);
    cursor: pointer;
    .progress {
      position: absolute;
      top: 2px;
      left: 2px;
      height: 32px;
      width: 32px;
      transform-origin: center center;
      animation-name: rotateDonut;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        circle {
          fill: transparent;
          stroke: var(--white);
          stroke-width: 2px;
          stroke-dasharray: 3 88;
          transition: stroke-dasharray 0.1s ease;
        }
      }
    }
    > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      color: var(--white) !important;
      transform: translate(-50%, -50%);
    }
  }
  .media-size {
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.32);
    padding: 1px 4px 0;
    border-radius: 4px;
    white-space: nowrap;
    color: var(--white);
    transform: translate(-50%, -50%);
    z-index: 920;
  }
}

html[theme="dark"] {

}

html[theme="dark-blue"] {

}
