/*
    Creation Time: 2019 - Feb - 02
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

@keyframes kkFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swipe-left {
  from {
    transform: translateX(0%);
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: translateX(-200%);
  }
}

@keyframes swipe-right {
  from {
    transform: translateX(0%);
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: translateX(200%);
  }
}

.document-viewer-dialog {
  > div:first-child {
    background-color: rgba(0, 0, 0, 0.7);
  }
  div[role="document"] {
    > div {
      position: relative;
      line-height: 0;
      max-width: none;
      background: transparent;
      overflow: visible;
    }
  }
  .document-container {
    position: relative;
    z-index: 1310;
    &.animate.prev {
      animation: swipe-right 0.3s normal forwards ease-in-out;
      animation-iteration-count: 1;
    }
    &.animate.next {
      animation: swipe-left 0.3s normal forwards ease-in-out;
      animation-iteration-count: 1;
    }
    .avatar-container {
      position: relative;
      width: 640px;
      height: 640px;
      overflow: hidden;
      .thumbnail {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        filter: blur(40px);
        background-color: var(--dark-low);
        .thumb-picture {
          height: 100%;
          width: 100%;
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
      .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        img {
          height: 100%;
          width: 100%;
          animation-name: kkFadeIn;
          animation-duration: 0.3s;
          animation-iteration-count: 1;
          animation-timing-function: ease-out;
        }
      }
    }
    .picture-container, .video-container {
      position: relative;
      z-index: 1310;
      .picture-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        &.hide {
          display: none;
        }
        .thumbnail {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 900;
          .thumb-picture {
            height: 100%;
            width: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .picture {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 1000;
          line-height: 0;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .video {
          width: 100%;
          height: 100%;
          position: relative;
          line-height: 0;
          z-index: 1000;
          video {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .document-viewer-caption {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 32px;
    max-height: 256px;
    max-width: 800px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: rgba(0, 0, 0, 0.64);
    border-radius: 5px;
    padding: 16px;
    .caption-wrapper {
      max-width: 100%;
      //min-width: 640px;
      min-height: 20px;
      .caption {
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
        white-space: pre-wrap;
        word-break: break-word;
      }
    }
  }
  .document-viewer-pagination {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1300;
    .pagination-item {
      position: absolute;
      top: 50%;
      width: 96px;
      height: 75%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.1s;
      &[hidden] {
        display: none;
      }
      &:hover {
        opacity: 1;
      }
      &.prev {
        left: 0;
        transform: translate(-100%, -50%);
      }
      &.next {
        right: 0;
        transform: translate(100%, -50%);
      }
      svg {
        color: var(--white);
        font-size: 32px;
      }
    }
  }
  .document-viewer-controls {
    position: fixed;
    top: 0;
    right: 0;
    width: 288px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .controls {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row-reverse;
      width: 288px;
      .item {
        width: 32px;
        height: 32px;
        cursor: pointer;
        svg {
          color: var(--white);
        }
      }
    }
  }
  .float-picture {
    position: fixed;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.2s linear;
    &.from-media {
      border-radius: 3px;
    }
    &.hide {
      display: none;
    }
    .picture {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}
