/*
    Creation Time: 2019 - Feb - 02
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@keyframes kkFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes swipe-left {
  from {
    transform: translateX(0%); }
  50% {
    opacity: 0; }
  to {
    opacity: 0;
    transform: translateX(-200%); } }

@keyframes swipe-right {
  from {
    transform: translateX(0%); }
  50% {
    opacity: 0; }
  to {
    opacity: 0;
    transform: translateX(200%); } }

.document-viewer-dialog > div:first-child {
  background-color: rgba(0, 0, 0, 0.7); }

.document-viewer-dialog div[role="document"] > div {
  position: relative;
  line-height: 0;
  max-width: none;
  background: transparent;
  overflow: visible;
  box-shadow: none; }

.document-viewer-dialog .document-container {
  position: relative;
  z-index: 1310; }
  .document-viewer-dialog .document-container.animate.prev {
    animation: swipe-right 0.3s normal forwards ease-in-out;
    animation-iteration-count: 1; }
  .document-viewer-dialog .document-container.animate.next {
    animation: swipe-left 0.3s normal forwards ease-in-out;
    animation-iteration-count: 1; }
  .document-viewer-dialog .document-container .avatar-container {
    position: relative;
    width: 640px;
    height: 640px;
    overflow: hidden; }
    .document-viewer-dialog .document-container .avatar-container .thumbnail {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--dark-low); }
      .document-viewer-dialog .document-container .avatar-container .thumbnail .thumb-picture {
        height: 100%;
        width: 100%; }
        .document-viewer-dialog .document-container .avatar-container .thumbnail .thumb-picture img {
          filter: blur(40px);
          height: 100%;
          width: 100%; }
    .document-viewer-dialog .document-container .avatar-container .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1000; }
      .document-viewer-dialog .document-container .avatar-container .photo img {
        height: 100%;
        width: 100%;
        animation-name: kkFadeIn;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease-out; }
  .document-viewer-dialog .document-container .picture-container, .document-viewer-dialog .document-container .video-container {
    position: relative;
    z-index: 1310; }
    .document-viewer-dialog .document-container .picture-container .picture-wrapper, .document-viewer-dialog .document-container .video-container .picture-wrapper {
      position: relative;
      width: 100%;
      height: 100%; }
      .document-viewer-dialog .document-container .picture-container .picture-wrapper.hide, .document-viewer-dialog .document-container .video-container .picture-wrapper.hide {
        display: none; }
      .document-viewer-dialog .document-container .picture-container .picture-wrapper .thumbnail, .document-viewer-dialog .document-container .video-container .picture-wrapper .thumbnail {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 900; }
        .document-viewer-dialog .document-container .picture-container .picture-wrapper .thumbnail .thumb-picture, .document-viewer-dialog .document-container .video-container .picture-wrapper .thumbnail .thumb-picture {
          height: 100%;
          width: 100%; }
          .document-viewer-dialog .document-container .picture-container .picture-wrapper .thumbnail .thumb-picture img, .document-viewer-dialog .document-container .video-container .picture-wrapper .thumbnail .thumb-picture img {
            width: 100%;
            height: 100%; }
      .document-viewer-dialog .document-container .picture-container .picture-wrapper .picture, .document-viewer-dialog .document-container .video-container .picture-wrapper .picture {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1000;
        line-height: 0; }
        .document-viewer-dialog .document-container .picture-container .picture-wrapper .picture img, .document-viewer-dialog .document-container .video-container .picture-wrapper .picture img {
          width: 100%;
          height: 100%; }
      .document-viewer-dialog .document-container .picture-container .picture-wrapper .video, .document-viewer-dialog .document-container .video-container .picture-wrapper .video {
        width: 100%;
        height: 100%;
        position: relative;
        line-height: 0;
        z-index: 1000; }
        .document-viewer-dialog .document-container .picture-container .picture-wrapper .video video, .document-viewer-dialog .document-container .video-container .picture-wrapper .video video {
          width: 100%;
          height: 100%; }
  .document-viewer-dialog .document-container .location-container {
    position: relative;
    height: 640px;
    width: 640px;
    background-color: var(--grey);
    z-index: 1310; }
    .document-viewer-dialog .document-container .location-container .map-marker svg {
      font-size: 48px;
      color: #EB5757;
      transform: translate(-24px, -42px); }

.document-viewer-dialog .document-viewer-caption {
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  min-height: 32px;
  max-height: 256px;
  max-width: 800px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: rgba(0, 0, 0, 0.64);
  border-radius: 5px;
  padding: 16px; }
  .document-viewer-dialog .document-viewer-caption .caption-wrapper {
    max-width: 100%;
    min-height: 20px; }
    .document-viewer-dialog .document-viewer-caption .caption-wrapper .caption {
      font-size: 14px;
      line-height: 20px;
      color: var(--white);
      white-space: pre-wrap;
      word-break: break-word; }
      .document-viewer-dialog .document-viewer-caption .caption-wrapper .caption.rtl {
        direction: rtl;
        text-align: right; }
      .document-viewer-dialog .document-viewer-caption .caption-wrapper .caption.ltr {
        direction: ltr;
        text-align: left; }

.document-viewer-dialog .document-viewer-pagination {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1300; }
  .document-viewer-dialog .document-viewer-pagination .pagination-item {
    position: absolute;
    top: 50%;
    width: 96px;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.1s; }
    .document-viewer-dialog .document-viewer-pagination .pagination-item[hidden] {
      display: none; }
    .document-viewer-dialog .document-viewer-pagination .pagination-item:hover {
      opacity: 1; }
    .document-viewer-dialog .document-viewer-pagination .pagination-item.prev {
      left: 0;
      transform: translate(-100%, -50%); }
    .document-viewer-dialog .document-viewer-pagination .pagination-item.next {
      right: 0;
      transform: translate(100%, -50%); }
    .document-viewer-dialog .document-viewer-pagination .pagination-item svg {
      color: var(--white);
      font-size: 32px; }

.document-viewer-dialog .document-viewer-controls {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1400;
  background-color: rgba(0, 0, 0, 0.24); }
  .document-viewer-dialog .document-viewer-controls .controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 288px; }
    .document-viewer-dialog .document-viewer-controls .controls .item {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      vertical-align: center;
      cursor: pointer; }
      .document-viewer-dialog .document-viewer-controls .controls .item svg {
        color: var(--white); }

.document-viewer-dialog .float-picture {
  position: fixed;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.2s linear; }
  .document-viewer-dialog .float-picture.from-media {
    border-radius: 3px; }
  .document-viewer-dialog .float-picture.hide {
    display: none; }
  .document-viewer-dialog .float-picture .picture {
    width: 100%;
    height: 100%; }
    .document-viewer-dialog .float-picture .picture img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center; }
