/*
    Creation Time: 2019 - Feb - 02
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

@keyframes kkFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swipe-left {
  from {
    transform: translateX(0%);
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: translateX(-200%);
  }
}

@keyframes swipe-right {
  from {
    transform: translateX(0%);
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 0;
    transform: translateX(200%);
  }
}

.document-viewer-dialog {
  > div:first-child {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .document-viewer-dialog-paper {
    position: relative;
    line-height: 0;
    max-width: none;
    background: transparent;
    overflow: visible;
    box-shadow: none;
  }

  .document-container {
    position: relative;
    z-index: 1310;

    &.animate.prev {
      animation: swipe-right 0.3s normal forwards ease-in-out;
      animation-iteration-count: 1;
    }

    &.animate.next {
      animation: swipe-left 0.3s normal forwards ease-in-out;
      animation-iteration-count: 1;
    }

    .avatar-container {
      position: relative;
      width: 640px;
      height: 640px;
      overflow: hidden;

      .thumbnail {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--dark-low);

        .river-loading {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }

        .thumb-picture {
          height: 100%;
          width: 100%;

          img {
            filter: blur(40px);
            height: 100%;
            width: 100%;
          }
        }
      }

      .photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;

        img {
          height: 100%;
          width: 100%;
          animation-name: kkFadeIn;
          animation-duration: 0.3s;
          animation-iteration-count: 1;
          animation-timing-function: ease-out;
        }
      }
    }

    .picture-container, .video-container {
      position: relative;
      z-index: 1310;

      .picture-wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        &.hide {
          display: none;
        }

        .media-duration-container {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 8px;
          left: 8px;
          height: 16px;
          font-size: 12px;
          line-height: 12px;
          background-color: rgba(0, 0, 0, 0.32);
          padding: 0 4px 0 2px;
          border-radius: 4px;
          color: var(--white);
          white-space: nowrap;
          z-index: 1000;
          user-select: none;

          svg {
            font-size: 14px;
            color: inherit;
            display: inline-block;
            margin: 0 2px 0 0;
          }

          span {
            padding-top: 2px;
            line-height: 12px;
          }
        }

        .thumbnail {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 900;

          .thumb-picture {
            height: 100%;
            width: 100%;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .picture {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 1000;
          line-height: 0;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .video {
          width: 100%;
          height: 100%;
          position: relative;
          line-height: 0;
          z-index: 1000;

          video {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .location-container {
      position: relative;
      height: 640px;
      width: 640px;
      background-color: var(--grey);
      z-index: 1310;

      .map-marker {
        svg {
          font-size: 48px;
          color: #EB5757;
          transform: translate(-24px, -42px);
        }
      }
    }
  }

  .document-viewer-caption {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 32px;
    max-height: 256px;
    max-width: 800px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: rgba(0, 0, 0, 0.64);
    border-radius: 5px;
    padding: 8px;

    &:hover {
      z-index: 1400;
    }

    .caption-wrapper {
      max-width: 100%;
      //min-width: 640px;
      min-height: 20px;
      max-height: 128px;
      overflow-x: auto;

      .caption {
        font-size: 14px;
        line-height: 20px;
        color: var(--white);
        white-space: pre-wrap;
        word-break: break-word;
        margin-bottom: 4px;

        &.rtl {
          direction: rtl;
          text-align: right;
        }

        &.ltr {
          direction: ltr;
          text-align: left;
        }

        ._mention {
          color: var(--light-mention);
          display: inline-block;
          direction: ltr;

          &:hover {
            text-decoration: underline;
          }
        }

        ._bold {
          font-weight: bold;
        }

        ._italic {
          font-style: italic;
        }

        ._mail {
        }

        ._url {
          color: var(--light-mention);
          display: inline-block;
          cursor: pointer;
        }

        ._hashtag {
          color: var(--light-mention);
          display: inline-block;
        }
      }
    }
  }

  .document-viewer-slide-show {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    max-height: 256px;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.64);
    border-radius: 5px;
    padding: 6px 6px 6px 3px;
    user-select: none;
    overflow-y: auto;

    .slider {
      position: fixed;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 48px;

      .slide {
        height: 48px;
        width: 48px;
        margin: 0 6px 0 0;
        opacity: 0.4;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 3px;
        overflow: hidden;
        transition: 0.1s opacity, 0.1s border;

        &:hover {
          border-color: rgba(255, 255, 255, 0.64);
        }

        &.selected {
          opacity: 1;
          border-color: #fff;
        }

        &:last-of-type {
          margin: 0;
        }

        .thumbnail {
          height: 100%;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
      }
    }
  }

  .document-viewer-pagination {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1300;

    .pagination-item {
      position: absolute;
      top: 50%;
      min-width: 128px;
      min-height: 256px;
      width: 33vw;
      height: 75%;
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.1s;

      &[hidden] {
        display: none;
      }

      &:hover {
        opacity: 1;
      }

      &.prev {
        left: 0;
        transform: translate(-100%, -50%);
        padding-right: 32px;
        justify-content: flex-end;
      }

      &.next {
        right: 0;
        transform: translate(100%, -50%);
        padding-left: 32px;
        justify-content: flex-start;
      }

      svg {
        color: var(--white);
        font-size: 32px;
      }
    }
  }

  .document-viewer-controls {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    z-index: 1400;
    background-color: rgba(0, 0, 0, 0.24);

    .controls {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row-reverse;
      width: 288px;

      .item {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        vertical-align: center;
        cursor: pointer;

        svg {
          color: var(--white);
        }
      }
    }

    .sender-container {
      display: flex;
      align-content: center;
      justify-content: center;
      line-height: 1.3em;
      font-size: 13px;
      padding: 0 0 0 8px;

      .sender-avatar {
        height: 36px;
        width: 36px;
      }

      .sender-info {
        display: flex;
        align-content: center;
        justify-content: flex-end;
        flex-direction: column;
        padding: 0 0 0 8px;

        .sender-user {
          color: var(--white);
          font-weight: bold;
        }

        .sender-date {
          color: var(--white);
          font-weight: 100;
          margin-top: 2px;
        }
      }
    }
  }

  .float-picture {
    position: fixed;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.2s linear;

    &.from-media {
      border-radius: 3px;
    }

    &.hide {
      display: none;
    }

    .picture {
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }
}

.document-viewer-slide-tooltip-container {
  .document-viewer-slide-show-item {
    cursor: pointer;
  }
}
