/*
    Creation Time: 2018 - Nov - 28
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
.contact-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .contact-list .contact-input-container {
    min-height: 48px;
    padding: 10px;
    text-align: left; }
    .contact-list .contact-input-container .chip {
      margin: 0 3px 3px 0; }
  .contact-list .contact-list-container {
    flex: 1; }
    .contact-list .contact-list-container .contact-container {
      height: 100%; }
      .contact-list .contact-list-container .contact-container .no-result {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 100;
        color: var(--grey); }
        .contact-list .contact-list-container .contact-container .no-result svg {
          margin: 0 0 32px;
          color: inherit;
          font-size: 75px; }
      .contact-list .contact-list-container .contact-container .contact-item {
        position: relative;
        width: 100%;
        height: 64px;
        padding: 8px 8px 8px 16px;
        cursor: pointer; }
        .contact-list .contact-list-container .contact-container .contact-item:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 100%;
          height: 1px;
          content: '';
          background-color: var(--light);
          transform: translate(-50%, 0); }
        .contact-list .contact-list-container .contact-container .contact-item:hover {
          border: 0;
          background-color: var(--color-hover); }
        .contact-list .contact-list-container .contact-container .contact-item a {
          text-decoration: none; }
        .contact-list .contact-list-container .contact-container .contact-item .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          float: left;
          margin-right: 12px; }
          .contact-list .contact-list-container .contact-container .contact-item .avatar img {
            float: left;
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%; }
        .contact-list .contact-list-container .contact-container .contact-item .name {
          display: inline-flex;
          min-width: 200px;
          font-size: 12px;
          line-height: 23px;
          margin: 0 0 4px;
          color: var(--dark);
          font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          .contact-list .contact-list-container .contact-container .contact-item .name .inner {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .contact-list .contact-list-container .contact-container .contact-item .name .last-seen {
            font-weight: normal;
            font-size: 11px; }
            .contact-list .contact-list-container .contact-container .contact-item .name .last-seen .online {
              color: var(--river); }
        .contact-list .contact-list-container .contact-container .contact-item .phone {
          font-size: 14px;
          line-height: 17px;
          display: inline-block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--grey);
          direction: ltr; }
        .contact-list .contact-list-container .contact-container .contact-item .more {
          position: absolute;
          top: 6px;
          right: 6px;
          height: 26px;
          width: 20px;
          display: none;
          cursor: pointer;
          background-color: inherit;
          z-index: 10; }
          .contact-list .contact-list-container .contact-container .contact-item .more svg {
            height: 26px;
            font-size: 26px;
            color: var(--grey); }
        .contact-list .contact-list-container .contact-container .contact-item:hover .more {
          display: block; }
        .contact-list .contact-list-container .contact-container .contact-item:hover .name {
          min-width: 186px; }
      .contact-list .contact-list-container .contact-container .category-item {
        color: var(--river);
        font-size: 24px;
        line-height: 24px;
        height: 40px;
        text-align: left;
        padding: 16px 8px 0; }

html[direction="rtl"] .contact-list {
  direction: rtl; }
  html[direction="rtl"] .contact-list .contact-list-container .contact-container .contact-item {
    text-align: right; }
    html[direction="rtl"] .contact-list .contact-list-container .contact-container .contact-item .avatar {
      float: right;
      margin-right: 0;
      margin-left: 12px; }
    html[direction="rtl"] .contact-list .contact-list-container .contact-container .contact-item .name {
      direction: rtl; }
      html[direction="rtl"] .contact-list .contact-list-container .contact-container .contact-item .name .inner {
        text-align: right; }
    html[direction="rtl"] .contact-list .contact-list-container .contact-container .contact-item .more {
      right: auto;
      left: 0px; }

html[theme="dark"] .contact-list .contact-input-container {
  color: var(--white); }
  html[theme="dark"] .contact-list .contact-input-container .chip {
    background-color: var(--dark-high);
    color: var(--white); }
  html[theme="dark"] .contact-list .contact-input-container label, html[theme="dark"] .contact-list .contact-input-container input {
    color: var(--white); }

html[theme="dark"] .contact-list .contact-list-container .contact-container .contact-item:after {
  background-color: var(--dark-low); }

html[theme="dark"] .contact-list .contact-list-container .contact-container .contact-item .name {
  color: var(--light); }

html[theme="dark"] .contact-list .contact-list-container .contact-container .contact-item .last-seen .online {
  color: var(--dark-mention); }

html[theme="dark-blue"] .contact-list .contact-input-container {
  color: var(--white); }
  html[theme="dark-blue"] .contact-list .contact-input-container .chip {
    background-color: var(--dark-blue-high);
    color: var(--white); }
  html[theme="dark-blue"] .contact-list .contact-input-container label, html[theme="dark-blue"] .contact-list .contact-input-container input {
    color: var(--white); }

html[theme="dark-blue"] .contact-list .contact-list-container .contact-container .contact-item:after {
  background-color: var(--dark-blue-low); }

html[theme="dark-blue"] .contact-list .contact-list-container .contact-container .contact-item .name {
  color: var(--white); }

html[theme="dark-blue"] .contact-list .contact-list-container .contact-container .contact-item .last-seen .online {
  color: var(--dark-mention); }
