/*
    Creation Time: 2018 - Nov - 28
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

.contact-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .contact-input-container {
    min-height: 48px;
    padding: 10px;
    text-align: left;

    .MuiTextField-root {
      margin: 0;
    }

    > div {
      margin: 0;
    }

    .MuiInputBase-root {
      padding: 6px 6px 0;

      input {
        padding: 6px 6px 8px;
      }
    }

    .contact-text-field {
      .MuiInputBase-root {
        padding: 4px 6px 2px;
      }
    }

    .contact-chips-container {
      > div {
        max-height: 140px;
        overflow-y: auto;
      }
    }

    .chip {
      margin: 0 6px 6px 0;
      border-radius: 4px;
      direction: ltr;

      .MuiChip-label {
        line-height: 1em;
      }

      .uac {
        svg {
          font-size: 18px;
        }
      }

      .group-name {
        display: inline-flex;
        align-items: center;

        svg {
          font-size: 16px;
          margin-right: 6px;
        }
      }
    }
  }

  .contact-list-container {
    flex: 1 1;

    .contact-container {
      height: 100%;

      .no-result {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 100;
        color: var(--grey);

        svg {
          margin: 0 0 32px;
          color: inherit;
          font-size: 75px;
        }
      }

      .contact-item {
        position: relative;
        width: 100%;
        height: 64px;
        padding: 8px 8px 8px 16px;
        cursor: pointer;
        direction: ltr;

        &:hover {
          border: 0;
          background-color: var(--color-hover);
        }

        a {
          text-decoration: none;
          direction: ltr;
        }

        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          float: left;
          margin-right: 12px;

          img {
            float: left;
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .name {
          display: inline-flex;
          min-width: 200px;
          font-size: 12px;
          line-height: 23px;
          margin: 0 0 4px;
          color: var(--dark);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: bold;

          .inner {
            flex: 1 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            svg {
              margin-left: 1px;
              transform: translateY(1px) !important;
              font-size: 14px;
            }
          }

          .last-seen {
            font-weight: normal;
            font-size: 11px;

            .online {
              color: var(--river);
            }
          }
        }

        .phone {
          font-size: 14px;
          line-height: 17px;
          display: inline-block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--grey);
          direction: ltr;
        }

        .more {
          position: absolute;
          top: 6px;
          right: 6px;
          height: 26px;
          width: 20px;
          display: none;
          cursor: pointer;
          background-color: inherit;
          z-index: 10;

          svg {
            height: 26px;
            font-size: 26px;
            color: var(--grey);
          }
        }
      }

      .contact-separator {
        text-align: left;
        padding: 0 12px;
        line-height: 24px;
        background-color: var(--header-color);
        font-size: 13px;
        color: var(--grey-low);
      }

      .category-item {
        color: var(--river);
        font-size: 14px;
        line-height: 16px;
        font-weight: bold;
        height: 20px;
        text-align: left;
        padding: 3px 16px 1px;
        user-select: none;
        background-color: var(--bg);
      }
    }

    &.default-team {
      .contact-container {
        .contact-item {
          &:hover {
            .more {
              display: block;
            }

            .name {
              min-width: 186px;
              max-width: calc(100% - 72px);
            }
          }
        }
      }
    }
  }
}

html[direction="rtl"] {
  .contact-list {
    direction: rtl;

    .contact-list-container .contact-container {
      .category-item {
        text-align: right;
      }

      .contact-item {
        text-align: right;

        a {
          direction: rtl;
        }

        .avatar {
          float: right;
          margin-right: 0;
          margin-left: 12px;
        }

        .name {
          direction: rtl;

          .inner {
            text-align: right;
          }
        }

        .more {
          right: auto;
          left: 0px;
        }
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"] {
  .contact-list {
    .contact-input-container {
      color: var(--white);

      svg {
        color: var(--light);
      }

      .chip {
        background-color: var(--dark-high);
        color: var(--white);
      }

      label, input {
        color: var(--white);
      }
    }

    .contact-list-container {
      .contact-container {
        .category-item {
          background-color: var(--dark-high);
        }

        .contact-item {
          .name {
            color: var(--light);
          }

          .last-seen {
            .online {
              color: var(--dark-mention);
            }
          }
        }

        .contact-separator {
          background-color: var(--dark-low);
          color: var(--grey);
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .contact-list {
    .contact-input-container {
      color: var(--white);

      svg {
        color: var(--light);
      }

      .chip {
        background-color: var(--dark-blue-high);
        color: var(--white);
      }

      label, input {
        color: var(--white);
      }
    }

    .contact-list-container {
      .contact-container {
        .category-item {
          background-color: var(--dark-blue-low-op50);
        }

        .contact-item {
          .name {
            color: var(--white);
          }

          .last-seen {
            .online {
              color: var(--dark-mention);
            }
          }
        }

        .contact-separator {
          background-color: var(--dark-blue-low);
          color: var(--grey);
        }
      }
    }
  }
}

html[direction="rtl"] {
  .contact-list {
    .contact-list-container {
      .contact-separator {
        text-align: right;
      }
    }
  }
}