/*
    Creation Time: 2019 - Jan - 30
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
@import '../../../style/mixin';

.picture-crop-dialog {
  .picture-crop-header {
    background-color: var(--river);
    color: var(--white);
    padding: 12px 16px;
  }

  .picture-crop-footer {
    position: relative;
    background-color: var(--header-color);
    height: 36px;

    .picture-action {
      position: absolute;
      height: 48px;
      width: 48px;
      top: -24px;
      right: 24px;
      border-radius: 50%;
      background-color: var(--river);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        color: var(--light);
        font-size: 30px;
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .picture-crop-dialog {
    .picture-crop-footer {
      background-color: var(--dark-medium);
    }
  }
}

html[theme="dark-blue"] {
  .picture-crop-dialog {
    .picture-crop-footer {
      background-color: var(--dark-blue-medium);
    }
  }
}
