/*
    Creation Time: 2018 - Nov - 28
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

.user-dialog {
  .user-dialog-paper {
    margin: 8px;
  }

  .user-info-menu {
    width: 300px;
    background: var(--bg);

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px 10px;

      .avatar {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: inline-block;
        font-size: 75px;

        &.pointer-cursor {
          cursor: pointer;
        }
      }

      .line {
        padding: 16px 10px 0;
        text-align: left;
        width: 100%;
        min-height: 48px;

        .last-seen {
          padding: 8px 0;
          display: block;
          text-align: center;
          background-color: var(--color-hover);
          border-radius: 6px;
          font-size: 13px;

          .online {
            color: var(--river);
          }
        }

        .input-edit {
          margin-bottom: 10px;
        }
      }

      .created-on {
        padding: 0 10px;
        text-align: left;
        width: 100%;
        color: var(--grey);
      }
    }

    .add-as-contact {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--river);
      height: 40px;
      cursor: pointer;
      width: 100%;

      &:hover {
        background-color: var(--color-hover);
      }
    }

    .actions-bar {
      height: 86px;
      padding: 18px 0 22px;
      text-align: center;

      &.cancel {
        padding: 12px 0 0;
        color: var(--grey);
        height: auto;
        font-size: 12px;
        cursor: pointer;
      }

      .add-action {
        display: inline-flex;
        height: 46px;
        width: 46px;
        border-radius: 50%;
        background: var(--river);
        color: var(--white);
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all 0.2s;

        svg {
          font-size: 40px;
        }

        &:hover {
          background: var(--river-dark);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        }
      }
    }

    .notify-settings {
      display: flex;

      .label {
        flex: 1 1;
        text-align: left;
        line-height: 48px;
        padding-left: 12px;
      }

      .value {
        width: 50px;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .send-message {
      display: flex;
      height: 48px;
      color: var(--river);
      text-decoration: none;
      text-transform: none;
      justify-content: center;
      align-items: center;

      svg {
        margin-right: 12px;
        font-size: 24px;
        color: var(--river);
      }
    }

    .form-control {
      position: relative;
      display: flex;

      label {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--river);
        font-size: 13px;
      }

      .inner {
        flex: 1 1;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 16px 0 0;
        line-height: 1.2em;

        svg {
          font-size: 20px;
          margin: 0 3px 0 0;
        }
      }

      .action {
        width: 48px;

        button {
          padding: 12px;
        }
      }
    }

    .kk-card {
      margin-bottom: 10px;
      background-color: var(--white);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .user-dialog {
    .user-info-menu {
      background-color: var(--dark-high);

      .info {
        .line, .input-edit input, .input-edit label, .input-edit svg {
          color: var(--white);
        }

        .line .last-seen {
          background-color: var(--dark-hover);

          .online {
            color: var(--dark-mention);
          }
        }
      }

      .notify-settings {
        .label {
          color: var(--white);
        }
      }

      .form-control {
        .action {
          svg {
            color: var(--white);
          }
        }
      }

      .kk-card {
        background-color: var(--dark-medium);
      }
    }

    .checkbox {
      &:not(.checked) {
        color: var(--white);
      }
    }

    .notify-setting-dialog {
      .notify-setting-dialog-paper {
        background-color: var(--dark);

        h2, p, .dialog-content span {
          color: var(--white);
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .user-dialog {
    .user-info-menu {
      background-color: var(--dark-blue-high);

      .kk-card {
        background-color: var(--dark-blue-medium);
      }

      .info {
        .line .last-seen {
          background-color: var(--dark-blue-hover-alt);
        }
      }
    }

    .notify-setting-dialog {
      .notify-setting-dialog-paper {
        background-color: var(--dark-blue-low);
      }
    }
  }
}
