.message-reaction {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  user-select: none;
  height: 0;
  z-index: 100;
  transform: translateY(-2px);
  cursor: pointer;

  .reaction-item {
    height: 18px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gale);
    margin: 0 0 0 6px;

    .reaction-wrapper {
      background-color: var(--white);
      height: 22px;
      width: 22px;
      overflow: hidden;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: -2px 0 -2px -2px;
      box-shadow: 0 1px 3px rgba(0, 2px, 0, 0.1);
      transition: all 0.1s;
      font-size: 12px;

      .reaction-emoji {
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        letter-spacing: 0;

        animation-name: kkanit;
        animation-duration: 0.3s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
      }
    }

    .reaction-counter {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 6px 0 3px;
      color: var(--white);
      font-size: 12px;
      transform: translateY(1px);
    }

    &.ellipsis {
      .reaction-wrapper {
        width: auto;
        padding: 0 4px;

        svg {
          color: inherit;
        }
      }
    }
  }
}

.bubble-wrapper {
  &.you {
    .message-reaction {
      justify-content: flex-end;
    }
  }
}

html[reaction="1"] {
  .message-reaction {
    transform: translateY(-4px);

    .reaction-item {

      .reaction-wrapper {
        height: 28px;
        width: 28px;
        border-radius: 16px;
        margin: -4px 0 -4px -2px;
        font-size: 17px;
      }

      &.ellipsis {
        .reaction-wrapper {
          height: 22px;
        }
      }
    }
  }
}

html[reaction="2"] {
  .message-reaction {
    transform: translateY(-7px);

    .reaction-item {

      .reaction-wrapper {
        height: 30px;
        width: 30px;
        border-radius: 16px;
        margin: -6px 0 -6px -2px;
        font-size: 20px;
      }

      &.ellipsis {
        .reaction-wrapper {
          height: 22px;
        }
      }
    }
  }
}

html[mac="1"] {
  .message-reaction {
    .reaction-item {
      .reaction-wrapper {
        box-sizing: content-box;
        line-height: 1;
        display: grid;
        justify-items: center;
        align-items: center;

        .reaction-emoji {
          transform: translateY(2px);
        }
      }
    }
  }
}

@media(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  html[mac="1"] {
    .message-reaction {
      .reaction-item {
        .reaction-wrapper {
          .reaction-emoji {
            transform: translate(0.11em, 0.11em) scale(1.2);
          }
        }
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"] {
  .message-reaction {
    .reaction-item {
      background-color: var(--dark-high);

      .reaction-wrapper {
        background-color: var(--dark-medium);
      }

      &.ellipsis {
        .reaction-wrapper {
          svg {
            color: var(--white);
          }
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .message-reaction {
    .reaction-item {
      background-color: var(--dark-blue-high);

      .reaction-wrapper {
        background-color: var(--dark-blue-medium);
      }

      &.ellipsis {
        .reaction-wrapper {
          svg {
            color: var(--white);
          }
        }
      }
    }
  }
}

@keyframes kkanit {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}