/*
    Creation Time: 2019 - Dec - 16
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

.label-dialog {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;

  .label-search {
    padding: 6px 12px 12px;

    > div {
      margin: 0;
    }

    .dialog-adornment {
      color: var(--color-gale);

      svg {
        font-size: 20px;
      }
    }
  }

  .label-container {
    flex: 1;
    line-height: 1.2em;

    &.label-placeholder {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-size: 30px;
      font-weight: 100;
      color: var(--grey);

      svg {
        margin: 0 0 32px;
        color: inherit;
        font-size: 75px;
      }
    }

    .label-item {
      display: flex;
      height: 56px;
      align-items: center;
      justify-content: center;
      padding: 8px 6px;

      .label-icon {
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin: 0 12px 0 6px;

        svg {
          font-size: 24px;
          color: var(--white);
        }
      }

      .label-action {
        width: 52px;
        align-items: center;
        justify-content: center;
      }

      .label-info {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        flex: 1;
        height: 100%;

        .label-name {
          font-size: 14px;
          color: var(--dark);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .label-counter {
          font-size: 14px;
          color: #A1A1A1;
        }
      }

      &.create-label {
        position: relative;
        cursor: pointer;
        margin: 0 0 8px;
        padding-bottom: 12px;
        height: 64px;

        &::before {
          position: absolute;
          content: '';
          bottom: 0;
          left: 32px;
          right: 32px;
          height: 1px;
          background-color: var(--color-hover-dark);
        }

        .label-icon {
          background-color: var(--river);
        }

        .label-info .label-name {
          color: var(--river);
          font-size: 16px;
        }
      }
    }
  }

  .actions-bar {
    height: 86px;
    padding: 18px 0 22px;
    text-align: center;
    background-color: var(--message-chat);

    &.no-bg {
      background-color: transparent;
      border: none !important;
    }

    .add-action {
      display: inline-flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s;

      svg {
        font-size: 40px;
      }

      &:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .label-dialog {
    .checkbox {
      &:not(.checked) {
        color: var(--white);
      }
    }

    .label-container {
      .label-item {
        .label-info {
          .label-name {
            color: var(--white);
          }
        }
      }
    }

    .label-search {
      label, input, svg {
        color: var(--white);
      }
    }

    .actions-bar {
      background-color: var(--dark-medium);
      border-top: 1px solid var(--dark-low-op50);

      &.no-bg {
        background-color: transparent;
      }
    }
  }
}

html[theme="dark-blue"] {
  .label-dialog {

    .actions-bar {
      border-top: 1px solid var(--dark-blue-low-op50);
      background-color: var(--dark-blue-medium);
    }
  }
}