.river-loading {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;

  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../../../asset/image/loading.png) no-repeat;
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    animation-name: spinAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spinAnimation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}