.river-loading {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1000;

  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    z-index: 1001;
    transform: translate(-50%, -50%);
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .river-loading .inner {
    color: var(--white);
  }
}