/*
    Creation Time: 2018 - Oct - 14
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
@import '../../../style/mixin';

.setting-menu {
  height: 100%;

  .page-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .page {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      transition: transform 0.2s ease-out;
      will-change: transform;

      &.page-1 {
        transform: translateX(0);
      }

      &.page-2 {
        transform: translateX(100%);
      }

      &.page-3 {
        transform: translateX(200%);
      }
    }

    &.page-2 {
      .page-1 {
        transform: translateX(-100%);
      }

      .page-2 {
        transform: translateX(0);
      }

      .page-3 {
        transform: translateX(100%);
      }
    }

    &.page-3 {
      .page-1 {
        transform: translateX(-200%);
      }

      .page-2 {
        transform: translateX(-100%);
      }

      .page-3 {
        transform: translateX(0);
      }
    }
  }

  .menu-header {
    background-color: var(--header-color);
    text-align: left;
    height: 48px;
    color: var(--dark-medium);
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  }

  .menu-content {
    text-align: left;
    height: calc(100% - 50px);

    &.with-footer {
      height: calc(100% - 86px);
    }

    &.padding-side,
    .padding-side {
      padding: 0 12px;
    }

    .settings-btn {
      border-top: 1px solid #E0E0E0;
      border-bottom: 1px solid #E0E0E0;
      padding: 16px;
      cursor: pointer;
    }
  }

  .version {
    padding: 12px 16px;
    font-size: 12px;
    color: var(--grey);
    text-align: right;
    opacity: 0.5;
    user-select: none;

    &:hover {
      opacity: 1;
    }

    .group-name {
      float: left;
      font-weight: bold;
    }
  }

  .page-content {
    padding: 0 0 12px;
    border-top: 1px solid var(--light);

    &:first-of-type {
      border-top: none;
    }

    .page-anchor {
      cursor: auto !important;
    }
  }

  .page-anchor {
    padding: 12px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    border-top: 1px solid var(--light);

    &.anchor-padding-side {
      padding: 12px 16px;
    }

    &:first-of-type {
      border-top: none;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: left;
      text-transform: none;
      text-decoration: none;
      color: inherit;
    }

    .icon {
      position: relative;
      width: 28px;
      height: 28px;
      margin-right: 8px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.color-saved-messages {
        background-color: #009688;
      }

      &.color-account {
        background-color: #AB47BC;
      }

      &.color-data {
        background-color: #00C853;
      }

      &.color-session {
        background-color: #ffc107;
      }

      &.color-theme {
        background-color: #F44336;
      }

      &.color-night-mode {
        background-color: #AB47BC;
      }

      &.color-font-size {
        background-color: #4CAF50;
      }

      &.color-theme-type {
        background-color: #2196F3;
      }

      &.color-bubble {
        background-color: #FF9800;
      }

      &.color-background {
        background-color: #9C27B0;
      }

      &.color-language {
        background-color: #0091EA;
      }

      &.color-menu-bar {
        background-color: #777;
      }

      > svg {
        //margin-right: 6px;
        color: var(--white);
        font-size: 20px;
      }
    }

    .anchor-label {
      font-size: 16px;
      flex: 1;

      &.color-red {
        color: var(--red);
      }

      &.anchor-label-privacy {
        display: flex;
        justify-content: center;
        text-align: center;
      }

      .anchor-label-title {
        flex: 1;
        text-align: left;
      }

      .anchor-label-status {
        color: var(--river);
        font-size: 12px;
        line-height: 18px;
      }
    }

    .setting-switch-label {
      direction: ltr;
      width: 64px;
      margin: -10px 0;
    }

    &.log-out {
      margin-top: 12px;
      border: none;
      width: 100%;
    }
  }

  .account-summary {
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;

    .account-profile {
      width: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .avatar {
        height: 64px;
        width: 64px;

        .avatar-image {
          box-shadow: 0px 4px 8px rgba(107, 107, 107, 0.5);
        }
      }
    }

    .account-info {
      padding: 0 0 0 24px;
      flex: 1;
      cursor: pointer;

      .username {
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        margin-bottom: 8px;
        direction: ltr;
      }

      .account-phone {
        font-size: 14px;
        line-height: 24px;
        color: #333333;
        direction: ltr;
      }
    }
  }

  .info.language-list {
    width: 100%;
    padding: 0;

    .language-item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid var(--light);
      height: 48px;
      cursor: pointer;

      .language-label {
        flex: 1;
        text-align: left;
        padding: 0 12px;
      }

      .check {
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          color: var(--river);
        }
      }
    }
  }

  .sub-page-header {
    border-top: 1px solid #E0E0E080;
    height: 24px;
    font-size: 10px;
    color: #7D7D7D;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    margin-top: 6px;
  }

  .sub-page-header-alt {
    border-top: 1px solid #E0E0E080;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 16px;
    user-select: none;

    &:first-of-type {
      border-top: none;
    }

    &:last-of-type {
      border-bottom: 1px solid #E0E0E080;
    }

    .header-label {
      flex: 1;
      text-align: left;
      cursor: pointer;
    }

    .header-value {
      font-weight: normal;
      cursor: pointer;
    }

    .header-hint {
      color: #C4C4C4;
      text-align: left;
      font-weight: normal;
      font-size: 14px;
    }

    &.header-column {
      flex-direction: column;
      justify-content: space-evenly;
      padding-top: 6px;

      .header-label, .header-hint {
        flex: none;
        width: 100%;
      }
    }
  }

  .switch-item {
    display: flex;
    align-items: center;
    justify-content: center;

    .switch-label {
      flex: 1;
      text-align: left;
      padding: 16px 0 16px 16px;
      font-weight: 300;
    }

    &.bold {
      .switch-label {
        font-weight: 500;
      }
    }

    .switch-item {
      width: 40px;
    }
  }

  .radio-item {
    padding: 0 12px;

    .pr-radio {
      padding: 8px 12px;
    }
  }

  .label {
    display: block;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    @include font;
    line-height: 1.46429em;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;

    &.font-size-label {
      margin-bottom: -15px;
    }

    &.padding-top {
      margin-top: 12px;
    }
  }

  .font-size-container {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    .slider {
      flex: 1;
      padding: 0 12px;
    }

    > button {
      width: 36px;
      min-width: 36px;
    }
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;

    .avatar {
      position: relative;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: inline-block;
      font-size: 75px;

      .avatar-image {
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(140, 140, 140, 0.85);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.show {
          opacity: 1;
        }

        svg {
          color: var(--light-alt);
        }

        .text {
          font-size: 13px;
          color: var(--light-alt);
          text-align: center;
        }

        .progress-action {
          position: relative;
          height: 32px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;

          .progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 32px;
            width: 32px;
            transform-origin: center center;
            animation-name: rotateDonut;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            svg {
              position: absolute;
              top: 0;
              left: 0;
              height: 32px;
              width: 32px;

              circle {
                fill: transparent;
                stroke: var(--white);
                stroke-width: 2px;
                stroke-dasharray: 3 88;
                transition: stroke-dasharray 0.1s ease;
              }
            }
          }

          > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 24px;
            transform: translate(-50%, -50%);
          }
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }

    .line {
      padding: 16px 10px 0;
      text-align: left;
      width: 100%;

      .input-edit {
        margin-bottom: 10px;
      }
    }

    .created-on {
      padding: 0 10px;
      text-align: left;
      width: 100%;
      color: var(--grey);
    }
  }

  .actions-bar {
    height: 86px;
    padding: 18px 0 22px;
    text-align: center;

    &.cancel {
      padding: 12px 0;
      color: var(--grey);
      height: auto;
      font-size: 12px;
      cursor: pointer;

      &.no-padding {
        margin-top: -12px;
        padding: 0;
      }
    }

    .add-action {
      display: inline-flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s;

      svg {
        font-size: 40px;
      }

      &:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      }
    }
  }

  .form-control {
    position: relative;
    display: flex;

    &.pad {
      padding-top: 16px
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      color: var(--river);
      font-size: 12px;
    }

    .inner {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .action {
      height: 48px;
      width: 48px;
    }
  }

  .theme-container {
    .radio-item {
      display: flex;
      margin-bottom: 10px;
      cursor: pointer;

      &:last-of-type {
        margin: 0;
      }

      .radio-label {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .radio-title {
          font-size: 13px;
        }
      }
    }

    .item {
      position: relative;
      width: 114px;
      height: 64px;
      border-radius: 6px;
      overflow: hidden;
      background-color: rgba(168, 144, 106, 0.3);
      background-repeat: repeat;
      background-position: center center;
      background-size: 50px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }

      &:after, &:before {
        position: absolute;
        content: '';
        top: 20%;
        left: 10%;
        height: 25%;
        width: 50%;
        border-radius: 3px;
        background: var(--white);
      }

      &:before {
        top: 55%;
        left: auto;
        right: 10%;
        background: var(--green);
      }

      &.bg-1 {
        background-image: url(../../../asset/image/bgd/4-point-stars.svg);
        background-size: 20px;
      }

      &.bg-2 {
        background-image: url(../../../asset/image/bgd/anchors-away.svg);
      }

      &.bg-3 {
        background-image: url(../../../asset/image/bgd/bank-note.svg);
      }

      &.bg-4 {
        background-image: url(../../../asset/image/bgd/bubbles.svg);
      }

      &.bg-5 {
        background-image: url(../../../asset/image/bgd/glamorous.svg);
      }

      &.bg-6 {
        background-image: url(../../../asset/image/bgd/hideout.svg);
      }

      &.bg-7 {
        background-image: url(../../../asset/image/bgd/i-like-food.svg);
      }

      &.bg-8 {
        background-image: url(../../../asset/image/bgd/jigsaw.svg);
      }

      &.bg-9 {
        background-image: url(../../../asset/image/bgd/plus.svg);
      }

      &.bg-10 {
        background-image: url(../../../asset/image/bgd/rounded-plus-connected.svg);
      }

      &.bg-11 {
        background-image: url(../../../asset/image/bgd/skulls.svg);
      }

      &.bg-12 {
        background-image: url(../../../asset/image/bgd/squares-in-squares.svg);
      }

      &.bg-13 {
        background-image: url(../../../asset/image/bgd/tic-tac-toe.svg);
      }

      &.bg-14 {
        background-image: url(../../../asset/image/bgd/topography.svg);
        background-size: 200px;
      }

      &.bubble-2 {
        &:after, &:before {
          border-radius: 20px;
        }
      }

      &.bubble-3 {
        &:after, &:before {
          border-radius: 3px 20px 20px 20px;
        }

        &:before {
          border-radius: 20px 3px 20px 20px;
        }
      }

      &.bubble-4 {
        &:after, &:before {
          border-radius: 5px;
        }

        &:before {
          border-radius: 5px;
        }
      }

      &.bubble-5 {
        &:after, &:before {
          top: 27.5%;
          left: 10%;
          height: 15%;
          width: 80%;
          border-radius: 3px;
        }

        &:before {
          top: 57.5%;
        }
      }

      &.theme-light {
        background-color: rgba(168, 144, 106, 0.3) !important;

        &:after {
          background: var(--white) !important;
        }

        &:before {
          background: var(--green) !important;
        }
      }

      &.theme-dark {
        background-color: var(--dark) !important;

        &:after {
          background: var(--dark-accent-medium) !important;
        }

        &:before {
          background: var(--dark-accent-low) !important;
        }
      }

      &.theme-dark-blue {
        background-color: var(--dark-blue-low) !important;

        &:after {
          background: var(--dark-blue-accent-medium) !important;
        }

        &:before {
          background: var(--dark-blue-accent-low) !important;
        }
      }
    }

    .title-bar {
      background: linear-gradient(188deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.28) 60%, rgba(0, 0, 0, 0.6) 100%);
      height: 38px;
      border-radius: 0 0 6px 6px;

      &.selected {
        background: linear-gradient(188deg, transparent 0%, transparent 40%, rgba(46, 143, 87, 0.48) 60%, rgba(46, 143, 87, 0.8) 100%);

        div {
          font-weight: bold;
        }
      }

      > div {
        padding-top: 4px;
        margin: 0 8px;

        > div {
          font-size: 13px;
        }
      }
    }
  }

  .kk-card {
    margin-bottom: 10px;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  }

  .session-item {
    position: relative;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 12px 12px 8px;
    text-align: left;
    font-size: 13px;

    &.terminate-all {
      background-color: var(--header-color);
      text-align: center;
      justify-content: center;
      margin-bottom: 8px;

      span {
        color: var(--red);
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
      }
    }

    .session-current {
      position: absolute;
      top: 12px;
      right: 12px;
      color: var(--light-mention);
    }

    .session-info {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .session-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin: 0 0 3px;

        .session-col {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 225px;
        }
      }
    }

    .session-action {
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .action-terminate {
        color: var(--red);
        font-size: 12px;
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }

  .session-placeholder {
    text-align: center;
    padding: 24px;
    color: var(--grey);
  }

  .setting-switch.checked {
    span {
      color: var(--river) !important;
    }
  }
}

html[direction="rtl"] {
  .setting-menu {
    direction: rtl;
    text-align: right;

    .page-container {
      .page {
        &.page-1 {
          transform: translateX(0);
        }

        &.page-2 {
          transform: translateX(-100%);
        }

        &.page-3 {
          transform: translateX(-200%);
        }
      }

      &.page-2 {
        .page-1 {
          transform: translateX(100%);
        }

        .page-2 {
          transform: translateX(0);
        }

        .page-3 {
          transform: translateX(-100%);
        }
      }

      &.page-3 {
        .page-1 {
          transform: translateX(200%);
        }

        .page-2 {
          transform: translateX(100%);
        }

        .page-3 {
          transform: translateX(0);
        }
      }
    }

    .account-summary {
      height: 128px;
      display: flex;
      align-items: center;
      justify-content: center;

      .account-profile {
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .avatar {
          height: 64px;
          width: 64px;

          .avatar-image {
            box-shadow: 0px 4px 8px rgba(107, 107, 107, 0.5);
          }
        }
      }

      .account-info {
        padding: 0 0 0 24px;
        flex: 1;
        cursor: pointer;

        .username {
          font-size: 14px;
          line-height: 24px;
          font-weight: bold;
          margin-bottom: 8px;
        }

        .account-phone {
          font-size: 14px;
          line-height: 24px;
          color: #333333;
        }
      }
    }

    .account-summary {
      .account-info {
        padding: 0 24px 0 0;
        text-align: right;
      }
    }

    .menu-header {
      direction: ltr;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;

      > button {
        transform: rotateY(180deg);
      }
    }

    .form-control {
      direction: ltr;
    }

    .page-anchor {
      text-align: right;

      .icon {
        margin-right: 0;
        margin-left: 8px;
      }

      .anchor-label {
        text-align: right;

        .anchor-label-title {
          text-align: right;
        }
      }
    }

    .session-item {
      .session-info .session-row .session-col {
        text-align: right;
        line-height: 1.4em;
      }

      .session-current {
        right: auto;
        left: 12px;
      }
    }

    .switch-item {
      .switch {
        direction: ltr;
      }

      .switch-label {
        text-align: right;
        padding: 16px 16px 16px 0;
      }
    }

    .font-size-container {
      flex-direction: row;
    }

    .info.language-list {
      .language-item {
        flex-direction: row-reverse;

        .language-label {
          text-align: left;
        }
      }
    }

    .sub-page-header, .sub-page-header-alt {
      .header-label, .header-hint {
        text-align: right;
      }
    }

    .radio-item {
      div[role="radiogroup"] {
        label {
          margin-left: 16px;
          margin-right: -14px;
        }
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .setting-menu {
    .menu-header {
      background-color: var(--dark-medium);
      color: var(--white);
      border-color: var(--dark-low-op50);

      svg {
        color: var(--white);
      }
    }

    .page-anchor, .page-content {
      color: var(--white);
      border-color: var(--dark-low-op50);
    }

    .account-summary {
      height: 128px;
      display: flex;
      align-items: center;
      justify-content: center;

      .account-profile {
        .avatar {
          .avatar-image {
            box-shadow: 0 4px 8px rgba(36, 36, 36, 0.5);
          }
        }
      }

      .account-info {
        .username {
          color: var(--white);
        }

        .account-phone {
          color: #bbb;
        }
      }
    }

    .setting-switch-label {
      > span {
        color: var(--light);
      }
    }

    .setting-switch.blue {
      span {
        color: var(--dark-accent-medium) !important;
      }
    }

    .sub-page-header, .sub-page-header-alt {
      border-color: var(--dark-low-op50);
      color: var(--grey);
    }

    .switch-item {
      .switch-label {
        color: var(--light);
      }
    }

    .label {
      color: var(--light);
    }

    .info {
      .line, .input-edit input, .input-edit textarea, .input-edit label, .input-edit svg {
        color: var(--white);
      }
    }

    .form-control {
      .action {
        svg {
          color: var(--white);
        }
      }
    }

    .menu-content {
      .settings-btn {
        border-color: var(--dark-low-op50);
        color: var(--white);
      }
    }

    .info.language-list {
      .language-item {
        color: var(--white);
        border-color: var(--dark-low-op50);
      }
    }

    .font-size-container {
      > button {
        color: var(--white);
      }
    }

    .radio-item {
      label {
        span:nth-child(2) {
          color: var(--white);
        }
      }

      .pr-radio:not(.pr-radio-checked) {
        color: var(--white);
      }
    }

    .theme-container {
      .radio-item {
        .radio-label {
          .radio:not(.checked) {
            color: var(--white);
          }
        }
      }

      .item {
        background-color: var(--dark);

        &:after {
          background: var(--dark-accent-medium);
        }

        &:before {
          background: var(--dark-accent-low);
        }

        &.bg-1 {
          background-image: url(../../../asset/image/bgl/4-point-stars.svg);
        }

        &.bg-2 {
          background-image: url(../../../asset/image/bgl/anchors-away.svg);
        }

        &.bg-3 {
          background-image: url(../../../asset/image/bgl/bank-note.svg);
        }

        &.bg-4 {
          background-image: url(../../../asset/image/bgl/bubbles.svg);
        }

        &.bg-5 {
          background-image: url(../../../asset/image/bgl/glamorous.svg);
        }

        &.bg-6 {
          background-image: url(../../../asset/image/bgl/hideout.svg);
        }

        &.bg-7 {
          background-image: url(../../../asset/image/bgl/i-like-food.svg);
        }

        &.bg-8 {
          background-image: url(../../../asset/image/bgl/jigsaw.svg);
        }

        &.bg-9 {
          background-image: url(../../../asset/image/bgl/plus.svg);
        }

        &.bg-10 {
          background-image: url(../../../asset/image/bgl/rounded-plus-connected.svg);
        }

        &.bg-11 {
          background-image: url(../../../asset/image/bgl/skulls.svg);
        }

        &.bg-12 {
          background-image: url(../../../asset/image/bgl/squares-in-squares.svg);
        }

        &.bg-13 {
          background-image: url(../../../asset/image/bgl/tic-tac-toe.svg);
        }

        &.bg-14 {
          background-image: url(../../../asset/image/bgl/topography.svg);
        }
      }

      .title-bar {
        &.selected {
          background: linear-gradient(188deg, transparent 0%, transparent 40%, rgba(0, 71, 131, 0.48) 60%, rgba(0, 71, 131, 0.8) 100%);
        }
      }
    }

    .kk-card {
      background-color: var(--dark-medium);
    }

    .session-item {
      color: var(--white);
      border-color: var(--dark-low-op50);

      &.terminate-all {
        background-color: var(--dark-low);
      }
    }
  }
}

html[theme="dark-blue"] {
  .setting-menu {
    .menu-header {
      background-color: var(--dark-blue-medium);
      border-color: var(--dark-blue-low-op50);
    }

    .sub-page-header, .sub-page-header-alt {
      border-color: var(--dark-blue-low-op50);
    }

    .theme-container {
      .item {
        background-color: var(--dark-blue-low);

        &:after {
          background: var(--dark-blue-accent-medium);
        }

        &:before {
          background: var(--dark-blue-accent-low);
        }
      }
    }

    .menu-content {
      .settings-btn {
        border-color: var(--dark-blue-low-op50);
        color: var(--white);
      }
    }

    .info.language-list {
      .language-item {
        border-color: var(--dark-blue-low-op50);
      }
    }

    .kk-card {
      background-color: var(--dark-blue-medium);
    }

    .session-item {
      border-color: var(--dark-blue-low-op50);

      &.terminate-all {
        background-color: var(--dark-blue-low);
      }
    }
  }
}
