/*
    Creation Time: 2020 - Feb - 19
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2020
*/

.message-bot {
  padding: 2px 0;
  display: flex;
  width: 100%;
  min-width: 100px;

  .message-bot-row {
    display: flex;
    flex-direction: row;
    flex: 1;

    .message-bot-col {
      display: flex;
      flex-direction: column;
      flex: 1;

      .bot-button {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        padding: 2px 0 0;
        font-size: 12px;
        min-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
        cursor: pointer;
      }
    }
  }
}