/*
    Creation Time: 2019 - Feb - 09
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/

.dev-tools-dialog {
  .switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;

    .switch-label {
      flex: 1 1;
    }

    .settings-switch {
      .settings-switch-base {
        padding: 9px;
      }

      .settings-switch-thumb {
        color: var(--light);
      }

      &.root-settings-switch-checked {
        .settings-switch-track {
          background-color: var(--river);
          opacity: 0.9;
        }
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .dev-tools-dialog {
    .switch-container {
      .switch-label {
        color: var(--light);
      }

      .settings-switch {
        .settings-switch-thumb {
          color: var(--light);
        }

      }

      .settings-switch-base.settings-switch-checked + .settings-switch-track{
        background-color: var(--river);
        opacity: 0.9;
      }
    }
  }
}
