/*
    Creation Time: 2018 - Nov - 27
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

.group-info-menu {
  height: 100%;
  background: var(--bg); }
  .group-info-menu .page-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    .group-info-menu .page-container .page {
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% - 48px);
      width: 100%;
      transition: left 0.2s ease-out; }
      .group-info-menu .page-container .page.page-1 {
        left: 0; }
      .group-info-menu .page-container .page.page-2 {
        left: 100%; }
    .group-info-menu .page-container.page-2 .page-1 {
      left: -100%; }
    .group-info-menu .page-container.page-2 .page-2 {
      left: 0; }
  .group-info-menu .menu-header {
    background-color: var(--bg);
    text-align: left;
    height: 48px;
    color: var(--dark-medium); }
    .group-info-menu .menu-header label {
      padding: 10px 10px 10px 0; }
  .group-info-menu .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px; }
    .group-info-menu .info .avatar {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: inline-block;
      font-size: 75px; }
    .group-info-menu .info .title {
      padding: 16px 10px 0;
      text-align: left;
      width: 100%; }
      .group-info-menu .info .title .title-edit {
        margin-bottom: 10px; }
    .group-info-menu .info .created-on {
      padding: 0 10px;
      text-align: left;
      width: 100%;
      color: var(--grey); }
  .group-info-menu .notify-settings {
    display: flex; }
    .group-info-menu .notify-settings .label {
      flex: 1;
      text-align: left;
      line-height: 48px;
      padding-left: 12px; }
    .group-info-menu .notify-settings .value {
      width: 50px;
      text-align: right; }
      .group-info-menu .notify-settings .value.switch {
        width: 80px; }
  .group-info-menu .participant {
    padding: 16px 0 0; }
    .group-info-menu .participant label {
      text-align: left;
      color: var(--river);
      display: block;
      padding: 0 16px 10px; }
    .group-info-menu .participant .contact-item {
      position: relative;
      width: 100%;
      height: 64px;
      padding: 8px;
      text-align: left; }
      .group-info-menu .participant .contact-item:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        background-color: var(--light);
        transform: translate(-50%, 0); }
      .group-info-menu .participant .contact-item:last-of-type:after {
        content: none; }
      .group-info-menu .participant .contact-item:hover {
        border: 0;
        background-color: var(--color-hover); }
      .group-info-menu .participant .contact-item .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        float: left;
        margin-right: 12px; }
        .group-info-menu .participant .contact-item .avatar img {
          float: left;
          width: 48px;
          height: 48px;
          object-fit: cover;
          border-radius: 50%; }
      .group-info-menu .participant .contact-item .admin-wrapper {
        position: absolute;
        top: 11px;
        left: 64px;
        width: 16px;
        height: 16px; }
        .group-info-menu .participant .contact-item .admin-wrapper svg {
          font-size: 16px;
          color: var(--dark); }
      .group-info-menu .participant .contact-item .name {
        display: inline-block;
        min-width: 200px;
        font-size: 12px;
        line-height: 23px;
        margin: 0 0 4px;
        color: var(--dark);
        font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 230px; }
      .group-info-menu .participant .contact-item.admin .name {
        padding-left: 16px; }
      .group-info-menu .participant .contact-item .username {
        font-size: 14px;
        line-height: 17px;
        display: inline-block;
        overflow: hidden !important;
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--grey); }
      .group-info-menu .participant .contact-item .more {
        position: absolute;
        top: 5px;
        right: 8px;
        height: 25px;
        width: 20px;
        display: none;
        cursor: pointer;
        z-index: 10; }
        .group-info-menu .participant .contact-item .more svg {
          height: 25px;
          font-size: 25px; }
      .group-info-menu .participant .contact-item:hover .more {
        display: block; }
    .group-info-menu .participant .add-member {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--river);
      height: 40px;
      cursor: pointer; }
      .group-info-menu .participant .add-member:hover {
        background-color: var(--color-hover); }
  .group-info-menu .leave-group {
    height: 48px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--red);
    padding: 0 10px;
    cursor: pointer; }
    .group-info-menu .leave-group svg {
      color: var(--red);
      margin-right: 10px; }
  .group-info-menu .contact-box {
    flex: 1; }
  .group-info-menu .form-control {
    display: flex;
    height: 48px; }
    .group-info-menu .form-control .inner {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .group-info-menu .form-control .action {
      width: 48px; }
  .group-info-menu .kk-card {
    margin-bottom: 10px;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08); }
    .group-info-menu .kk-card:last-of-type {
      margin-bottom: 0; }

.add-member-dialog .dialog-content {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column; }
  .add-member-dialog .dialog-content .dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--river);
    color: var(--white);
    text-transform: uppercase; }
    .add-member-dialog .dialog-content .dialog-header svg {
      margin: 0 5px; }
  .add-member-dialog .dialog-content .actions-bar {
    height: 86px;
    padding: 18px 0 22px;
    text-align: center;
    background-color: var(--message-chat); }
    .add-member-dialog .dialog-content .actions-bar .add-action {
      display: inline-flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s; }
      .add-member-dialog .dialog-content .actions-bar .add-action svg {
        font-size: 40px; }
      .add-member-dialog .dialog-content .actions-bar .add-action:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }

html[theme="dark"] .group-info-menu {
  background-color: var(--dark-high); }
  html[theme="dark"] .group-info-menu .menu-header {
    background-color: var(--dark-high);
    color: var(--white); }
    html[theme="dark"] .group-info-menu .menu-header svg {
      color: var(--white); }
  html[theme="dark"] .group-info-menu .info .title, html[theme="dark"] .group-info-menu .info .title-edit input, html[theme="dark"] .group-info-menu .info .title-edit label, html[theme="dark"] .group-info-menu .info .title-edit svg {
    color: var(--white); }
  html[theme="dark"] .group-info-menu .notify-settings .label {
    color: var(--white); }
  html[theme="dark"] .group-info-menu .notify-settings .value .admin-switch span {
    color: var(--river) !important; }
  html[theme="dark"] .group-info-menu .participant .contact-item:after {
    background-color: var(--dark-low); }
  html[theme="dark"] .group-info-menu .participant .contact-item .admin-wrapper svg {
    color: var(--white); }
  html[theme="dark"] .group-info-menu .participant .contact-item .name {
    color: var(--light); }
  html[theme="dark"] .group-info-menu .participant .contact-item .more svg {
    color: var(--white); }
  html[theme="dark"] .group-info-menu .form-control .action svg {
    color: var(--white); }
  html[theme="dark"] .group-info-menu .kk-card {
    background-color: var(--dark-medium); }

html[theme="dark"] .add-member-dialog .dialog-content {
  background-color: var(--dark); }
  html[theme="dark"] .add-member-dialog .dialog-content .actions-bar {
    background-color: var(--dark-medium); }

html[theme="dark"] .notify-setting-dialog div[role="document"] > div {
  background-color: var(--dark); }
  html[theme="dark"] .notify-setting-dialog div[role="document"] > div h2, html[theme="dark"] .notify-setting-dialog div[role="document"] > div p, html[theme="dark"] .notify-setting-dialog div[role="document"] > div .dialog-content span {
    color: var(--white); }
