@import '../../../style/common';

.group-info-menu {
  height: 100%;
  background: var(--bg);
  .page-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .page {
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% - 47px);
      width: 100%;
      transition: left 0.2s ease-out;
      overflow-y: scroll;
      &.page-1 {
        left: 0;
      }
      &.page-2 {
        left: 100%;
      }
    }
    &.page-2 {
      .page-1 {
        left: -100%;
      }
      .page-2 {
        left: 0;
      }
    }
  }
  .menu-header {
    background-color: var(--bg);
    text-align: left;
    height: 47px;
    color: var(--dark-medium);
    label {
      padding: 10px 10px 10px 0;
    }
  }
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    .avatar {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: inline-block;
      font-size: 75px;
    }
    .title {
      padding: 16px 10px 0;
      text-align: left;
      width: 100%;
      .title-edit {
        margin-bottom: 10px;
      }
    }
    .created-on {
      padding: 0 10px;
      text-align: left;
      width: 100%;
      color: var(--grey);
    }
  }
  .notify-settings {
    display: flex;
    .label {
      flex: 1;
      text-align: left;
      line-height: 48px;
      padding-left: 12px;
    }
    .value {
      width: 50px;
      text-align: right;
      &.switch {
        width: 80px;
      }
    }
  }
  .participant {
    padding: 16px 0 0;
    label {
      text-align: left;
      color: var(--river);
      display: block;
      padding: 0 16px 10px;
    }
    .contact-item {
      position: relative;
      width: 100%;
      height: 64px;
      padding: 8px;
      text-align: left;
      &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        background-color: var(--light);
        transform: translate(-50%, 0);
      }
      &:last-of-type {
        &:after {
          content: none;
        }
      }
      &:hover {
        border: 0;
        background-color: var(--color-hover);
      }
      .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        float: left;
        margin-right: 12px;
        img {
          float: left;
          width: 48px;
          height: 48px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .admin-wrapper {
        position: absolute;
        top: 11px;
        left: 64px;
        width: 16px;
        height: 16px;
        svg {
          font-size: 16px;
          color: var(--dark);
        }
      }
      .name {
        display: inline-block;
        min-width: 200px;
        font-size: 12px;
        line-height: 23px;
        margin: 0 0 4px;
        color: var(--dark);
        @include font-bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 230px;
      }
      &.admin {
        .name {
          padding-left: 16px;
        }
      }
      .username {
        font-size: 14px;
        line-height: 17px;
        display: inline-block;
        overflow: hidden !important;
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--grey);
      }
      .more {
        position: absolute;
        top: 5px;
        right: 8px;
        height: 25px;
        width: 20px;
        display: none;
        cursor: pointer;
        z-index: 10;
        svg {
          height: 25px;
          font-size: 25px;
        }
      }
      &:hover .more {
        display: block;
      }
    }
    .add-member {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--river);
      height: 40px;
      cursor: pointer;
      &:hover {
        background-color: var(--color-hover);
      }
    }
  }
  .leave-group {
    height: 48px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--red);
    padding: 0 10px;
    cursor: pointer;
    svg {
      color: var(--red);
      margin-right: 10px;
    }
  }
  .contact-box {
    flex: 1;
  }
  .form-control {
    display: flex;
    height: 48px;
    .inner {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .action {
      width: 48px;
    }
  }
  .kk-card {
    margin-bottom: 10px;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  }
}

.add-member-dialog {
  .dialog-content {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    .dialog-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background-color: var(--river);
      color: var(--white);
      text-transform: uppercase;
      svg {
        margin: 0 5px;
      }
    }
    .actions-bar {
      height: 86px;
      padding: 18px 0 22px;
      text-align: center;
      background-color: var(--message-chat);
      .add-action {
        display: inline-flex;
        height: 46px;
        width: 46px;
        border-radius: 50%;
        background: var(--river);
        color: var(--white);
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all 0.2s;
        svg {
          font-size: 40px;
        }
        &:hover {
          background: var(--river-dark);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

html[theme="dark"] {
  .group-info-menu {
    background-color: var(--dark-high);
    .menu-header {
      background-color: var(--dark-high);
      color: var(--white);
      svg {
        color: var(--white);
      }
    }
    .info {
      .title, .title-edit input, .title-edit label, .title-edit svg {
        color: var(--white);
      }
    }
    .notify-settings {
      .label {
        color: var(--white);
      }
      .value .admin-switch {
        span {
          color: var(--river) !important;
        }
      }
    }
    .participant {
      .contact-item {
        &:after {
          background-color: var(--dark-low);
        }
        .admin-wrapper {
          svg {
            color: var(--white);
          }
        }
        .name {
          color: var(--light);
        }
        .more {
          svg {
            color: var(--white);
          }
        }
      }
    }
    .form-control {
      .action {
        svg {
          color: var(--white);
        }
      }
    }
    .kk-card {
      background-color: var(--dark-medium);
    }
  }
  .add-member-dialog {
    .dialog-content {
      background-color: var(--dark);
      .actions-bar {
        background-color: var(--dark-medium);
      }
    }
  }
  .notify-setting-dialog {
    div[role="document"] {
      > div {
        background-color: var(--dark);
        h2, p, .dialog-content span {
          color: var(--white);
        }
      }
    }
  }
}
