/*
    Creation Time: 2018 - Nov - 27
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

.group-info-menu {
  height: 100%;
  background: var(--bg);
  direction: ltr;

  .page-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .page {
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% - 48px);
      width: 100%;
      transition: left 0.2s ease-out;

      &.page-1 {
        left: 0;
      }

      &.page-2 {
        left: 100%;
      }
    }

    &.page-2 {
      .page-1 {
        left: -100%;
      }

      .page-2 {
        left: 0;
      }
    }
  }

  .menu-header {
    background-color: var(--header-color);
    text-align: left;
    height: 48px;
    color: var(--dark-medium);

    label {
      padding: 10px 10px 10px 0;
    }

    button {
      svg {
        opacity: 0.3;
      }

      &:hover {
        svg {
          opacity: 1;
        }
      }
    }
  }

  .setting-switch {
    > span {
      padding: 9px 8px 6px;
    }

    .setting-switch-checked {
      .setting-switch-thumb {
        color: var(--river-light);
      }
    }
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;

    .avatar {
      position: relative;
      height: 200px;
      width: 200px;
      border-radius: 50%;
      display: inline-block;
      font-size: 75px;

      &.pointer-cursor {
        cursor: pointer;
      }

      .avatar-image {
        height: 200px;
        width: 200px;
        border-radius: 50%;
      }

      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(140, 140, 140, 0.85);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.show {
          opacity: 1;
        }

        svg {
          color: var(--light-alt);
        }

        .text {
          font-size: 13px;
          color: var(--light-alt);
        }

        .progress-action {
          position: relative;
          height: 32px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;

          .progress {
            position: absolute;
            top: 0;
            left: 0;
            height: 32px;
            width: 32px;
            transform-origin: center center;
            animation-name: rotateDonut;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            svg {
              position: absolute;
              top: 0;
              left: 0;
              height: 32px;
              width: 32px;

              circle {
                fill: transparent;
                stroke: var(--white);
                stroke-width: 2px;
                stroke-dasharray: 3 88;
                transition: stroke-dasharray 0.1s ease;
              }
            }
          }

          > svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 24px;
            transform: translate(-50%, -50%);
          }
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }

    .title {
      padding: 16px 10px 0;
      text-align: left;
      width: 100%;

      .title-edit {
        margin-bottom: 10px;

        .adornment-button {
          background-color: var(--river);
        }
      }
    }

    .created-on {
      padding: 0 10px;
      text-align: left;
      width: 100%;
      color: var(--grey);
    }
  }

  .notify-settings {
    display: flex;

    .label {
      flex: 1;
      text-align: left;
      line-height: 48px;
      padding-left: 12px;
    }

    .value {
      width: 50px;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &.switch {
        width: 80px;
      }
    }
  }

  .participant {
    padding: 16px 0 0;

    label {
      text-align: left;
      color: var(--river);
      display: block;
      padding: 0 16px 10px;
    }

    .contact-item {
      position: relative;
      width: 100%;
      height: 64px;
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid var(--light);

      &:last-of-type {
        border-color: transparent !important;
      }

      &:hover {
        background-color: var(--color-hover);
      }

      .avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        float: left;
        margin-right: 12px;

        img {
          float: left;
          width: 48px;
          height: 48px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .admin-wrapper {
        position: absolute;
        top: 11px;
        left: 64px;
        width: 16px;
        height: 16px;

        svg {
          font-size: 16px;
          color: var(--dark);
        }
      }

      .name {
        display: inline-block;
        min-width: 200px;
        font-size: 12px;
        line-height: 23px;
        margin: 0 0 4px;
        color: var(--dark);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 230px;
        font-weight: bold;
      }

      &.admin {
        .name {
          padding-left: 16px;
        }
      }

      .username {
        font-size: 14px;
        line-height: 17px;
        display: inline-block;
        overflow: hidden !important;
        width: 70%;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--grey);
      }

      .more {
        position: absolute;
        top: 5px;
        right: 8px;
        height: 25px;
        width: 20px;
        display: none;
        cursor: pointer;
        z-index: 10;

        svg {
          height: 25px;
          font-size: 25px;
        }
      }

      &:hover .more {
        display: block;
      }
    }

    .add-member {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--river);
      height: 40px;
      cursor: pointer;

      &:hover {
        background-color: var(--color-hover);
      }
    }
  }

  .leave-group {
    padding: 6px;

    button {
      white-space: nowrap;
      max-width: calc(100% - 16px);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    svg {
      margin: 0 6px;
    }
  }

  .contact-box {
    flex: 1;
  }

  .form-control {
    display: flex;
    height: 48px;

    .inner {
      flex: 1;
      display: flex;
      align-items: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .action {
      width: 48px;
    }
  }

  .kk-card {
    margin-bottom: 10px;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.add-member-dialog {
  .dialog-content {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;

    .dialog-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background-color: var(--river);
      color: var(--white);
      text-transform: uppercase;

      svg {
        margin: 0 5px;
      }
    }

    .contact-list {
      flex: 1;
      height: auto;
    }

    .actions-bar {
      height: 86px;
      padding: 18px 0 22px;
      text-align: center;
      background-color: var(--message-chat);

      .add-action {
        display: inline-flex;
        height: 46px;
        width: 46px;
        border-radius: 50%;
        background: var(--river);
        color: var(--white);
        justify-content: center;
        align-items: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        transition: all 0.2s;

        svg {
          font-size: 40px;
        }

        &:hover {
          background: var(--river-dark);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

.container.mobile-view {
  .group-info-menu {
    width: 100vw;
  }
}

.container:not(.mobile-view) {
  .group-info-menu {
    width: 318px;
  }
}

html[direction="rtl"] {
  .group-info-menu {
    direction: ltr;

    .page-container {
      .page {
        &.page-1 {
          left: 0;
        }

        &.page-2 {
          left: -100%;
        }
      }

      &.page-2 {
        .page-1 {
          left: 100%;
        }

        .page-2 {
          left: 0;
        }
      }
    }

    .leave-group {
      direction: rtl;

      svg {
        margin-right: 0;
        margin-left: 10px;
      }
    }

    .participant {
      label {
        text-align: right;
        direction: rtl;
      }

      .add-member {
        direction: rtl;
      }

      .contact-item {
        direction: rtl;
        text-align: right;

        .avatar {
          float: right;
          margin-right: 0;
          margin-left: 12px;
        }

        .admin-wrapper {
          left: auto;
          right: 64px;
        }

        &.admin {
          .name {
            padding-left: 0;
            padding-right: 16px;
          }
        }

        .more {
          right: auto;
          left: 5px;
        }
      }
    }
  }

  .add-member-dialog {
    .dialog-content {
      .dialog-header {
        direction: rtl;
      }
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .group-info-menu {
    background-color: var(--dark-high);

    .setting-switch {
      .setting-switch-thumb {
        color: var(--grey);
      }

      .setting-switch-checked {
        .setting-switch-thumb {
          color: var(--river);
        }
      }
    }

    .menu-header {
      background-color: var(--dark-medium);
      color: var(--white);

      svg {
        color: var(--white);
      }
    }

    .info {
      .title, .title-edit input, .title-edit label, .title-edit svg {
        color: var(--white);
      }
    }

    .notify-settings {
      .label {
        color: var(--white);
      }

      .value .admin-switch {
        span {
          color: var(--river) !important;
        }
      }
    }

    .participant {
      .contact-item {
        border-color: var(--dark-low);

        &:hover {
          background-color: var(--dark-color-hover);
        }

        .admin-wrapper {
          svg {
            color: var(--white);
          }
        }

        .name {
          color: var(--light);
        }

        .more {
          svg {
            color: var(--white);
          }
        }
      }
    }

    .form-control {
      .action {
        svg {
          color: var(--white);
        }
      }
    }

    .kk-card {
      background-color: var(--dark-medium);
    }
  }

  .add-member-dialog {
    .dialog-content {
      background-color: var(--dark);

      .actions-bar {
        background-color: var(--dark-medium);
      }
    }
  }

  .notify-setting-dialog {
    .notify-setting-dialog-paper {
      background-color: var(--dark);

      h2, p, .dialog-content span {
        color: var(--white);
      }
    }
  }
}

html[theme="dark-blue"] {
  .group-info-menu {
    background-color: var(--dark-blue-low);

    .menu-header {
      background-color: var(--dark-blue-medium);
    }

    .participant {
      .contact-item {
        border-color: var(--dark-blue-low);
      }
    }

    .kk-card {
      background-color: var(--dark-blue-medium);
    }
  }

  .add-member-dialog {
    .dialog-content {
      background-color: var(--dark-blue-low);

      .actions-bar {
        background-color: var(--dark-blue-medium);
      }
    }
  }

  .notify-setting-dialog {
    .notify-setting-dialog-paper {
      background-color: var(--dark-blue-low);
    }
  }
}
