/*
    Creation Time: 2020 - Nov - 04
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2020
*/

.call-modal {

  .call-modal-paper {
    line-height: 0;
    overflow: hidden;
    margin: 0;
  }

  .call-modal-content {
    position: relative;
    height: 360px;
    width: 640px;
    transition: all 0.2s;
    color: var(--white);
    background-color: var(--dark);

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center !important;
      transform: rotateY(180deg);
    }

    .call-user-bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 5px;

      img {
        border-radius: 5px;
        border: none;
        object-fit: cover;
      }

      &.rounded-avatar {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 50%;
          width: 96px;
          height: 96px;
        }
      }

      .text-avatar {
        border-radius: 5px;
        line-height: 1em;
        font-size: 128px;
      }
    }

    .call-modal-header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 48px;
      background: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.28) 45%, rgba(0, 0, 0, 0.48) 75%, rgba(0, 0, 0, 0.6) 100%);
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: opacity 0.3s;
      z-index: 10;

      .call-action-item {
        margin-right: 6px;
        padding: 6px;
        cursor: pointer;

        svg {
          font-size: 24px;
          color: var(--white);
        }
      }
    }

    .call-modal-action {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 96px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      opacity: 0;
      transition: opacity 0.3s;
      background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.28) 45%, rgba(0, 0, 0, 0.45) 75%, rgba(0, 0, 0, 0.6) 100%);
      z-index: 12;

      &.main-call-action {
        opacity: 1;
        background: transparent;

        > div:not(.call-settings-notice):not(.call-settings-drawer), > button {
          transition: opacity 0.3s;
          opacity: 0;
        }
      }

      .call-item {
        position: relative;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);

        &:hover {
          filter: brightness(1.1);
        }

        svg {
          color: var(--white);
          font-size: 28px;
        }

        &.call-end {
          background-color: var(--red);
        }

        &.call-accept {
          background-color: var(--green-accpet);
        }

        &.call-normal {
          background-color: var(--grey-low);
        }

        .call-item-label {
          position: absolute;
          top: -20px;
          left: 50%;
          white-space: nowrap;
          font-size: 14px;
          transform: translateX(-50%);
        }
      }
    }

    &:hover {
      .call-modal-header, .call-modal-action {
        opacity: 1;
      }

      .call-modal-action.main-call-action {
        background: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.28) 45%, rgba(0, 0, 0, 0.45) 75%, rgba(0, 0, 0, 0.6) 100%);

        > div, > button {
          opacity: 1 !important;
        }
      }
    }
  }

  &.fullscreen {
    transform: none !important;

    .call-modal-paper {
      transform: none !important;
    }

    .call-modal-content {
      height: 100% !important;
      width: 100% !important;
    }
  }

  &.crop-cover {
    .call-modal-content {
      video {
        object-fit: cover;
      }
    }
  }

  &.crop-contain {
    .call-modal-content {
      video {
        object-fit: contain !important;
      }
    }
  }

  &.call_init, &.call {
    &:not(.fullscreen) {
      top: 50% !important;
      left: 50% !important;
      inset: initial;
      width: 480px;
      transform: translate(-50%, -50%);

      .MuiBackdrop-root {
        visibility: hidden;
      }

      .call-modal-paper {
        width: auto;
        overflow: hidden;
        max-width: none;
        max-height: none;
      }
    }
  }

  &.call_init {
    &:not(.fullscreen) {
      width: 480px;
    }

    .call-modal-content {
      height: 270px;
      width: 480px;

      .call-info {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.28) 45%, rgba(0, 0, 0, 0.48) 75%, rgba(0, 0, 0, 0.6) 100%);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 12px;

        .callee-info {
          display: flex;
          align-items: center;
          justify-content: center;

          .callee-avatar {
            height: 42px;
            width: 42px;
          }

          .callee-name {
            margin-left: 12px;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              font-size: 1.1em;
              margin-right: 4px;
            }
          }
        }
      }

      .call-modal-action {
        opacity: 1;
        justify-content: space-between;
        flex-direction: row;
        height: 64px;
        padding: 0 12px 24px;

        .call-settings {
          display: flex;
          justify-content: space-evenly;
          align-content: center;
          min-width: 128px;

          .call-settings-item {
            opacity: 0.5;

            &:hover {
              opacity: 1;
            }
          }
        }

        .call-buttons {
          display: flex;
          align-items: center;
          justify-content: center;

          .call-item {
            margin: 0 12px;
            transform: scale(0.8);
            opacity: 0.5;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &.call_init.minimize, &.call {
    &:not(.fullscreen) {
      width: 640px;
    }

    .call-modal-content {
      position: relative;
      width: 640px;
      height: 480px;

      .call-video {
        z-index: 2;
      }

      .local-video {
        position: relative;
        z-index: 14;
        transition: all 0.2s;
        width: 100%;
        height: 100%;

        .local-video-placeholder {
          position: absolute;
          top: 0;
          left: 0;
          width: 128px;
          height: 96px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 14;
          background-color: var(--dark);
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);

          .local-video-user {
            height: 48px;
            width: 48px;
            border-radius: 50%;
            transition: all 0.2s;

            img {
              height: 100%;
              width: 100%;
              border-radius: 50%;
            }
          }
        }
      }

      &.animate-end {
        .local-video {
          position: absolute;
          top: 12px;
          left: 12px;
          width: 128px;
          height: auto;
          border-radius: 5px;
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);

          video {
            width: 100%;
          }
        }
      }

      .call-status {
        position: absolute;
        top: 75%;
        left: 50%;
        text-align: center;
        color: var(--white);
        background-color: var(--glass-dark-ultra);
        padding: 4px 12px 5px;
        border-radius: 5px;
        text-transform: lowercase;
        transform: translate(-50%, -50%);
        line-height: 1em;
      }

      .call-modal-action {
        .call-settings {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 24px;
        }

        .call-timer {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
          line-height: 1em;
          white-space: nowrap;
        }
      }

      &.group-call {
        .call-modal-action {
          .call-timer {
            right: 48px;
          }
        }
      }

      &.video-swap {
        .call-video {
          position: absolute;
          top: 12px;
          left: 12px;
          right: auto;
          bottom: auto;
          width: 128px;
          height: auto;
          border-radius: 5px;
          box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.4);
          z-index: 14;
        }

        .local-video {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 100% !important;
          height: 100% !important;
          box-shadow: none;

          .local-video-placeholder {
            width: 100% !important;
            height: 100% !important;
            box-shadow: none;

            .local-video-user {
              height: 96px;
              width: 96px;
            }
          }
        }
      }
    }
  }

  &.call.minimize {
    .call-modal-content {
      .local-video {
        position: absolute !important;
        top: 12px !important;
        left: 12px !important;
      }

      &.group-call {
        .call-modal-action {
          .call-timer {
            right: 8px;
          }
        }
      }
    }
  }

  &.call_init.minimize, &.call.minimize {
    width: 240px;
    height: 135px;

    .call-modal-content, .call-modal-paper {
      width: 100%;
      height: 100%;
    }

    .call-modal-content {
      .local-video {
        height: 48px;
        width: 48px;
        border-radius: 28px;
        -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

        .local-video-placeholder {
          height: 48px;
          width: 48px;
          border-radius: 28px;
          overflow: hidden;

          video {
            height: 100%;
            width: 100%;
          }
        }
      }

      .call-modal-header .call-action-item svg {
        font-size: 20px;
      }

      &.video-swap {
        .local-video {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 0;
        }

        .call-video {
          height: 48px;
          width: 48px;
          border-radius: 28px;
          overflow: hidden;
          -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
        }
      }

      .call-timer {
        right: 12px;
        font-size: 14px;
      }

      .call-modal-action {
        height: 72px;

        .call-settings {
          left: 12px;

          button {
            padding: 10px;

            svg {
              font-size: 18px;
            }
          }
        }

        .call-item {
          width: 42px;
          height: 42px;
        }
      }
    }
  }

  &.call_request, &.call_join_request, &.call_unavailable {
    .call-modal-paper {
      transform: none !important;
    }

    .call-modal-content {
      position: relative;
      width: 240px;
      height: 240px;
      background-color: var(--dark-medium);

      .call-info {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 36px 12px 36px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        z-index: 10;
        background: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.38) 25%, rgba(0, 0, 0, 0.38) 55%, rgba(0, 0, 0, 0.6) 100%);

        .call-user-name {
          font-size: 24px;
          font-weight: bold;
          line-height: 1.2em;
          color: var(--white);
          user-select: none;
        }

        .call-status {
          margin-top: 8px;
          color: var(--white);
          line-height: 1.2em;
          text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        }
      }

      .call-modal-action {
        opacity: 1;
      }
    }
  }

  &.call_report {
    .call-modal-paper {
      transform: none !important;
    }

    .call-modal-content {
      position: relative;
      width: 240px;
      height: 240px;
      background-color: var(--dark-medium);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      line-height: 1.2em;

      .call-rate-label {
        padding-bottom: 6px;
        user-select: none;
      }

      .call-rate-value {
        padding-bottom: 24px;
      }

      .call-duration-label {
        padding-bottom: 12px;
        user-select: none;
      }

      .call-duration-value {
        font-weight: bold;
        user-select: none;
      }
    }
  }
}

.call-notification {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  margin: -6px;

  .user-avatar {
    height: 24px;
    width: 24px;
    margin: 0 6px;
  }

  .user-name {
    font-size: 14px;
  }
}

html[theme="dark"],
html[theme="dark-night"] {
  .call-modal {
    .call-modal-paper {
      background-color: var(--dark-medium);
    }
  }
}

html[theme="dark-blue"] {
  .call-modal {
    .call-modal-paper {
      background-color: var(--dark-blue-medium);
    }
  }
}
