/*
    Creation Time: 2018 - Oct - 16
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --grey-low: #555;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --light-alt: #f1f2f2;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --dark-color-hover: rgba(50, 61, 71, 0.64);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --light-mention: #2678b6;
  --glass-dark-low: rgba(0, 0, 0, 0.05);
  --glass-dark-high: rgba(0, 0, 0, 0.20);
  --dark-low: #191919;
  --dark-low-op50: #19191999;
  --dark-medium: #232323;
  --dark-medium-op50: #23232399;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --dark-mention: #2d9fee;
  --dark-blue-low: #1A212E;
  --dark-blue-low-op50: #1A212E99;
  --dark-blue-medium: #232F40;
  --dark-blue-medium-op50: #232F4099;
  --dark-blue-high: #14395f;
  --dark-blue-high-alt: #2EA2FE;
  --dark-blue-hover: rgba(46, 162, 254, 0.5);
  --dark-blue-hover-light: rgba(46, 162, 254, 0.3);
  --dark-blue-accent-low: #3E6A96;
  --dark-blue-accent-medium: #344359;
  --dark-blue-mention: #2eadff;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

.write {
  border: 1px solid var(--light);
  border-width: 1px 1px 1px 0;
  background-color: #F4F4F5; }
  .write .suggestion-list-container {
    transition: height 0.1s; }
    .write .suggestion-list-container .mention__suggestions {
      position: static !important;
      background-color: transparent !important;
      top: auto !important;
      left: auto !important;
      overflow: hidden;
      margin-top: 8px !important; }
      .write .suggestion-list-container .mention__suggestions .mention__suggestions__list {
        white-space: nowrap;
        text-align: left; }
        .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item {
          font-size: 12px; }
          .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item .inner {
            display: flex;
            flex-direction: row;
            padding: 3px 8px; }
            .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item .inner.focused {
              background-color: var(--white); }
            .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item .inner .avatar {
              height: 32px;
              width: 32px;
              margin-right: 8px; }
            .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item .inner .info {
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: end;
              flex-direction: column; }
              .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item .inner .info .name {
                margin-top: 3px; }
              .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item .inner .info .username {
                color: var(--grey);
                margin-top: 3px; }
  .write .inputs {
    display: flex;
    min-height: 50px; }
    .write .inputs .user {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .write .inputs .user .user-avatar {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3) inset;
        font-size: 12px; }
        .write .inputs .user .user-avatar .text-avatar {
          height: 32px;
          width: 32px; }
        .write .inputs .user .user-avatar img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
    .write .inputs .input {
      position: relative;
      flex: 1;
      margin: 8px 0;
      z-index: 2;
      display: flex; }
      .write .inputs .input .textarea-container {
        direction: ltr;
        font-size: 12px !important;
        line-height: 1.25em;
        border: 1px solid rgba(50, 61, 71, 0.16);
        border-radius: 17px;
        background-color: #fff !important;
        min-height: 32px;
        width: 100%;
        max-height: 120px;
        z-index: 10;
        padding: 6px; }
        .write .inputs .input .textarea-container .mention {
          position: static !important; }
          .write .inputs .input .textarea-container .mention .mention__control .mention__highlighter {
            position: absolute !important;
            left: 21px;
            top: 3px !important; }
            .write .inputs .input .textarea-container .mention .mention__control .mention__highlighter .mention-item {
              border-bottom: 1px solid var(--grey); }
          .write .inputs .input .textarea-container .mention .mention__control textarea {
            height: 1.1em !important;
            padding-right: 26px;
            padding-left: 12px;
            overflow: hidden !important;
            line-height: 1.1em; }
            .write .inputs .input .textarea-container .mention .mention__control textarea._2-line {
              height: 2.4em !important; }
            .write .inputs .input .textarea-container .mention .mention__control textarea._3-line {
              height: 3.5em !important; }
            .write .inputs .input .textarea-container .mention .mention__control textarea._4-line {
              height: 4.7em !important; }
            .write .inputs .input .textarea-container .mention .mention__control textarea._5-line {
              height: 5.9em !important;
              overflow: auto !important; }
            .write .inputs .input .textarea-container .mention .mention__control textarea::placeholder {
              vertical-align: center; }
      .write .inputs .input .emoji-wrapper {
        position: absolute;
        right: 6px;
        top: 50%;
        height: 32px;
        transform: translateY(-50%);
        z-index: 11; }
        .write .inputs .input .emoji-wrapper .icon {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          cursor: pointer; }
          .write .inputs .input .emoji-wrapper .icon svg {
            color: var(--grey);
            font-size: 24px;
            height: 24px; }
          .write .inputs .input .emoji-wrapper .icon:hover svg {
            color: var(--dark); }
      .write .inputs .input.rtl textarea {
        direction: rtl; }
    .write .inputs .voice-recorder {
      display: none;
      flex: 1;
      margin: 8px 0;
      z-index: 2;
      align-items: center;
      vertical-align: center;
      font-size: 13px; }
      .write .inputs .voice-recorder .timer {
        position: relative;
        width: 80px;
        padding-left: 30px; }
        .write .inputs .voice-recorder .timer .bulb {
          position: absolute;
          top: 50%;
          left: 16px;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: var(--red);
          transform: translateY(-50%); }
        .write .inputs .voice-recorder .timer.blink .bulb {
          animation-name: bulbBlink;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-timing-function: linear; }
      .write .inputs .voice-recorder .preview {
        flex: 1; }
        .write .inputs .voice-recorder .preview canvas {
          width: 100%;
          height: 32px; }
      .write .inputs .voice-recorder .cancel {
        color: var(--red);
        padding: 0 12px;
        cursor: pointer; }
      .write .inputs .voice-recorder .play-remove {
        padding: 0 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; }
        .write .inputs .voice-recorder .play-remove svg {
          color: var(--grey); }
        .write .inputs .voice-recorder .play-remove:hover svg {
          color: var(--dark); }
      .write .inputs .voice-recorder .play-frame {
        flex: 1;
        border-radius: 16px;
        background-color: var(--white);
        border: 1px solid rgba(50, 61, 71, 0.16); }
    .write .inputs .input-actions {
      display: flex;
      justify-content: end;
      align-items: center;
      padding: 0 8px;
      width: 88px;
      transition: width 0.2s linear;
      flex-direction: row-reverse; }
      .write .inputs .input-actions .icon {
        position: relative;
        cursor: pointer;
        padding: 0 6px;
        line-height: 0; }
        .write .inputs .input-actions .icon > svg {
          color: var(--grey); }
          .write .inputs .input-actions .icon > svg:hover {
            color: var(--dark-medium); }
      .write .inputs .input-actions .send {
        display: none; }
      .write .inputs .input-actions .voice .wave {
        display: none; }
      .write .inputs .input-actions .voice .lock-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 0;
        height: 0;
        width: 0;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        border-radius: 50%;
        border: 1px solid var(--light);
        overflow: hidden;
        transition: all 0.2s; }
        .write .inputs .input-actions .voice .lock-wrapper svg {
          font-size: 16px;
          color: var(--red) !important; }
        .write .inputs .input-actions .voice .lock-wrapper.show {
          top: -32px;
          height: 24px;
          width: 24px; }
    .write .inputs.mode-voice .input, .write .inputs.mode-play .input {
      display: none; }
    .write .inputs.mode-voice .voice-recorder, .write .inputs.mode-play .voice-recorder {
      display: flex; }
    .write .inputs.mode-voice .input-actions, .write .inputs.mode-play .input-actions {
      width: 52px; }
      .write .inputs.mode-voice .input-actions .attachment, .write .inputs.mode-voice .input-actions .send, .write .inputs.mode-play .input-actions .attachment, .write .inputs.mode-play .input-actions .send {
        display: none; }
      .write .inputs.mode-voice .input-actions .voice, .write .inputs.mode-play .input-actions .voice {
        position: relative;
        display: block; }
        .write .inputs.mode-voice .input-actions .voice svg, .write .inputs.mode-play .input-actions .voice svg {
          position: relative;
          z-index: 20;
          color: var(--grey); }
          .write .inputs.mode-voice .input-actions .voice svg:hover, .write .inputs.mode-play .input-actions .voice svg:hover {
            color: var(--dark); }
        .write .inputs.mode-voice .input-actions .voice .wave, .write .inputs.mode-play .input-actions .voice .wave {
          position: absolute;
          display: block;
          content: '';
          top: 50%;
          left: 50%;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          opacity: 0.5;
          background-color: var(--river);
          transform: translate(-50%, -50%); }
    .write .inputs.mode-text .input-actions {
      width: 52px; }
      .write .inputs.mode-text .input-actions .voice, .write .inputs.mode-text .input-actions .attachment {
        display: none; }
      .write .inputs.mode-text .input-actions .send {
        display: block; }
  .write .actions {
    display: flex;
    min-height: 50px; }
    .write .actions .left-action {
      width: 50px;
      text-align: left; }
    .write .actions .right-action {
      flex: 1;
      text-align: right; }
  .write .previews {
    display: flex;
    transition: height 0.1s;
    overflow: hidden;
    height: 0; }
    .write .previews .preview-container {
      margin: 8px 0 0 48px;
      overflow: hidden;
      flex: 1; }
      .write .previews .preview-container .preview-message-wrapper {
        display: flex;
        position: relative;
        z-index: 1;
        overflow: hidden;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
        .write .previews .preview-container .preview-message-wrapper .preview-bar {
          flex: none;
          width: 4px;
          border-top-left-radius: 7.5px;
          border-bottom-left-radius: 7.5px;
          background-color: #35cd96; }
        .write .previews .preview-container .preview-message-wrapper .preview-message {
          padding: 8px 12px 9px 11px;
          min-height: 32px;
          max-height: 82px;
          display: flex;
          align-items: center;
          overflow: hidden;
          flex-grow: 1;
          flex-direction: column; }
          .write .previews .preview-container .preview-message-wrapper .preview-message .preview-message-user {
            color: #35cd96;
            font-size: 13px;
            font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
            font-weight: 600;
            text-align: left;
            justify-content: left;
            width: 100%; }
          .write .previews .preview-container .preview-message-wrapper .preview-message .preview-message-body {
            text-align: left;
            width: 100%;
            padding: 3px 0 0;
            font-size: 12px;
            font-weight: 100; }
            .write .previews .preview-container .preview-message-wrapper .preview-message .preview-message-body .inner {
              line-height: 1.2em;
              max-height: 2.4em;
              white-space: normal;
              overflow: hidden;
              text-overflow: ellipsis; }
              .write .previews .preview-container .preview-message-wrapper .preview-message .preview-message-body .inner.rtl {
                direction: rtl; }
              .write .previews .preview-container .preview-message-wrapper .preview-message .preview-message-body .inner.ltr {
                direction: ltr; }
        .write .previews .preview-container .preview-message-wrapper.edit .preview-bar {
          background-color: #b30000; }
        .write .previews .preview-container .preview-message-wrapper.edit .preview-message .preview-message-user {
          color: #b30000;
          line-height: 16px; }
        .write .previews .preview-container .preview-message-wrapper.reply-you .preview-bar {
          background-color: #6bcbef; }
        .write .previews .preview-container .preview-message-wrapper.reply-you .preview-message .preview-message-user {
          color: #6bcbef; }
    .write .previews .preview-clear {
      margin: 8px 0 0;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .write .previews .preview-clear .btn-clear {
        height: 32px;
        width: 32px;
        color: inherit;
        padding: 5px; }
        .write .previews .preview-clear .btn-clear svg {
          font-size: 20px; }

.input-placeholder {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: var(--red);
  text-transform: uppercase; }
  .input-placeholder .btn {
    cursor: pointer;
    font-weight: bold;
    margin: 0 6px; }
    .input-placeholder .btn:hover {
      text-decoration: underline; }

html[theme="dark"] .write,
html[theme="dark-blue"] .write {
  border: 1px solid var(--dark-medium);
  background-color: var(--dark-medium); }
  html[theme="dark"] .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item,
  html[theme="dark-blue"] .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item {
    color: var(--light); }
    html[theme="dark"] .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item .inner.focused,
    html[theme="dark-blue"] .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item .inner.focused {
      background-color: var(--dark-high); }
  html[theme="dark"] .write .inputs .input .textarea-container,
  html[theme="dark-blue"] .write .inputs .input .textarea-container {
    background-color: var(--dark-low) !important;
    color: var(--light) !important; }
    html[theme="dark"] .write .inputs .input .textarea-container textarea,
    html[theme="dark-blue"] .write .inputs .input .textarea-container textarea {
      color: var(--light) !important; }
  html[theme="dark"] .write .inputs .input .emoji-wrapper .icon:hover svg,
  html[theme="dark-blue"] .write .inputs .input .emoji-wrapper .icon:hover svg {
    color: var(--light); }
  html[theme="dark"] .write .inputs .voice-recorder,
  html[theme="dark-blue"] .write .inputs .voice-recorder {
    color: var(--light); }
    html[theme="dark"] .write .inputs .voice-recorder .play-remove svg,
    html[theme="dark-blue"] .write .inputs .voice-recorder .play-remove svg {
      color: var(--light); }
    html[theme="dark"] .write .inputs .voice-recorder .play-remove:hover svg,
    html[theme="dark-blue"] .write .inputs .voice-recorder .play-remove:hover svg {
      color: var(--light); }
    html[theme="dark"] .write .inputs .voice-recorder .play-frame,
    html[theme="dark-blue"] .write .inputs .voice-recorder .play-frame {
      background-color: var(--dark-low); }
  html[theme="dark"] .write .inputs .input-actions .icon > svg:hover,
  html[theme="dark-blue"] .write .inputs .input-actions .icon > svg:hover {
    color: var(--light) !important; }
  html[theme="dark"] .write .inputs .input-actions .icon .voice .lock-wrapper,
  html[theme="dark-blue"] .write .inputs .input-actions .icon .voice .lock-wrapper {
    background-color: var(--dark-medium);
    border-color: var(--dark-low); }
  html[theme="dark"] .write .actions svg,
  html[theme="dark-blue"] .write .actions svg {
    color: var(--white); }
  html[theme="dark"] .write .actions [disabled] svg,
  html[theme="dark-blue"] .write .actions [disabled] svg {
    color: var(--grey); }
  html[theme="dark"] .write .previews,
  html[theme="dark-blue"] .write .previews {
    color: var(--light);
    color: var(--light); }
    html[theme="dark"] .write .previews .preview-container .preview-message-wrapper,
    html[theme="dark-blue"] .write .previews .preview-container .preview-message-wrapper {
      background-color: rgba(255, 255, 255, 0.07); }
      html[theme="dark"] .write .previews .preview-container .preview-message-wrapper.edit .preview-bar,
      html[theme="dark-blue"] .write .previews .preview-container .preview-message-wrapper.edit .preview-bar {
        background-color: #e10000; }
      html[theme="dark"] .write .previews .preview-container .preview-message-wrapper.edit .preview-message .preview-message-user,
      html[theme="dark-blue"] .write .previews .preview-container .preview-message-wrapper.edit .preview-message .preview-message-user {
        color: #e10000; }

html[theme="dark"] .emoji-mart,
html[theme="dark-blue"] .emoji-mart {
  background-color: var(--dark-medium);
  border-color: var(--dark-high); }
  html[theme="dark"] .emoji-mart .emoji-mart-bar,
  html[theme="dark-blue"] .emoji-mart .emoji-mart-bar {
    border-color: var(--dark-low); }
  html[theme="dark"] .emoji-mart .emoji-mart-search input,
  html[theme="dark-blue"] .emoji-mart .emoji-mart-search input {
    background-color: var(--dark-low);
    border-color: var(--dark-high);
    color: var(--light); }
  html[theme="dark"] .emoji-mart .emoji-mart-category-label span,
  html[theme="dark-blue"] .emoji-mart .emoji-mart-category-label span {
    background-color: transparent;
    color: var(--light); }
  html[theme="dark"] .emoji-mart .emoji-mart-search-icon,
  html[theme="dark-blue"] .emoji-mart .emoji-mart-search-icon {
    color: var(--light); }

html[theme="dark-blue"] .write {
  border: 1px solid var(--dark-blue-medium);
  background-color: var(--dark-blue-medium); }
  html[theme="dark-blue"] .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item {
    color: var(--white); }
    html[theme="dark-blue"] .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item .inner.focused {
      background-color: var(--dark-blue-hover); }
      html[theme="dark-blue"] .write .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item .inner.focused .username {
        color: var(--light); }
  html[theme="dark-blue"] .write .inputs .input .textarea-container {
    background-color: var(--dark-blue-low) !important; }
  html[theme="dark-blue"] .write .inputs .voice-recorder .play-frame {
    background-color: var(--dark-blue-low); }
  html[theme="dark-blue"] .write .inputs .input-actions .voice .lock-wrapper {
    background-color: var(--dark-blue-medium);
    border-color: var(--dark-blue-low); }
  html[theme="dark-blue"] .write .actions svg {
    color: var(--dark-blue-high-alt); }
  html[theme="dark-blue"] .write .actions [disabled] svg {
    color: var(--grey); }

html[theme="dark-blue"] .emoji-mart {
  background-color: var(--dark-blue-medium);
  border-color: var(--dark-blue-high); }
  html[theme="dark-blue"] .emoji-mart .emoji-mart-bar {
    border-color: var(--dark-blue-low); }
  html[theme="dark-blue"] .emoji-mart .emoji-mart-search input {
    background-color: var(--dark-blue-low);
    border-color: var(--dark-blue-high); }

html[font="1"] .write .inputs .input .textarea-container,
html[font="1"] .write .inputs .input .textarea-container textarea {
  font-size: 12px !important; }

html[font="2"] .write .inputs .input .textarea-container,
html[font="2"] .write .inputs .input .textarea-container textarea {
  font-size: 14px !important; }

html[font="3"] .write .inputs .input .textarea-container,
html[font="3"] .write .inputs .input .textarea-container textarea {
  font-size: 16px !important; }

html[font="4"] .write .inputs .input .textarea-container,
html[font="4"] .write .inputs .input .textarea-container textarea {
  font-size: 18px !important; }

html[font="5"] .write .inputs .input .textarea-container,
html[font="5"] .write .inputs .input .textarea-container textarea {
  font-size: 20px !important; }

html .mobile-view .column-center .write .inputs .input .textarea-container {
  font-size: 16px !important;
  line-height: 20px; }
  html .mobile-view .column-center .write .inputs .input .textarea-container textarea {
    padding: 5px 10px;
    font-size: 16px !important; }

@keyframes bulbBlink {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.4; } }
