/*
    Creation Time: 2018 - Oct - 16
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

.chat-input {
  position: relative;
  border: 1px solid var(--light);
  border-width: 1px 1px 1px 0;
  background-color: #F4F4F5;
  z-index: 200;

  .suggestion-list-container {
    transition: height 0.1s;

    .mention__suggestions {
      position: static !important;
      background-color: transparent !important;
      top: auto !important;
      left: auto !important;
      overflow: hidden;
      margin-top: 8px !important;

      .mention__suggestions__list {
        white-space: nowrap;
        text-align: left;
        max-height: 182px;
        overflow-y: auto;

        .mention__suggestions__item {
          font-size: 12px;
          direction: ltr;

          .inner {
            display: flex;
            flex-direction: row;
            padding: 3px 8px;

            &.focused {
              background-color: var(--white);
            }

            .avatar {
              height: 32px;
              width: 32px;
              margin-right: 8px;
            }

            .emoji-display {
              height: 32px;
              width: 32px;
              font-size: 24px;
              line-height: 32px;
              margin-right: 8px;
              text-align: center;
              padding-top: 3px;
            }

            .bot-command-display {
              height: 20px;
              font-size: 13px;
              margin-right: 8px;
              display: flex;
              align-items: center;

              .command-container {
                display: inline-flex;
                background-color: rgba(0, 0, 0, 0.06);
                border-radius: 3px;
                overflow: hidden;

                .command {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 2px 5px 0;
                  background-color: var(--river-light);
                  color: var(--white);
                }

                .command-name {
                  padding: 3px;
                  color: var(--grey-low);
                }
              }
            }

            .info {
              flex: 1;
              display: flex;
              justify-content: center;
              align-items: flex-start;
              flex-direction: column;

              .name {
                margin-top: 3px;
              }

              .username {
                color: var(--grey);
                margin-top: 3px;
              }
            }
          }
        }
      }
    }
  }

  .inputs {
    display: flex;
    min-height: 50px;

    .user {
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      .user-avatar {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3) inset;
        font-size: 12px;

        .text-avatar {
          height: 32px;
          width: 32px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .input {
      position: relative;
      flex: 1;
      margin: 8px 0;
      z-index: 2;
      display: flex;

      .textarea-container {
        direction: ltr;
        font-size: 12px !important;
        line-height: 1.25em;
        border: 1px solid rgba(50, 61, 71, 0.16);
        border-radius: 17px;
        background-color: #fff !important;
        min-height: 32px;
        width: 100%;
        max-height: 370px;
        z-index: 10;
        padding: 6px;

        .mention {
          position: static !important;

          .mention__control {
            .mention__highlighter {
              position: absolute !important;
              left: 21px !important;
              top: 3px !important;

              .mention-item {
                border-bottom: 1px solid var(--grey);
              }
            }

            textarea {
              height: 1.2em !important;
              padding-right: 26px;
              padding-left: 12px;
              overflow: hidden !important;
              line-height: 1.1em;

              @for $i from 2 through 12 {
                &._#{$i}-line {
                  height: #{1.1 * ($i + 0.3)}em !important;
                }
              }

              &._12-line {
                overflow: auto !important;
              }

              &::placeholder {
                vertical-align: center;
              }
            }
          }
        }
      }

      &.is-bot {
        .textarea-container .mention .mention__control {
          textarea {
            padding-right: 54px;
          }
        }
      }

      .emoji-wrapper {
        position: absolute;
        right: 6px;
        top: 50%;
        height: 32px;
        transform: translateY(-50%);
        z-index: 11;

        &.is-bot {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row;
          width: 54px;
        }

        .icon {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          cursor: pointer;

          svg {
            color: var(--grey);
            font-size: 24px;
            height: 24px;
          }

          &:hover {
            svg {
              color: var(--dark);
            }
          }
        }
      }

      &.rtl textarea {
        direction: rtl;
      }
    }

    .voice-recorder {
      display: none;
      flex: 1;
      margin: 8px 0;
      z-index: 2;
      align-items: center;
      vertical-align: center;
      font-size: 13px;

      .timer {
        position: relative;
        width: 80px;
        padding-left: 30px;

        .bulb {
          position: absolute;
          top: 50%;
          left: 16px;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          background-color: var(--red);
          transform: translateY(-50%);
        }

        &.blink {
          .bulb {
            animation-name: bulbBlink;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
      }

      .preview {
        flex: 1;

        canvas {
          width: 100%;
          height: 32px;
        }
      }

      .cancel {
        color: var(--red);
        padding: 0 12px;
        cursor: pointer;
      }

      .play-remove {
        padding: 0 8px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          color: var(--grey);
        }

        &:hover {
          svg {
            color: var(--dark);
          }
        }
      }

      .play-frame {
        flex: 1;
        border-radius: 16px;
        background-color: var(--white);
        border: 1px solid rgba(50, 61, 71, 0.16);
      }
    }

    .input-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 8px;
      width: 88px;
      transition: width 0.2s linear;
      flex-direction: row-reverse;

      .icon {
        position: relative;
        cursor: pointer;
        padding: 0 6px;
        line-height: 0;

        > svg {
          color: var(--grey);

          &:hover {
            color: var(--dark-medium);
          }
        }

      }

      .send {
        display: none;
      }

      .voice {
        .wave {
          display: none;
        }

        .lock-wrapper {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 50%;
          top: 0;
          height: 24px;
          width: 24px;
          transform: translate(-50%, -50%) scale(0);
          background-color: var(--white);
          border-radius: 50%;
          border: 1px solid var(--light);
          overflow: hidden;
          transition: all 0.2s;

          svg {
            font-size: 16px;
            color: var(--red) !important;
          }

          &.show {
            top: -32px;
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }

    &.mode-voice,
    &.mode-play {
      .input {
        display: none;
      }

      .voice-recorder {
        display: flex;
      }

      .input-actions {
        width: 52px;

        .attachment, .send {
          display: none;
        }

        .voice {
          position: relative;
          display: block;

          svg {
            position: relative;
            z-index: 20;
            color: var(--grey);

            &:hover {
              color: var(--dark);
            }
          }

          .wave {
            position: absolute;
            display: block;
            content: '';
            top: 50%;
            left: 50%;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            opacity: 0.5;
            background-color: var(--river);
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    &.mode-text {
      .input-actions {
        width: 52px;

        .voice, .attachment {
          display: none;
        }

        .send {
          display: block;
        }
      }
    }
  }

  .bot-keyboard {
    max-height: 110px;

    .keyboard-bot {
      padding: 0 6px 4px;
      display: flex;
      width: 100%;
      flex-direction: column;

      .keyboard-bot-row {
        display: flex;
        flex-direction: row;
        flex: 1;

        .keyboard-bot-col {
          display: flex;
          flex-direction: column;
          flex: 1;
          overflow: hidden;

          .bot-button {
            background-color: rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            padding: 2px 0 0;
            font-size: 12px;
            min-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 4px;
            color: var(--grey-low);
            cursor: pointer;

            > span {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              padding: 0 3px;
            }

            &.no-pointer {
              cursor: default;
            }
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    min-height: 50px;

    .left-action {
      width: 50px;
      text-align: left;
    }

    .right-action {
      flex: 1;
      text-align: right;
    }
  }

  .previews {
    display: flex;
    overflow: hidden;
    height: 0;

    .preview-container {
      margin: 8px 0 0 48px;
      transition: height 0.1s;
      overflow: hidden;
      flex: 1;

      .preview-message-wrapper {
        display: flex;
        position: relative;
        z-index: 1;
        overflow: hidden;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.05);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        .preview-bar {
          flex: none;
          width: 4px;
          border-top-left-radius: 7.5px;
          border-bottom-left-radius: 7.5px;
          background-color: #35cd96;
        }

        .preview-thumbnail {
          .thumbnail {
            height: 47px;
            width: 47px;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
              object-position: center center;
            }
          }
        }

        .preview-message {
          padding: 8px 12px 9px 11px;
          min-height: 32px;
          max-height: 82px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          flex-grow: 1;
          flex-direction: column;

          &.label-message {
            border-left: 1px dashed var(--gale);
            background-color: rgba(0, 0, 0, 0.06);
          }

          .preview-message-user {
            color: #35cd96;
            font-size: 13px;
            text-align: left;
            justify-content: left;
            width: 100%;
            font-weight: bold;

            svg {
              font-size: 13px;
              margin: 0 3px 0 0;
            }
          }

          .preview-message-title {
            font-size: 12px;
            text-align: left;
            justify-content: left;
            width: 100%;
            white-space: nowrap;
            display: flex;
            align-items: center;
            font-weight: bold;

            svg {
              font-size: 13px;
              margin: -2px 3px 0 0;
            }

            &.large {
              font-size: 14px;

              svg {
                font-size: 16px;
                margin: -2px 3px 0 0;
              }
            }
          }

          .preview-message-body {
            text-align: left;
            width: 100%;
            padding: 3px 0 0;
            font-size: 12px;
            font-weight: 100;

            .inner {
              line-height: 1.2em;
              max-height: 2.4em;
              white-space: normal;
              overflow: hidden;
              text-overflow: ellipsis;

              &.rtl {
                direction: rtl;
              }

              &.ltr {
                direction: ltr;
              }
            }
          }
        }

        &.edit {
          .preview-bar {
            background-color: #b30000;
          }

          .preview-message .preview-message-user {
            color: #b30000;
            line-height: 16px;
          }
        }

        &.reply-you {
          .preview-bar {
            background-color: #6bcbef;
          }

          .preview-message .preview-message-user {
            color: #6bcbef;
          }
        }

        &.loaded {
          .preview-bar {
            background-color: #673ab7;
          }
        }
      }
    }

    .preview-clear {
      margin: 8px 0 0;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-clear {
        height: 32px;
        width: 32px;
        color: inherit;
        padding: 5px;

        svg {
          font-size: 20px;
        }
      }
    }
  }
}

.input-placeholder {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: var(--red);
  text-transform: uppercase;

  .btn {
    cursor: pointer;
    margin: 0 6px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.emoji-menu-paper {
  background-color: transparent !important;

  .chat-input-popover-tabs {
    background-color: var(--white);
    min-height: 42px;

    .MuiTabs-indicator {
      transform: scaleX(0.76);
    }

    .chat-input-tab {
      padding: 0 8px;
      min-height: 42px;

      &.gif {
        svg {
          font-size: 36px;
        }
      }
    }
  }
}

html[direction="rtl"] {
  .chat-input {
    border-width: 1px 0 1px 1px;

    .actions .right-action {
      text-align: left;

      > button {
        transform: rotateY(180deg);
      }
    }

    .previews {
      .preview-container {
        direction: ltr;
        margin: 8px 48px 0 0;
      }
    }

    .inputs .input-actions .send {
      transform: rotateY(180deg);
    }
  }
}

.emoji-mart {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .emoji-mart-bar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .emoji-mart-preview {
    height: 32px;

    .emoji-mart-emoji, .emoji-mart-preview-data {
      display: none;
    }
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .chat-input {
    border: 1px solid var(--dark-medium);
    background-color: var(--dark-medium);

    .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item {
      color: var(--light);

      .inner.focused {
        background-color: var(--dark-high);
      }

      .bot-command-display {

        background-color: rgba(255, 255, 255, 0.06);
        color: var(--grey);

        .command-container {
          background-color: rgba(255, 255, 255, 0.06);

          .command {
            background-color: var(--river-dark);
          }

          .command-name {
            color: var(--grey);
          }
        }
      }
    }

    .inputs {
      .input {
        .textarea-container {
          background-color: var(--dark-low) !important;
          color: var(--light) !important;

          textarea {
            color: var(--light) !important;
          }
        }

        .emoji-wrapper {
          .icon:hover {
            svg {
              color: var(--light);
            }
          }
        }
      }

      .voice-recorder {
        color: var(--light);

        .play-remove {
          svg {
            color: var(--light);
          }

          &:hover {
            svg {
              color: var(--light);
            }
          }
        }

        .play-frame {
          background-color: var(--dark-low);
        }
      }

      .input-actions {
        .icon {
          > svg:hover {
            color: var(--light) !important;
          }

          .voice {
            .lock-wrapper {
              background-color: var(--dark-medium);
              border-color: var(--dark-low);
            }
          }
        }
      }
    }

    .bot-keyboard .keyboard-bot .keyboard-bot-row .keyboard-bot-col .bot-button {
      background-color: rgba(255, 255, 255, 0.05);
      color: var(--grey);
    }

    .actions {
      svg {
        color: var(--white);
      }

      [disabled] svg {
        color: var(--grey);
      }
    }

    .previews {
      color: var(--light);

      .preview-container {
        .preview-message-wrapper {
          background-color: rgba(255, 255, 255, 0.07);

          &.edit {
            .preview-bar {
              background-color: #e10000;
            }

            .preview-message .preview-message-user {
              color: #e10000;
            }
          }
        }
      }
    }
  }

  .emoji-menu-paper {
    .chat-input-popover-tabs {
      background-color: var(--dark-medium);
    }
  }

  .emoji-mart {
    background-color: var(--dark-medium);
    border-color: var(--dark-high);

    .emoji-mart-bar {
      border-color: var(--dark-low);
    }

    .emoji-mart-search input {
      background-color: var(--dark-low);
      border-color: var(--dark-high);
      color: var(--light);
    }

    .emoji-mart-category-label span {
      background-color: transparent;
      color: var(--light);
    }

    .emoji-mart-search-icon {
      color: var(--light);
    }
  }
}

html[theme="dark-blue"] {
  .chat-input {
    border: 1px solid var(--dark-blue-medium);
    background-color: var(--dark-blue-medium);

    .suggestion-list-container .mention__suggestions .mention__suggestions__list .mention__suggestions__item {
      color: var(--white);

      .inner.focused {
        background-color: var(--dark-blue-hover);

        .username {
          color: var(--light);
        }
      }
    }

    .inputs {
      .input {
        .textarea-container {
          background-color: var(--dark-blue-low) !important;
        }
      }

      .voice-recorder {
        .play-frame {
          background-color: var(--dark-blue-low);
        }
      }

      .input-actions {
        .voice {
          .lock-wrapper {
            background-color: var(--dark-blue-medium);
            border-color: var(--dark-blue-low);
          }
        }
      }
    }

    .actions {
      svg {
        color: var(--dark-blue-high-alt);
      }

      [disabled] svg {
        color: var(--grey);
      }
    }
  }

  .emoji-menu-paper {
    .chat-input-popover-tabs {
      background-color: var(--dark-blue-medium);
    }
  }

  .emoji-mart {
    background-color: var(--dark-blue-medium);
    border-color: var(--dark-blue-high);

    .emoji-mart-bar {
      border-color: var(--dark-blue-low);
    }

    .emoji-mart-search input {
      background-color: var(--dark-blue-low);
      border-color: var(--dark-blue-high);
    }
  }
}

html[font="1"] {
  .chat-input .inputs .input .textarea-container,
  .chat-input .inputs .input .textarea-container textarea {
    font-size: 12px !important;
  }
}

html[font="2"] {
  .chat-input .inputs .input .textarea-container,
  .chat-input .inputs .input .textarea-container textarea {
    font-size: 14px !important;
  }
}

html[font="3"] {
  .chat-input .inputs .input .textarea-container,
  .chat-input .inputs .input .textarea-container textarea {
    font-size: 16px !important;
  }
}

html[font="4"] {
  .chat-input .inputs .input .textarea-container,
  .chat-input .inputs .input .textarea-container textarea {
    font-size: 18px !important;
  }
}

html[font="5"] {
  .chat-input .inputs .input .textarea-container,
  .chat-input .inputs .input .textarea-container textarea {
    font-size: 20px !important;
  }
}

html {
  .mobile-view {
    .column-center {
      .chat-input {
        .inputs {
          .input {
            .textarea-container {
              font-size: 16px !important;
              line-height: 20px;

              textarea {
                font-size: 16px !important;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes bulbBlink {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
