/*
    Creation Time: 2019 - Feb - 09
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2019
*/
.avatar-cropper-dialog div[role="document"] > div {
  line-height: 0;
  max-width: 640px;
  overflow: hidden; }

.avatar-cropper-dialog .avatar-cropper-header {
  background-color: var(--river);
  color: var(--white);
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.avatar-cropper-dialog .avatar-cropper-area canvas {
  margin: -142px -157px;
  transform: scale(0.6); }

.avatar-cropper-dialog .avatar-cropper-footer {
  position: relative;
  background-color: var(--header-color);
  height: 36px; }
  .avatar-cropper-dialog .avatar-cropper-footer .avatar-cropper-action {
    position: absolute;
    height: 48px;
    width: 48px;
    top: -24px;
    right: 24px;
    border-radius: 50%;
    background-color: var(--river);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .avatar-cropper-dialog .avatar-cropper-footer .avatar-cropper-action svg {
      color: var(--light);
      font-size: 30px; }
  .avatar-cropper-dialog .avatar-cropper-footer .avatar-cropper-edit-action {
    position: absolute;
    height: 36px;
    width: 162px;
    top: -16px;
    left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .avatar-cropper-dialog .avatar-cropper-footer .avatar-cropper-edit-action .action-item {
      height: 36px;
      width: 36px;
      border-radius: 50%;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      background-color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .avatar-cropper-dialog .avatar-cropper-footer .avatar-cropper-edit-action .action-item svg {
        color: var(--grey);
        font-size: 24px; }

html[theme="dark"] .avatar-cropper-dialog .avatar-cropper-footer {
  background-color: var(--dark-medium); }

html[theme="dark"] .avatar-cropper-dialog .avatar-cropper-area {
  background-color: var(--dark-low); }

html[theme="dark"] .avatar-cropper-dialog .avatar-cropper-edit-action .action-item {
  background-color: var(--dark-low); }

html[theme="dark-blue"] .avatar-cropper-dialog .avatar-cropper-footer {
  background-color: var(--dark-blue-medium); }

html[theme="dark-blue"] .avatar-cropper-dialog .avatar-cropper-area {
  background-color: var(--dark-blue-low); }

html[theme="dark-blue"] .avatar-cropper-dialog .avatar-cropper-edit-action .action-item {
  background-color: var(--dark-blue-low); }
  html[theme="dark-blue"] .avatar-cropper-dialog .avatar-cropper-edit-action .action-item svg {
    color: var(--dark-blue-high-alt); }
