/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* end of reset */
*:focus {
  outline: none; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.kk-center {
  display: table;
  margin: 0 auto; }

.kk-list {
  display: block; }

.kk-sortable-row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  box-sizing: border-box;
  user-select: none;
  color: #333;
  font-weight: 400; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@font-face {
  font-family: 'OpenSans';
  font-weight: 300;
  src: url(asset/font/OpenSans/OpenSans-Light.eot?) format("eot"), url(asset/font/OpenSans/OpenSans-Light.ttf) format("truetype"), url(asset/font/OpenSans/OpenSans-Light.woff) format("woff"), url(asset/font/OpenSans/OpenSans-Light.woff2) format("woff2"); }

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src: url(asset/font/OpenSans/OpenSans-Regular.eot?) format("eot"), url(asset/font/OpenSans/OpenSans-Regular.ttf) format("truetype"), url(asset/font/OpenSans/OpenSans-Regular.woff) format("woff"), url(asset/font/OpenSans/OpenSans-Regular.woff2) format("woff2"); }

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  src: url(asset/font/OpenSans/OpenSans-Bold.eot?) format("eot"), url(asset/font/OpenSans/OpenSans-Bold.ttf) format("truetype"), url(asset/font/OpenSans/OpenSans-Bold.woff) format("woff"), url(asset/font/OpenSans/OpenSans-Bold.woff2) format("woff2"); }

@font-face {
  font-family: 'YekanBakh';
  font-weight: 300;
  src: url(asset/font/YekanBakh/YekanBakhNestedWeb-Light.eot?) format("eot"), url(asset/font/YekanBakh/YekanBakhNestedWeb-Light.ttf) format("truetype"), url(asset/font/YekanBakh/YekanBakhNestedWeb-Light.woff) format("woff"), url(asset/font/YekanBakh/YekanBakhNestedWeb-Light.woff2) format("woff2"); }

@font-face {
  font-family: 'YekanBakh';
  font-weight: 400;
  src: url(asset/font/YekanBakh/YekanBakhNestedWeb-Regular.eot?) format("eot"), url(asset/font/YekanBakh/YekanBakhNestedWeb-Regular.ttf) format("truetype"), url(asset/font/YekanBakh/YekanBakhNestedWeb-Regular.woff) format("woff"), url(asset/font/YekanBakh/YekanBakhNestedWeb-Regular.woff2) format("woff2"); }

@font-face {
  font-family: 'YekanBakh';
  font-weight: 700;
  src: url(asset/font/YekanBakh/YekanBakhNestedWeb-Bold.eot?) format("eot"), url(asset/font/YekanBakh/YekanBakhNestedWeb-Bold.ttf) format("truetype"), url(asset/font/YekanBakh/YekanBakhNestedWeb-Bold.woff) format("woff"), url(asset/font/YekanBakh/YekanBakhNestedWeb-Bold.woff2) format("woff2"); }
