/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgba(244,245,249,.7);
}
