/*
    Creation Time: 2018 - Oct - 16
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
@import '../../../style/common';

.message-preview {
  height: 42px;
  cursor: pointer;
  .preview-container {
    display: flex;
    overflow: hidden;
    flex: 1;
    .preview-message-wrapper {
      display: flex;
      position: relative;
      z-index: 1;
      overflow: hidden;
      width: 100%;
      .preview-bar {
        flex: none;
        width: 4px;
        border-top-left-radius: 7.5px;
        border-bottom-left-radius: 7.5px;
        background-color: #35cd96;
      }
      .preview-message {
        padding: 4px 8px;
        min-height: 32px;
        max-height: 82px;
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-grow: 1;
        flex-direction: column;
        background-color: var(--glaas-dark-low);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        .preview-message-user {
          color: #35cd96;
          font-size: 12px;
          @include font-bold;
          text-align: left;
          justify-content: left;
          width: 100%;
        }
        .preview-message-body {
          text-align: left;
          width: 100%;
          padding: 1px 0 0;
          font-size: 13px;
          font-weight: 100;
          > .inner {
            line-height: 1.2em;
            height: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0;
            &.rtl {
              direction: rtl;
              text-align: right;
            }
            &.ltr {
              direction: ltr;
              text-align: left;
            }
          }
        }
      }
      &.reply-you {
        .preview-bar {
          background-color: #6bcbef;
        }
        .preview-message .preview-message-user {
          color: #6bcbef;
        }
      }
    }
  }
}

.me .message-preview .preview-container .preview-message-wrapper {
  &.reply-you {
    .preview-bar {
      background-color: #6bcbef;
    }
    .preview-message .preview-message-user {
      color: #6bcbef;
    }
  }
  &.reply {
    .preview-bar {
      background-color: #35cd96
    }
    .preview-message .preview-message-user {
      color: #35cd96;
    }
  }
  //.preview-message {
  //  background-color: rgba(255, 255, 255, 0.15);
  //}
}

.group .you.avatar {
  .message-preview {
    height: 47px;
    padding-top: 5px;
  }
}

html[theme="dark"],
html[theme="dark-blue"] {
  .message-preview {
    .preview-container {
      .preview-message-wrapper {
        .preview-message {
          background-color: rgba(0, 0, 0, 0.20);
        }
      }
    }
  }
}

html[bubble="2"] {
  .bubble-wrapper.you:not(.avatar),
  .bubble-wrapper.me {
    .message-preview {
      padding-bottom: 2px;
      .preview-container {
        .preview-message-wrapper {
          position: relative;
          overflow: hidden;
          border-top-right-radius: 18px;
          border-top-left-radius: 18px;
          border-bottom-left-radius: 5px;
          .preview-bar {
            position: absolute;
            top: 0;
            width: 4px;
            bottom: 0;
            left: 0;
            border-radius: 0;
          }
          .preview-message {
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;
            padding-left: 12px;
            padding-right: 16px;
          }
        }
      }
    }
  }
  .message-preview {
    margin-bottom: 2px;
  }
}

html[bubble="4"] {
  .bubble-wrapper.you:not(.avatar),
  .bubble-wrapper.me {
    .message-preview {
      .preview-container {
        .preview-message-wrapper {
          position: relative;
          overflow: hidden;
          border-radius: 8px;
          .preview-bar {
            position: absolute;
            top: 0;
            width: 4px;
            bottom: 0;
            left: 0;
            border-radius: 0;
          }
          .preview-message {
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            padding-left: 8px;
            padding-right: 12px;
          }
        }
      }
    }
  }
  .message-preview {
    margin-bottom: 2px;
  }
}
