/*
    Creation Time: 2018 - Oct - 16
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/

.message-preview {
  height: 42px;
  cursor: pointer;
  max-width: calc(100vw - 447px);

  .preview-container {
    display: flex;
    overflow: hidden;
    flex: 1;

    .preview-message-wrapper {
      display: flex;
      position: relative;
      z-index: 1;
      overflow: hidden;
      width: 100%;

      .preview-bar {
        flex: none;
        width: 4px;
        border-top-left-radius: 7.5px;
        border-bottom-left-radius: 7.5px;
        background-color: #35cd96;
      }

      .preview-thumbnail {

        .thumbnail {
          height: 41px;
          width: 41px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
      }

      .preview-message {
        padding: 4px 8px;
        min-height: 32px;
        max-height: 82px;
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-grow: 1;
        flex-direction: column;
        background-color: var(--glass-dark-low);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        .preview-message-user {
          color: #35cd96;
          font-size: 12px;
          text-align: left;
          justify-content: left;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: bold;
        }

        .preview-message-body {
          text-align: left;
          width: 100%;
          padding: 0;
          font-size: 13px;
          font-weight: 100;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          > .inner {
            line-height: 1.3em;
            height: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0;

            &.rtl {
              direction: rtl;
              text-align: right;
            }

            &.ltr {
              direction: ltr;
              text-align: left;
            }
          }
        }
      }

      &.reply-you {
        .preview-bar {
          background-color: #6bcbef;
        }

        .preview-message .preview-message-user {
          color: #6bcbef;
        }
      }

      &.with-thumbnail {
        .preview-message {
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }
    }
  }

  &.has-thumbnail {
    .preview-message {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
      padding-left: 6px !important;
    }
  }
}

.messages-inner.large-mode {
  .message-preview {
    max-width: calc(100vw - 606px);
  }
}

.media-message {
  .message-preview .preview-container .preview-message-wrapper .preview-message {
    max-width: 100%;
  }
}

.me .message-preview .preview-container .preview-message-wrapper {
  &.reply-you {
    .preview-bar {
      background-color: #6bcbef;
    }

    .preview-message .preview-message-user {
      color: #6bcbef;
    }
  }

  &.reply {
    .preview-bar {
      background-color: #35cd96
    }

    .preview-message .preview-message-user {
      color: #35cd96;
    }
  }

  //.preview-message {
  //  background-color: rgba(255, 255, 255, 0.15);
  //}
}

.group .you.avatar {
  .message-preview {
    height: 47px;
    padding-top: 5px;
  }
}

html[theme="dark"],
html[theme="dark-night"],
html[theme="dark-blue"] {
  .message-preview {
    .preview-container {
      .preview-message-wrapper {
        .preview-message {
          background-color: var(--glass-dark-high);
        }
      }
    }
  }
}

html[bubble="2"] {
  .bubble-wrapper.you:not(.avatar),
  .bubble-wrapper.me {
    .message-preview {
      padding-bottom: 2px;

      .preview-container {
        .preview-message-wrapper {
          position: relative;
          overflow: hidden;
          border-top-right-radius: 18px;
          border-top-left-radius: 18px;
          border-bottom-left-radius: 5px;

          .preview-bar {
            position: absolute;
            top: 0;
            width: 4px;
            bottom: 0;
            left: 0;
            border-radius: 0;
          }

          .preview-message {
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;
            padding-left: 12px;
            padding-right: 16px;
          }
        }
      }
    }
  }

  .message-preview {
    margin-bottom: 2px;
  }
}

html[bubble="4"] {
  .bubble-wrapper.you:not(.avatar),
  .bubble-wrapper.me {
    .message-preview {
      .preview-container {
        .preview-message-wrapper {
          position: relative;
          overflow: hidden;
          border-radius: 8px;

          .preview-bar {
            position: absolute;
            top: 0;
            width: 4px;
            bottom: 0;
            left: 0;
            border-radius: 0;
          }

          .preview-message {
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
            padding-left: 8px;
            padding-right: 12px;
          }
        }
      }
    }
  }

  .message-preview {
    margin-bottom: 2px;
  }
}

.mobile-view {
  .message-preview {
    max-width: calc(100vw - 60px);
  }
}

@media screen and (min-width: 1400px) {
  .messages-inner.large-mode {
    .message-preview {
      max-width: 794px;
    }
  }
}