*, *:before, *:after {
  box-sizing: border-box; }

:root {
  --river: #27AE60;
  --river-dark: #2E8F57;
  --river-light: #29C16D;
  --white: #FFF;
  --black: #000;
  --black-text: #323D47;
  --bg: #F8F8F8;
  --grey: #999;
  --dark: #1A1A1A;
  --light: #E6E6E6;
  --wrapper: 1200px;
  --blue: #00B0FF;
  --light-blue: rgba(54, 115, 249, 0.2);
  --green: #DCf8C6;
  --message-chat: #EFEFF0;
  --color-hover: rgba(50, 61, 71, 0.07);
  --color-hover-dark: rgba(50, 61, 71, 0.12);
  --color-text-hover: rgba(50, 61, 71, 0.64);
  --header-color: #eee;
  --dark-low: #191919;
  --dark-medium: #232323;
  --dark-high: #333333;
  --dark-hover: rgba(183, 222, 255, 0.07);
  --dark-hover-light: rgba(183, 222, 255, 0.12);
  --dark-accent-low: #003367;
  --dark-accent-medium: #004783;
  --dark-accent-high: #005EAE;
  --red: #cc0000; }

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400;
  background-size: cover;
  background-repeat: no-repeat; }

input {
  font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
  font-weight: 400; }

.message-preview {
  height: 42px;
  cursor: pointer; }
  .message-preview .preview-container {
    display: flex;
    overflow: hidden;
    flex: 1; }
    .message-preview .preview-container .preview-message-wrapper {
      display: flex;
      position: relative;
      z-index: 1;
      overflow: hidden;
      width: 100%; }
      .message-preview .preview-container .preview-message-wrapper .preview-bar {
        flex: none;
        width: 4px;
        border-top-left-radius: 7.5px;
        border-bottom-left-radius: 7.5px;
        background-color: #35cd96; }
      .message-preview .preview-container .preview-message-wrapper .preview-message {
        padding: 4px 8px;
        min-height: 32px;
        max-height: 82px;
        display: flex;
        align-items: center;
        overflow: hidden;
        flex-grow: 1;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.05);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
        .message-preview .preview-container .preview-message-wrapper .preview-message .preview-message-user {
          color: #35cd96;
          font-size: 12px;
          font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
          font-weight: 600;
          text-align: left;
          justify-content: left;
          width: 100%; }
        .message-preview .preview-container .preview-message-wrapper .preview-message .preview-message-body {
          text-align: left;
          width: 100%;
          padding: 1px 0 0;
          font-size: 13px;
          font-weight: 100; }
          .message-preview .preview-container .preview-message-wrapper .preview-message .preview-message-body > .inner {
            line-height: 1.2em;
            height: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0; }
            .message-preview .preview-container .preview-message-wrapper .preview-message .preview-message-body > .inner.rtl {
              direction: rtl;
              text-align: right; }
            .message-preview .preview-container .preview-message-wrapper .preview-message .preview-message-body > .inner.ltr {
              direction: ltr;
              text-align: left; }
      .message-preview .preview-container .preview-message-wrapper.reply-you .preview-bar {
        background-color: #6bcbef; }
      .message-preview .preview-container .preview-message-wrapper.reply-you .preview-message .preview-message-user {
        color: #6bcbef; }

.me .message-preview .preview-container .preview-message-wrapper.reply-you .preview-bar {
  background-color: #6bcbef; }

.me .message-preview .preview-container .preview-message-wrapper.reply-you .preview-message .preview-message-user {
  color: #6bcbef; }

.me .message-preview .preview-container .preview-message-wrapper.reply .preview-bar {
  background-color: #35cd96; }

.me .message-preview .preview-container .preview-message-wrapper.reply .preview-message .preview-message-user {
  color: #35cd96; }

.group .you.avatar .message-preview {
  height: 47px;
  padding-top: 5px; }

html[theme="dark"] .message-preview .preview-container .preview-message-wrapper .preview-message {
  background-color: rgba(0, 0, 0, 0.2); }
