/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
.dialogs {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .dialogs .dialog-search {
    height: 0;
    padding: 0 12px 0;
    overflow: hidden; }
    .dialogs .dialog-search.open {
      padding-top: 6px;
      height: 64px; }
    .dialogs .dialog-search .adornment {
      margin: -8px -8px 8px 0; }
  .dialogs .dialog-list {
    flex: 1;
    overflow: hidden; }
    .dialogs .dialog-list .dialog-container a {
      text-decoration: none;
      text-transform: none;
      direction: ltr; }
    .dialogs .dialog-list .dialog-container .search-label {
      padding: 8px;
      font-size: 13px;
      text-align: left;
      background-color: rgba(0, 0, 0, 0.1); }
    .dialogs .dialog-list .dialog-container .dialog {
      position: relative;
      width: 100%;
      height: 64px;
      padding: 8px;
      cursor: pointer;
      text-align: left; }
      .dialogs .dialog-list .dialog-container .dialog:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 100%;
        height: 1px;
        content: '';
        background-color: var(--light);
        transform: translate(-50%, 0); }
      .dialogs .dialog-list .dialog-container .dialog.pinned {
        background-color: var(--header-color); }
      .dialogs .dialog-list .dialog-container .dialog:hover {
        border: 0;
        background-color: var(--color-hover); }
        .dialogs .dialog-list .dialog-container .dialog:hover > span {
          color: var(--color-text-hover);
          background: transparent; }
      .dialogs .dialog-list .dialog-container .dialog.active {
        border: 0;
        background-color: var(--color-hover-dark); }
        .dialogs .dialog-list .dialog-container .dialog.active > span {
          color: var(--color-text-hover);
          background: transparent; }
    .dialogs .dialog-list .dialog-container .no-result {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 100;
      color: var(--grey); }
      .dialogs .dialog-list .dialog-container .no-result svg {
        margin: 0 0 32px;
        color: inherit;
        font-size: 75px; }
      .dialogs .dialog-list .dialog-container .no-result.skeleton-wrapper {
        justify-content: flex-start;
        align-items: center; }
      .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton {
        position: relative;
        height: 64px;
        width: 100%;
        border-bottom: 1px solid #eee; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton:nth-child(1) {
          opacity: 0.875; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton:nth-child(2) {
          opacity: 0.75; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton:nth-child(3) {
          opacity: 0.625; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton:nth-child(4) {
          opacity: 0.5; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton:nth-child(5) {
          opacity: 0.375; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton:nth-child(6) {
          opacity: 0.25; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton:nth-child(7) {
          opacity: 0.125; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-avatar, .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-name, .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-preview, .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-date {
          position: absolute;
          background-color: #eee;
          overflow: hidden; }
          .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-avatar::after, .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-name::after, .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-preview::after, .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-date::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, #eee, #fafafa, #eee);
            animation: skeleton-progress 2s ease-in-out infinite; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-avatar {
          top: 50%;
          left: 8px;
          height: 48px;
          width: 48px;
          border-radius: 50%;
          transform: translateY(-50%); }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-name {
          top: 13px;
          left: 68px;
          width: 100px;
          height: 14px;
          border-radius: 3px; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-preview {
          top: 37px;
          left: 68px;
          right: 8px;
          height: 14px;
          border-radius: 3px; }
        .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-date {
          top: 13px;
          right: 8px;
          width: 50px;
          height: 12px;
          border-radius: 3px; }

@keyframes skeleton-progress {
  0% {
    transform: translate3d(-100%, 0, 0); }
  100% {
    transform: translate3d(100%, 0, 0); } }

html[direction="rtl"] .dialogs-inner > div {
  direction: ltr; }

html[direction="rtl"] .dialogs .dialog-search label, html[direction="rtl"] .dialogs .dialog-search input, html[direction="rtl"] .dialogs .dialog-search svg {
  color: var(--white); }

html[direction="rtl"] .dialogs .dialog-list .dialog-container .search-label {
  text-align: right; }

html[direction="rtl"] .dialogs .dialog-list .dialog-container a {
  direction: rtl; }

html[direction="rtl"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-avatar::after, html[direction="rtl"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-name::after, html[direction="rtl"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-preview::after, html[direction="rtl"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-date::after {
  animation-direction: reverse; }

html[direction="rtl"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-avatar {
  left: auto;
  right: 8px; }

html[direction="rtl"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-name {
  right: 68px;
  left: auto; }

html[direction="rtl"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-preview {
  right: 68px;
  left: 8px; }

html[direction="rtl"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-date {
  right: auto;
  left: 8px; }

html[theme="dark"] .dialogs .dialog-search label, html[theme="dark"] .dialogs .dialog-search input, html[theme="dark"] .dialogs .dialog-search svg {
  color: var(--white); }

html[theme="dark"] .dialogs .dialog-list .dialog-container .search-label {
  color: var(--message-chat);
  background-color: var(--dark-hover-light); }

html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog:after {
  background-color: var(--dark-low-op50); }

html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog.pinned {
  background-color: var(--dark-low); }

html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog:hover {
  background-color: var(--dark-hover); }
  html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog:hover > span {
    color: var(--color-text-hover); }

html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog.active {
  background-color: var(--dark-hover-light); }
  html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog.active > span {
    color: var(--color-text-hover); }

html[theme="dark"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton {
  border-color: #333; }
  html[theme="dark"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-avatar, html[theme="dark"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-name, html[theme="dark"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-preview, html[theme="dark"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-date {
    background-color: #333; }
    html[theme="dark"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-avatar::after, html[theme="dark"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-name::after, html[theme="dark"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-preview::after, html[theme="dark"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-date::after {
      background: linear-gradient(90deg, #333, #414141, #333); }

html[theme="dark-blue"] .dialogs .dialog-search label, html[theme="dark-blue"] .dialogs .dialog-search input, html[theme="dark-blue"] .dialogs .dialog-search svg {
  color: var(--white); }

html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .search-label {
  color: var(--message-chat);
  background-color: var(--dark-hover-light); }

html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog:after {
  background-color: var(--dark-blue-low-op50); }

html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog.pinned {
  background-color: var(--dark-blue-low); }

html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog:hover {
  background-color: var(--dark-blue-hover-light); }
  html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog:hover > span {
    color: var(--color-text-hover); }

html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog.active {
  background-color: var(--dark-blue-hover); }
  html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog.active > span {
    color: var(--color-text-hover); }

html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton {
  border-color: #313e54; }
  html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-avatar, html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-name, html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-preview, html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-date {
    background-color: #313e54; }
    html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-avatar::after, html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-name::after, html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-preview::after, html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .no-result .dialog-skeleton .skeleton-date::after {
      background: linear-gradient(90deg, #313e54, #36495f, #313e54); }
