/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
.dialogs {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .dialogs .dialog-search {
    height: 0;
    padding: 0 12px 0;
    overflow: hidden;
    transition: height 0.1s ease-out, padding 0.1s ease-out; }
    .dialogs .dialog-search.open {
      padding-top: 6px;
      height: 64px; }
    .dialogs .dialog-search .adornment {
      margin: -8px -8px 8px 0; }
  .dialogs .dialog-list {
    flex: 1;
    overflow: hidden; }
    .dialogs .dialog-list .dialog-container {
      height: 100%; }
      .dialogs .dialog-list .dialog-container a {
        text-decoration: none;
        text-transform: none; }
      .dialogs .dialog-list .dialog-container .dialog {
        position: relative;
        width: 100%;
        height: 64px;
        padding: 8px;
        cursor: pointer;
        text-align: left; }
        .dialogs .dialog-list .dialog-container .dialog:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 100%;
          height: 1px;
          content: '';
          background-color: var(--light);
          transform: translate(-50%, 0); }
        .dialogs .dialog-list .dialog-container .dialog.pinned {
          background-color: var(--header-color); }
        .dialogs .dialog-list .dialog-container .dialog:hover {
          border: 0;
          background-color: var(--color-hover); }
          .dialogs .dialog-list .dialog-container .dialog:hover > span {
            color: var(--color-text-hover);
            background: transparent; }
        .dialogs .dialog-list .dialog-container .dialog.active {
          border: 0;
          background-color: var(--color-hover-dark); }
          .dialogs .dialog-list .dialog-container .dialog.active > span {
            color: var(--color-text-hover);
            background: transparent; }
      .dialogs .dialog-list .dialog-container .no-result {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 100;
        color: var(--grey); }
        .dialogs .dialog-list .dialog-container .no-result svg {
          margin: 0 0 32px;
          color: inherit;
          font-size: 75px; }

html[theme="dark"] .dialogs .dialog-search label, html[theme="dark"] .dialogs .dialog-search input, html[theme="dark"] .dialogs .dialog-search svg {
  color: var(--white); }

html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog:after {
  background-color: var(--dark-low-op50); }

html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog.pinned {
  background-color: var(--dark-low); }

html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog:hover {
  background-color: var(--dark-hover); }
  html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog:hover > span {
    color: var(--color-text-hover); }

html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog.active {
  background-color: var(--dark-hover-light); }
  html[theme="dark"] .dialogs .dialog-list .dialog-container .dialog.active > span {
    color: var(--color-text-hover); }

html[theme="dark-blue"] .dialogs .dialog-search label, html[theme="dark-blue"] .dialogs .dialog-search input, html[theme="dark-blue"] .dialogs .dialog-search svg {
  color: var(--white); }

html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog:after {
  background-color: var(--dark-blue-low-op50); }

html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog.pinned {
  background-color: var(--dark-blue-low); }

html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog:hover {
  background-color: var(--dark-blue-hover-light); }
  html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog:hover > span {
    color: var(--color-text-hover); }

html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog.active {
  background-color: var(--dark-blue-hover); }
  html[theme="dark-blue"] .dialogs .dialog-list .dialog-container .dialog.active > span {
    color: var(--color-text-hover); }
