/*
    Creation Time: 2018 - Aug - 18
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
@import '../../../style/mixin';

.dialogs {
  display: flex;
  flex-direction: column;
  height: 100%;

  .dialog-search {
    height: 0;
    padding: 0 12px 0;
    overflow: hidden;
    transition: height 0.1s ease-out, padding 0.1s ease-out;

    &.open {
      padding-top: 6px;
      height: 64px;
    }

    .adornment {
      margin: -8px -8px 8px 0;
    }
  }

  .dialog-list {
    flex: 1;
    overflow: hidden;

    .dialog-container {
      height: 100%;

      a {
        text-decoration: none;
        text-transform: none;
      }

      .dialog {
        position: relative;
        width: 100%;
        height: 64px;
        padding: 8px;
        cursor: pointer;
        text-align: left;

        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 100%;
          height: 1px;
          content: '';
          background-color: var(--light);
          transform: translate(-50%, 0);
        }

        &.pinned {
          background-color: var(--header-color);
        }

        &:hover {
          border: 0;
          background-color: var(--color-hover);

          > span {
            color: var(--color-text-hover);
            background: transparent;
          }
        }

        &.active {
          border: 0;
          background-color: var(--color-hover-dark);

          > span {
            color: var(--color-text-hover);
            background: transparent;
          }
        }
      }

      .no-result {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 100;
        color: var(--grey);

        svg {
          margin: 0 0 32px;
          color: inherit;
          font-size: 75px;
        }
      }
    }
  }
}

html[direction="rtl"] {
  .dialogs-inner {
    > div {
      direction: ltr;
    }
  }
}

html[theme="dark"] {
  .dialogs {
    .dialog-search {
      label, input, svg {
        color: var(--white);
      }
    }

    .dialog-list {
      .dialog-container {
        .dialog {
          &:after {
            background-color: var(--dark-low-op50);
          }

          &.pinned {
            background-color: var(--dark-low);
          }

          &:hover {
            background-color: var(--dark-hover);

            > span {
              color: var(--color-text-hover);
            }
          }

          &.active {
            background-color: var(--dark-hover-light);

            > span {
              color: var(--color-text-hover);
            }
          }
        }
      }
    }
  }
}

html[theme="dark-blue"] {
  .dialogs {
    .dialog-search {
      label, input, svg {
        color: var(--white);
      }
    }

    .dialog-list {
      .dialog-container {
        .dialog {
          &:after {
            background-color: var(--dark-blue-low-op50);
          }

          &.pinned {
            background-color: var(--dark-blue-low);
          }

          &:hover {
            background-color: var(--dark-blue-hover-light);

            > span {
              color: var(--color-text-hover);
            }
          }

          &.active {
            background-color: var(--dark-blue-hover);

            > span {
              color: var(--color-text-hover);
            }
          }
        }
      }
    }
  }
}
