@import '../../../style/common';

.contacts {
  display: flex;
  flex-direction: column;
  height: 100%;
  .search-container {
    height: 48px;
    padding: 6px 12px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      height: 32px;
      border: 1px solid #eee;
      padding: 0 12px;
      width: 100%;
      font-size: 14px;
    }
  }
  .contact-box {
    flex: 1;
    .contact-container {
      height: 100%;
      .contact-item {
        position: relative;
        width: 100%;
        height: 64px;
        padding: 8px;
        cursor: pointer;
        text-align: left;
        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 100%;
          height: 1px;
          content: '';
          background-color: var(--light);
          transform: translate(-50%, 0);
        }
        &:hover {
          border: 0;
          background-color: var(--color-hover);
        }
        .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          float: left;
          margin-right: 12px;
          img {
            float: left;
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .name {
          display: inline-block;
          min-width: 200px;
          font-size: 12px;
          line-height: 23px;
          margin: 0 0 4px;
          color: var(--dark);
          @include font-bold;
        }
        .phone {
          font-size: 14px;
          line-height: 17px;
          display: inline-block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--grey);
        }
      }
    }
  }
}

html[theme="dark"] {
  .contacts {
    .search-container {
      background-color: var(--dark-medium);
      border-bottom: 1px solid var(--dark-low);
      border-top: 1px solid var(--dark-low);
      input {
        height: 32px;
        border: 1px solid var(--dark-high);
        padding: 0 12px;
        width: 100%;
        font-size: 14px;
        background-color: var(--dark-low);
        color: var(--light);
      }
    }
    .contact-box {
      .contact-container {
        .contact-item {
          &:after {
            background-color: var(--dark-low);
          }
          .name {
            color: var(--light);
          }
        }
      }
    }
  }
}