/*
    Creation Time: 2018 - Oct - 21
    Created by:  (hamidrezakk)
    Maintainers:
       1.  HamidrezaKK (hamidrezakks@gmail.com)
    Auditor: HamidrezaKK
    Copyright Ronak Software Group 2018
*/
.contacts {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .contacts .menu-header {
    position: relative;
    background-color: var(--header-color);
    text-align: left;
    height: 47px;
    line-height: 27px;
    color: var(--dark-medium);
    padding: 10px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
    .contacts .menu-header .actions {
      position: absolute;
      top: 0;
      right: 0;
      height: 47px; }
  .contacts .search-container {
    min-height: 48px;
    padding: 10px;
    text-align: left; }
  .contacts .contact-box {
    flex: 1; }
    .contacts .contact-box .contact-container {
      height: 100%; }
      .contacts .contact-box .contact-container .contact-item {
        position: relative;
        width: 100%;
        height: 64px;
        padding: 8px;
        cursor: pointer;
        text-align: left; }
        .contacts .contact-box .contact-container .contact-item:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          display: block;
          width: 100%;
          height: 1px;
          content: '';
          background-color: var(--light);
          transform: translate(-50%, 0); }
        .contacts .contact-box .contact-container .contact-item:hover {
          border: 0;
          background-color: var(--color-hover); }
        .contacts .contact-box .contact-container .contact-item .avatar {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          float: left;
          margin-right: 12px; }
          .contacts .contact-box .contact-container .contact-item .avatar img {
            float: left;
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 50%; }
        .contacts .contact-box .contact-container .contact-item .name {
          min-width: auto;
          max-width: calc(100% - 62px);
          width: 100%;
          font-size: 12px;
          line-height: 23px;
          margin: 0 0 4px;
          color: var(--dark);
          text-decoration: none;
          font-family: 'YekanBakh', 'OpenSans', 'Source Sans Pro', sans-serif !important;
          font-weight: 600; }
        .contacts .contact-box .contact-container .contact-item .phone {
          font-size: 14px;
          line-height: 17px;
          display: inline-block;
          overflow: hidden !important;
          width: 70%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: var(--grey); }
        .contacts .contact-box .contact-container .contact-item:hover .name {
          max-width: calc(100% - 72px); }
      .contacts .contact-box .contact-container .category-item {
        color: var(--river);
        font-size: 24px;
        line-height: 24px;
        height: 40px;
        text-align: left;
        padding: 16px 8px 0; }
      .contacts .contact-box .contact-container .no-result {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 100;
        color: var(--grey); }
        .contacts .contact-box .contact-container .no-result svg {
          margin: 0 0 32px;
          color: inherit;
          font-size: 75px; }

.new-contact-dialog {
  padding: 0 12px 12px;
  width: 300px; }
  .new-contact-dialog .actions-bar {
    height: 96px;
    padding: 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .new-contact-dialog .actions-bar .add-action {
      display: flex;
      height: 46px;
      width: 46px;
      border-radius: 50%;
      background: var(--river);
      color: var(--white);
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: all 0.2s; }
      .new-contact-dialog .actions-bar .add-action svg {
        font-size: 40px; }
      .new-contact-dialog .actions-bar .add-action:hover {
        background: var(--river-dark);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
      .new-contact-dialog .actions-bar .add-action.disabled {
        background: var(--grey);
        cursor: default; }

html[theme="dark"] .contacts .menu-header,
html[theme="dark-blue"] .contacts .menu-header {
  background-color: var(--dark-medium);
  color: var(--white);
  border-color: var(--dark-low-op50); }

html[theme="dark"] .contacts .search-container label, html[theme="dark"] .contacts .search-container input,
html[theme="dark-blue"] .contacts .search-container label,
html[theme="dark-blue"] .contacts .search-container input {
  color: var(--white); }

html[theme="dark"] .contacts .contact-box .contact-container .contact-item:after,
html[theme="dark-blue"] .contacts .contact-box .contact-container .contact-item:after {
  background-color: var(--dark-low-op50); }

html[theme="dark"] .contacts .contact-box .contact-container .contact-item .name,
html[theme="dark-blue"] .contacts .contact-box .contact-container .contact-item .name {
  color: var(--light); }

html[theme="dark"] .new-contact-dialog label,
html[theme="dark-blue"] .new-contact-dialog label {
  color: var(--grey); }

html[theme="dark"] .new-contact-dialog h2, html[theme="dark"] .new-contact-dialog input,
html[theme="dark-blue"] .new-contact-dialog h2,
html[theme="dark-blue"] .new-contact-dialog input {
  color: var(--white); }

html[theme="dark-blue"] .contacts .menu-header {
  background-color: var(--dark-blue-medium);
  border-color: var(--dark-blue-low-op50); }

html[theme="dark-blue"] .contacts .contact-box .contact-container .contact-item:after {
  background-color: var(--dark-blue-low-op50); }
